<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>
	<body>
		<header id="searchHeader">
			<div class="searchSearch">
				<input id="search" type="text" placeholder="请输入物性、品名或制造商" />
				<a class="appQuery2" href="javascript:;"></a>
			</div>
			<a class="right" href="javascript:;">搜索</a>
		</header>
		<div id="wxbWrap">
			<!--<h3>查询记录</h3>-->
			<!--<p>-->
				<!--<span>1002YB</span>-->
				<!--<span>7000F</span>-->
			<!--</p>-->
			<h3>热搜词<img src="__MYAPP__/img/hot.png"></h3>
			<p id="hotSearch"></p>
		</div>
		<footer id="footer">
			<ul>
				<li><a href="/myapp/mainPage/enLargeBid"><i class="foot"></i><br>大客户专区</a></li>
				<li><a class="footerOn" href="/myapp/mainPage/enPhysical"><i class="foot2"></i><br>物性表</a></li>
				<li><a href="/myapp/mainPage/enMainPage"><i class="foot3"></i><br>首页</a></li>
				<li><a href="/myapp/mainPage/enArticle"><i class="foot4"></i><br>资讯</a></li>
				<li><a href="/myapp/personalCenter"><i class="foot5"></i><br>我</a></li>
			</ul>
		</footer>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});

			$(function () {
				var spanLi="";
				commonAjax(
						"post",
						"/myapp/mainPage/getPhysical"
				).then(function (res) {
					console.log(res);
					res.phyHotData.forEach(function (v, i, a) {
						spanLi += "<span>"+ v +"</span>";
					});
					$("#hotSearch").html(spanLi);
					$("#hotSearch span").on("click",function () {
						window.location.href="/myapp/mainPage/enPhysicalRes?keywords="+$(this).text()+"";
					});
				},function () {

				});

				$(".appQuery2,.right").on("click",function () {
					if(!$("#search").val()){
						mui.alert("","请输入搜索内容",function () {});
					}else{
						window.location.href="/myapp/mainPage/enPhysicalRes?keywords="+$('#search').val()+"";
					}
				});

			})

		</script>

	</body>

</html>