{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
	<table style="width:100%;">
		<tr>
			<td style="white-space:nowrap;">
				<a class="mini-button" iconCls="icon-add" onclick="add(0,1)">新增</a>
				<a class="mini-button" iconCls="icon-remove" plain="true" onclick="removeRow()">删除</a>
			</td>
			<td style="float:right;">
				<form id="soform" method="get" action="/user/user/download">
					<select name="sTime">
						<option value="input_time">创建时间</option>
						<option value="update_time">更新时间</option>
					</select>
					<input name="startTime" class="mini-datepicker" style="width:100px;"/> -
					<input name="endTime" class="mini-datepicker" style="width:100px;"/>
					<select name="status" id="soStatus">
						<option value="" selected="selected">=状态=</option>
						{html_options options=$status}
					</select>
					<select name="key_type">
						<option value="name">联系人</option>
						<option value="c_id">公司</option>
						<option value="tel">电话</option>
						<option value="mobile">手机号</option>
						<option value="email">邮箱</option>
					</select>
					<input name="keyword" class="mini-textbox" emptyText="请输入关键词" style="width:140px;" onenter="onKeyEnter"/>
					<a class="mini-button" class="output" onclick="download()" iconCls="icon-download" plain="true">导出</a>
					<a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
					<span id="searchMsg"></span>
				</form>
			</td>
		</tr>
	</table>
</div>
<div class="mini-fit" style="padding:1px 3px 3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20" allowCellWrap="true"
		url="/user/user/init?action=grid&do={$doact}" onrowdblclick="onRowDblClick" showFilterRow="true" idField="id" multiSelect="true" allowCellSelect="true" allowCellEdit="true"  contextMenu="#gridMenu" headerContextMenu="#headerMenu">
		<div property="columns">
			<div type="checkcolumn"></div>
			<div field="user_id" width="50" headerAlign="center" renderer="onLoadHandle" align="center">联系人ID</div>
			<div field="name" width="50" headerAlign="center" align="center">联系人</div>
			<div field="c_id" width="80" headerAlign="center" align="center">公司</div>
			<div field="is_default" width="80" headerAlign="center" align="center">是/否默认联系人</div>
			<div field="sex" width="30" headerAlign="center"  align="center">性别</div>
			<div field="tel" width="80" headerAlign="center" align="center">联系电话</div>
			<div field="mobile" width="80" headerAlign="center" align="center">手机号</div>
			<div field="qq" width="80" headerAlign="center" align="center">qq号</div>
			<div field="fax" width="80" headerAlign="center" align="center">传真</div>
			<div field="email" width="70" headerAlign="center" align="center">邮箱</div>
			<div field="visit_count" width="50" headerAlign="center" align="center" allowSort="true">登录次</div>
			<div field="customer_manager" width="40" headerAlign="center" align="center">交易员</div>
			<div field="depart" width="60" headerAlign="center" align="center">部门</div>
			<div field="input_time" width="80" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" align="center" allowSort="true">创建时间</div>
			<div field="input_admin" width="80" headerAlign="center" align="center">创建管理员</div>
			<div field="update_time" width="80" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" align="center">更新时间</div>
			<div field="update_admin" width="60" headerAlign="center" align="center">更新人</div>
			<div field="status" width="40" headerAlign="center" renderer="LoadStatus" align="center">状态</div>
			{if $doact eq 'search'}
			 <div name="action" width="60" headerAlign="center" align="center" cellStyle="padding:0;" renderer="deblockingview">操作</div>
			 {else}
			 <div name="action" width="60" headerAlign="center" align="center" cellStyle="padding:0;" renderer="allot">操作</div>
			{/if}

		</div>
	</div>
	<ul id="gridMenu" class="mini-contextmenu" onbeforeopen="onBeforeOpen">
		<li name="modifyPasswd" iconCls="icon-edit" onclick="modifyPasswd">重置密码</li>
	</ul>
</div>
<div id="allotInfo" class="mini-window" title="分配" style="width:200px;"
	showModal="true" allowResize="true" allowDrag="true"
	>
	<div id="replaceForm" class="form" >
		<table style="width:100%;">
			<input class="mini-hidden" name="id"/>
			<tr>
				<td>分配交易员:</td>
				<td>
					<input name="id" class="mini-buttonedit" onbuttonclick="allotCustomer" valueField="id"  value="" allowInput="false"  style="width:100px" id="id"/>
					<input id="c_id" class="mini-hidden" value="">
				</td>

			</tr>

			<tr>
			<td style="text-align:right;padding-top:5px;padding-right:20px;" colspan="2">
				<a class="mini-button" iconCls="icon-save" plain="true" href="javascript:submitAllot()">保存</a>
			</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
search();
function onKeyEnter(e) {
	search();
}
function download() {
	$("#soform").submit();
}

//删除数据
function removeRow() {
	var rows = grid.getSelecteds(),_ids=new Array();

	if(rows.length<1) return;
	for(var i=0;i<rows.length;i++){
		_ids[i]=parseInt(rows[i].user_id);
	}
	var ids=_ids.join(',');
	if(ids=='') return;
	mini.confirm("确定删除内容？", "提示",	function(action){
			if(action!='ok') return;
			// var callback=function(data){
			// 	if(data.err!='0'){
			// 		alert(data.msg);
			// 		return false;
			// 	}else{
			// 		grid.reload();
			// 	}
			// }
			var callback=function(data){
				if(data.err == 3){
					var width=1200,height=550;
					title='重定义公司主要联系人';
					mini.open({
						url: "/user/user/uerdel?c_id="+data.c_id+"&user_id="+data.user_id,
						showMaxButton:true,
						title: title, width: width, height:height,
						ondestroy: function (action) {
							if(action=='save'){ //重新加载
								grid.reload();
							}
						}
					});
				}else if (data.err == 0) {
					grid.reload();
				}else{
					alert(data.msg);
					return false;
				}
			}
			utils.ajax('/user/user/init?action=remove',{ids:ids},callback,"POST","json");
		}
	);
}
//查看编辑用户信息
function add(id,ctype){
	if(id==0){
		var width=525,height=340;
		title='新增公司联系人';
	}
	mini.open({
		url: "/user/user/info?id="+id+"&ctype="+ctype,
		showMaxButton:true,
		title: title, width: width, height:height,
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});
}
//编辑联系人
function onLoadHandle(e) {
	var record = e.record,uid=record.user_id, s='';
	s += '<a href="javascript:viewContactInfo('+uid+')">'+uid+'</a> ';

	return s;
}

function onRowDblClick(e) {
	var record = e.record,uid=record.user_id, s='';
	editContact(uid);
}

function editContact(uid){
	var row = grid.getSelected();
	if (row) {
		var width=525,height=340,title='用户信息';
		urlStr="/user/user/info?id="+uid;
		mini.open({
			url: urlStr,
			title: title, width: width, height:height,
			ondestroy: function (action) {
				if(action=='save'){ //重新加载
					grid.reload();
				}
			}
		});
	}
}
//分配客户
var allotInfo = mini.get("allotInfo");
var form = new mini.Form("#replaceForm");
function allotO(cid) {
mini.get(c_id).setValue(cid)
	allotInfo.show();
}
//跟进客户
function allot(e) {
	var record = e.record,cid=record.user_id,s='',customer_manager=record.customer_manager;
	if(customer_manager == 0 || customer_manager ==''){
		s += '<a href="javascript:allotO('+cid+')">分配</a>';
	}
	return s;
}



//会员解锁
function deblockingview(e){
	var record = e.record,uid=record.user_id, s='';
	s += '<a href="javascript:deblocking('+uid+')">'+'解锁'+'</a> ';

	return s;

}
function deblocking(uid){
	mini.confirm("确定解锁此用户？", "提示",
		function(action){
		if(action!='ok') return;
		var callback=function(data){
			if(data.err!='0'){
				alert(data.msg);
				return false;
			}else{
				grid.reload();
			}
		}
		utils.ajax('/user/user/deblocking',{uid:uid},callback,"POST","json");
		}
	);
}
function onBeforeOpen(e) {
	var grid = mini.get("gridCell");
	var menu = e.sender;

	var row = grid.getSelected();
	var rowIndex = grid.indexOf(row);
	if (!row) {
		e.cancel = true;
		//阻止浏览器默认右键菜单
		e.htmlEvent.preventDefault();
		return;
	}

}
//重置密码
function modifyPasswd(e) {
	var row = grid.getSelected();
	if (row) {
		var width=300,height=200,title='重置密码';
		urlStr="/user/user/modifyPasswd?id="+row.user_id;
		mini.open({
			url: urlStr,
			title: title, width: width, height:height,
			ondestroy: function (action) {
				if(action=='save'){ //重新加载
					grid.reload();
				}
			}
		});
	}
}
//分配管理员列表
function allotCustomer(){
		var btn = this;
		mini.open({
		url: "rbac/adm/init?isPublic=1&do=search",
		title: "分配客户",
		width: 1200,
		height: 550,
		onload: function () {
			var iframe = this.getIFrameEl();
			iframe.contentWindow.SetData();
		},
		ondestroy: function (action) {
			if (action == "ok") {
				var iframe = this.getIFrameEl();
				var data = iframe.contentWindow.GetData();
				data = mini.clone(data);    //必须
				if (data) {
					btn.setValue(data.admin_id);
					btn.setText(data.name);
					// $("#"+btn.id+"\\$value").val(data.name);
				}
			}
		}
	});
}
//提交分配
function submitAllot(){
	var cid = mini.get(c_id).getValue();
	form.validate();
	if (form.isValid() == false) return;
	var o = form.getData();
	grid.loading("数据提交中，请稍后......");
	var json = mini.encode(o);
	var callback=function(data){
		if(data.err!='0'){
			grid.unmask();
			alert(data.msg);
			return false;
		}else{
			grid.reload();
			allotInfo.hide();
		}
	}
	utils.ajax('/user/contact/allotCustomer',{data:json,cid:cid},callback,"POST","json");
}
</script>