{layout file="public:mini_layout"}
<div style="padding:5px;">
  <div id="basicForm" class="form">
    <input class="mini-hidden" name="user_id" value="{$user.user_id}"/>
    <table border="0" cellpadding="1" cellspacing="2">
      <tr>
        <td style="width:80px;">手机：</td>
        <td style="width:210px;">{$user.mobile}</td>
      </tr>
      <tr>
        <td>姓名：</td>
        <td>{$user.name}</td>
      </tr>
      <tr>
        <td>登录密码：</td>
        <td>
          <input name="password" class="mini-textbox" value="" style="width:100px;" vtype="rangeLength:6,20"/>
          <input type="button" value="生成密码" onclick="generateMixed();" />
        </td>
      </tr>
      <tr><td colspan="2"></td></tr>
      <tr>
        <td colspan="2" align="center"><a class="mini-button" iconCls="icon-ok" onclick="submitBasic">确定</a> <a class="mini-button" iconCls="icon-cancel" onclick="onCancel">关闭</a> <span id="returnMsg" style="padding-left:5px; color:#F00;"></span></td>
      </tr>
    </table>
  </div>
</div>
<script type="text/javascript">
mini.parse();

var form = new mini.Form("#basicForm");
function submitBasic(){
  form.validate();
  if(form.isValid() == false) return;
  
  //提交数据
  var o = form.getData();
  var json = mini.encode(o);
  $("#returnMsg").text('');
  form.loading("数据提交中，请稍后......");
  $.post('/user/contact/passWdSubmit',{data:json},function(data){
	  form.unmask();
	  $("#returnMsg").text(data.msg);
	  if(data.err=='0'){
		  CloseWindow("save");
	  }else{
		  return false;
	  }
  },'json');
}


function CloseWindow(action) {            
	if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
	else window.close();            
}
function onCancel(e) {
	CloseWindow("cancel");
}

//随机生产密码
function generateMixed() {
	var chars = ['2','3','4','5','6','7','8','9','a','b','c','d','e','f','g','h','i','j','k','m','n','p','q','r','s','t','u','v','w','x','y','z'];
	var res = "";
	for(var i = 0; i < 8 ; i ++) {
		var id = Math.floor(Math.random()*32);
		res += chars[id];
	}
	mini.getbyName('password').setValue(res);
}
</script> 
