<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>普通列表、有序列表</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <p>
                    alipay直接返回的值
                </p>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="js/bootstrap.min.js"></script>


</body>
</html>