<!DOCTYPE html>
<html lang="zh-cn">

<head>
<meta charset="utf-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no, email=no" />
<title>塑料圈通讯录</title>
<link rel="stylesheet" href="__MYAPP__/css/weui.min.css" />
<link rel="stylesheet" href="__MYAPP__/css/mui.min.css" />
<link rel="stylesheet" href="__MYAPP__/css/swiper-3.3.1.min.css" />
<link rel="stylesheet" href="__MYAPP__/css/plastic2.css" />
</head>
<body>
<div id="app">
	<keep-alive>
		<router-view></router-view>
	</keep-alive>
</div>
<script type="text/javascript" src="__MYAPP__/js/mui.min.js"></script>
<script type="text/javascript" src="__MYAPP__/js/weui.min.js"></script>
<script type="text/javascript" src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="__MYAPP__/js/swiper-3.3.1.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
	var tel = localStorage.tel;
	wx.config({
		debug: false,
		appId: '{$AppID}',
		timestamp: '{$timestamp}',
		nonceStr: '{$noncestr}',
		signature: '{$signature}',
		jsApiList: [
			'showOptionMenu',
			'onMenuShareTimeline',
			'onMenuShareAppMessage'
		]
	});
</script>
<!-- Piwik -->
<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
	_paq.push(["setCookieDomain", "*.test.myplas.com"]);
	_paq.push(["setDomains", ["*.test.myplas.com"]]);
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u = "//wa.myplas.com/";
		_paq.push(['setTrackerUrl', u + 'piwik.php']);
		_paq.push(['setSiteId', '2']);
		var d = document,
			g = d.createElement('script'),
			s = d.getElementsByTagName('script')[0];
		g.type = 'text/javascript';
		g.async = true;
		g.defer = true;
		g.src = u + 'piwik.js';
		s.parentNode.insertBefore(g, s);
	})();
</script>
<noscript><p><img src="//wa.myplas.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
<script type="text/javascript" src="__MYAPP__/plastic2/main.js"></script>
</body>

</html>