<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>积分规则</title>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1>
                    积分规则
                </h1>
                <p></p>
                <p>
                    1.注册+100塑豆
                </p>
                <p>
                    2.登录+10塑豆（每日只增加1次,连续10xN(N<=5),若中断从1再记）
                </p>
                <p>
                    3.邀请新用户注册+100塑豆
                </p>
                <p>
                    4.发布求购+20塑豆（每日最多增加5次）
                </p>
                <p>
                    5.发布供给+10塑豆（每日最多增加5次）
                </p>
                <p>
                    6.分享供求信息+30塑豆（每日最多增加5次）
                </p>
                <p>
                    7.分享塑料头条资讯+30塑豆（每日最多增加5次）
                </p>
                <p>
                    8.充值换积分￥1<==>10塑豆
                </p>
                <p>
                    9.查看通讯录个人信息10塑豆/1位
                </p>
                <p>
                    10.通讯录信息置顶100塑豆/24h
                </p>
                <p>
                    11.供求信息置顶100塑豆/24h
                </p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>