{layout file="public:main_layout"}
{insert_css files='home/user.css'}

<div class="buy-crumb w1220">首页-<a href="/user">个人中心</a></div>
<div class="user-wrap w1220">
	{include file="public:user_left"}
	<div class="right frt">
		<h3>个人中心-仓单融资-订单详情</h3>
		<!--step begin-->
		<div class="step">
			<ul>
				<li><p>未付款</p></li>
				<li class="hover"><p>付款中</p></li>
				<li class="last"><p>已付完</p></li>
			</ul>
		</div>
		<!--step end-->
		<!--step-hover begin-->
		<div class="step-hover step2"><span></span></div>
		<!--step-hover end-->
		<!--step-detail begin-->
		<div class="step-detail">
			<!--tips begin-->
			<div class="tips">
				<ul>
					<li class="status">当前订单状态：买家还款中（还款进度已完成70%）</li>
					<li class="time">离还款最后期限还剩<span>10天10小时25分26秒</span></li>
					<li class="service">联系客服</li>
				</ul>
			</div>
			<!--tips end-->
			<p><span>2016-9-18 11:23:46</span>付款20,0000元</p>
			<p><span>2016-9-18 11:23:46</span>付款20,0000元</p>
			<p><span>2016-9-18 11:23:46</span>付款20,0000元</p>
		</div>
		<!--step-detail end-->
		<!--infos begin-->
		<div class="infos">
			<!--detail-title begin-->
			<div class="detail-title">
				<h2>基本信息</h2>
				<!--other begin-->
				<div class="other">
					<p>我的交易员：<span>刘京 13872885674</span></p>
				</div>
				<!--other end-->
			</div>
			<!--detail-title end-->
			<!--info-con begin-->
			<div class="info-con">
				<ul>
					<li>
						<p class="name">订单名称：</p>
						<p class="val">订单名称</p>
						<p class="name">订单编号：</p>
						<p class="val">454557815487515</p>
					</li>
					<li>
						<p class="name">总金额：</p>
						<p class="val">4522220元</p>
						<p class="name">签订日期：</p>
						<p class="val">2016-09-21</p>
					</li>
					<li>
						<p class="name">运输方式：</p>
						<p class="val">需方自提，费用自理</p>
						<p class="name">签约地点：</p>
						<p class="val">上海</p>
					</li>
					<li>
						<p class="name">提货日期：</p>
						<p class="val">2016-10-22</p>
						<p class="name">运费：</p>
						<p class="val">5000</p>
					</li>
					<li>
						<p class="name">提货地点：</p>
						<p class="val">上海</p>
						<p class="name">送货日期：</p>
						<p class="val">2016-10-01</p>
					</li>
					<li>
						<p class="name">付费方式：</p>
						<p class="val">银行电汇</p>
						<p class="name">送货地点：</p>
						<p class="val">上海</p>
					</li>
					<li>
						<p class="name">业务模式：</p>
						<p class="val">业务模式</p>
						<p class="name">付款日期：</p>
						<p class="val">2016-10-22</p>
					</li>
				</ul>
			</div>
			<!--info-con end-->
		</div>
		<!--binfos begin-->
		<!--product begin-->
		<div class="product">
			<!--detail-title begin-->
			<div class="detail-title">
				<h2>产品明细</h2>
				<!--other begin-->
				<div class="other">
					<p>总价：<span>96,270,000元</span></p>    
					<p>合计金额小写：<span>30</span></p>
				</div>
				<!--other end-->
			</div>
			<!--detail-title end-->
			<!--product-con begin-->
			<div class="product-con">
				<ul>
					<li class="product-con-tit">
						<p>产品名称</p>
						<p>牌号</p>
						<p>产地</p>
						<p>数量（吨）</p>
						<p>单价（元/吨）</p>
						<p>金额（元）</p>
					</li>
					<li>
						<p>HDPE</p>
						<p>LL1002KW</p>
						<p>埃克森</p>
						<p>30</p>
						<p>9300</p>
						<p>36,270,000</p>
					</li>
					<li>
						<p>HDPE</p>
						<p>LL1002KW</p>
						<p>埃克森</p>
						<p>30</p>
						<p>9300</p>
						<p>36,270,000</p>
					</li>
					<li>
						<p>HDPE</p>
						<p>LL1002KW</p>
						<p>埃克森</p>
						<p>30</p>
						<p>9300</p>
						<p>36,270,000</p>
					</li>
				</ul>
			</div>
			<!--product-con end-->
			<!--product-other begin-->
			<div class="product-other">
				<p>
					<span class="name">创建时间：</span>
					<span class="val">2016-05-04 17:28</span>
					<span class="name">修改时间：</span>
					<span class="val">2016-05-04 17:28:04</span>
				</p>
				<p>
					<span class="name">创<b></b>建<b></b>者：</span>
					<span class="val">张飞扬</span>
					<span class="name">修<b></b>改<b></b>者：</span>
					<span class="val">张飞扬</span>
				</p>
			</div>
			<!--product-other end-->
		</div>
		<!--product begin-->
		<input type="button" value="返回" class="back"/>
	</div>
</div>