 {layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
	<table style="width:100%;">
		<tr>
		{if $doact neq 'search'}
			<td style="white-space:nowrap;">
			{if $order_type eq 1}
				<a class="mini-button" iconCls="icon-add" onclick="addSale()">销售</a>
			{else}
				<a class="mini-button" iconCls="icon-add" onclick="addPur()">采购</a>
			{/if}
			</td>
		{/if}
			<td style="float:right;">
			<form id="soform">
				<select name="sTime">
					<option value="input_time">创建时间</option>
					<option value="update_tim出e">更新时间</option>
					<option value="sign_time">签订日期</option>
					<option value="pickup_time">提货日期</option>
					<option value="delivery_time">送货日期</option>
					<option value="payment_time">付款日期</option>

				</select>
				<input name="startTime" class="mini-datepicker" style="width:95px;"/> -
				<input name="endTime" class="mini-datepicker" style="width:95px;"/>
				<select name="order_name">
					<option value="" selected="selected">抬头</option>
					{html_options options=$company_account}
				</select>
				<select name="order_source">
					<option value="" selected="selected">来源</option>
					{html_options options=$order_source}
				</select>
				<select name="pay_method" >
					<option value="" selected="selected">付款</option>
					{html_options options=$pay_method}
				</select>
				<select name="business_model" >
					<option value="" selected="selected">业务</option>
					{html_options options=$business_model}
				</select>
				<select name="order_status" id="soStatus2">
					<option value="" selected="selected"  >订单</option>
					{html_options options=$order_status}
				</select>
				<select name="transport_status" id="soStatus3">
					<option value="" selected="selected" >物流</option>
					{html_options options=$transport_status}
				</select>
				<select name="out_storage_status" >
					<option value="" selected="selected">发货</option>
					{html_options options=$out_storage_status}
				</select>
				<select name="key_type">
					<option value="order_sn">订单号</option>
					<option value="c_id">客户名称</option>
				</select>
				<input name="keyword" class="mini-textbox" emptyText="" style="width:60px;" onenter="onKeyEnter"/>
				<a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
				<span id="searchMsg"></span></form>
			</td>
		</tr>
	</table>
</div>
<div class="mini-fit" style="padding:1px 3px 3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"url="/product/order/init?action=grid&do={$doact}&type={$order_type}"  idField="id"
	sizeList="[10,20,50,100]" pageSize="20" multiSelect="true"  onrowdblclick="onRowDblClick" showFilterRow="true" allowCellSelect="true" allowCellEdit="true" allowCellWrap="true">
		<div property="columns">
			<div type="checkcolumn"></div>
			<div field="order_sn" width="120" headerAlign="center" align="center" allowSort="true" renderer="onLoadHandle">订单号</div>
			<div field="order_name" width="30" headerAlign="center" align="center">抬头</div>
			<div field="order_source" width="25" headerAlign="center" align="center">来源</div>
			<div field="c_name" width="70" headerAlign="center" align="center" >客户名称</div>
			<div field="total_num" width="40" headerAlign="center" align="center" allowSort="true">总数</div>
			<div field="total_price" width="60" headerAlign="center" align="center" allowSort="true">总金额</div>
			<div field="pay_method" width="40" headerAlign="center" align="center" >付款</div>
			{if $order_type eq 2}
			<div field="in_storage_status" width="45" headerAlign="center" align="center" >入库状态</div>
			{else}
			<div field="out_storage_status" width="45" headerAlign="center" align="center">出库状态</div>
			{/if}
			<div field="payments_status" width="45" headerAlign="center" align="center" >{if $order_type eq 1}收款{else}付款{/if}状态</div>
			<div field="invoice_status" width="45" headerAlign="center" align="center" >开票状态</div>
			<div field="type_status" width="70" headerAlign="center" align="center">{if $order_type eq 1}销售{else}采购{/if}|物流</div>
			<div field="financial_records" width="45" headerAlign="center" align="center">财务记录</div>
			<div field="input_time" width="75" headerAlign="center" align="center" allowSort="true" dateFormat="yyyy-MM-dd HH:mm">创建时间</div>
			<div field="input_admin" width="40" headerAlign="center" align="center">交易员</div>
			{if $order_type eq 1}
			 <div name="action" width="40" headerAlign="center" align="center" cellStyle="padding:0;" renderer="onJoin">关联</div>
			 {/if}
			 <div name="action" width="75" headerAlign="center" align="center" cellStyle="padding:0;" renderer="oncheckDetail">审核</div>
			<div name="action" width="80" headerAlign="center" align="center" cellStyle="padding:0;" renderer="onLoadDetail">操作</div>
		</div>
	</div>
</div>
<div id="ordercheck" class="mini-window" title="订单审核" style="width:175px;" showModal="true" allowResize="true" allowDrag="true">
	<div id="replaceForm" class="form" >
		<table style="width:100%;">
			<tr>
				<td>
					<input name="order_status" class="mini-radiobuttonlist" textfield="text" value="2"  valuefield="id"  data="[{id: 2, text: '审核通过'}, {id: 3, text: '已取消'}]"/>
					<input name="o_id"  class="mini-hidden" id="o_id1" value="">
					<input name="s_or_p"  class="mini-hidden" id="s_or_p" value="">
					<input name="sales_type"  class="mini-hidden" id="sales_type" value="">
				</td>
			</tr>
			<tr>
			<td style="text-align:right;padding-top:5px;padding-right:20px;" colspan="2">
				<a class="mini-button" iconCls="icon-save" plain="true" href="javascript:submitcheck('ordercheck')">提交</a>
			</td>
			</tr>
		</table>
	</div>
</div>
<div id="transportcheck" class="mini-window" title="物流审核" style="width:175px;" showModal="true" allowResize="true" allowDrag="true">
	<div id="replaceForm" class="form" >
		<table style="width:100%;">
			<tr>
				<td>
					<input name="transport_status" class="mini-radiobuttonlist"  textfield="text" value="2"  valuefield="id"  data="[{id: 2, text: '审核通过'}, {id: 3, text: '已取消'}]"/>
					<input name="o_id"  class="mini-hidden" id="o_id2" value="">
				</td>
			</tr>

			<tr>
			<td style="text-align:right;padding-top:5px;padding-right:20px;" colspan="2">
				<a class="mini-button" iconCls="icon-save" plain="true" href="javascript:submitcheck('transportcheck')">提交</a>
			</td>
			</tr>
		</table>
	</div>
</div>
<div id="financialCheck" class="mini-window" title="财务记录" style="width:170px;height:100px;" showModal="true" allowResize="true" allowDrag="true">
	<div id="replaceForm" class="form" >
		<table style="width:100%;">
			<tr>
				<td>确定要进行财务记录吗 ?</td>
				<input name="o_id"  class="mini-hidden" id="o_id3" value="">
				<input name="financial_records"  class="mini-hidden" id="financial_records" value="">
			</tr>
			<tr>
				<td style="text-align:right;padding-top:5px;padding-right:20px;" colspan="2">
				<a class="mini-button" iconCls="icon-ok" href="javascript:submitFinancial()">是</a>
			</td>
			</tr>

		</table>
	</div>
</div>
	{if $doact eq 'search'}
	<div class="mini-toolbar" style="text-align:center;padding-top:8px;padding-bottom:8px; border:1px solid #000;" borderStyle="border:0;">
			<a class="mini-button" style="width:60px;" onClick="onComfirm()">确定</a>
			<span style="display:inline-block;width:25px;"></span>
			<a class="mini-button" style="width:60px;" onClick="onCancel()">取消</a>
	</div>
	{/if}

<script type="text/javascript">
mini.parse();
//搜索或刷新
var grid = mini.get("gridCell");
function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
//追加操作按钮
function onLoadHandle(e) {
	var record = e.record,s='',o_id = record.o_id,s='',order_sn = record.order_sn;
	var order_type = {$order_type};
	s += '<a href="javascript:viewOrdInfo('+o_id+','+order_type+')">'+order_sn+'</a> ';
	return s;
}
//获取订单状态
function onOrderStatus(e) {
	var record = e.record.order_status; //record.id
	return $("#soStatus2").find("option[value="+record+"]").text();
}
//获取物流状态
function onTransportStatus(e) {
	var record = e.record.transport_status; //record.id
	return $("#soStatus3").find("option[value="+record+"]").text();
}
//追加关联
function onJoin(e) {
	var record = e.record,s='',o_id = record.o_id,s='',join_id = record.join_id,store_o_id=record.store_o_id,sales_type=record.sales_type;
	if(sales_type == '1' && store_o_id !='0'){ //正常销库存的 关联的采购
		s += '<a href="javascript:viewOrdInfo('+store_o_id+')">关联</a> ';
	}else if(sales_type == '2' && join_id !='0'){ //不库存的 关联的采购
		s += '<a href="javascript:viewOrdInfo('+join_id+')">关联</a> ';
	}
	return s;
}
search();
function onKeyEnter(e) {
	search();
}

function LoadOrderType(e) {
	var record = e.record.order_type; 
	return $("#soStatus").find("option[value="+record+"]").text();
}
//审核
function oncheckDetail(e){
	var record = e.record,s='',oid = record.o_id,order_status=record.order_status,transport_status=record.transport_status,order_type = record.order_type,sales_type = record.sales_type,node_flow = record.node_flow;
	if(order_status =='3' || transport_status =='3'){
		s +='已取消';
	}else if(order_status =='2' && transport_status =='2'){
		s +='审核通过';
	}else{
		order_type = (order_type=='销售订单' ? '1' : '2');
		if(order_type=='1'){	//销售
			if(order_status != '2' && node_flow==true) s += '<a href="javascript:orderSaCheck('+oid+','+sales_type+')">销售审核</a>&nbsp;&nbsp;';
			if(transport_status != '2' && node_flow==true) s += '<a href="javascript:transportCheck('+oid+')"> 物流审核</a>';
		}else{
			if(order_status != '2' && node_flow==true) s += '<a href="javascript:orderPuCheck('+oid+')">采购审核</a>&nbsp;&nbsp;';
			if(transport_status != '2' && node_flow==true) s += '<a href="javascript:transportCheck('+oid+')"> 物流审核</a>';
		}
	} 
	return s;
}
//销售审核
var ordInfo = mini.get("ordercheck");
function orderSaCheck(oid,sales_type){
	mini.get('o_id1').setValue(oid);
	mini.get('sales_type').setValue(sales_type);
	ordInfo.show();
}
//采购审核
function orderPuCheck(oid){
	mini.get('o_id1').setValue(oid);
	mini.get('s_or_p').setValue(1); //销售or采购
	ordInfo.show();
}
//物流审核
var tranInfo = mini.get("transportcheck");
function transportCheck(oid){
	mini.get('o_id2').setValue(oid);
	tranInfo.show();
}
//提交审核结果
function submitcheck(type) {
	var form1 = new mini.Form(type);
	form1.validate();
	if (form1.isValid() == false) return;
	var o = form1.getData();
	grid.loading("数据提交中，请稍后......");
	var json = mini.encode(o);

	var callback=function(data){
		if(data.err!='0'){
			grid.unmask();
			alert(data.msg);
			return false;
		}else{
			grid.reload();
			ordInfo.hide();
			tranInfo.hide();
		}
	}
	var str = '/product/order/'+type;
	utils.ajax(str,{data:json},callback,"POST","json");
}
//财务记录
var financial = mini.get("financialCheck");
function financialInfo(oid){
	mini.get('o_id3').setValue(oid);
	mini.get('financial_records').setValue(1);
	financial.show();
}

function submitFinancial(){
	var form = new mini.Form('financialCheck');
	form.validate();
	if (form.isValid() == false) return;
	var o = form.getData();
	grid.loading("数据提交中，请稍后......");
	var json = mini.encode(o);
	var callback=function(data){
		if(data.err!='0'){
			grid.unmask();
			alert(data.msg);
			return false;
		}else{
			grid.reload();
			financial.hide();
		}
	}
	utils.ajax('/product/order/financialCheck',{data:json},callback,"POST","json");	
}
//新增产品详情
function onLoadDetail(e){
	var record = e.record,s='',oid = record.o_id,order_type = record.order_type,order_status=record.order_status,transport_status=record.transport_status,c_status=record.collection_status,i_status=record.invoice_status,sales_type=record.sales_type,join_id=record.join_id,is_join_in=record.is_join_in,out_storage_status=record.out_storage_status,in_storage_status=record.in_storage_status,newstatus=record.newstatus,one_c_status=record.one_c_status,one_b_status=record.one_b_status,financial_records=record.financial_records,is_join_check=record.is_join_check;

	order_type = (order_type=='销售订单' ? '1' : '2');
	if(order_type=='1'){	//销售
		if(order_status =='3' || transport_status =='3') return;
			var where1= sales_type == '1' ? (order_status =='2' && transport_status=='2') : (order_status =='2') ;
			if(where1){   //先采后销和先销后采审核条件不同
				if( (sales_type == '1' && join_id == '0') || (sales_type == '2' && join_id != '0') ){ //先采后销
					if( join_id != '0' && is_join_check == '0' ){ //关联的采购未审核
						s +='采购单审核中..';
						return s;
					}else if( join_id != '0' && is_join_check == '2' ){ //关联的采购审核不通过
						s +='采购单审核不通过..';
						return s;
					}else{
						if(financial_records == '否'){
							s+='<a href="javascript:financialInfo('+oid+')">财务</a>&nbsp;|&nbsp;';
						}
						if( out_storage_status != '已出库'){ //没有全部发货时可见发货按钮
							if( order_status =='2' && transport_status =='2' ){
								if(sales_type == '1'){
									s+='<a href="javascript:outStorage('+oid+')">发货</a>&nbsp;|&nbsp;';
								}else{ //先销后采
									if(is_join_in == '1'){
										s+='<a href="javascript:outStorage('+oid+')">发货</a>&nbsp;|&nbsp;';
									}
								}
								
							}
						}
						
						if (c_status !='3' && one_c_status !='1'  && transport_status =='2') {
						s+='<a href="javascript:transaction('+oid+','+order_type+')">申请收款</a>&nbsp;|&nbsp;';
						}
						if (i_status !='全部开票' && newstatus == '3' && c_status =='3' && !one_b_status) {
							s+='<a href="javascript:addInvoice('+oid+','+order_type+')">申请开票</a>&nbsp;|&nbsp;';
						}
						if (c_status =='3' && i_status =='全部开票') {
							s+='<a href="javascript:viewOrdInfo('+oid+','+order_type+')">查看</a>&nbsp;|&nbsp;';
						}
						s+='<a href="javascript:salecompact('+oid+')">合同</a>';
						if (newstatus != '3' && c_status =='3') {
							s +='(采购未开票..)';
						}

					}
				}else if(join_id == '0'){ //先销后采->下采购单虚拟入库->发货
					s+='<a href="javascript:changePurchase('+oid+')">生成采购</a>';
				}	
			}
	}else{   //采购	
		if(order_status =='3' || transport_status =='3')  return;
		if(order_status =='2' && transport_status=='2'){
			if(in_storage_status != '已入库'){ //没有全部入库时可见入库按钮
				s+='<a href="javascript:inStorage('+oid+','+join_id+')">入库</a>&nbsp;|&nbsp;';
			}
			
			if (c_status !='3' && one_c_status !='1') {
				s+='<a href="javascript:transaction('+oid+','+order_type+')">申请付款</a>&nbsp;|&nbsp;';
			}
			if (i_status !='全部开票' && c_status =='3' && in_storage_status == '已入库' && !one_b_status ) {
				s+='<a href="javascript:addInvoice('+oid+','+order_type+')">申请开票</a>&nbsp;|&nbsp;';
			}
			if (c_status =='3' && i_status =='全部开票') {
				s+='<a href="javascript:viewOrdInfo('+oid+','+order_type+')">查看</a>&nbsp;|&nbsp;';
			}
			if(financial_records == '否'){
				s+='<a href="javascript:financialInfo('+oid+')">财务</a>&nbsp;|&nbsp;';
			}	
			s+='<a href="javascript:salecompact('+oid+')">合同</a>';

		}
	}
	return s;
}
//付款收款
function transaction(oid,order_type){
	var width=430, height=420,type=order_type;
	if(type=='1'){
		title="新增收款申请";
	}else{
		title="新增付款申请";
	}
	mini.open({
		url: "/product/order/transactionInfo?o_id="+oid+"&order_type="+type,
		showMaxButton:true,
		 title: title, width: width, height:height,
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});		
}

//开票
function addInvoice(oid,order_type){
	var width=800, height=680,type=order_type,invoice='1';
		title="新增开票申请";
	mini.open({
		//有invoice表示是开票
		url: "/product/billing/transactionInfo?o_id="+oid+"&order_type="+type+"&invoice="+invoice+"&is_head=1",
		showMaxButton:true,
		 title: title, width: width, height:height,
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});		
}
//先销后采 生成采购单
function changePurchase(o_id){
	var width=845, height=650;
	title="生成采购订单";
	mini.open({
		url: "/product/order/changePurchase?o_id="+o_id,
		showMaxButton:true,
		 title: title, width: width, height:height,
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});	
}

// //追加销售明细
// function addSaleLog(oid){
// 	mini.open({
// 		url: "/product/saleLog/info?o_id="+oid,
// 		showMaxButton:true,
// 		title: '订单明细', width: 750, height:550,
// 		ondestroy: function (action) {
// 			if(action=='save'){ //重新加载
// 				grid.reload();
// 			}
// 		}
// 	});
// }
// //追加采购明细
// function addPurchaseLog(oid){
// 	mini.open({
// 		url: "/product/purchaseLog/info?o_id="+oid,
// 		showMaxButton:true,
// 		title: '订单明细', width: 280, height:380,
// 		ondestroy: function (action) {
// 			if(action=='save'){ //重新加载
// 				grid.reload();
// 			}
// 		}
// 	});
// }
//发货弹窗
function outStorage(oid){
	mini.open({
		url:"/product/outStorage/info?o_id="+oid,
		showMaxButton:true,
		title:'发货记录新增',width:850,height:380,
		ondestroy: function(action){
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});
}
//入库弹窗
function inStorage(oid,join_id){
	mini.open({
	url:"/product/inStorage/info?o_id="+oid+"&join_id="+join_id,
	showMaxButton:true,
	title:'入库记录新增',width:850,height:450,
	ondestroy: function(action){
		if(action=='save'){ //重新加载
			grid.reload();
		}
	}
	});
}
//查看订单相关信息
function viewOrdInfo(oid,o_type){
	mini.open({
		url: "/product/order/info?oid="+oid+'&o_type='+o_type,
		showMaxButton:true,
		title: "查看订单相关信息", 
		width: 800, height:430
	});		
}
//行内编辑后保存数据
function saveData() {
  var data = grid.getChanges();
  var json = mini.encode(data);
  if(json.length<0) return false;

  grid.loading("保存中，请稍后......");
  var callback=function(data){
	grid.unmask();
	if(data.err=='0'){
	  grid.reload();
	}else{
	  alert(data.msg);
	  grid.reload();
	  return false;
	}
  }
  utils.ajax('/product/order/save',{data:json},callback,"POST","json");
}
//新增销售订单
function addSale(){
	mini.open({
		url: "/product/order/info?order_type=1",
		showMaxButton:true,
		title: '新增销售订单', width: 845, height: 650, 
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});	
}
//新增采购订单
function addPur(){
	mini.open({
		url: "/product/order/info?order_type=2",
		showMaxButton:true,
		title: '新增采购订单', width: 845, height: 650, 
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});	
}
//删除
// function remove() {
// 	var rows = grid.getSelecteds(),_ids=new Array();
// 	if(rows.length<1) return;
// 		for(var i=0;i<rows.length;i++){
// 	var _id=parseInt(rows[i].o_id);
// 	if(_id<1){
// 		grid.removeRow(rows[i],false);
// 	}else{
// 		_ids.push(_id);
// 	}
//   }
// 	var ids=_ids.join(',');
// 	if(ids=='') return;
// 	mini.confirm("确定删除？", "提示", function(action){
// 	if(action!='ok') return;
// 	var callback=function(data){
// 	if(data.err=='0'){
// 		grid.reload();
// 	}else{
// 		alert(data.msg)
// 		return false;
// 	}
// 	}
// 	utils.ajax('/product/order/remove',{ids:ids},callback,"POST","json");
//   });
// }
//双击弹出
function onRowDblClick(e) {
	var record = e.record, status=record.status,order_status=record.order_status,transport_status=record.transport_status;
	console.log(record);
	if(order_status=='1' && transport_status=='1'){ //未审核的允许编辑
		onEdit(e.row);
	}
}
function onEdit(obj) {
	order_type = (obj.order_type=='销售订单' ? '1' : '2');
	if (obj) {
		var width=845,height=650,title='产品信息';
		urlStr="/product/order/editOrder?o_id="+obj.o_id+"&order_type="+order_type;
		mini.open({
			url: urlStr,
			title: title,
			width: width,
			height:height,
			ondestroy: function (action) {
				if(action=='save'){ //重新加载
					grid.reload();
				}
			}
		});
	}
}
function GetData() {
	var row = grid.getSelected();
	return row;
}
function CloseWindow(action) {
	if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
	else window.close();
}
//确定并获取数据
function onComfirm() {
	CloseWindow("ok");
}
//取消
function onCancel() {
	CloseWindow("cancel");
}



//强制选择归属公司
function usrChoose(e){
	var btn = this;
		mini.open({
		url: "product/factory/init?do=search",
		title: "选择公司",
		width: 1200,
		height: 550,
		onload: function () {
			var iframe = this.getIFrameEl();
			iframe.contentWindow.SetData();
		},
		ondestroy: function (action) {
			if (action == "ok") {
				var iframe = this.getIFrameEl();
				var data = iframe.contentWindow.GetData();
				data = mini.clone(data);    //必须
				if (data) {
					btn.setValue(data.fid);
					btn.setText(data.f_name);
					$("#"+btn.id+"\\$value").val(data.fid);
				}
			}
		}
	});
}


//生成pdf文件
function salecompact(o_id){
	var width=845, height=650;
	title="生成合同";
	mini.open({
		url: "/product/order/pdf?oid="+o_id,
		showMaxButton:true,
		 title: title, width: width, height:height,
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});	
}

</script>