{layout file="public:mini_layout"}
<div style="padding:5px;">
	<div id="infoForm" class="form">
	<input class="mini-hidden" name="id" value="{$info.id}"/>
	<input class="mini-hidden" name="purchase_order_no" value="{$purchase_order_no}"/>
	<input class="mini-hidden" name="o_id" value="{$o_id}"/>
		<div class="mini-tabs" activeIndex="0" plain="false">
			<div title="基本信息">
				<table width="100%">
					<caption><strong>订单明细</strong></caption>
					<tr>
						<td>订单编号 : </td>
						{if $type neq 'edit'}
						<td>{$purchase_order_no}</td>
						{else}
						<td>{$info.purchase_order_no}</td>
						{/if}
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>订单名称：</td>
						<td>
						{if $o_id gt 0}
							{$order_name}
						{else}
							<input name="o_id" class="mini-buttonedit" onbuttonclick="ordChoose" value="{$info.o_id}" allowInput="false"  text="{$order_name}"  style="width:170px" id="usrId"/>
						{/if}
						</td>
						<td>产品牌号：</td>
						<td>
							<input name="p_id" class="mini-buttonedit" onbuttonclick="proChoose" value="{$info.p_id}" allowInput="false"  text="{$model}"  style="width:170px" id="usrId"/>
						</td>
					</tr>
					<tr>
						<td>数量 : </td>
						<td><input name="number" class="mini-textbox" style="width:100px;" maxlength="8" required="true" value="{$info.number}"/>
						</td>
						<td>单价 ：</td>
						<td><input name="unit_price" class="mini-textbox" style="width:100px;" maxlength="8" required="true" value="{$info.unit_price}"/>
						</td>
					</tr>
					<tr>
						<td>价格单位 : </td>
						<td><input name="price_type" class="mini-combobox" style="width:100px;" value="{$info.price_type}" data='{:setMiniConfig|$price_type}' required="true" textfield="name" valuefield="id"/></td>
						<td>批次号 : </td>
						<td><input name="lot_num" class="mini-textbox" style="width:100px;" maxlength="8" required="true" value="{$info.lot_num}"/>
						</td>
					</tr>
					<tr>
						<td>仓库：</td>
						<td><input  class="mini-textbox"  name="store_house" required="true" value="{$info.store_house}"/>
						</td>
						<td>库位 : </td>
						<td><input  class="mini-textbox"  name="location" required="true" value="{$info.location}"/>
						</td>
					</tr>
					<tr>
						<td>供应商：</td>
						<td><input  class="mini-textbox"  name="supplier_name" required="true" value="{$info.supplier_name}"/>
						</td>
						<td>开票状态 : </td>
						<td><input name="invoice_status" class="mini-combobox" style="width:150px;" value="{$info.invoice_status}" data='{:setMiniConfig|$invoice_status}' required="true" textfield="name" valuefield="id"/></td>
					</tr>
					<tr>
						<td>入库状态 : </td>
						<td><input name="in_storage_status" class="mini-combobox" style="width:150px;" value="{$info.in_storage_status}" data='{:setMiniConfig|$in_storage_status}' required="true" textfield="name" valuefield="id"/></td>
						<td>销售类型</td>
						<td><input name="sales_type" class="mini-combobox" style="width:150px;" value="{$info.sales_type}" data='{:setMiniConfig|$sales_type}' required="true" textfield="name" valuefield="id"/></td>
					</tr>
					<tr>
						<td>备注:</td>
						<td><input name="remark" class="mini-textarea" style="width:200px" required="true"/ value="{$info.remark}"></td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</div>
			</div>
		</div><input name="utype" class="mini-textbox" style="display:none" value="3" vtype="utype"/>
		<div align="center" style="margin-top:10px;">
			<a class="mini-button" iconcls="icon-ok" onclick="submitForm">确定</a>
			<a class="mini-button" iconcls="icon-cancel" onclick="onCancel">关闭</a><span id="returnMsg" style="padding-left:5px; color:#F00;"></span>
		</div>
	</div>
</div>
<script charset="utf-8" src="__JS__/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__JS__/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
mini.parse();
var form = new mini.Form("#infoForm");
var cid = mini.get("#usrId").getValue();
function submitForm(){
	form.validate();
	if(form.isValid() == false) return;
	//提交数据
	var o = form.getData();
	var json = mini.encode(o);
	$("#returnMsg").text('');
	form.loading("数据提交中，请稍后......");
	var urlstr = '/product/orderDetail/addSubmit';
	$.post(urlstr,{data:json},function(data){
		form.unmask();
		$("#returnMsg").text(data.msg);
		if(data.err=='0'){
			CloseWindow("save");
		}else{
			return false;
		}
	},'json');
}
function CloseWindow(action) {            
	if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
	else window.close();            
}
function onCancel(e) {
	CloseWindow("cancel");
}
//强制选择归属订单
function ordChoose(e){
	var btn = this;
		mini.open({
		url: "/product/order/init?do=search",
		title: "选择订单",
		width: 1250,
		height: 550,
		onload: function () {
			var data=e.sender.getValue();
			top['win'].setDvalue(data);  //去调用子页面的方法。
		},
		ondestroy: function (action) {
			if (action == "ok") {
				var iframe = this.getIFrameEl();
				var data = iframe.contentWindow.GetData();
				data = mini.clone(data);    //必须
				if (data) {
					btn.setValue(data.o_id);
					btn.setText(data.order_name);
				}
			}
		}
	});         
}
//强制选择归属产品
function proChoose(e){
	var btn = this;
		mini.open({
		url: "/product/product/init?ischecked=checked",
		title: "选择产品",
		width: 1250,
		height: 550,
		onload: function () {
			var data=e.sender.getValue();
			top['win'].setDvalue(data);  //去调用子页面的方法。
		},
		ondestroy: function (action) {
			if (action == "ok") {
				var iframe = this.getIFrameEl();
				var data = iframe.contentWindow.GetData();
				data = mini.clone(data);    //必须
				if (data) {
					btn.setValue(data.id);
					btn.setText(data.model);
				}
			}
		}
	});         
}
</script>
