{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
	<table style="width:100%;">
		<tr>
			<td style="white-space:nowrap;">
				<a class="mini-button" iconCls="icon-add" onclick="addRow()" plain="true" tooltip="增加">增加</a>
				<a class="mini-button" iconCls="icon-save" plain="true" onclick="saveData()">保存</a> 
				<a class="mini-button" iconCls="icon-upgrade" plain="true" onclick="excelData()">excel导入</a> 
			</td>
			<td style="float:right;">
			<form id="soform">
				牌号
				<input name="keyword" class="mini-textbox" emptyText="" style="width:140px;" onenter="onKeyEnter"/>
				产品类别
				<select name="process_type">
					<option value="">==全部==</option>
					<option value="0">HDPE</option>
					<option value="1">LDPE</option>
					<option value="2">LLDPE</option>
					<option value="3">PP</option>
					<option value="4">PVC</option>
				</select>

				产品状态
				<select name="status" id="soStatus">
					<option value="">=状态=</option>
					<option value="0">上架</option>
					<option value="1">下架</option>
				</select>
				<a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
				<span id="searchMsg"></span></form>
			</td>
		</tr>
	</table>           
</div>

<div class="mini-fit" style="padding:1px 3px 3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20"
		url="/product/index/order?action=grid"
		showFilterRow="true" idField="id" multiSelect="true" allowCellSelect="true" allowCellEdit="true"
		>
		<div property="columns">    
			<div type="checkcolumn"></div>
			<div field="id" width="35" headerAlign="center" align="center" allowSort="true">商品ID</div>
			<div field="cate_name" width="90" headerAlign="center" align="center">产品分类                      
			</div>
			<div field="p_name" width="80" headerAlign="center" allowSort="true" align="center">产品名称
			</div>                
			<div field="model" width="60" headerAlign="center" allowSort="true" align="center">牌号
			</div>
			<div field="factory_id" width="80" headerAlign="center" allowSort="true" align="center">厂家编号
			</div>
			<div field="factory_name" width="80" headerAlign="center" allowSort="true" align="center">厂家名称
			</div> 
			<div field="product_class" width="80" headerAlign="center" allowSort="true" align="center">加工级别
			</div> 
			<div field="unit" width="40" headerAlign="center" allowSort="true" align="center">单位
			</div>
			<div field="package" width="80" headerAlign="center" allowSort="true" align="center">包装
			</div>
			<div field="status" width="80" headerAlign="center" allowSort="true" align="center">产品状态
				<input property="editor" class="mini-textbox" style="width:100%;"/>
			</div>
			<div field="remark" width="80" headerAlign="center" allowSort="true" align="center">备注
				<input property="editor" class="mini-textbox" style="width:100%;"/>
			</div>
			<div field="input_time" width="110" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" allowSort="true" align="center">入库时间</div>
			<div field="update_time" width="110" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" allowSort="true" align="center">更新</div>
			<div field="admin_name" width="50" headerAlign="center" align="center">操作人</div>
			 <div name="action" width="120" headerAlign="center" align="center" renderer="onActionRenderer" cellStyle="padding:0;">操作</div>
		</div>
	</div>
</div>
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
search();
function onKeyEnter(e) {
	search();
}


function onActionRenderer(e) {
            var grid = e.sender;
            var record = e.record;
            var uid = record._uid;
            var rowIndex = e.rowIndex;

            var s = '<a class="New_Button" href="javascript:disRow()">禁用</a>';
                  
            return s;
        }


//新增一条行记录
function addRow() {          
	var newRow = {name: "source"};
	grid.addRow(newRow, 0);
	grid.beginEditCell(newRow, "source");
}
//行内编辑后保存数据
function saveData() {
	var data = grid.getChanges();
	var json = mini.encode(data);
	if(json.length<10) return false;
	grid.loading("保存中，请稍后......");
	var callback=function(data){
		if(data.err!='0'){
			alert(data.msg)
			return false;
		}else{
			grid.reload();
		}
	}
	utils.ajax('/operator/ship/init?action=save',{data:json},callback,"POST","json");
}
</script>