{layout file="public:mini_layout"}
<div style="padding:5px;">
	<div id="infoForm" class="form">
	<input class="mini-hidden" name="id" value="{$info.id}"/>
	<input class="mini-hidden" name="purchase_order_no" value="{$purchase_order_no}"/>
	{if $choose neq 1}
	<input class="mini-hidden" name="o_id" value="{$o_id}"/>		
	{/if}
			<div title="基本信息">
				<table width="100%">
					<caption><strong>采购明细</strong></caption>
					<tr>
						<td>采购编号 : </td>
						{if $type neq 'edit'}
						<td>{$purchase_order_no}</td>
						{else}
						<td>{$info.purchase_order_no}</td>
						{/if}
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
					{if $choose neq 1}
						<td>订单名称：</td>
						<td>
						{if $o_id gt 0}
							{$order_name}
						{else}
							<input name="o_id" class="mini-buttonedit" onbuttonclick="ordChoose" value="{$info.o_id}" allowInput="false"  text="{$order_name}"  style="width:100px" id="usrId"/>
						{/if}
						</td>
					{/if}
						<td>产品牌号：</td>
						<td>
							<input name="p_id" class="mini-buttonedit" onbuttonclick="proChoose" value="{$info.p_id}" allowInput="false"  text="{$model}"  style="width:100px" id="usrId"/>
						</td>
					</tr>
					<tr>
						<td>数量 : </td>
						<td><input name="number" class="mini-textbox" style="width:100px;" maxlength="8" required="true" value="{$info.number}"/>
						</td>
						<td>单价 ：</td>
						<td><input name="unit_price" class="mini-textbox" style="width:100px;" maxlength="8" required="true" value="{$info.unit_price}"/>
						</td>
					</tr>
					<tr>
						<td>采购类型</td>
						<td><input name="purchase_type" class="mini-combobox" style="width:100px;" value="{$info.purchase_type}" data='{:setMiniConfig|$purchase_type}' required="true" textfield="name" valuefield="id"/></td>
						<td>供应商：</td>
						<td><input name="c_id" class="mini-buttonedit" onbuttonclick="usrChoose" value="{$info.c_id}" allowInput="false"  text="{$info.c_name}"  style="width:100px" id="usrId"/></td>
					</tr>
					<tr>						
						<td>备注:</td>
						<td><input name="remark" class="mini-textarea" style="width:100px" required="true"/ value="{$info.remark}"></td>

					</tr>
					<input class="mini-hidden" id="hidden_model" name="model" value=""/>
					<input class="mini-hidden" id="hidden_supplier" name="supplier" value=""/>
				</table>
			</div>
		</div><input name="utype" class="mini-textbox" style="display:none" value="3" vtype="utype"/>
		<div align="center" style="margin-top:10px;">
		{if $choose eq 1}
			<div class="mini-toolbar" style="text-align:center;padding-top:8px;padding-bottom:8px; border:1px solid #000;" borderStyle="border:0;">
				<a class="mini-button" style="width:60px;" onClick="onComfirm()">确定</a>
			<span style="display:inline-block;width:25px;"></span>
				<a class="mini-button" style="width:60px;" onClick="onCancel()">取消</a>
			</div>
		{else}
			<a class="mini-button" iconcls="icon-ok" onclick="submitForm">确定</a>
			<a class="mini-button" iconcls="icon-cancel" onclick="onCancel">关闭</a><span id="returnMsg" style="padding-left:5px; color:#F00;"></span>
		{/if}
			
		</div>
	</div>
</div>
<script charset="utf-8" src="__JS__/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__JS__/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
mini.parse();
var form = new mini.Form("#infoForm");
var cid = mini.get("#usrId").getValue();
function submitForm(){
	form.validate();
	if(form.isValid() == false) return;
	//提交数据
	var o = form.getData();
	var json = mini.encode(o);
	$("#returnMsg").text('');
	form.loading("数据提交中，请稍后......");
	var urlstr = '/product/purchaseLog/addSubmit';
	$.post(urlstr,{data:json},function(data){
		form.unmask();
		$("#returnMsg").text(data.msg);
		if(data.err=='0'){
			CloseWindow("save");
		}else{
			return false;
		}
	},'json');
}
//确定并获取数据
function onComfirm() {
	form.validate();
	if(form.isValid() == false) return;
	//提交数据
	CloseWindow("ok");
}
function CloseWindow(action) {            
	if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
	else window.close();            
}
function onCancel(e) {
	CloseWindow("cancel");
}

//强制选择归属订单
function ordChoose(e){
	var btn = this;
		mini.open({
		url: "/product/order/init?do=search&order_type=2",
		title: "选择订单",
		width: 1250,
		height: 550,
		onload: function () {
			var data=e.sender.getValue();
			top['win'].setDvalue(data);  //去调用子页面的方法。
		},
		ondestroy: function (action) {
			if (action == "ok") {
				var iframe = this.getIFrameEl();
				var data = iframe.contentWindow.GetData();
				data = mini.clone(data);    //必须
				if (data) {
					btn.setValue(data.o_id);
					btn.setText(data.order_name);
				}
			}
		}
	});         
}
//强制选择归属产品
function proChoose(e){
	var btn = this;
	var model = mini.get('hidden_model');
		mini.open({
		url: "/product/product/init?ischecked=checked",
		title: "选择产品",
		width: 1250,
		height: 550,
		onload: function () {
			var data=e.sender.getValue();
			top['win'].setDvalue(data);  //去调用子页面的方法。
		},
		ondestroy: function (action) {
			if (action == "ok") {
				var iframe = this.getIFrameEl();
				var data = iframe.contentWindow.GetData();
				data = mini.clone(data);    //必须
				if (data) {
					btn.setValue(data.id);
					btn.setText(data.model);
					model.setValue(data.model)
				}
			}
		}
	});         
}

//强制选择归属供应商
function usrChoose(e){
	var btn = this;
	var hidden_supplier = mini.get('hidden_supplier');
		mini.open({
		url: "/user/customer/init?do=search",
		title: "选择公司",
		width: 1200,
		height: 550,
		onload: function () {
			var iframe = this.getIFrameEl();
			iframe.contentWindow.SetData();
		},
		ondestroy: function (action) {
			if (action == "ok") {
				var iframe = this.getIFrameEl();
				var data = iframe.contentWindow.GetData();
				data = mini.clone(data);    //必须
				if (data) {
					btn.setValue(data.c_id);
					btn.setText(data.c_name);
					hidden_supplier.setValue(data.c_name);
					$("#"+btn.id+"\\$value").val(data.c_id);
				}
			}
		}
	});         
}
function GetData() {
	//提交数据
	var o = form.getData();
	var json = mini.encode(o);
	$("#returnMsg").text('');
	return json;
}
</script>
