{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
	<table style="width:100%;">
		<tr>
			<td style="white-space:nowrap;">
				<form id="soform">
					<select name="team_id">
					<option selected="selected">战队名称</option>
						{html_options options=$team}
					</select>
					操作人
					<input name="keyword" class="mini-textbox" style="width:70px;" onenter="onKeyEnter"/>
					订单号
					<input name="order_sn" class="mini-textbox" style="width:150px;" onenter="onKeyEnter"/>
					时间筛选
					<input name="startTime" class="mini-datepicker"  value="" style="width:100px;"/>
					<input name="endTime" class="mini-datepicker" value="" style="width:100px;"/>
					<a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
				</form>
			</td>
		</tr>
	</table>
</div>
<div class="mini-fit" style="padding:1px 3px 3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20" url="/product/teamCapitalLog/init?action=grid" showFilterRow="true" idField="id" multiSelect="true">
		<div property="columns">
			<div type="checkcolumn" width="10"></div>
            <div field="team_name" width="35" headerAlign="center" align="center">团队</div>   
            <div field="order_sn" width="50" headerAlign="center" allowSort="true" align="center" >订单号</div>
            <div field="old_value" width="50" headerAlign="center" align="center" >处理前数据</div>
            <div field="new_value" width="50" headerAlign="center" align="center" >处理后数据</div>
            <div field="description" width="150" headerAlign="center" align="center" >描述</div>
			<div field="input_admin" width="30" headerAlign="center" allowSort="false" align="center">操作人</div>
			<div field="input_time" width="50" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm:ss" allowSort="true" align="center">操作时间</div>
		</div>
	</div>
</div>
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
grid.load();
//查询
function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
search();
function onKeyEnter(e) {
	search();
}
</script> 