{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
	<table style="width:100%;">
		<tr>
			<td style="white-space:nowrap;">
				<a class="mini-button" iconCls="icon-add" onclick="add(0,{$ctype})" plain="true" tooltip="增加">增加</a>
				<a class="mini-button" iconCls="icon-save" plain="true" onclick="saveData()">保存</a>
				<a href="__UPLOAD__/zip/报价模板.rar" class="mini-button" iconCls="icon-downgrade" plain="true">模板下载</a>
				<a class="mini-button" iconCls="icon-upgrade" plain="true" onclick="inputExcel()">excel导入</a>
				<a class="mini-button" class="output" iconCls="icon-downgrade" plain="true" onclick="outputExcel()">excel导出</a>
				<span class="separator"></span> 
				<a class="mini-button" iconCls="icon-reload" plain="true" onclick="reload()">重新发布</a>
				<a class="mini-button" iconCls="icon-reload" plain="true" onclick="sync()">同布</a>
				
			</td>
			<td style="float:right;">
			<form id="soform" method="get" action="/product/zcquote/download">
				创建时间   
				<input name="startTime" class="mini-datepicker" style="width:100px;"/> -
				<input name="endTime" class="mini-datepicker" style="width:100px;"/>
				&nbsp;&nbsp;&nbsp;
				<select name="product_type">
					<option value="">==品种==</option>
					{html_options options=$product_type}
				</select>
				<select name="bargain">
					<option value="">=议价=</option>
					{html_options options=$bargain}
				</select>
				<select name="status" id="soStatus">
					<option value="">=状态=</option>
					{html_options options=$status}
				</select>
				<select name="key_type">
					<option value="username">交易员</option>
					<option value="f_name">厂家</option>
					<option value="number">数量</option>
					<option value="unit_price">价格</option>
				</select> 
				<input name="keyword" class="mini-textbox" emptyText="请输入关键词" style="width:140px;" onenter="onKeyEnter"/>   
				<a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
				<span id="searchMsg"></span></form>
			</td>
		</tr>
	</table>           
</div>

<div class="mini-fit" style="padding:1px 3px 3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20"
		url="/product/zcquote/init?action=grid&do={$slt}" onrowdblclick="onRowDblClick"
		showFilterRow="true" idField="id" multiSelect="true" allowCellSelect="true" allowCellEdit="true"
		>
		<div property="columns">    
			<div type="checkcolumn"></div>
			<div field="product_type" width="30" headerAlign="center" align="center" allowSort="true">品种</div>
			<div field="model" width="40" headerAlign="center" align="center">牌号</div>
			<div field="f_id" width="80" headerAlign="center" allowSort="true" align="center">厂家</div>                
			<div field="process_type" width="40" headerAlign="center" allowSort="true" align="center">加工级别</div>
			<div field="number" width="40" headerAlign="center" allowSort="true" align="center">数量【吨】
				<input property="editor" class="mini-textbox" style="width:100%;"/>
			</div>
			<div field="unit_price" width="45" headerAlign="center" allowSort="true" align="center">价格(元/吨)
				<input property="editor" class="mini-textbox" style="width:100%;"/>
			</div>
			<div field="supply_count" width="40" headerAlign="center" allowSort="true" align="center">采购[SUM]</div>
			<div field="provinces" width="50" headerAlign="center" allowSort="true" align="center">省份</div>
			<div field="bargain" width="35" headerAlign="center" allowSort="true" align="center">是否实价</div>
			<div field="store_house" width="50" headerAlign="center" allowSort="true" align="center">仓库</div>
			<div field="remark" width="100" headerAlign="center" allowSort="true" align="center">备注</div>
			<div field="input_time" width="50" headerAlign="center" dateFormat="yy-MM-dd HH:mm" allowSort="true" align="center">创建时间</div>
			<div field="update_time" width="50" headerAlign="center" dateFormat="yy-MM-dd HH:mm" allowSort="true" align="center">更新时间</div>
			<div field="input_admin" width="45" headerAlign="center" align="center">创建人</div>
			<div field="username" width="45" headerAlign="center" align="center">交易员</div>
			<div field="status" width="30" headerAlign="center" allowSort="true" align="center" renderer="LoadStatus">状态
				<input property="editor" class="mini-combobox" style="width:100%;" textfield="name" valuefield="id"  data='{:setMiniConfig|$status}' />
			</div>
			<div action='do' width="40" renderer="viewhander">操作</div>
		</div>
	</div>
</div>
{if $ischecked eq 'search'}
	<div class="mini-toolbar" style="text-align:center;padding-top:8px;padding-bottom:8px; border:1px solid #000;" borderStyle="border:0;">
			<a class="mini-button" style="width:60px;" onClick="onComfirm()">确定</a>
			<span style="display:inline-block;width:25px;"></span>
			<a class="mini-button" style="width:60px;" onClick="onCancel()">取消</a>
	</div>
{/if}
<script src="__JS__/jquery/jquery.upload.js" type="text/javascript"></script>
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
search();
function onKeyEnter(e) {
	search();
}

function onRowDblClick(e) {
	var record = e.record,id=record.id;
	{if $slt neq 'slt'}
		add(id,2);
	{else}
		add(id,1);
	{/if}
}

function viewhander(e){
	var record = e.record,id=record.id, status=record.status, count=record.supply_count, s='';
	if(count>0){
		s = '<a href="javascript:viewPinfo('+id+')">采购列表</a>';
	}
	return s;
}


function viewPinfo(id){
	mini.open({
		url:"/product/buySale/init?purid="+id,
		showMaxButton:true,
		title:'采购单列表查看',width:1050,height:630,
		ondestroy: function(action){
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});
}
//查看编辑用户信息
function add(id,ctype){
	var width=330,height=500;
		if(ctype==1){
			title='新增中晨报价';
		}else{
			title ='新增现货采购';
		}
	mini.open({
		url: "/product/zcquote/init?action=info&id="+id+"&ctype="+ctype,
		showMaxButton:true,
		title: title, width: width, height:height,
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});	
}
//行内编辑后保存数据
function saveData() {
	var data = grid.getChanges();
	var json = mini.encode(data);
	if(json.length<10) return false;
	grid.loading("保存中，请稍后......");
	var callback=function(data){
		if(data.err!='0'){
			alert(data.msg)
			return false;
		}else{
			grid.reload();
		}
	}
	utils.ajax('/product/quote/init?action=save',{data:json},callback,"POST","json");
}

//筛选数据
function CloseWindow(action) {
	if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
	else window.close();
}
//确定并获取数据
function onComfirm() {
	CloseWindow("ok");
}
//取消
function onCancel() {
	CloseWindow("cancel");
}

function GetData() {
	var row = grid.getSelected();
	return row;
}

function reload() {
	var data = grid.getChanges();
	var json = mini.encode(data);
	if(json.length<10) return false;
	grid.loading("保存中，请稍后......");
	var callback=function(data){
		if(data.err!='0'){
			alert(data.msg)
			return false;
		}else{
			grid.reload();
		}
	}
	utils.ajax('/product/quote/init?action=republish',{data:json},callback,"POST","json");
}

jQuery.extend({
handleError: function( s, xhr, status, e ) {
// If a local callback was specified, fire it
if ( s.error )
s.error( xhr, status, e );
// If we have some XML response text (e.g. from an AJAX call) then log it in the console
else if(xhr.responseText)
console.log(xhr.responseText);
}
});
//导入excel
function inputExcel(){
	mini.showMessageBox({
		title: "excel导入",
		buttons: ["ok", "cancel"],
		html: '<p style="margin-left:50px;">\
				<label><strong>选择Excel文件</strong> <br /><input type="file" name="check_file" id="manual_check_file" />\
			  </p>',
		callback: function (action) {
			if(action=='ok'){
				var messageid = mini.loading("正在处理...", "处理中");
				$.ajaxFileUpload({
					url:'/product/zcquote/inputExcel',
					fileElementId:"manual_check_file",
					dataType: 'json',
					success: function (data, status) {
						if(data.err=='') mini.alert(data.msg);
						else{
							var iconCls = 'mini-messagebox-info',html = "Excel导入成功。",title="处理成功",width=200;
							if(data.result){
								width=350;
								title="导入完成，有异常订单";
								iconCls = 'mini-messagebox-warning';
								html = '手动对账处理完成，异常订单如下：<br /><div style="height:250px;overflow:scroll;"><span>失败'+data.err+'条数据</span><br/>';
								$.each(data.result,function(k,v){
									html += k+" "+v+"<br />";
								});
								html+="</div>";
							}
							mini.showMessageBox({
								showHeader: false,
								width: width,
								title: title,
								buttons: ["ok"],
								html: html,
								iconCls: iconCls
							});
							grid.reload();
						}
						mini.hideMessageBox(messageid);
					},
					error: function (data, status, e){
						mini.hideMessageBox(messageid);
						alert(e);
					}
				});
			}
		}
	});
}

//同步当天更新数据
function sync() {
	grid.loading("保存中，请稍后......");
	var callback=function(data){
		if(data.err!='0'){
			alert(data.msg)
			return false;
		}else{
			grid.reload();
		}
	}
	utils.ajax('/product/zcquote/sync',callback,"POST","json");
}

//导出excel
function outputExcel(){
	$("#soform").submit();
}
</script>