{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
	<table style="width:100%;">
		<tr>
			{if $doact neq 'search'}
			<td style="white-space:nowrap;">
				<!-- <a class="mini-button" iconCls="icon-add" onclick="add()" plain="true" tooltip="增加">增加</a>
				<span class="separator"></span> -->
				<a class="mini-button" iconCls="icon-remove" plain="true" onclick="remove()">删除</a>
			</td>
			{/if}
			<td style="float:right;">
			<form id="soform">
				<select name="sTime">
					<option value="input_time">创建时间</option>
					<option value="update_time">更新时间</option>
				</select>
				<input name="startTime" class="mini-datepicker" style="width:95px;"/> -
				<input name="endTime" class="mini-datepicker" style="width:95px;"/>
				<select name="key_type">
					<option value="o_id">订单名称</option>
					<option value="p_id">牌号</option>
					<option value="remark">备注</option>
				</select> 
				<input name="keyword" class="mini-textbox" emptyText="请输入关键词" style="width:140px;" onenter="onKeyEnter"/>   
				<a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
				<span id="searchMsg"></span></form>
			</td>
		</tr>
	</table>           
</div>

<div class="mini-fit" style="padding:1px 3px 3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20"
		url="/product/unionOrderDetail/init?action=grid&oid={$oid}&in_status={$in_status}" onrowdblclick="onRowDblClick"
		showFilterRow="true" idField="id" multiSelect="true" allowCellSelect="true" allowCellEdit="true"
		>
		<div property="columns">    
			<div type="checkcolumn"></div>
			<div field="order_name" width="90" headerAlign="center" align="center">订单名</div>
			<div field="model" width="90" headerAlign="center" align="center">牌号/厂家</div>
			<div field="c_name" width="90" headerAlign="center" align="center">卖家</div>
			<div field="pc_name" width="90" headerAlign="center" align="center">买家</div>
			<div field="number" width="80" headerAlign="center" allowSort="true" align="center">数量【吨】</div>
			<div field="unit_price" width="50" headerAlign="center" allowSort="true" align="center">价格</div>
			<div field="remark" width="120" headerAlign="center" allowSort="true" align="center">备注</div>
			<div field="input_time" width="50" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" allowSort="true" align="center">创建时间</div>
			<!-- <div field="update_time" width="50" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" allowSort="true" align="center">更新时间</div>
			<div field="update_admin" width="45" headerAlign="center" align="center">更新人</div> -->

		</div>
	</div>
</div>
	{if $doact eq 'search'}
	<div class="mini-toolbar" style="text-align:center;padding-top:8px;padding-bottom:8px; border:1px solid #000;" borderStyle="border:0;">
			<a class="mini-button" style="width:60px;" onClick="onComfirm()">确定</a>
			<span style="display:inline-block;width:25px;"></span>
			<a class="mini-button" style="width:60px;" onClick="onCancel()">取消</a>
	</div>
	{/if}
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
search();
function onKeyEnter(e) {
	search();
}
//新增明细
function add(){
	mini.open({
		url: "/product/purchaseLog/info",
		showMaxButton:true,
		title: '采购明细新增', width: 600, height:400,
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});	
}
// //双击弹出
// function onRowDblClick(e) {
// 	var record = e.record, status=record.status;
// 	onEdit();
// }
// function onEdit(e) {
// 	var row = grid.getSelected();
// 	if (row) {
// 		var width=740,height=400,title='产品信息';
// 		urlStr="/product/purchaseLog/info?type=edit&id="+row.id;
// 		mini.open({
// 			url: urlStr,
// 			title: title,
// 			width: width,
// 			height:height,
// 			ondestroy: function (action) {
// 				if(action=='save'){ //重新加载
// 					grid.reload();
// 				}
// 			}
// 		});
// 	}
// }
//删除
function remove() {
	var rows = grid.getSelecteds(),_ids=new Array();
	if(rows.length<1) return;
		for(var i=0;i<rows.length;i++){
	var _id=parseInt(rows[i].id);
	if(_id<1){
		grid.removeRow(rows[i],false);
	}else{
		_ids.push(_id);
	}
  }
	var ids=_ids.join(',');
	if(ids=='') return;
	mini.confirm("确定删除？", "提示", function(action){
	if(action!='ok') return;
	var callback=function(data){
	if(data.err=='0'){
		grid.reload();
	}else{
		alert(data.msg)
		return false;
	}
	}
	utils.ajax('/product/unionOrderDetail/remove',{ids:ids},callback,"POST","json");
  });
}
function GetData() {
	var row = grid.getSelected();
	return row;
}
function CloseWindow(action) {
	if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
	else window.close();
}
//确定并获取数据
function onComfirm() {
	CloseWindow("ok");
}
//取消
function onCancel() {
	CloseWindow("cancel");
}
</script>