<!--summary begin-->
<div class="summary w96">
    <div class="pic flt">
    	<img src="__PLASTICPC__/img/pic1.jpg"/>
    	<div class="authen yes">V</div>
    </div>
    <div class="info-person flt">
    	<p class="name">张飞扬</p>
        <p>联系电话：13972885670</p>
        <p>
        	<span>发布供给（<b>94</b>）</span>
            <span>发布需求（<b>198</b>）</span>
        </p>
    </div>
    <div class="opt">
    	<!--<p class="opt1">关注</p>-->
        <p class="opt3">取消关注</p>
        <p class="opt2">发消息</p>
    </div>
</div>
<!--summary end-->
<!--company-info begin-->
<div class="company-info triangle w96" style="overflow:visible;">
    <ul class="flt">
    	<li>公司：上海中晨电子商务股份有限公司</li>
        <li>地址：上海市虹口区欧阳路568号庐迅大厦17楼</li>
        <li>主营牌号：LDPE,LLDPE,HDPE,1000S,7042</li>
    </ul>
    <div class="card frt"><img src="__PLASTICPC__/img/pic2.png"></div>
    <span class="point point1"></span>
</div>
<!--company-info end-->
<!--company-profile begin-->
<div class="company-profile w96">
	<p>公司简介：</p>
    <p>上海中晨电子商务股份有限公司创建于2007年4月，是一家以电子商务方式从事塑料原料分销的专业公司，公司以塑料原料分销业务为基础，建立塑化领域B2B电子商务平台“我的塑料网”，打造塑料一站式全产业链交易新模...</p>
    <span>显示更多</span>
</div>
<!--company-profile end-->
<!--buy begin-->
<div class="buy-sell buy w96">
	<div class="title">
    	<h3>求购信息</h3>
        <a href="javascript:;">查看更多>></a>
    </div>
    <ul>
    	<li>
        	<span>11-07 16：23</span>
            <p><b>求购</b>：价格9200.00元左右/62107/伊朗/青岛</p>
        </li>
        <li>
        	<span>11-07 16：23</span>
            <p><b>求购</b>：价格9200.00元左右/62107/伊朗/青岛</p>
        </li>
        <li>
        	<span>11-07 16：23</span>
            <p><b>求购</b>：价格9200.00元左右/62107/伊朗/青岛</p>
        </li>
    </ul>
</div>
<!--buy end-->
<!--buy begin-->
<div class="buy-sell sell w96">
	<div class="title">
    	<h3>供给信息</h3>
        <a href="javascript:;">查看更多>></a>
    </div>
    <ul>
    	<li>
        	<span>11-07 16：23</span>
            <p><b>求购</b>：价格9200.00元左右/62107/伊朗/青岛</p>
        </li>
        <li>
        	<span>11-07 16：23</span>
            <p><b>求购</b>：价格9200.00元左右/62107/伊朗/青岛</p>
        </li>
        <li>
        	<span>11-07 16：23</span>
            <p><b>求购</b>：价格9200.00元左右/62107/伊朗/青岛</p>
        </li>
    </ul>
</div>
<!--buy end-->
<script src="__PLASTICPC__/js/jquery-1.8.3.min.js"></script>
<script>
$(function(){
	var right = $(".right");
	$(".buy .title a").bind("click",function(){
		right.load("ta-buy.html");
	});
	
	$(".sell .title a").bind("click",function(){
		right.load("ta-sell.html");
	});
});
</script>
