<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>更换用户信息</title>
<link rel="stylesheet" type="text/css" href="__PLASTICPC__/style/style.css"/>
</head>

<body>
<!--change-person begin-->
<div class="change-person w96">
	<div class="pic flt">
    	<img src="__PLASTICPC__/img/pic1.jpg">
        <div class="change-pic"></div>
    </div>
    <!--change-info begin-->
    <div class="change-info flt">
    	<p class="name">张飞扬</p>
        <p class="company">上海中晨点在商务股份有限公司</p>
        <p class="mobile">13972885670</p>
        <p>
        	<span>发布供给：<b>88条</b></span>
            <span>发布求购：<b>88条</b></span>
        </p>
    </div>
    <!--change-info end-->
</div>
<!--change-person end-->
<!--edit begin-->
<div class="edit input-set border-wrap w96">
	<ul>
    	<li>
        	<p>地址：上海市虹口区欧阳路568号鲁迅大厦17楼</p>
            <span></span>
        </li>
        <li>
        	<p>性别：男</p>
        	<span></span>
        </li>
        <li class="last">
        	<p>主营牌号：HDPE、LDPE、LLDPE</p>
        	<span></span>
        </li>
    </ul>
</div>
<!--edit end-->
<!--edit begin-->
<div class="edit msg-set border-wrap w96">
	<ul>
    	<li><p>手机短信设置</p></li>
        <li>
        	<p>有人关注我，手机短信提示</p>
            <span></span>
        </li>
        <li class="last">
        	<p>有人回复我的供求，手机短信提醒</p>
            <span></span>
        </li>
    </ul>
</div>
<!--edit end-->
<!--upload-card begin-->
<div class="upload-card border-wrap w96">
	<div class="card flt"><img src="__PLASTICPC__/img/pic2.png" width="139" height="86"/></div>
    <div class="remark flt">
    	<p>通讯录排序：您目前通讯录排名第1340位，共867546名，按照粉丝数量、发布求购数量、发布供给数量进行排序。</p>
    </div>
</div>
<!--upload-card end-->
</body>
</html>
