<!--recommend-list begin-->
<div class="recommend-list">
<!--list begin-->
    <ul class="list">
    	<li>
        	<!--pic begin-->
        	<div class="pic flt">
            	<img src="__PLASTICPC__/img/pic4.jpg"/>
            	<div class="authen yes">V</div>
            </div>
            <!--pic end-->
            <!--info begin-->
            <div class="info flt">
            	<p class="company">上海中晨电子商务股份有限公司</p>
                <p>
                	<span class="name">张飞扬</span>
                    <span class="mobile">13972885670</span>
                </p>
                <p>
                	<span>发布供给：<b>88条</b></span>
                    <span>发布求购：<b>88条</b></span>
                </p>
            </div>
            <!--info end-->
        </li>
        <li>
        	<!--pic begin-->
        	<div class="pic flt">
            	<img src="__PLASTICPC__/img/pic4.jpg"/>
            	<div class="authen no">V</div>
            </div>
            <!--pic end-->
            <!--info begin-->
            <div class="info flt">
            	<p class="company">上海中晨电子商务股份有限公司</p>
                <p>
                	<span class="name">张飞扬</span>
                    <span class="mobile">13972885670</span>
                </p>
                <p>
                	<span>发布供给：<b>88条</b></span>
                    <span>发布求购：<b>88条</b></span>
                </p>
            </div>
            <!--info end-->
        </li>
        <li>
        	<!--pic begin-->
        	<div class="pic flt">
            	<img src="__PLASTICPC__/img/pic4.jpg"/>
            	<div class="authen yes">V</div>
            </div>
            <!--pic end-->
            <!--info begin-->
            <div class="info flt">
            	<p class="company">上海中晨电子商务股份有限公司</p>
                <p>
                	<span class="name">张飞扬</span>
                    <span class="mobile">13972885670</span>
                </p>
                <p>
                	<span>发布供给：<b>88条</b></span>
                    <span>发布求购：<b>88条</b></span>
                </p>
            </div>
            <!--info end-->
        </li>
        <li>
        	<!--pic begin-->
        	<div class="pic flt">
            	<img src="__PLASTICPC__/img/pic4.jpg"/>
            	<div class="authen yes">V</div>
            </div>
            <!--pic end-->
            <!--info begin-->
            <div class="info flt">
            	<p class="company">上海中晨电子商务股份有限公司</p>
                <p>
                	<span class="name">张飞扬</span>
                    <span class="mobile">13972885670</span>
                </p>
                <p>
                	<span>发布供给：<b>88条</b></span>
                    <span>发布求购：<b>88条</b></span>
                </p>
            </div>
            <!--info end-->
        </li>
        <li>
        	<!--pic begin-->
        	<div class="pic flt">
            	<img src="__PLASTICPC__/img/pic4.jpg"/>
            	<div class="authen yes">V</div>
            </div>
            <!--pic end-->
            <!--info begin-->
            <div class="info flt">
            	<p class="company">上海中晨电子商务股份有限公司</p>
                <p>
                	<span class="name">张飞扬</span>
                    <span class="mobile">13972885670</span>
                </p>
                <p>
                	<span>发布供给：<b>88条</b></span>
                    <span>发布求购：<b>88条</b></span>
                </p>
            </div>
            <!--info end-->
        </li>
        <li>
        	<!--pic begin-->
        	<div class="pic flt">
            	<img src="__PLASTICPC__/img/pic4.jpg"/>
            	<div class="authen yes">V</div>
            </div>
            <!--pic end-->
            <!--info begin-->
            <div class="info flt">
            	<p class="company">上海中晨电子商务股份有限公司</p>
                <p>
                	<span class="name">张飞扬</span>
                    <span class="mobile">13972885670</span>
                </p>
                <p>
                	<span>发布供给：<b>88条</b></span>
                    <span>发布求购：<b>88条</b></span>
                </p>
            </div>
            <!--info end-->
        </li>
    </ul>
    <!--list end-->
</div>
<!--recommend-list end-->
