<!--back begin-->
<div class="back back-reg-detail"><a href="javascript:;"></a>完善注册信息</div>
<!--back end-->
<!--reg begin-->
<div class="form-wrap reg">
	<form name="" method="post" action="">
        <div class="form-tr">
            <div class="name name-text">公司名称</div>
            <div class="val val-text"><input type="text" placeholder="请输入公司名称"/></div>
        </div>
        <div class="form-tr">
            <div class="name name-text">姓<span></span>名</div>
            <div class="val val-text"><input type="password" placeholder="请输入姓名"/></div>
        </div>
         <div class="form-tr">
            <div class="name name-text">性<span></span>别</div>
            <div class="radio">
            	<input type="radio" name="sex" id="male" checked="checked"><label for="male">男</label>
                <input type="radio" name="sex" id="female"><label for="female">女</label>
            </div>
        </div>
        <div class="form-tr">
            <div class="name name-text">公司地址</div>
            <div class="val val-text"><input type="text" placeholder="请输入公司地址"/></div>
        </div>
        <div class="form-tr">
            <input type="button" class="btn btn1" value="确定"/>
        </div>
    </form>
</div>
<!--reg end-->
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/default.js"></script>
