{layout file="public:mini_layout"}
<div style="padding:5px;">
	  <div title="基本信息" class="form" id="editForm">
		<form method="post"  id="setform"  onSubmit="return myCheck()" name='form1'>
		<table width="100%" border="0" cellpadding="1" cellspacing="2">
			<tr>
				<td>客户名称：<input name="catname" class="mini-textbox" style="width:150px" required="true"/ value="{$c_name}" >&nbsp;
				总分：<input name="credit_sum" class="mini-textbox" id="sum2" value="" allowInput="false" style="width:40px;"/></td>
				<td>
				</td>
				<input type="hidden" name='customer_id' value="{$cuslist.customer_id}"/>

				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
				{foreach from=$list item=value}                
                <tr>                    
                    <td>
                        {$value.html}{$value.name} 
                        {if $value.pid eq 0}
                        	<!-- <input type="hidden" name="cat{$value.id}" value="{$value.grade}"/> -->
                        {else}
                        {foreach from=$cuslist key=key2 item=value2}
                        {if $key2 eq $value.str_id}
                        	<input type="number" name="str_id{$value.id}" min="0" max="{$value.grade}" step="0.5" value="{$value2}" style="width:50px" required="true" autocomplete='on' onfocus=this.select() onblur="inputSum(this.value)">限额:【{$value.grade}分】&nbsp; 说明：{$value.remark}
                    	{/if}
                        {/foreach} 
                        {/if}                         
                    </td>                    
                </tr>                	
          		{/foreach}
          
			<tr>
				<td>备注:<input name="remark" class="mini-textarea" style="width:200px" required="true"/ value="{$remark}"></td>
				<td></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			</table>
			</form>
			</div>
			<div align="center" style="margin-top:10px;">
				<a class="mini-button" iconcls="icon-ok" onclick="submitForm">确定</a>
				<a class="mini-button" iconcls="icon-cancel" onclick="onCancel">关闭</a><span id="returnMsg" style="padding-left:5px; color:#F00;"></span>
			</div>
</div>
<script type="text/javascript">
mini.parse();
function submitForm(){
	for(var i=0;i<document.form1.elements.length-1;i++)  
               {  
                  if(document.form1.elements[i].value=="")  
                  {  
                  	 alert("当前表单不能有空项");  
                  		//  grid.unmask();
						 // alert(data.msg);
						  //return false;
                    
             //一进入页面将光标定位到第一个input  
                     //document.form1.elements[i].focus();  
                     //return false;  
                     die;
                  }  
               }  
               //return true;  
	//var params = $("#setform").serialize();
	//var data = $('#setform').serializeArray();
            //console.log(data);
	//console.log(params);
	
//var data = $('#setform').serializeArray();
	var admInfo = mini.get("editForm");

	var data=JSON.stringify( $('#setform').serializeObject()  )  ;
 	var jsonObj = JSON.parse(data);  
		$.ajax({  //json对象
		url:'/user/customercredit2/ajaxSave?action=edit',
		data:jsonObj,
		type:'post',
		dataType:'json',
		success:function(){
	  				//admInfo.hide();
	  				CloseWindow('save');
	  			},  
		error:function(e){alert(e)}  
		});
}

function CloseWindow(action) {
  if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
  else window.close();
}

function inputSum(e){
	var sum=0;
	var test = document.getElementById('setform');
    var inputs = test.getElementsByTagName('input');
    var sum = 0;
    console.log(inputs);
    console.log(inputs.length);
    for(var i = 5; i < inputs.length; i++) {
    	console.log(inputs[i].value);
    	console.log('取整后的值');
    	
    	var ab=inputs[i].value;
    	ab=parseFloat(ab);

    	// if(!isNaN(ab)){
    	// 	console.log(ab);
    	// }
    	//console.log(ab);

    	if(ab==null||ab==''||isNaN(ab)){
    		continue;
    	}else{
    		sum +=ab;
        	console.log('sum:');
    		console.log(sum);
    		console.log(ab);
    	}
        
    }
    
	//$("#spanSum")[0].innerHTML=sum+'分';
	//$("#sum2").val(sum);
	 var t = mini.get("sum2");
	 		//t.setValue();
            t.setValue(sum);
}

inputSum();

function CloseWindow(action) {
  if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
  else window.close();
}
function onCancel(e) {
  CloseWindow("cancel");
}

</script>