{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
	<table style="width:100%;">
		<tr>
			<td>
				<form id="overForm">
					会员过期预警：
					<input name="sale_name" id="sale_name" class="mini-textbox" emptyText="请输入销售员名字" style="width:120px;" onenter="onKeyEnter2"/>
					<a class="mini-button" iconCls="icon-search" onclick="overdueSearch()">查询</a>
				</form>
			</td>
			<td style="float:right;">
				<form id="soform">
					日期查询：&ensp; 
					<select name="sTime">
						<option value="opening_date">开通日期</option>
						<option value="closing_date">截止日期</option>
					</select>
					<input name="startTime" class="mini-datepicker" style="width:100px;"/> -
					<input name="endTime" class="mini-datepicker" style="width:100px;"/>
					&ensp;&ensp;类型查询：
					<select name="key_type">
						<option value="name">联系人</option>
						<option value="c_id">公司</option>
						<option value="mobile">手机号</option>
					</select>
					<input name="keyword" class="mini-textbox" emptyText="请输入关键词" style="width:140px;" onenter="onKeyEnter"/>
					&ensp;
					<a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
					<span id="searchMsg"></span>					
				</form>
			</td>
		</tr>
	</table>
</div>
<div class="mini-fit" style="padding:1px 3px 3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20" allowCellWrap="true"
		url="/user/headline/lst?action=grid" onrowdblclick="onRowDblClick" showFilterRow="true" idField="id" multiSelect="true" allowCellSelect="true" allowCellEdit="true"  contextMenu="#gridMenu" headerContextMenu="#headerMenu">
		<div property="columns">
			<div type="checkcolumn"></div>
			<div field="user_id" width="30" headerAlign="center" renderer="onLoadHandle" align="center">联系人ID</div>
			<div field="name" width="30" headerAlign="center" align="center">联系人</div>
			<div field="c_name" width="80" headerAlign="center" align="center">公司</div>
			<div field="sex" width="30" headerAlign="center"  align="center">性别</div>
			<div field="mobile" width="50" headerAlign="center" align="center">手机号</div>
			<div field="qq" width="50" headerAlign="center" align="center">qq号</div>
			<div field="visit_count" width="30" headerAlign="center" align="center" allowSort="true">登录次</div>
			<!-- <div field="sale_name" width="50" headerAlign="center" align="center" renderer="onManager">最新会员经办人</div>
 -->			<div field="opening_date" width="60" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" align="center" allowSort="true">最新操作日期</div>
			<!-- <div field="closing_date" width="80" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" align="center">会员截止日期</div> -->
			<div field="headline_vip" width="40" headerAlign="center" renderer="onStatus" align="center">状态</div>
			<div name="action" width="80" headerAlign="center" align="center" cellStyle="padding:0;" renderer="onOperate">操作</div>
		</div>
	</div>
</div>
<div id="open_member" class="mini-window" title="开通会员" style="width:800px; height:200px;" showModal="true" allowResize="true" allowDrag="true">
	<div id="replaceForm" class="form" >
		<table style="width:100%;">
			<input id="user_id" class="mini-hidden" name="user_id">
			<tr>
				<td width="80">开通类型</td>
				<td>
					<input name="cate_id" vtype="int" class="mini-checkboxlist" textField="textField" valueField="valueField" data='{:json_encode|$cate}' required="true" />
				</td>
			</tr>
			<tr>
				<td>开通时间:</td>
				<td>
					<input name="year_num" width="80" class="mini-spinner"  minValue="1" maxValue="30"/>&ensp;/年
				</td>
			</tr>
			<tr>
				<td>会员经办人:</td>
				<td>
					<input name="sale_name" width="80" class="mini-textbox" required="true" value="" />
					
				</td>
			</tr>
			<tr>
			<td style="text-align:center;padding-top:20px;" colspan="2">
				<a class="mini-button" iconCls="icon-save" plain="true" href="javascript:submitMember()">提交</a>
			</td>
			</tr>
		</table>
	</div>
</div>
<div id="del_member" class="mini-window" title="删除会员" style="width:600px; height:260px;" showModal="true" allowResize="true" allowDrag="true">
	<div id="delForm" class="form" >
		<table style="width:100%;">
			<input id="uid" class="mini-hidden" name="user_id">
			<tr>
				<td width="100">删除方式：</td>
				<td  style="text-align:left;">
					<input id="del_type" name="type" vtype="int" class="mini-radiobuttonlist" required="true"  onvaluechanged="delChange()"  textField="name" valueField="sid" data='[{"sid":"2","name":"一键删除"},{"sid":"4","name":"分类删除"}]' width="180" />
				</td>
			</tr>
			<tr height="10" class="del_hidden" style="display:none;"></tr>
			<tr class="del_hidden" style="display:none;">
				<td>删除分类：</td>
				<td>
					<input name="cate_id" id="cate_id" vtype="int" class="mini-checkboxlist" textField="textField" valueField="valueField" data='{:json_encode|$cate}' required="true" />
				</td>
			</tr>
			<tr height="15"></tr>			
			<tr>
				<td>操作人：</td>
				<td>
					<input name="sale_name" width="100" class="mini-textbox" required="true" value="" />
				</td>
			</tr>
			<tr height="10"></tr>
			<tr>
				<td colspan="2" id="del_text" style="text-align:center; color:red;"></td>
			</tr>
			<tr>
			<td style="text-align:center;padding-top:20px;" colspan="2">
				<a class="mini-button" iconCls="icon-save" plain="true" href="javascript:sdelMember()">删除</a>
			</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
search();
function onKeyEnter(e) {
	search();
}
function download() {
	$("#soform").submit();
}

//编辑联系人
function onLoadHandle(e) {
	var record = e.record,uid=record.user_id, s='';
	s += '<a href="javascript:viewContactInfo('+uid+')">'+uid+'</a> ';

	return s;
}
//显示会员状态
function onStatus(e){
	var record = e.record,vip=record.headline_vip, s='';
	if (vip==1) {
		s += '已开通';
	}else{
		s += '未开通';
	}
	return s;
}
//是否是会员进行对应操作
function onOperate(e){
	var record = e.record,userid=record.user_id,vip=record.headline_vip,s='';
	if (vip == 1) {
		s += '<a href="javascript:openMember('+userid+')">续费会员</a> | <a href="javascript:memberViewflow('+userid+')">操作记录</a> | <a href="javascript:delMember('+userid+')">删除会员</a>';	
	}else{
		s += '<a href="javascript:openMember('+userid+')">开通会员</a>';
	}
	return s;
}

//会员经办人显示
function onManager(e){
	var record = e.record,manager=record.sale_name, s='';
	if (manager=='') {
		s += '无';
	}else{
		s += manager;
	}
	return s;
}
//双击弹窗查看客户信息
function onRowDblClick(e) {
	var record = e.record,uid=record.user_id, s='';
	editContact(uid);
}
//编辑客户信息
function editContact(uid){
	var row = grid.getSelected();
	if (row) {
		var width=525,height=340,title='用户信息';
		urlStr="/user/user/info?id="+uid;
		mini.open({
			url: urlStr,
			title: title, width: width, height:height,
			ondestroy: function (action) {
				if(action=='save'){ //重新加载
					grid.reload();
				}
			}
		});
	}
}
//会员开通窗口
var open_member = mini.get("open_member");
var form = new mini.Form("#replaceForm");
//开通会员
function openMember(userid){
	mini.get(user_id).setValue(userid);
	open_member.show();
}
//提交会员开通信息
function submitMember(){
	form.validate();
	if (form.isValid() == false) return;
	var o = form.getData();
	grid.loading("数据提交中，请稍后......");
	var json = mini.encode(o);
	var callback=function(data){
		if(data.err!='0'){
			grid.unmask();
			alert(data.msg);
			return false;
		}else{
			form.clear();
			grid.reload();
			open_member.hide();
		}
	}
	utils.ajax('/user/headline/addMember',{data:json},callback,"POST","json");
}
//会员操作流程查看
function memberViewflow(userid){
	var width=1200, height=400,title="会员操作记录";
	mini.open({
		url: "/user/headline/memberViewflow?userid="+userid,
		allowResize:true,
		showMaxButton:true,
		title: title,
		width: width, 
		height:height,
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});	
}
//会员删除窗口
var del_member = mini.get("del_member");
var form2 = new mini.Form("#delForm");
//删除会员操作
function delMember(userid){
	form2.clear();
	$.post('/user/headline/getCateId', {user_id: userid}, function(data) {
		if (data.err==1) {
			mini.get(cate_id).setValue(data.val);
		}else{
			mini.alert(data.msg);
			form2.clear();
		}
	},'json');
	mini.get(uid).setValue(userid);
	del_member.show();	
}
//删除选择切换
function delChange(){
	var id=mini.get('del_type').getValue();
	if(id == 2){
		$('#del_text').html('提示：一键删除是把该客户开通的所有分类一键清空！');
		$('.del_hidden').hide();
	}else{
		$('#del_text').html('提示：分类删除是把该客户开通的分类进行选择性删除！对勾表示客户已开通的分类。');
		$('.del_hidden').show();
	}
}
//提交会员开通信息
function sdelMember(){
	form2.validate();
	if (form2.isValid() == false) return;
	var o = form2.getData();
	grid.loading("数据提交中，请稍后......");
	var json = mini.encode(o);
	var callback=function(data){
		if(data.err!='0'){
			grid.unmask();
			alert(data.msg);
			return false;
		}else{
			form2.clear();
			grid.reload();
			del_member.hide();
		}
	}
	utils.ajax('/user/headline/delMember',{data:json},callback,"POST","json");
}
function onKeyEnter2(){
	overdueSearch();
}
//会员过期预警搜索
function overdueSearch(){
	var name=mini.get('sale_name').getValue();
	if(name==''){alert('请先输入销售员名字！');return;}
	var width=1243, height=400,title="会员过期预警";
	mini.open({
		url: "/user/headline/warningMember?name="+name,
		allowResize:true,
		showMaxButton:true,
		title: title,
		width: width, 
		height:height,
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});
}
</script>