{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
	<table style="width:100%;">
		<tr>
			<td style="float:right;">
				<form id="soform">
					录入时间：
					<input name="startTime" class="mini-datepicker" style="width:100px;"/> -
					<input name="endTime" class="mini-datepicker" style="width:100px;"/>
					销售员名字：
					<input name="keyword" class="mini-textbox" emptyText="请输入名字" style="width:140px;" onenter="onKeyEnter"/>   
					<a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
					<span id="searchMsg"></span>
				</form>
			</td>
		</tr>
	</table>           
</div>
<div class="mini-fit" style="padding:1px 3px 3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20" allowCellWrap="true"
		url="/user/headline/memberList?action=grid" onrowdblclick="onRowDblClick" showFilterRow="true" idField="id" multiSelect="true" allowCellSelect="true" allowCellEdit="true"  contextMenu="#gridMenu" headerContextMenu="#headerMenu">
		<div property="columns">
			<div type="checkcolumn"></div>
			<div field="c_name" width="30" headerAlign="center" align="center">联系人</div>
			<div field="mobile" width="50" headerAlign="center" align="center">手机号</div>
			<div field="sale_name" width="50" headerAlign="center" align="center">销售人</div>
			<div field="type" width="40" headerAlign="center" align="center" renderer="onStatus">操作类型</div>
			<div field="year_num" width="50" headerAlign="center" align="center">年数</div>
			<div field="cate_name" width="50" headerAlign="center" align="center">类目</div>
			<div field="start_time" width="60" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" align="center" allowSort="true">开始时间</div>
			<div field="end_time" width="60" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" align="center" allowSort="true">结束时间</div>
			<div field="input_time" width="60" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" align="center" allowSort="true">操作时间</div>
		</div>
	</div>
</div>
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
//显示会员状态
function onStatus(e){
	var record = e.record,type=record.type, s='';
	if (type==1) {s += '开通会员';}else if (type==2) {s += '一键清空';}else if (type==3) {s += '续费会员';}else{s += '分类删除';};
	return s;
}
function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
search();
function onKeyEnter(e) {
	search();
}
</script>