{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
    <table style="width:100%;">
        <tr>
            <td style="white-space:nowrap;">
            <form id="soform">
     
            	<select name="key_type">
                    <option value="user_id">用户ID</option>
                    <option value="user_name">用户姓名</option>
                    <option value="mobile">手机号</option>
                </select>       
                <input name="keyword" class="mini-textbox" emptyText="请输入关键词" style="width:140px;" onenter="onKeyEnter"/>   
                <a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
                        <span id="searchMsg"></span></form>
            </td>
        </tr>
    </table>           
</div>

<div class="mini-fit" style="padding:1px 3px 3px;">
    <div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20"
        url="/user/feedback/init?action=grid" onrowdblclick="onRowDblClick"
        showFilterRow="true" idField="id"
        >
        <div property="columns">    
          <div field="id" width="20" headerAlign="center" align="right">ID</div>
          <div field="user_id" width="60" headerAlign="center" allowSort="true" align="center" renderer="onLoadUinfo">用户ID</div>
          <div field="user_name" width="60" headerAlign="center" allowSort="true" align="center">姓名</div>
		  <div field="sex" width="60" headerAlign="center" allowSort="true" align="center">称谓</div>
		  <div field="msg_type" width="60" headerAlign="center" allowSort="true" align="center">留言类型</div>
		  <div field="message" width="60" headerAlign="center" allowSort="true" align="center">留言内容</div>
          <div field="img_url" width="30" headerAlign="center" allowSort="true" align="center" renderer="onLoadShowPic">问题截图</div>
		  <div field="reply_way" width="60" headerAlign="center" allowSort="true" align="center">留言回复方式</div>
          <div field="email" width="60" headerAlign="center" allowSort="true" align="center">邮箱</div>
          <div field="mobile" width="60" headerAlign="center" allowSort="true" align="center">手机号码</div>
          <div field="reply_time" width="60" headerAlign="center" allowSort="true" align="center">指定回访时间</div>
		  <div field="status" width="60" headerAlign="center" allowSort="true" align="center">留言处理状态</div>
          <div field="input_time" width="110" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm:ss" allowSort="true" align="center">留言时间</div>
          <div name="action" width="80" headerAlign="center" align="right" renderer="onLoadHandle">操作</div>
        </div>
    </div>
</div>

<div id="picShow" style="display:none;"></div>

<div id="emailInfo" class="mini-window" title="发送邮件" style="width:250px;" 
    showModal="true" allowResize="true" allowDrag="true"
    >
    <div id="addForm" class="form" >
        <table style="width:100%;">
        	<input class="mini-hidden" name="user_id"/>
            <input class="mini-hidden" name="email"/>
            <input class="mini-hidden" name="user_name"/>
            <tr>
                <td style="width:70px;">邮件：</td>
                <td id="emailto"></td>
            </tr>
            <tr>
                <td>标题：</td>
                <td><input name="title" class="mini-textbox" style="width:180px;" required="true"/></td>
            </tr>
            <tr>
                <td>内容：</td>
                <td><input name="comments" class="mini-textarea" style="width:180px;"/></td>
            </tr>
          <tr>
              <td style="text-align:right;padding-top:5px;padding-right:20px;" colspan="2">
                 <a class="mini-button" iconCls="icon-save" plain="true" href="javascript:submitForm()">发送</a>
              </td>                
          </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
grid.load();

function onRowDblClick(e) {
	view();
}
function view(){
	var row = grid.getSelected();
	if (row) {
		var width=900,height=500,title='留言信息';
		mini.open({
			url: "/user/feedback/view?id="+row.id,
			showMaxButton:true,
			title: title, width: width, height:height
			
		});	
	}
}
//追加查看按钮
function onLoadHandle(e) {
	var record = e.record, s='';
	if(String(record.reply_way)=='邮件回复'){
		//s += '<a href="mailto:'+record.email+'">发送邮件</a> ';
		s += '<a href="javascript:sendMail()">发送邮件</a> ';
	}
	if(String(record.reply_way)!='无需回复'){
		s += '<a href="javascript:apply()">审核</a> ';
	}
	
	return s;
}

function apply(){
    var row = grid.getSelected();
	var id = row.id;
	if(id=='') return;
	
	var width=612,height=500,title='留言审核';
	mini.open({
		url: "/user/feedback/apply?id="+id,
		showMaxButton:true,
		title: title, width: width, height:height,
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});
}

function onLoadShowPic(e) {
	var record = e.record, s='';

	if(record.img_url==null || record.img_url==""){
		
	}else{
		s += '<a href="" onmouseover="showPic(\'__UPLOAD__/'+record.img_url+'\',this);" onmouseout="hidePic();">截图</a> ';
	}
	return s;
}

function showPic(url,obj){
	var width = $(window).innerWidth();
	var left = $(obj).offset().left;
	var top = $(obj).offset().top;
	if(width-left<380){
		left = left -370 +$(obj).width();
	}
	$('#picShow').show().css({"top":top+20+"px","left":left-10+"px","position":"absolute"}).html('<img width="380px" src="'+url+'" />');
}
function hidePic(){
	$('#picShow').hide();
}

//提交数据
var form = new mini.Form("#addForm");
var emailInfo = mini.get("emailInfo");
function sendMail() {
	var row = grid.getSelected();
	if (row) {
		mini.getbyName('user_id').setValue(row.user_id);	
		$("#emailto").html(row.email);
		mini.getbyName('email').setValue(row.email);
		mini.getbyName('user_name').setValue(row.user_name);
		mini.getbyName('title').setValue(row.title);
		mini.getbyName('comments').setValue(row.comments);
		emailInfo.show();
	}
}

//提交发送邮件
function submitForm() {
	form.validate();
	if (form.isValid() == false) return;
	
	var o = form.getData();
	grid.loading("数据提交中，请稍后......");
	var json = mini.encode(o);

	var callback=function(data){
		if(data.err!='0'){
			grid.unmask();
			alert(data.msg);
			return false;
		}else{
			grid.reload();
			emailInfo.hide(); 
		}
	}
	utils.ajax('/user/feedback/sendEmail',{data:json},callback,"POST","json");
}
</script>