{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
<style>table p{padding:0; margin:0; padding-top:3px;}</style>
    <table style="width:100%;">
        <tr>
            <td style="white-space:nowrap;">
            <form id="soform">
            	<select name="type">
            		<option value="">选择类型</option>
                    <option value="invest">投资奖励</option>
                    <option value="stock">配资奖励</option>
                </select>
            	<select name="key_type">
                    <option value="mobile">手机号</option>
                    <option value="user_id">会员ID</option>
                </select>
                <input name="keyword" class="mini-textbox" emptyText="请输入关键词" style="width:140px;" onenter="onKeyEnter"/>  
                <a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
                 <span id="searchMsg"></span>
               </form>
            </td>
        </tr>
    </table>           
</div>

<div class="mini-fit" style="padding:1px 3px 3px;">
    <div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20"
        url="/user/rfwhitelist/init?action=grid" idField="user_id" multiSelect="true" allowCellEdit="true" allowCellSelect="true" contextMenu="#gridMenu">
        <div property="columns">    
            <div field="type" width="60" headerAlign="center" renderer="onLoadType">推荐类型</div>
			<div name="user_id" width="50" headerAlign="center" renderer="onLoadUinfo">用户ID</div>
            <div field="mobile" width="60" headerAlign="center">手机</div>
            <div field="real_name" width="60" headerAlign="center">姓名</div>
            <div field="reward_num" width="60" headerAlign="center">奖励次数</div>
            <div field="reward_account" width="60" headerAlign="center">奖励总金额</div>
            <div field="input_time" width="90" headerAlign="center" dateFormat="yy-MM-dd HH:mm" align="center">设置时间</div>
            <div field="operator" width="50" headerAlign="center" allowSort="true" align="center">操作员</div>
        </div>
    </div>
    <ul id="gridMenu" class="mini-contextmenu" onbeforeopen="onBeforeOpen">
    	<li name="edit" iconCls="icon-edit" onclick="onEdit">编辑</li>         
        <li name="remove" iconCls="icon-remove" onclick="onRemove">删除</li>  
    </ul>
</div>

<script type="text/javascript">
var types = {invest:"投资奖励",stock:'配资奖励'};

mini.parse();
var grid = mini.get("gridCell");
grid.load();

function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
function onKeyEnter(e) {
	search();
}

function onLoadType(e){
	return e.value.split(',').map(function(v){return types[v];});
}

function onBeforeOpen(e) {
	var grid = mini.get("gridCell");
	var menu = e.sender;
		
	var row = grid.getSelected();
	var rowIndex = grid.indexOf(row);            
	if (!row) {
		e.cancel = true;
		//阻止浏览器默认右键菜单
		e.htmlEvent.preventDefault();
		return;
	}

}

function onEdit(){
	var row = grid.getSelected();
	if (row) {
		mini.showMessageBox({
			title: "设置推荐白名单",
			buttons: ["ok", "cancel"],
			html: '<div id="form-rfwhitelist" style="padding:10px 30px">\
					<input type="hidden" name="user_id" value="'+row.user_id+'" />\
					<p><label> <input name="type[]" value="invest" type="checkbox"'+(row.type.indexOf('invest')>-1?' checked':'')+' /><strong>投资奖励</strong></label></p>\
					<p><label> <input name="type[]" value="stock" type="checkbox"'+(row.type.indexOf('stock')>-1?' checked':'')+' /><strong>配资奖励</strong></label></p>\
				  </div>'
				 ,
			callback: function (action) {
				if(action=='ok'){
					$.post('/user/rfwhitelist/edit',$("#form-rfwhitelist input").serialize(),function(ret){
						alert(ret.msg);
						grid.reload();
					},'json');
				}
			}
		});
	}
}

function onRemove(e) {
	var row = grid.getSelected();
	if (row) {
		var ids=row.user_id;
		if(ids=='') return;
		
		mini.confirm("确定把此用户从推荐白名单删除？", "提示",	function(action){
				if(action!='ok') return;
				var callback=function(data){
					if(data.err!='0'){
						alert(data.msg)
						return false;
					}else{
						alert(data.msg)
						grid.reload();
					}
				}
				utils.ajax('/user/rfwhitelist/delete',{ids:ids},callback,"POST","json");
			}
		);
	}   
}
</script>