{layout file="public:mini_layout"}

<div class="mini-tabs" activeIndex="0"  style="width:100%;height:auto;">
    <div title="基本信息">
        <table width="100%">
            <caption><strong>用户信息</strong></caption>
            <tr>
                <td style="width:100px;">手机号：</td>
                <td>{$info.mobile}</td>
            </tr>
            <tr>
                <td>真实姓名：</td>
                <td>{$info.real_name}</td>
            </tr>
            <tr>
                <td>性别：</td>
                <td>{$info.sex}</td>
            </tr>
            <tr>
                <td>QQ：</td>
                <td>{$info.qq}</td>
            </tr>
            <tr>
                <td>电话：</td>
                <td>{$info.telephone}</td>
            </tr>
            <tr>
                <td>email：</td>
                <td>{$info.email}</td>
            </tr>
        </table>
        <table width="100%">
            <caption><strong>系统信息</strong></caption>
            <tr>
                <td>状态：</td>
                <td>{$info.status}</td>
                <td>锁定时间：</td>
                <td>{$info.login_unlock_time}</td>
            </tr>
            <tr>
                <td>注册时间：</td>
                <td>{$info.reg_time|date:Y-m-d H:i:s}</td>
                <td>注册IP：</td>
                <td>{$info.reg_ip}</td>
            </tr>
            <tr>
                <td>IP地址：</td>
                <td>{$info.ip_address}</td>
                <td>注册来源：</td>
                <td>{$info.ref}</td>
            </tr>
            <tr>
                <td>最后修改时间：</td>
                <td>{$info.last_edit|date:Y-m-d H:i:s}</td>
                <td>最后操作人：</td>
                <td>{$info.last_admin}</td>
            </tr>
            <tr>
                <td>最后登录时间：</td>
                <td>{$info.last_login|date:Y-m-d H:i:s}</td>
                <td>登录IP：</td>
                <td>{$info.last_ip}</td>
            </tr>
            <tr>
                <td>登录次数：</td>
                <td>{$info.visit_count}</td>
                <td>登录失败次数：</td>
                <td>{$info.login_fail_count}</td>
            </tr>
            <tr>
                <td>登录渠道：</td>
                <td>{$info.chanel}</td>
            </tr>
        </table>

    </div>
    <div title="所属公司">
        <table width="100%">
          <caption><strong>基本信息</strong></caption>
          <tr>
            <td style="width:100px;">客户名称：</td>
            <td>
              {$company.c_name}
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>法人姓名：</td>
            <td>
                {$company.legal_person}
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>法人身份证：</td>
            <td>{$company.legal_idcard}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>身份证照片：</td>
            <td colspan="3">
              {$company.legal_idcard_pic}
            </td>
          </tr>
          <tr>
            <td>所需牌号：</td>
            <td>{$company.need_product}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>所在省市</td>
            <td>
                
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>邮政编码：</td>
            <td>
                {$company.zip}
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>成立日期：</td>
            <td>
                {$company.fund_date}
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>注册资本：</td>
            <td>
                {$company.registered_capital|default:}万
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>公司地址：</td>
            <td>{$company.address}</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table width="100%;">
          <caption><strong>扩展信息</strong></caption>
          <tr>
            <td style="width:100px;">客户类型：</td>
            <td>{$company.type}</td>
          </tr>
          <tr>
            <td>客户级别：</td>
            <td>{$company.level}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>客户渠道：</td>
            <td>{$company.chanel}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>营业执照号：</td>
            <td>{$company.business_licence}
            </td>
            <td>执照照片：</td>
            <td>
                {$company.business_licence_pic}
            </td>
          </tr>
          <tr>
            <td>组织代码：</td>
            <td>{$company.organization_code}
            </td>
            <td>组织图片：</td>
            <td>
                {$company.organization_pic}
            </td>
          </tr>
          <tr>
            <td>税务登记码：</td>
            <td>{$company.tax_registration}
            </td>
            <td>税务图片：</td>
            <td>
                {$company.tax_registration_pic}
            </td>
          </tr>
          <tr>
            <td>信用等级：</td>
            <td>{$company.credit_level}
            </td>
            <td>附件地址：</td>  
            <td>
                {$company.file_url}
            </td>
          </tr>
          <tr>
            <td>状态：</td>
            <td>{$company.status|default:}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
mini.parse();
</script>
