<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商城报价</title>
<link rel="stylesheet" type="text/css" href="__CSS__/home/common.css"/>
<script type="text/javascript" src="__JS__/home/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__JS__/home/layer-v1.8.5/layer.min.js"></script>
<script type="text/javascript" src="__JS__/home/common.js"></script>
</head>
<body>
<!--top begin-->
<div class="top color9 link9">
    <div class="w1220">
        <!--top-lt begin-->
        <ul class="top-lt flt">
            <li>欢迎光临我的塑料网！</li>
            <li class="collect"><a href="javascript:;">收藏本站</a></li>
            <li class="blog"><a href="javascript:;">官方微博</a></li>
        </ul>
        <!--top-lt end-->
        <!--top-rt begin-->
        <ul class="top-rt frt">
            {if $smarty.session.userid > 0 }
            <li><a href="/user">{$smarty.session.uinfo.name} 个人中心</a></li>
            <li class="login"><a href="/user/logout">退出登录</a></li>
            {else}
            <li class="login"><a href="/user/login">您好，请登录</a></li>
            <li><a href="/user/register">免费注册</a></li>
            {/if}
            <!-- <li class="app"><a href="javascript:;">手机网站</a></li> -->
            <li><a href="javascript:;">常见问题</a></li>
            <li><a href="javascript:;">联系我们</a></li>
            <li><a href="javascript:;">意见反馈</a></li>
            <li class="lang"><a href="javascript:;">中文</a> | <a href="javascript:;">EN</a></li>
        </ul>
        <!--top-rt end-->
    </div>
</div>
<!--top end-->
<!--header begin-->
<div class="header">
    <div class="logo flt"><a href="/"><img src="img/logo.png" width="241" height="44"/></a></div>
    <!--nav begin-->
    <ul class="nav link3 flt">
        <li><a href="/offers">商城报价</a></li>
        <li><a href="/client">大户报价</a></li>
        <li><a href="/purchase">采购单</a></li>
        <li><a href="/resource">资源库</a></li>
        <li><a href="/ship">物流专区</a></li>
        <li><a href="javascript:;">供应链金融</a></li>
        <li><a href="/physical">物性表</a></li>
        <li><a href="/article">塑料头条</a></li>
        <li><a href="/pointshop">积分商城</a></li>
    </ul>
    <!--nav end-->
    <div class="download frt"><a href="/page/mdownload">手机客户端</a></div>
</div>
<!--header end-->

{__CONTENT__}

<!--footer begin-->
<div class="footer">
    <div class="w1220">
        <!--left begin-->
        <div class="left link3 flt">
            <ul>
                <li>
                    <h4>我要买塑料</h4>
                    <p><a href="javascript:;">如何委托交易</a></p>
                    <p><a href="javascript:;">如何自己找贷</a></p>
                    <p><a href="javascript:;">如何查看采购单状态</a></p>
                </li>
                <li>
                    <h4>我要卖塑料</h4>
                    <p><a href="javascript:;">如何发布报价单</a></p>
                    <p><a href="javascript:;">如何批量发布报价</a></p>
                    <p><a href="javascript:;">如何报价采购信息</a></p>
                </li>
                <li>
                    <h4>常见问题</h4>
                    <p><a href="javascript:;">注册流程</a></p>
                    <p><a href="javascript:;">无法登录／忘记密码</a></p>
                    <p><a href="javascript:;">修改账户信息</a></p>
                </li>
                <li>
                    <h4>关于我们</h4>
                    <p><a href="javascript:;">公司简介</a></p>
                    <p><a href="javascript:;">意见反馈</a></p>
                    <p><a href="javascript:;">法律声明</a></p>
                    <p><a href="javascript:;">联系我们</a></p>
                </li>
            </ul>
            <p class="copyright color3">2015 版权所有 我的塑料网 沪icp 备 10036109号</p>
        </div>
        <!--left end-->
        <!--right begin-->
        <div class="right frt">
            <ul class="ewm color3">
                <li>
                    <p><img src="img/ewmWx.jpg" width="84" height="84"/></p>
                    <span>官方微信</span>
                </li>
                <li>
                    <p><img src="img/ewmApp.jpg" width="81" height="81"/></p>
                    <span>APP</span>
                </li>
            </ul>
        </div>
        <!--right end-->
    </div>
</div>
<!--footer end-->
</body>