<div class="left flt">
    <h2 class="msg">消息中心</h2>
    <ul>
        <li {if $act=='msg'}class="hover"{/if}><a href="/user/msg">消息列表</a></li>
    </ul>
    <h2 class="order">订单中心</h2>
    <ul>
        <li {if $act=='selforder'}class="hover"{/if}><a href="/user/selforder">自营商城订单</a></li>
        <li {if $act=='unionorder'}class="hover"{/if}><a href="/user/unionorder">联营商城订单</a></li>
        <li {if $act=='pdf'}class="hover"{/if}><a href="/user/selforder/pdf/oid/307">下载pdf</a></li>
    </ul>
    <h2 class="supply">我的供应</h2>
    <ul>
        <li {if $act=='myoffers'}class="hover"{/if}><a href="/user/myoffers">报价发布</a></li>
        <li {if $act=='offerlist'}class="hover"{/if}><a href="/user/myoffers/lists">报价管理</a></li>

    </ul>
    <h2 class="buy">我的求购</h2>
    <ul>
        <li {if $act=='mypurchase'}class="hover"{/if}><a href="/user/mypurchase">求购发布</a></li>
        <li {if $act=='purchaselist'}class="hover"{/if}><a href="/user/mypurchase/lists">求购管理</a></li>
    </ul>
    <h2 class="finance">财务中心</h2>
    <ul>
        <li><a href="/user/fundManager/fundManager">资金管理</a></li>
        <li><a href="/user/myVoucher/showMyVoucher">我的抵用券</a></li>
        <li><a href="/user/myPoints/creditDetail">我的积分</a></li>
        <li><a href="/user/billInformation/billInfo">开票资料</a></li>
    </ul>
    <h2 class="follow">关注中心</h2>
    <ul>
        <li><a href="/user/productAttention/proAttentionValue">关注的产品</a></li>
        <li><a href="/user/customerAttention/cusAttentionList">关注的商家</a></li>
    </ul>
    <h2 class="website">我的网站</h2>
    <ul>
        <li><a href="/user/myHomeWeb/getMyWeb">我的门户网站</a></li>
        <li><a href="/user/mainProduct/getMainProduct">主营产品</a></li>
        <li><a href="/user/myArticle/getMyArticle">我的咨询</a></li>
    </ul>
    <h2 class="set">账户设置</h2>
    <ul>
        <li {if $act=='myset'}class="hover"{/if}><a href="/user/myset">账户信息</a></li>
        <li {if $act=='editAddress'}class="hover"{/if}><a href="/user/myset/editAddress">收货地址</a></li>
        <li {if $act=='changepass'}class="hover"{/if}><a href="/user/changepass">修改密码</a></li>
    </ul>
</div>