 {layout file="public:mini_layout"}
	<link rel="stylesheet" href="__CSS__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/bootstrap/css/bootstrap-datetimepicker.min.css">
	<script type="text/javascript" src="__JS__/home/jquery.ajaxupload.js"></script>

	<style type="text/css">
	.offer{
		height: 512px;
		overflow: auto;
	}
	.mylist{
		height: 590px;
		overflow: auto;
	}
	.red{color:red;}
	.stock{height: 200px;overflow: auto;}
	.demand{height: 250px;overflow: auto;}
	.requires{border:1px solid red !important;}
	.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{padding: 2px 1px;}

	.selects{
		padding: 0 !important;
		height: auto !important;
	}
	.inputs{
		padding: 0 !important;
		width:100px;
		height: auto;
	}
	.table th, .table td { 
		text-align: center;
		vertical-align: middle!important;
	}
	
	.col-md-3 { padding-left:0; padding-right: 0; overflow: hidden;}
	.row{ margin-left:0; margin-right: 0; overflow: hidden;}
	.row .col-md-6{ padding:0 10px; margin: 15px 0;}
	.row .col-md-6 .form-group{ width: 100%;}
	.row .col-md-6 .form-group input{ width: 100%;}
	.col-md-6 .form-group select.form-control{ width: 100%;}
	.col-lg-9.col-xs-12{ padding-right: 0;}
	.back{ text-decoration:none; color: #fff; background: #337ab7;display: inline-block;padding: 6px 12px; margin-bottom: 0;
 		font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;    background-image: none;border: 1px solid transparent;border-radius: 4px;background-image: none;border: 1px solid transparent;border-radius: 4px;}
	.back:hover{ text-decoration:none; background: #337ab7; color: #fff;}
	</style>
	<div class="container-fluid">
		<div class="row" >
			<div class="alert alert-info" role="alert">用户：{$smarty.session.username}</div>
		</div>
		<div class="row" style="margin-top:10px;">
			<div class="col-md-12 col-lg-8">
				<!-- <form onSubmit="return searchSubmit()" class="form-inline"> -->
				<form action="/wk/index/select" method="post" class="form-inline">
				  <!-- <div class="form-group">
				    <select id="timeline" class="form-control">
				      <option value="1">全部</option>
				      <option value="2">供应</option>
				      <option value="3">采购</option>
				    </select>
				  </div> -->
				  <div class="form-group">
				    <input type="text" style="width:350px;" class="form-control" id="keyword" name="keyword" id="" placeholder="输入牌号搜索">
				  </div>
				  <button type="submit" id="searchs" class="btn btn-primary"> 搜 索 </button>
				  {if !empty($select)}
				  	<a class="back" href="/wk">返回报价列表页</a>
				  {/if}
				</form>
			</div>
		</div>
		<div style="padding:10px;"></div>
		<!--left begin-->
		<div class="row">
			<div class="col-md-3 " >
				<div class="panel panel-primary" style="height:400px;">
					<div class="panel-heading">
						发布信息
						<!-- <div class="col-md-3 col-lg-4 pull-right">
							<a href="__IMG__/wk/offer.xlsx" class="btn btn-info btn-xs">模板下载</a>
							<button type="button" data-toggle="modal" data-target="#offerModal" class="btn btn-info btn-xs ">报价导入</button>
						</div> -->
					</div>
					<form style="padding:10px 0;" id="addForm" onSubmit="return false;">
						<div class="form-inline" style="width:100%;">
							<!--row begin-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" name="grade" placeholder="牌号（必填）">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" name="factory" placeholder="厂家（必填）">
									</div>
								</div>
							</div>
							<!--row end-->
							<!--row begin-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control"  name="num" placeholder="数量（必填）">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" name="sale_price" placeholder="销售价格（必填）">
									</div>
								</div>
							</div>
							<!--row end-->
							<!--row begin-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" name="price" placeholder="成本价格（必填）">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" name="store" placeholder="仓库">
									</div>
								</div>
							</div>
							<!--row end-->
							<!--row begin-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<select class="form-control" name="china_area" id="china_area">
											<option value="0">选择区域(必填)</option>
											<option value="1">华东</option>
											<option value="2">华北</option>
											<option value="3">华南</option>
											<option value="4">其他</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" name="supplier" placeholder="供应商">
									</div>
								</div>
							</div>
							<!--row end-->
							<!--row begin-->
							<div class="row">
								<div class="col-md-12" style="text-align:center;"><button onClick="release1()" type="button" class="btn btn-primary" style=" padding:6px 30px; margin-top: 20px;">发布</button></div>
							</div>
							<!--row end-->
						</div>
						<div style="padding:10px;"></div>
					</form>
				</div>
			</div>
			<!--left end-->
			<!--right begin-->
			<div class="col-lg-9 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading">最新报价</div>
					<div class="offer" style="height: 360px;">
						<table id="" class="table table-condensed table-hover table-bordered" cellspacing="0" width="100%">
					        <thead>
					            <tr>
					                <th align="center" width="80">牌号</th>
					                <th align="center" width="120">厂家</th>
					                <th align="center" width="80">数量</th>
					                <th align="center" width="80">销售价格</th>
					                <th align="center" width="80">成本价</th>
					                <th align="center" width="50">仓库</th>
					                <th align="center" width="50">区域</th>
					                <th align="center" width="55">责任人</th>
					                <th align="center" width="80">责任人手机</th>
					                <th align="center" width="50">发送数量</th>
					                <th align="center" width="80">审核</th>
					                <th align="center" width="50">审核结果</th>
					                <th align="center" width="50">发短信</th>
					                <th align="center" width="80">发布时间</th>
					            </tr>
					        </thead>
					        <tbody id="offerTop">
 								{foreach from=$offerList item=value}
					            <tr>
					                <td>{$value.grade}</td>
					                <td>{$value.factory}</td>
					                <td>{$value.num}</td>
					                <td>{$value.sale_price}</td>
					                <td>{$value.price}</td>
					                <td>{$value.store}</td>
					                <td>{$value.china_area}</td>
					                <td>{$value.uname}</td>
					                <td>{$value.person_phone}</td>
					                <td><a href="javascript:void(0)" onclick="valueInfo({$value.id},2)">{$value.count}</a></td>
					                <td><a href="javascript:void(0)" onclick="check({$value.id},2)">通过</a> | <a href="javascript:void(0)" onclick="check({$value.id},3)">不通过</a></td>
					                <!-- {if $value.status eq '1'} -->
					                <!-- <td><a href="javascript:void(0)" onclick="check({$value.id},2)">通过</a> | <a href="javascript:void(0)" onclick="check({$value.id},3)">不通过</a></td> -->
    								<!-- {else} -->
    								<!-- <td> -->
    									<!-- {if $value.status eq '2'}通过 -->
    									<!-- {else}不通过 -->
    									<!-- {/if} -->
    								<!-- </td>  -->
									<!-- {/if} -->
					                <!-- </if> -->
					                {if $value.status eq '1'}
									<td><b>未审核</b></td>
									{elseif $value.status eq '2'}
									<td style="color:blue;"><b>已通过</b></td>
									{else}
									<td style="color:red;"><b>未通过</b></td>
									{/if}

					                <td><a href="javascript:void(0)" onclick="sendMsg({$value.id})">发短信</a></td>
					                <td>{$value.input_time|date:m-d H:i}</td>
					            </tr>
         						{/foreach}     
					        </tbody>
					    </table>
					</div>
				</div>
			</div>
		</div>
		<!--right end-->
	</div>
	<div style="padding-bottom: 50px;"></div>

<!-- modal -->

<div id="offerModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">报价导入</h4>
			</div>
			<div class="modal-body">
				<form style="padding:10px;" onSubmit="return offerUpload();" class="form-inline" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label for="exampleInputFile">上传文件</label>
						<input type="text" class="form-control" name="file" id="url2">
					</div>
					<div class="form-group">
						<button type="button" id="permitP_btn2" class="btn btn-default"> 选择文件 </button>
					</div>
					<button type="submit" class="btn btn-primary"> 发 布 </button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"> 关 闭 </button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
 mini.parse();
 function check(id,status){
	// grid.loading('数据处理中，请稍后......');
	var callback = function(data){
		if(data.err!='0'){
			// grid.unmask();
			alert(data.msg);
			return false;
		}else{
			// grid.unmask();
			alert(data.msg);
			// grid.reload();
			 window.location.reload();
		}
	}
		utils.ajax('/wk/index/check',{id:id,status:status},callback,"POST","json");
}
//查看发送详情
function valueInfo(id){
	if(id == 0){
		return;
	}
	mini.open({
	  url: "/report/logsms/init?offers_id="+id,
	  showMaxButton:true,
	  title: "短信发送记录", 
	  width: 1300, height:500
	});
}
 function sendMsg(id){
	// grid.loading('数据处理中，请稍后......');
	var callback = function(data){
		if(data.err!='0'){
			// grid.unmask();
			alert(data.msg);
			// return false;
		}else{
			// grid.unmask();
			alert(data.msg);
			// grid.reload();
			 window.location.reload();
		}
	}
		utils.ajax('/wk/index/sendOffersMsg',{id:id},callback,"POST","json");
}
	//正常发布
	function release1(){
		var form=$("#addForm");
		var grade=$('#addForm input[name="grade"]').val().trim();
		var factory=$('#addForm input[name="factory"]').val().trim();
		var num=$('#addForm input[name="num"]').val().trim();
		var price=$('#addForm input[name="price"]').val().trim();
		var sale_price=$('#addForm input[name="sale_price"]').val().trim();
		// var china_area = $("#china_area ").get(0).selectedIndex;//索引
		var china_area = $('#china_area option:selected') .text()
		// console.log(china_area);return;
		if(grade.length==0){
			$('#addForm input[name="grade"]').addClass('requires');
			return;
		}else{
			$('#addForm input[name="grade"]').removeClass('requires');
		}
		if(factory.length==0){
			$('#addForm input[name="factory"]').addClass('requires');
			return;
		}else{
			$('#addForm input[name="factory"]').removeClass('requires');
		}
		if(num.length==0){
			$('#addForm input[name="num"]').addClass('requires');
			return;
		}else{
			$('#addForm input[name="num"]').removeClass('requires');
		}
		if(sale_price.length==0){
			$('#addForm input[name="sale_price"]').addClass('requires');
			return;
		}else{
			$('#addForm input[name="sale_price"]').removeClass('requires');
		}
		if(price.length==0){
			$('#addForm input[name="price"]').addClass('requires');
			return;
		}else{
			$('#addForm input[name="price"]').removeClass('requires');
		}
		if(china_area == '选择区域(必填)'){
			$('#china_area').addClass('requires');
			return;
		}else{
			$('#china_area').removeClass('requires');
		}
		var data=form.serialize();
		// console.log(data);return;
		$.post('/wk/index/addInfo',data,function(data){
			if(data.err>0){
				alert(data.msg);
			}else{
				// prependTr(data.data);
				document.getElementById('addForm').reset();
				
				alert('发布成功');
				// loadall();
			 window.location.reload();

				// myload();
			}
		},'json');
		
	}

	function offerUpload(){
		var url=$("#url2").val().trim();
		if(url==''){
			return false;
		}
		$.post('/wk/index/offerUpload',{url:url},function (data){
			if(data.err==0){
				alert('导入成功');
				window.location.reload();
			}
		},'json');
		return false;
	}

jQuery(function(){
    new AjaxUpload('#permitP_btn2', {
        action: '/system/sysUpload/upload',
        name: 'file',
        onSubmit: function(file, suffix) {
            var patrn = /^(xls|xlsx)$/i;
            if (!patrn.test(suffix)) {
                alert('不支持上传 *.' + suffix + '格式的文件。');
                return false;
            }
        },
        onComplete: function(file, response) {
            var result = jQuery.parseJSON(response);
            if(!result.err) {
                $('#url2').val(result.url);
            } else {
               	alert('上传错误');
            }
        }
    });
});
</script>