{layout file="public:main_layout"}
{insert_css files='home/master.css'}
{insert_css files='home/finance.css'}
<script type="text/javascript" src="__JS__/home/uc-resource-pack.js"></script>
<script type="text/javascript" src="__JS__/home/jquery.touchSlider.js"></script>
<script type="text/javascript" src="__JS__/home/home.js"></script>
<body class="finance">
    <input type="hidden" id="user_id" value="{$user_id}"></input>
	<!--banner begin-->
    <div id="bannerSlidePlayer" class="main_visual">
        <ul class="main_image clearfix">
            <li class="element">
                <a href="javascript:;">
                    <img src="__IMG__/home/img/fBanner1.jpg" alt="我的塑料网交易平台banner位1">
                </a>
            </li>
            <li class="element">
                <a href="javascript:;">
                    <img src="__IMG__/home/img/fBanner2.jpg" alt="我的塑料网交易平台banner位2">
                </a>
            </li>
        </ul>
        <div class="flicking_con"></div>
        <a href="javascript:void(0);" id="btn_prev" class="hidden"></a>
        <a href="javascript:void(0);" id="btn_next" class="hidden"></a>
	</div>
    <!--sidefloor begin-->
    <div class="sidefloor">
        <!--side-section begin-->
        <div class="side-section clearfix">
            <!--finance-sel begin-->
            <ul class="finance-sel">
            	<li class="hover">
                	<a href="/finance/index">
                    	<h3>塑料金融</h3>
                        <p>快速融资，解决资金需求</p>
                        <span></span>
                    </a>
                </li>
                <li>
                	<a href="/finance/mining">
                    	<h3>塑料代采</h3>
                        <p>有大生意，货款不够？</p>
                        <span></span>
                    </a>
                </li>
                <li>
                	<a href="/finance/ious">
                    	<h3>塑料白条</h3>
                        <p>有订单，钱未回款？</p>
                        <span></span>
                    </a>
                </li>
                <li>
                	<a href="/finance/financing">
                    	<h3>仓单融资</h3>
                        <p>有塑料，缺流动资金？</p>
                        <span></span>
                    </a>
                </li>
            </ul>
            <!--btfinance-selns end-->
        </div>
        <!--side-section end-->
    </div>
    <!--sidefloor end-->
    <!--banner end-->
    <!--floor1 begin-->
    <div class="floor floor1 w1220">
    	<!--title begin-->
        <div class="title">塑料代采</div>
        <!--title end-->
        <!--floor-con begin-->
        <div class="floor-con">
        	<!--left begin-->
            <div class="left">
            	<p>塑料采办</p>
                <span>有大生意，货款不够？</span>
                <div class="pic"></div>
                <div class="btn"><a href="/finance/mining">我要申请</a></div>
            </div>
            <!--left end-->
            <!--right begin-->
            <div class="right">
            	<h3>申请流程</h3>
            	<div class="pic"><img src="__IMG__/home/img/financeA.jpg" width="760" height="176"/></div>
                <h3>代采品种</h3>
                <ul>
                    {foreach from=$product_type item=value key=key}
                            <li data-key="type" data-val="{$key}"  href="javascript:;">{$value}</li>
                    {/foreach}
                </ul>
            </div>
            <!--right end-->
        </div>
        <!--floor-con end-->
    </div>
    <!--floor1 end-->
    <!--floor2 begin-->
    <div class="floor floor2 w1220">
    	<!--title begin-->
        <div class="title">塑料白条</div>
        <!--title end-->
        <!--floor-con begin-->
        <div class="floor-con">
        	<!--left begin-->
            <div class="left">
            	<p>塑料白条</p>
                <span>有订单，钱未回款？</span>
                <div class="pic"></div>
                <div class="btn"><a href="/finance/ious">我要申请</a></div>
            </div>
            <!--left end-->
            <!--right begin-->
            <div class="right">
            	<h3>申请流程</h3>
            	<div class="pic"><img src="__IMG__/home/img/financeB.jpg" width="760" height="176"/></div>
                <h3>白条品种</h3>
                <ul>
                    {foreach from=$product_type item=value key=key}
                       <li data-key="type" data-val="{$key}"  href="javascript:;">{$value}</li>
                    {/foreach}
                </ul>
            </div>
            <!--right end-->
        </div>
        <!--floor-con end-->
    </div>
    <!--floor2 end-->
    <!--floor3 begin-->
    <div class="floor floor3 w1220">
    	<!--title begin-->
        <div class="title">仓单融资</div>
        <!--title end-->
        <!--floor-con begin-->
        <div class="floor-con">
        	<!--left begin-->
            <div class="left">
            	<p>仓单融资</p>
                <span>有塑料，缺流动资金？</span>
                <div class="pic"></div>
                <div class="btn"><a href="/finance/financing">我要申请</a></div>
            </div>
            <!--left end-->
            <!--right begin-->
            <div class="right">
            	<h3>申请流程</h3>
            	<div class="pic"><img src="__IMG__/home/img/financeC.jpg" width="760" height="176"/></div>
                <h3>合作仓库</h3>
                <ul>
                   	{foreach from=$stores item=value key=key}
                        <li data-key="type" data-val="{$key}"  href="javascript:;">{$value.store_name}</li>
           			{/foreach}
                </ul>
            </div>
            <!--right end-->
        </div>
        <!--floor-con end-->
    </div>
    <!--floor3 end-->
</body>
