<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>checkself</title>
    <link rel="stylesheet" href="__MYPC__/css/style.css" />
    <link rel="stylesheet" href="__MYPC__/css/index.css" />
    <link rel="stylesheet" href="__MYPC__/css/right.css" />
    <link rel="stylesheet" href="__MYPC__/css/my.css" />
  </head>
  <body>
    <div id="chargeDo">
    	
    </div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="__MYPC__/js/app.js?6eb9edd9e14066b24ae6"></script><script type="text/javascript" src="__MYPC__/pages/chargeDo.js?6eb9edd9e14066b24ae6"></script></body>
</html>
