<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>checkself</title>
    <link rel="stylesheet" href="__MYPC__/css/style.css" />
    <link rel="stylesheet" href="__MYPC__/css/credit.css" />
    <link rel="stylesheet" href="__MYPC__/css/center2.css" />
  </head>
  <body>
    <div id="app">
    	
    </div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="__MYPC__/js/app.js?ae609dd742ec7d31d14b"></script><script type="text/javascript" src="__MYPC__/pages/chother2.js?ae609dd742ec7d31d14b"></script></body>
</html>
