<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>查别人</title>
    <link rel="stylesheet" href="__MYPC__/css/style.css" />
    <link rel="stylesheet" href="__MYPC__/css/index.css" />
    <link rel="stylesheet" href="__MYPC__/css/credit.css" />
    <link rel="stylesheet" href="__MYPC__/css/center2.css" />
  </head>
  <body>
    <div id="app">
    	
    </div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="__MYPC__/js/app.js?940abd8fcf5b779190f8"></script><script type="text/javascript" src="__MYPC__/pages/chother.js?940abd8fcf5b779190f8"></script></body>
</html>
