<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>授信说明</title>
    <link rel="stylesheet" href="__MYPC__/css/style.css" />
    <link rel="stylesheet" href="__MYPC__/css/index.css" />
    <link rel="stylesheet" href="__MYPC__/css/credit.css" />
    <link rel="stylesheet" href="__MYPC__/css/center2.css" />
  </head>
  <body>
    <div id="app">
    	
    </div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="__MYPC__/js/app.js?9fcc6e5d658b6f14b698"></script><script type="text/javascript" src="__MYPC__/pages/creditIntro.js?9fcc6e5d658b6f14b698"></script></body>
</html>
