Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module build failed: Error: ENOENT: no such file or directory, open 'E:\xampp\htdocs\bendi\branche  s\www\view\default\mypczone\src\views\info_buy\info_buy.html'
  
  
  - Error: ENOENT: no such file or directory, open 'E:\xampp\htdocs\bendi\branches\www\view\default\    mypczone\src\views\info_buy\info_buy.html'
  
  - compiler.js:76 
    [mypczone]/[_html-webpack-plugin@2.28.0@html-webpack-plugin]/lib/compiler.js:76:16
  
  - Compiler.js:296 Compiler.<anonymous>
    [mypczone]/[_webpack@2.6.1@webpack]/lib/Compiler.js:296:10
  
  - Compiler.js:499 
    [mypczone]/[_webpack@2.6.1@webpack]/lib/Compiler.js:499:13
  
  - Tapable.js:138 next
    [mypczone]/[_tapable@0.2.6@tapable]/lib/Tapable.js:138:11
  
  - CachePlugin.js:62 Compiler.<anonymous>
    [mypczone]/[_webpack@2.6.1@webpack]/lib/CachePlugin.js:62:5
  
  - Tapable.js:142 Compiler.applyPluginsAsyncSeries
    [mypczone]/[_tapable@0.2.6@tapable]/lib/Tapable.js:142:13
  
  - Compiler.js:496 
    [mypczone]/[_webpack@2.6.1@webpack]/lib/Compiler.js:496:10
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [mypczone]/[_tapable@0.2.6@tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:649 self.applyPluginsAsync.err
    [mypczone]/[_webpack@2.6.1@webpack]/lib/Compilation.js:649:19
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [mypczone]/[_tapable@0.2.6@tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:640 self.applyPluginsAsync.err
    [mypczone]/[_webpack@2.6.1@webpack]/lib/Compilation.js:640:11
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [mypczone]/[_tapable@0.2.6@tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:635 self.applyPluginsAsync.err
    [mypczone]/[_webpack@2.6.1@webpack]/lib/Compilation.js:635:10
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [mypczone]/[_tapable@0.2.6@tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:631 sealPart2
    [mypczone]/[_webpack@2.6.1@webpack]/lib/Compilation.js:631:9
  
  - Tapable.js:131 Compilation.applyPluginsAsyncSeries
    [mypczone]/[_tapable@0.2.6@tapable]/lib/Tapable.js:131:46
  
  - Compilation.js:579 Compilation.seal
    [mypczone]/[_webpack@2.6.1@webpack]/lib/Compilation.js:579:8
  
  - Compiler.js:493 
    [mypczone]/[_webpack@2.6.1@webpack]/lib/Compiler.js:493:16
  
  - Tapable.js:225 
    [mypczone]/[_tapable@0.2.6@tapable]/lib/Tapable.js:225:11
  
  - Compilation.js:481 _addModuleChain
    [mypczone]/[_webpack@2.6.1@webpack]/lib/Compilation.js:481:11
  
  - Compilation.js:452 processModuleDependencies.err
    [mypczone]/[_webpack@2.6.1@webpack]/lib/Compilation.js:452:13
  
  - next_tick.js:73 _combinedTickCallback
    internal/process/next_tick.js:73:7
  
  - next_tick.js:104 process._tickCallback
    internal/process/next_tick.js:104:9
  
</pre><script type="text/javascript" src="__MYPC__/pages/info_buy.js?6dc87fa9a0369bb3983b"></script>