<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>个人求购信息</title>
    <link rel="stylesheet" href="__MYPC__/css/style.css" />
    <link rel="stylesheet" href="__MYPC__/css/index.css" />
    <link rel="stylesheet" href="__MYPC__/css/center.css" />
    <link rel="stylesheet" href="__MYPC__/css/right.css" />   
    <script src="__MYPC__/js/jquery-1.8.3.min.js"></script>
    <script src="__MYPC__/js/other.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script type="text/javascript">
     var version='/qapi_3'; 
     window.localStorage.setItem("XUA","pc|32|"+localStorage.getItem("userid")+"|"+localStorage.getItem("token")+"|0|"+navigator.platform+"|"+navigator.platform+"|"+navigator.platform+"|"+navigator.appName+"|"+navigator.appCodeName+"|0|0|0");
  </script>
  <script type="text/javascript" src="__MYPC__/js/app.js?50fccaf4f4695f7d77d4"></script><script type="text/javascript" src="__MYPC__/pages/info_buy.js?50fccaf4f4695f7d77d4"></script></body>
</html>
