<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>checkself</title>
    <link rel="stylesheet" href="__MYPC__/css/style.css" />
    <link rel="stylesheet" href="__MYPC__/css/index.css" />
    <link rel="stylesheet" href="__MYPC__/css/right.css" />
    <link rel="stylesheet" href="__MYPC__/css/my.css" />
  </head>
  <body>
    <div id="myIntro">
    	
    </div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="__MYPC__/js/app.js?1212c6d9a70093cc4a87"></script><script type="text/javascript" src="__MYPC__/pages/myIntro.js?1212c6d9a70093cc4a87"></script></body>
</html>
