<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>
	<body style="padding-bottom: 90px;">
		<header id="supplyDemandHeader">
			<a class="back" href="javascript:window.history.back();"></a>
			关于我们
		</header>
		<div class="aboutus">
		<p>上海中晨电子商务股份有限公司创建于2007年4月，是一家以电子商务方式从事塑料原料分销的专业公司，公司以塑料原料分销业务为基础，建立塑化领域B2B电子商务平台“我的塑料网”，打造塑料一站式全产业链交易新模式。“我的塑料网”是华东地区领先的，集自营、撮合、资讯发布于一体的塑料原料垂直电子商务交易平台。</p>
		<p>公司拥有多年积累的庞大客户资源、完善的网站架构、先进的货物信息管理系统及便利的流程管理体系、完整的行业从业资质以及拥有数十年从业经验的管理人员和销售人员。</p>
		<p>公司将不断积累用户及业务量，同时积极构建交易平台、物流平台、金融平台以及大数据中心，以塑料采购与销售业务为核心，配套结算、物流、融资及信息服务，打通行业产业链，为客户提供全方位、一站式塑料原料购销服务。</p>
		</div>
		<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.test.myplas.com"]);
  _paq.push(["setDomains", ["*.test.myplas.com"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//wa.myplas.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//wa.myplas.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
	</body>
</html>