<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>助力里约奥运健儿，为中国加油</title>
	<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
	<style>
		img{ width: 100%; display: block;}
	</style>
</head>
<body>
<img src="__MYAPP__/img/rio.jpg">
<a href="/mobi/mainPage/enMainPage"><img src="__MYAPP__/img/rio2.jpg"></a>
<img src="__MYAPP__/img/rio3.jpg">
<img src="__MYAPP__/img/rio4.jpg">
<img src="__MYAPP__/img/rio5.jpg">
<img src="__MYAPP__/img/rio6.jpg">
</body>
</html>