{layout file="public:news_warp"}
{insert_css files='home/style.css'}
<link rel="stylesheet" type="text/css" href="__CSS__/Home/search-plastic.css"/>
<script src="js/MSClass.js"></script>
<script type="text/javascript" src="__JS__/MSClass.js"></script>
</head>

<body>
<!--search-plastic-top begin-->
<div class="search-plastic-top w1220">
	<!--release begin-->
    <div class="release flt">
    	<p><a href="javascript:;">管理历史发布记录>></a></p>
    	<form name="" method="post" action="">
        	<textarea placeholder="请填写真实资源，写清楚：公司名称、你的名字、联系方式、货物以及数量"></textarea>
            <input type="button" value="立即发布"/>
        </form>
    </div>
    <!--release end-->
    <!--hot begin-->
    <div class="hot frt">
    	<h3>热门搜索排行：</h3>
        <!--hot-search begin-->
        <ul class="hot-search">
        	<li class="hot-search-1">
            	<span>1</span><a href="javascript:;">7000F</a><a href="javascript:;">7042</a><a href="javascript:;">2420D</a></li>
            <li class="hot-search-2">
            	<span>2</span><a href="javascript:;">7000F</a><a href="javascript:;">7042</a><a href="javascript:;">2420D</a>
            </li>
            <li class="hot-search-3">
            	<span>3</span><a href="javascript:;">7000F</a><a href="javascript:;">7042</a><a href="javascript:;">2420D</a>
            </li>
        </ul>
        <!--hot-search end-->
        <h3>热门头条：</h3>
        <ul class="hot-headline" id="news-text">
        	<li><a href="javascript:;">5月24日聚氯乙烯PVC早提示</a></li>
			<li><a href="javascript:;">竞拍分析：本周神华PP竞拍详情分析</a></li>
            <li><a href="javascript:;">飞雪连天射白鹿</a></li>
			<li><a href="javascript:;">笑书神侠倚碧鸳</a></li>
            <li><a href="javascript:;">桃花影落飞神剑</a></li>
            <li><a href="javascript:;">碧海潮生按玉箫</a></li>
        </ul>
        <script type="text/javascript">new Marquee("news-text","up",5,230,40,0,3000)</script>
    </div>
    <!--hot end-->
</div>
<!--search-plastic-top end-->
<div class="search-plastic-desc w1220"></div>
<!--search-plastic-list begin-->
<div class="search-plastic-list w1220">
	<!--list-filter begin-->
    <ul class="list-filter">
    	<li class="title">资源列表</li>
        <li class="total">共800条数据</li>
        <li class="time">显示时间：</li>
        <li class="time-sel">
        	<select>
            	<option>全部</option>
            	<option>最近3天</option>
                <option>最近7天</option>
                <option>最近15天</option>
            </select>
        </li>
        <li class="region">所在地区：</li>
        <li class="region-sel">
        	<select>
            	<option>全国</option>
                <option>华东</option>
                <option>华北</option>
                <option>华南</option>
                <option>其他</option>
            </select>
        </li>
        <li class="xian-qi">现货/期货：</li>
        <li class="xian-qi-sel">
        	<select>
            	<option>现货</option>
                <option>期货</option>
            </select>
        </li>
        <li class="other">
        	<span>塑料1709</span>
            <b>9300</b>
            <b>50</b>
        </li>
        <li class="other">
        	<span>出厂价/成交价：</span>
            <b>9800</b>
        </li>
    </ul>
    <!--list-filter end-->
	<!--list-title begin-->
    <div class="list-title">
    	<div class="thumb"></div>
        <div class="qq-name">qq名称</div>
        <div class="qq-num">qq号</div>
        <div class="company">公司名称</div>
        <div class="mobile">联系方式</div>
        <div class="goods-location">货物位置</div>
        <div class="grade">牌号</div>
        <div class="place">产地</div>
        <div class="xian-qi">现货/期货</div>
        <div class="price">价格</div>
        <div class="time">时间</div>
        <div class="info">相关资讯</div>
    </div>
    <!--list-title end-->
	<!--list-con begin-->
    <ul class="list-con">
        {foreach from=$list item=v}
    	<li>
        	<div class="thumb"><img src="{$v.QQImage[0]}" width="36" height="36"/></div>
            <div class="qq-name">{$v.QQName[0]}</div>
            <div class="qq-num">{$v.QQNumber[0]}</div>
            <div class="company">{$v.Company}</div>
            <div class="mobile">
            	<span>{$v.Iphone}</span>
                <!--more begin-->
                <div class="more">
                    {foreach from=$v.Iphone_list item=vi }
                	<p>{$vi}</p>
                    {/foreach}
                </div>
                <!--more end-->
            </div>
            <div class="goods-location">{$v.GoodssPosition[0]}</div>
            <div class="grade">{$v.PlsticNumber}</div>
            <div class="place">{$v.Production}</div>
            <div class="xian-qi">{$v.ISForward}</div>
            <div class="price">{$v.Price}</div>
            <div class="time">{$v.UpdateTime|date:m-d H:i}</div>
            <div class="info"><a href="javascript:;">查看</a></div>
        </li>
        {/foreach}


       <!-- <li>
        	<div class="thumb"><img src="img/search-plastic-2.jpg" width="36" height="36"/></div>
            <div class="qq-name">山东省塑有限公司-张飞扬</div>
            <div class="qq-num">9876578960</div>
            <div class="company">上海中晨电子商务股份有限公司</div>
            <div class="mobile">
            	<span>13966558877</span>
                <div class="more">
                	<p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                </div>
            </div>
            <div class="goods-location">上海</div>
            <div class="grade">7000F</div>
            <div class="place">伊朗国家石化</div>
            <div class="xian-qi">现货</div>
            <div class="price">9850.00</div>
            <div class="time">05-27 16:23</div>
            <div class="info"><a href="javascript:;">查看</a></div>
        </li>
        <li>
        	<div class="thumb"><img src="img/search-plastic-2.jpg" width="36" height="36"/></div>
            <div class="qq-name">山东省塑有限公司-张飞扬</div>
            <div class="qq-num">9876578960</div>
            <div class="company">上海中晨电子商务股份有限公司</div>
            <div class="mobile">
            	<span>13966558877</span>
                <div class="more">
                	<p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                </div>
            </div>
            <div class="goods-location">上海</div>
            <div class="grade">7000F</div>
            <div class="place">伊朗国家石化</div>
            <div class="xian-qi">现货</div>
            <div class="price">9850.00</div>
            <div class="time">05-27 16:23</div>
            <div class="info"><a href="javascript:;">查看</a></div>
        </li>
        <li>
        	<div class="thumb"><img src="img/search-plastic-2.jpg" width="36" height="36"/></div>
            <div class="qq-name">山东省塑有限公司-张飞扬</div>
            <div class="qq-num">9876578960</div>
            <div class="company">上海中晨电子商务股份有限公司</div>
            <div class="mobile">
            	<span>13966558877</span>
                <div class="more">
                	<p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                    <p>刘经理 15678956432</p>
                </div>
            </div>
            <div class="goods-location">上海</div>
            <div class="grade">7000F</div>
            <div class="place">伊朗国家石化</div>
            <div class="xian-qi">现货</div>
            <div class="price">9850.00</div>
            <div class="time">05-27 16:23</div>
            <div class="info"><a href="javascript:;">查看</a></div>
        </li>
       -->
    </ul>
    <!--list-con end-->
</div>
<!--search-plastic-list end-->
</body>
</html>
