{layout file="public:main_layout"}
{insert_css files='home/style.css'}
<div class="yabbg" style="width:1200px;margin: 0px auto;">
	<div class="yab">
		<div class="yabl">
			<div class="rmain resource">
				<div class="rel">
					<form name="validateForm1" action="" class="addform" method="post">
						<!--release begin-->
						<div class="release">
							<div class="type">
								<!--left begin-->
								<div class="left">
									<div class="rad cr"> <span class="pay_list_c1 on"></span><input type="radio" name="typ" value="1" checked="checked" class="radioclass"> 我有货，我要卖</div>
									<div class="rad"><span class="pay_list_c1"></span><input type="radio" name="typ" value="0" class="radioclass"> 我求购，我要买</div>
								</div>
								<!--left end-->
								<!--slogan begin-->
								<div class="slogan"><img src="__IMG__/home/reSlogan.png" width="359" height="16"></div>
								<!--slogan end-->
							</div>
							<!--cont begin-->
							<div class="cont">
								<textarea name="need" class="con" placeholder="请填写真实资源，写清楚：公司名称、你的名字、联系方式、货物以及数量"></textarea>
							</div>
							<!--cont end-->
							<!--release-btn begin-->
							<div class="release-btn">
								<input type="submit" name="button" id="button" value="立即发布">
							</div>
							<!--release-btn end-->
						</div>
						<!--release end-->
					</form>

					<!--search begin-->
					<div class="search">
						<!--search-inner begin-->
						<div class="search-inner">
							<!--left begin-->
							<div class="left">
								<span>
									<a {if $smarty.get.type === null}class="hover"{/if}  href="/resource">全部<b>{$countall}</b></a>
								</span>
								<span>
									<a {if $smarty.get.type === '0'}class="hover"{/if} href="/resource/index/init?type=0">求购<b>{$count2}</b></a>
								</span>
								<span>
									<a {if $smarty.get.type === '1'}class="hover"{/if} href="/resource/index/init?type=1">供应<b>{$count1}</b></a>
								</span>
							</div>
							<!--left end-->
							<form action="/resource/index/init?type={$smarty.get.type}&keyword=" method="get" id="searfm">
								<input type="text" name="keyword" id="txt1" value="" placeholder="在{$countall}条资源中搜索你需要的...">
								<input type="submit" value="" id="sear">
								<a href="javascript:;" id="refresh" onclick="myrefresh()">刷新</a>
							</form>
						</div>
						<!--search-inner end-->
					</div>
					<!--search end-->
					<div class="list">
						{foreach from=$list item=v}
						<div class="lists">
							<div class="listl">
								<img width="48" height="48" src="http://q2.qlogo.cn/headimg_dl?bs=qq&amp;dst_uin={$v.user_qq}&amp;src_uin=*&amp;fid=*&amp;spec=100&amp;url_enc=0&amp;referer=bu_interface&amp;term_type=PC" alt="用户头像">
								<!-- <p style="color:#ef4923">【求购】</p> -->
							</div>
							<div class="listr">
								<p class="title">
										<span class="name">{if $v.user_nick==''}{$v.realname}{else}{$v.user_nick}{/if}</span>
									<span>
										<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin={$v.user_qq}&amp;site=qq&amp;menu=yes"><img src="http://wpa.qq.com/pa?p=2:{$v.user_qq}:41" border="0" alt="点击咨询" title="点击咨询"></a>
									</span>
									<span class="qq"><a href="javascript:void(0)">QQ:{$v.user_qq}</a></span>
									<span></span><span class="time">{$v.input_time|date:m-d H:i}</span>
								</p>
								<pre style="min-height:50px;overflow:hidden;">{$v.content}</pre>
								<p></p>
							</div>
							<div style="clear:both;"></div>
						</div>
						{/foreach}

						<!--page begin-->
						<div class="page">
							{$pages}
						</div>
						<!--page end-->
					</div>
				</div>
				<div class="rer">
					<div class="first">
						{if $smarty.session.userid>0}
						<div class="already-login">
							<h2>我的积分</h2>
							<div class="amount">
								<p style="color: #923b00;">{$userInfo.points}</p>
							</div>
							{if $is_sign}
							<div class="sign-up-already">已签到</div>
							{else}
							<div class="sign-up ">
								<p style="color:#fff;" onclick="qiandao()">签到领积分</p>
							</div>
							{/if}
						</div>
						{else}
						<div class="no-login">
							<h2>您还没登录</h2>
							<p>登录后才可以发布现货和求购信息</p>
							<div class="info">
								<a class="log" href="/user/register">注册</a>
								<a class="reg" href="javascript:loginbox('resource')"><span></span>登录</a>
							</div>
						</div>
						{/if}
					</div>
					<!--task begin-->
					<h3 class="re-title">每日任务</h3>
					<div class="task">
						<ul>
							<li>
								<div class="num"><img src="__IMG__/home/re1.png" width="53" height="65"></div>
								<div class="desc">
									<h4>发布一条资源</h4>
									<p>+100 积分</p>
								</div>
								{if $is_pup}
								<div class="status yes">已完成</div>
								{else}
								<div class="status no">未完成</div>
								{/if}
							</li>
							<li>
								<div class="num"><img src="__IMG__/home/re2.png" width="53" height="65"></div>
								<div class="desc">
									<h4>每日签到</h4>
									<p>+50 积分</p>
								</div>
								{if $is_sign}
								<div class="status yes">已完成</div>
								{else}
								<div class="status no">未完成</div>
								{/if}
							</li>
							<li class="last">
								<div class="num"><img src="__IMG__/home/re3.png" width="53" height="65"></div>
								<div class="desc">
									<h4>搜索一条资源</h4>
									<p>+50 积分</p>
								</div>
								{if $is_search}
								<div class="status yes">已完成</div>
								{else}
								<div class="status no">未完成</div>
								{/if}
							</li>
						</ul>
					</div>
					<!--task end-->
					<!--ad begin-->
					<div class="ad ad1">
						<div class="desc">
							<h4>资源库改版</h4>
							<p>每日签到、发布资源得积分</p>
						</div>
						<img src="__IMG__/home/reAdIcon1.png" width="54" height="54">
					</div>
					<!--ad end-->
					<!--ad begin-->
					<div class="ad ad2">
						<div class="desc">
							<h4>积分有啥用</h4>
							<p>积分可在积分商城兑换礼品</p>
						</div>
						<img src="__IMG__/home/reAdIcon2.png" width="58" height="58">
					</div>
					<!--ad end-->
					<h3 class="re-title">可能感兴趣的</h3>
					<div class="lis">
						{foreach from=$info item=value key=key}
						<!--left begin-->
						<div class="left">
							<p>{:witchType|$value.product_type} / {$value.model} /{$value.f_name}</p>
							<p>{$value.number}吨 {$value.cityname}</p>
						</div>
						<!--left end-->
						<!--right begin-->
						<div class="right">
							<p>￥<span>{$value.unit_price}</span></p>
							<div class="interest-btn"><a href="javascript:doTalk({$value.id});">去看看</a></div>
							<!--<div class="interest-btn"><a href="/index/addbuybyid/id/74362">去看看</a></div>-->
						</div>
						<!--right end-->
						{/foreach}
					</div>
					<!--slider begin-->
					<!--<div class="slider">-->
						<!--&lt;!&ndash;wrapper begin&ndash;&gt;-->
						<!--<div class="wrapper">-->
							<!--&lt;!&ndash;focus begin&ndash;&gt;-->
							<!--<div id="focus">-->
								<!--<ul style="left: -298px; width: 1192px;">-->
									<!--<li>-->
										<!--<div class="goods-pic"><img src="/Public/Attachment/Images/2016/03/11/56e262d8439ad.png" width="63" height="129"></div>-->
										<!--<p class="goods-name">朴美家纺全棉床上用品四件套纯棉床单被罩双人床品4件套</p>-->
										<!--<p class="goods-jifen"><span>19800</span>分</p>-->
										<!--<div class="goods-btn"><a href="/pointshop/detail/index/id/3">去积分商城兑换</a></div>-->
									<!--</li>-->
								<!--</ul>-->
								<!--<div class="btnBg" style="opacity: 0.5;"></div>-->
								<!--<div class="btn">-->
									<!--<span class=""></span>-->
									<!--<span class="on"></span>-->
									<!--<span class=""></span>-->
								<!--</div>-->
							<!--</div>-->
							<!--&lt;!&ndash;focus end&ndash;&gt;-->
						<!--</div>-->
						<!--&lt;!&ndash; wrapper end &ndash;&gt;-->
					<!--</div>-->
					<!--slider end-->
				</div>

			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">
	function doTalk(id)
	{
		var user=$("#user_name").html();
		if(!user){
			loginbox('offers');
			return;
		}
		window.location.href="/offers/talk?id="+id;
	}

$('.radioclass').click(function(event) {
	$(this).attr({'checked': 'checked'});
	$(this).parents('.rad').siblings().find('.radioclass').removeAttr('checked');
	$(this).siblings('span').addClass('on').parent('div').addClass('cr');
	$(this).parents('.rad').siblings('div').removeClass('cr').find('span').removeClass('on');
	var i = $(this).parents('.rad').index();
	if(i==0){
		$('.con').attr('placeholder','请填写真实资源，写清楚，公司名称，你的名字，联系方式，和货物以及数量');
	}else{
		$('.con').attr('placeholder','填写你的求购内容让别人方便给你报价');
	}
});
//需求出入框
$('.con').focus(function(){
	c = $('.con').attr('placeholder');
	$(this).attr('placeholder','')
})
$('.con').blur(function(){
	$(this).attr('placeholder',c)
})

$(".addform").submit(function(){
	var content = $('.con').val().trim();
	var type=$('input[name="typ"]:checked').val();
	if(content == ''){
		alert('请填写发布内容');
		return false;
	}
	$.post('/resource/index/release', {content:content,type:type}, function (data){
		if(data.err>0){
			if(data.err==1){
				loginbox('resource');
			}else{
				alert(data.msg);
			}
		}else{
			alert('发布成功');
			window.location.reload();
		}
	},'json')
	return false;
})

function qiandao(){
    $.post('/pointshop/index/signon', function (data){
            if(data.status == 1){
                alert(data.msg);
            }else{
                alert(data.msg);
            }
            window.location.reload();

    },'json');

}
function myrefresh(){
	window.location.reload();
}


</script>