{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
    <table style="width:100%;">
        <tr>
            <td style="white-space:nowrap;">
            <form id="soform">
				 
				搜索
            	<select name="key_type" class="mini-combobox" value="co.mobile" style="width:70px;">
                    <option value="co.mobile">手机号</option>
                    <option value="co.name">姓名</option>
                    <option value="cu.c_name">公司名称</option>
                    <option value="co.user_id">会员ID</option>
                </select>       
                <input name="keyword" class="mini-textbox" emptyText="请输入关键词" style="width:140px;" onenter="onKeyEnter"/>   
                <a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
                <span id="searchMsg"></span></form>
            </td>
        </tr>
    </table>           
</div>

<div class="mini-fit" style="padding:1px 3px 3px;">
    <div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20"
        url="/account/coins/users" idField="user_id"
        multiSelect="true" 
        >
        <div property="columns">    
            <div type="checkcolumn"></div>
      		<div field="user_id" width="50" headerAlign="center" align="center" renderer="onLoadUinfo">ID</div>
			<div field="name" width="60" headerAlign="center" align="center">姓名</div>
            <div field="mobile" width="90" headerAlign="center" align="center">手机</div>
            <div field="c_name" width="60" headerAlign="center" align="center">公司名称</div>
			<div field="visit_count" width="50" headerAlign="center" align="center">登录次数</div>
            <div field="last_login" width="110" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" align="center">最后登录</div>
        </div>
    </div>
</div>
<div class="mini-toolbar" style="text-align:center;padding-top:8px;padding-bottom:8px;" borderStyle="border:0;">
        {if $allow_select_all}
		<a class="mini-button"  onClick="onSelectAll()">所有筛选用户</a>
		<span style="display:inline-block;width:20px;"></span>
        {/if}
        <a class="mini-button" style="width:60px;" onClick="onComfirm()">确定</a>
        <span style="display:inline-block;width:20px;"></span>
        <a class="mini-button" style="width:60px;" onClick="onCancel()">取消</a>
</div>

<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
grid.load();

function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
function onKeyEnter(e) {
	search();
}

//筛选数据
function CloseWindow(action) {
	if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
	else window.close();
}
function onSelectAll(){
	CloseWindow("all");
}
function GetDataAll(){
	return {"count":grid.totalCount,"user_filter":$.extend({},$("#soform").serializeObject(),{"user_filter":1})};
}
function onComfirm() {
	if(grid.getSelecteds().length)
		CloseWindow("ok");
	else
		mini.alert("请选择账号");
}
function onCancel() {
	CloseWindow("cancel");
}
function GetData() {
	return grid.getSelecteds();
}
</script>