<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>供求</title>
<link rel="stylesheet" type="text/css" href="__PLASTICPC__/style/style.css"/>
</head>

<body>
<!--filter begin-->
<div class="filter">
	<div class="w96">
    	<form name="" method="post" action="">
        	<select>
            	<option>全部</option>
                <option>求购</option>
                <option>供给</option>
            </select>
            <!--search begin-->
            <div class="search frt">
            	<input type="text" placeholder="请输入厂家或牌号查询"/>
            	<span class="icon-search frt"></span>
            </div>
            <!--search end-->
        </form>
    </div>
</div>
<!--filter end-->
<div class="blank"></div>
<!--buy-sell-list begin-->
<div class="buy-sell-list w96">
	<div class="w96">
        <!--mine begin-->
        <div class="mine">
        	<!--pic begin-->
        	<div class="pic flt">
            	<img src="__PLASTICPC__/img/pic.jpg">
                <div class="authen yes">V</div>
            </div>
            <!--pic end-->
            <!--info begin-->
            <div class="info flt">
                <p class="name"><span>周星驰</span>上海梓晨实业有限公司</p>
                <p class="act sell"><span>供给：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</p>
                <p class="date">2016-10-06 10:23:34</p>
            </div>
            <!--info end-->
            <!--opt begin-->
            <div class="opt frt">回复</div>
            <!--opt end-->
        </div>
        <!--mine end-->
       	<!--reply begin-->
        <div class="reply triangle">
        	<span class="point point2"></span>
        	<p><span>周润发</span>：我有20吨，可议价！</p>
            <p><span>郑裕玲</span>回复<span>周润发</span>：到底是什么价格呢？直接报出来嘛！</p>
            <p><span>林嘉兴</span>：7000F,LLDPE,HDPE我都有，你大概需要多少吨呢？</p>
            <p class="all"><span>查看全部</span></p>
        </div>
		<!--reply end-->
    </div>
</div>
<!--buy-sell-list end-->
<!--buy-sell-list begin-->
<div class="buy-sell-list w96">
	<div class="w96">
        <!--mine begin-->
        <div class="mine">
        	<!--pic begin-->
        	<div class="pic flt">
            	<img src="__PLASTICPC__/img/pic.jpg">
                <div class="authen yes">V</div>
            </div>
            <!--pic end-->
            <!--info begin-->
            <div class="info flt">
                <p class="name"><span>周星驰</span>上海梓晨实业有限公司</p>
                <p class="act buy"><span>求购：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</p>
                <p class="date">2016-10-06 10:23:34</p>
            </div>
            <!--info end-->
            <!--opt begin-->
            <div class="opt frt">回复</div>
            <!--opt end-->
        </div>
        <!--mine end-->
    </div>
</div>
<!--buy-sell-list end-->
<!--buy-sell-list begin-->
<div class="buy-sell-list w96">
	<div class="w96">
        <!--mine begin-->
        <div class="mine">
        	<!--pic begin-->
        	<div class="pic flt">
            	<img src="__PLASTICPC__/img/pic.jpg">
                <div class="authen yes">V</div>
            </div>
            <!--pic end-->
            <!--info begin-->
            <div class="info flt">
                <p class="name"><span>周星驰</span>上海梓晨实业有限公司</p>
                <p class="act buy"><span>求购：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</p>
                <p class="date">2016-10-06 10:23:34</p>
            </div>
            <!--info end-->
            <!--opt begin-->
            <div class="opt frt">回复</div>
            <!--opt end-->
        </div>
        <!--mine end-->
    </div>
</div>
<!--buy-sell-list end-->
<!--buy-sell-list begin-->
<div class="buy-sell-list w96">
	<div class="w96">
        <!--mine begin-->
        <div class="mine">
        	<!--pic begin-->
        	<div class="pic flt">
            	<img src="__PLASTICPC__/img/pic.jpg">
                <div class="authen yes">V</div>
            </div>
            <!--pic end-->
            <!--info begin-->
            <div class="info flt">
                <p class="name"><span>周星驰</span>上海梓晨实业有限公司</p>
                <p class="act buy"><span>求购：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</p>
                <p class="date">2016-10-06 10:23:34</p>
            </div>
            <!--info end-->
            <!--opt begin-->
            <div class="opt frt">回复</div>
            <!--opt end-->
        </div>
        <!--mine end-->
    </div>
</div>
<!--buy-sell-list end-->
<!--buy-sell-list begin-->
<div class="buy-sell-list w96">
	<div class="w96">
        <!--mine begin-->
        <div class="mine">
        	<!--pic begin-->
        	<div class="pic flt">
            	<img src="__PLASTICPC__/img/pic.jpg">
                <div class="authen yes">V</div>
            </div>
            <!--pic end-->
            <!--info begin-->
            <div class="info flt">
                <p class="name"><span>周星驰</span>上海梓晨实业有限公司</p>
                <p class="act buy"><span>求购：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</p>
                <p class="date">2016-10-06 10:23:34</p>
            </div>
            <!--info end-->
            <!--opt begin-->
            <div class="opt frt">回复</div>
            <!--opt end-->
        </div>
        <!--mine end-->
    </div>
</div>
<!--buy-sell-list end-->
<!--release begin-->
<div class="release">
	<form name="" method="post" action="">
        <!--radio begin-->
        <div class="radio">
            <input type="radio" name="opt" id="radio-buy" checked="checked"/><label for="buy">我要<span>求购</span></label>
            <input type="radio" name="opt" id="radio-sell"/><label for="sell">我要<span>供给</span></label>
        </div>
        <!--radio end-->
        <!--con begin-->
        <div class="con w96">
        	<!--import begin-->
            <div class="import flt">
            	
            </div>
            <!--import end-->
            <!--tips begin-->
            <div class="tips frt">
            	<p class="title">信息发布提示：</p> 
                <p>1、填写“牌号、厂家、价格、交货地”，能参与比价，系统会智能匹配此牌号的供求信息；</p>
                <p>2、您发布的供求信息，将会对“塑料圈通讯录”中所有的人公开；</p>
                <p>3、请勿发布虚假信息，若因发布虚假信息而产生不良后果，您自行承担责任；</p>
            </div>
            <!--tips end-->
        </div>
        <!--con end-->
    </form>
</div>
<!--release end-->
</body>
</html>
