<!--buy-sell-my begin-->
<div class="buy-sell-my buy-my border-wrap w96">
	<!--buy-sell-my-top begin-->
    <div class="buy-sell-my-top">
    	<!--date begin-->
        <div class="date">
        	<b></b>
        	<span>2016-10-06 10:23:34</span>
        </div>
        <!--date end-->
        <!--what begin-->
        <div class="what">
        	<b>求购：</b>
            <span>7000F,LLDPE,HDPE,7000F,LLDPE,HDPE,7000F,LLDPE,HDPE,7000F,LLDPE,HDPE</span>
        </div>
        <!--what end-->
        <!--del begin-->
        <div class="del"><b></b><span>删除</span></div>
        <!--del end-->
    </div>
    <!--buy-sell-my-top end-->
    <!--buy-sell-my-bot begin-->
    <div class="buy-sell-my-bot">
    	<div class="title msg-one">
    		<span></span>
            <h4>系统消息</h4>
        </div>
        <ul>
            <li>Ta要买：上海中晨电子商务股份有限公司</li>
            <li>Ta要卖：上海梓晨实业有限公司</li>
            <li>最新成交价：9750元/吨</li>
        </ul>
        <div class="title msg-two">
    		<span></span>
            <h4>塑料圈友</h4>
        </div>
        <ul>
            <li>黄飞鸿 说：我这里有200吨，可议价</li>
            <li>谢霆锋 说：9750/吨出</li>
        </ul>
    </div>
    <!--buy-sell-my-bot end-->
</div>
<!--buy-sell-my end-->
<!--buy-sell-my begin-->
<div class="buy-sell-my buy-my border-wrap w96">
	<!--buy-sell-my-top begin-->
    <div class="buy-sell-my-top">
    	<!--date begin-->
        <div class="date">
        	<b></b>
        	<span>2016-10-06 10:23:34</span>
        </div>
        <!--date end-->
        <!--what begin-->
        <div class="what">
        	<b>求购：</b>
            <span>7000F,LLDPE,HDPE,7000F,LLDPE,HDPE,7000F,LLDPE,HDPE,7000F,LLDPE,HDPE</span>
        </div>
        <!--what end-->
        <!--del begin-->
        <div class="del"><b></b><span>删除</span></div>
        <!--del end-->
    </div>
    <!--buy-sell-my-top end-->
    <!--buy-sell-my-bot begin-->
    <div class="buy-sell-my-bot">
    	<div class="title msg-one">
    		<span></span>
            <h4>系统消息</h4>
        </div>
        <ul>
            <li>Ta要买：上海中晨电子商务股份有限公司</li>
            <li>Ta要卖：上海梓晨实业有限公司</li>
            <li>最新成交价：9750元/吨</li>
        </ul>
        <div class="title msg-two">
    		<span></span>
            <h4>塑料圈友</h4>
        </div>
        <ul>
            <li>黄飞鸿 说：我这里有200吨，可议价</li>
            <li>谢霆锋 说：9750/吨出</li>
        </ul>
    </div>
    <!--buy-sell-my-bot end-->
</div>
<!--buy-sell-my end-->
<!--buy-sell-my begin-->
<div class="buy-sell-my buy-my border-wrap w96">
	<!--buy-sell-my-top begin-->
    <div class="buy-sell-my-top">
    	<!--date begin-->
        <div class="date">
        	<b></b>
        	<span>2016-10-06 10:23:34</span>
        </div>
        <!--date end-->
        <!--what begin-->
        <div class="what">
        	<b>求购：</b>
            <span>7000F,LLDPE,HDPE,7000F,LLDPE,HDPE,7000F,LLDPE,HDPE,7000F,LLDPE,HDPE</span>
        </div>
        <!--what end-->
        <!--del begin-->
        <div class="del"><b></b><span>删除</span></div>
        <!--del end-->
    </div>
    <!--buy-sell-my-top end-->
    <!--buy-sell-my-bot begin-->
    <div class="buy-sell-my-bot">
    	<div class="title msg-one">
    		<span></span>
            <h4>系统消息</h4>
        </div>
        <ul>
            <li>Ta要买：上海中晨电子商务股份有限公司</li>
            <li>Ta要卖：上海梓晨实业有限公司</li>
            <li>最新成交价：9750元/吨</li>
        </ul>
        <div class="title msg-two">
    		<span></span>
            <h4>塑料圈友</h4>
        </div>
        <ul>
            <li>黄飞鸿 说：我这里有200吨，可议价</li>
            <li>谢霆锋 说：9750/吨出</li>
        </ul>
    </div>
    <!--buy-sell-my-bot end-->
</div>
<!--buy-sell-my end-->
<!--buy-sell-my begin-->
<div class="buy-sell-my buy-my border-wrap w96">
	<!--buy-sell-my-top begin-->
    <div class="buy-sell-my-top">
    	<!--date begin-->
        <div class="date">
        	<b></b>
        	<span>2016-10-06 10:23:34</span>
        </div>
        <!--date end-->
        <!--what begin-->
        <div class="what">
        	<b>求购：</b>
            <span>7000F,LLDPE,HDPE,7000F,LLDPE,HDPE,7000F,LLDPE,HDPE,7000F,LLDPE,HDPE</span>
        </div>
        <!--what end-->
        <!--del begin-->
        <div class="del"><b></b><span>删除</span></div>
        <!--del end-->
    </div>
    <!--buy-sell-my-top end-->
    <!--buy-sell-my-bot begin-->
    <div class="buy-sell-my-bot">
    	<div class="title msg-one">
    		<span></span>
            <h4>系统消息</h4>
        </div>
        <ul>
            <li>Ta要买：上海中晨电子商务股份有限公司</li>
            <li>Ta要卖：上海梓晨实业有限公司</li>
            <li>最新成交价：9750元/吨</li>
        </ul>
        <div class="title msg-two">
    		<span></span>
            <h4>塑料圈友</h4>
        </div>
        <ul>
            <li>黄飞鸿 说：我这里有200吨，可议价</li>
            <li>谢霆锋 说：9750/吨出</li>
        </ul>
    </div>
    <!--buy-sell-my-bot end-->
</div>
<!--buy-sell-my end-->
<!--buy-sell-my begin-->
<div class="buy-sell-my buy-my border-wrap w96">
	<!--buy-sell-my-top begin-->
    <div class="buy-sell-my-top">
    	<!--date begin-->
        <div class="date">
        	<b></b>
        	<span>2016-10-06 10:23:34</span>
        </div>
        <!--date end-->
        <!--what begin-->
        <div class="what">
        	<b>求购：</b>
            <span>7000F,LLDPE,HDPE,7000F,LLDPE,HDPE,7000F,LLDPE,HDPE,7000F,LLDPE,HDPE</span>
        </div>
        <!--what end-->
        <!--del begin-->
        <div class="del"><b></b><span>删除</span></div>
        <!--del end-->
    </div>
    <!--buy-sell-my-top end-->
    <!--buy-sell-my-bot begin-->
    <div class="buy-sell-my-bot">
    	<div class="title msg-one">
    		<span></span>
            <h4>系统消息</h4>
        </div>
        <ul>
            <li>Ta要买：上海中晨电子商务股份有限公司</li>
            <li>Ta要卖：上海梓晨实业有限公司</li>
            <li>最新成交价：9750元/吨</li>
        </ul>
        <div class="title msg-two">
    		<span></span>
            <h4>塑料圈友</h4>
        </div>
        <ul>
            <li>黄飞鸿 说：我这里有200吨，可议价</li>
            <li>谢霆锋 说：9750/吨出</li>
        </ul>
    </div>
    <!--buy-sell-my-bot end-->
</div>
<!--buy-sell-my end-->
