<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>供求</title>
<link rel="stylesheet" type="text/css" href="style/style.css"/>
</head>

<body>
<!--buy-sell-fixed begin-->
<div class="buy-sell-fixed">
    <!--buy-sell-search begin-->
    <div class="buy-sell-search">
        <div class="w96">
            <form name="" action="" method="post">
                <!--select begin-->
                <div class="select flt">
                    <select>
                        <option>全部</option>
                        <option>供给</option>
                        <option>求购</option>
                    </select>
                </div>
                <!--select end-->
                <!--search begin-->
                <div class="search frt">
                    <input type="text" placeholder="请输入厂家或牌号搜索" class="import flt"/>
                    <input type="submit" class="submit frt" value="搜索"/>
                </div>
                <!--search end-->
            </form>
        </div>
    </div>
    <!--buy-sell-search end-->
    <!--buy-sell-tab begin-->
    <div class="buy-sell-tab">
        <li id="tab1" onclick="setTab('tab',1,4)" class="hover"><a href="javascript:;">全部</a></li>
        <li id="tab2" onclick="setTab('tab',2,4)"><a href="javascript:;">智能推荐</a></li>
        <li id="tab3" onclick="setTab('tab',3,4)"><a href="javascript:;">我的关注</a></li>
        <li id="tab4" onclick="setTab('tab',4,4)"><a href="javascript:;">我的供求</a></li>
    </div>
    <!--buy-sell-tab end-->
</div>
<!--buy-sell-fixed end-->
<!--buy-sell-con begin-->
<div class="buy-sell-con">
	<!--con-tab-1 begin-->
    <div id="con-tab-1">
    	<!--list begin-->
        <ul>
        	<li>
            	<div class="w96 sell">
                    <!--thumb begin-->
                    <div class="thumb">
                        <div class="pic flt"><img src="img/male.jpg"><div class="authen no">V</div></div>
                        <span>上海八通石化有限公司</span>
                        <span>李小曼</span>
                    </div>
                    <!--thumb end-->
                    <!--info begin-->
                    <div class="info"><span>供给：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</div>
                    <!--info end-->
                    <!--other begin-->
                    <div class="other">
                    	<!--time begin-->
                    	<div class="time flt">06-20 13：53</div>
                        <!--time end-->
                        <!--feedback begin-->
                        <div class="feedback frt">
                        	<p class="bid"><a href="javascript:;">出价<span>(21)</span></a></p>
                            <p class="reply"><a href="javascript:;">回复<span>(21)</span></a></p>
                        </div>
                        <!--feedback end-->
                    </div>
                    <!--other end-->
                </div>
            </li>
            <li>
            	<div class="w96 buy">
                    <!--thumb begin-->
                    <div class="thumb">
                        <div class="pic flt"><img src="img/male.jpg"><div class="authen no">V</div></div>
                        <span>上海八通石化有限公司</span>
                        <span>李小曼</span>
                    </div>
                    <!--thumb end-->
                    <!--info begin-->
                    <div class="info"><span>求购：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</div>
                    <!--info end-->
                    <!--other begin-->
                    <div class="other">
                    	<!--time begin-->
                    	<div class="time flt">06-20 13：53</div>
                        <!--time end-->
                        <!--feedback begin-->
                        <div class="feedback frt">
                        	<p class="bid"><a href="javascript:;">出价<span>(21)</span></a></p>
                            <p class="reply"><a href="javascript:;">回复<span>(21)</span></a></p>
                        </div>
                        <!--feedback end-->
                    </div>
                    <!--other end-->
                </div>
            </li>
            <li>
            	<div class="w96 sell">
                    <!--thumb begin-->
                    <div class="thumb">
                        <div class="pic flt"><img src="img/male.jpg"><div class="authen no">V</div></div>
                        <span>上海八通石化有限公司</span>
                        <span>李小曼</span>
                    </div>
                    <!--thumb end-->
                    <!--info begin-->
                    <div class="info"><span>供给：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</div>
                    <!--info end-->
                    <!--other begin-->
                    <div class="other">
                    	<!--time begin-->
                    	<div class="time flt">06-20 13：53</div>
                        <!--time end-->
                        <!--feedback begin-->
                        <div class="feedback frt">
                        	<p class="bid"><a href="javascript:;">出价<span>(21)</span></a></p>
                            <p class="reply"><a href="javascript:;">回复<span>(21)</span></a></p>
                        </div>
                        <!--feedback end-->
                    </div>
                    <!--other end-->
                </div>
            </li>
            <li>
            	<div class="w96 sell">
                    <!--thumb begin-->
                    <div class="thumb">
                        <div class="pic flt"><img src="img/male.jpg"><div class="authen no">V</div></div>
                        <span>上海八通石化有限公司</span>
                        <span>李小曼</span>
                    </div>
                    <!--thumb end-->
                    <!--info begin-->
                    <div class="info"><span>供给：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</div>
                    <!--info end-->
                    <!--other begin-->
                    <div class="other">
                    	<!--time begin-->
                    	<div class="time flt">06-20 13：53</div>
                        <!--time end-->
                        <!--feedback begin-->
                        <div class="feedback frt">
                        	<p class="bid"><a href="javascript:;">出价<span>(21)</span></a></p>
                            <p class="reply"><a href="javascript:;">回复<span>(21)</span></a></p>
                        </div>
                        <!--feedback end-->
                    </div>
                    <!--other end-->
                </div>
            </li>
            <li>
            	<div class="w96 sell">
                    <!--thumb begin-->
                    <div class="thumb">
                        <div class="pic flt"><img src="img/male.jpg"><div class="authen no">V</div></div>
                        <span>上海八通石化有限公司</span>
                        <span>李小曼</span>
                    </div>
                    <!--thumb end-->
                    <!--info begin-->
                    <div class="info"><span>供给：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</div>
                    <!--info end-->
                    <!--other begin-->
                    <div class="other">
                    	<!--time begin-->
                    	<div class="time flt">06-20 13：53</div>
                        <!--time end-->
                        <!--feedback begin-->
                        <div class="feedback frt">
                        	<p class="bid"><a href="javascript:;">出价<span>(21)</span></a></p>
                            <p class="reply"><a href="javascript:;">回复<span>(21)</span></a></p>
                        </div>
                        <!--feedback end-->
                    </div>
                    <!--other end-->
                </div>
            </li>
            <li>
            	<div class="w96 sell">
                    <!--thumb begin-->
                    <div class="thumb">
                        <div class="pic flt"><img src="img/male.jpg"><div class="authen no">V</div></div>
                        <span>上海八通石化有限公司</span>
                        <span>李小曼</span>
                    </div>
                    <!--thumb end-->
                    <!--info begin-->
                    <div class="info"><span>供给：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</div>
                    <!--info end-->
                    <!--other begin-->
                    <div class="other">
                    	<!--time begin-->
                    	<div class="time flt">06-20 13：53</div>
                        <!--time end-->
                        <!--feedback begin-->
                        <div class="feedback frt">
                        	<p class="bid"><a href="javascript:;">出价<span>(21)</span></a></p>
                            <p class="reply"><a href="javascript:;">回复<span>(21)</span></a></p>
                        </div>
                        <!--feedback end-->
                    </div>
                    <!--other end-->
                </div>
            </li>
            <li>
            	<div class="w96 sell">
                    <!--thumb begin-->
                    <div class="thumb">
                        <div class="pic flt"><img src="img/male.jpg"><div class="authen no">V</div></div>
                        <span>上海八通石化有限公司</span>
                        <span>李小曼</span>
                    </div>
                    <!--thumb end-->
                    <!--info begin-->
                    <div class="info"><span>供给：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</div>
                    <!--info end-->
                    <!--other begin-->
                    <div class="other">
                    	<!--time begin-->
                    	<div class="time flt">06-20 13：53</div>
                        <!--time end-->
                        <!--feedback begin-->
                        <div class="feedback frt">
                        	<p class="bid"><a href="javascript:;">出价<span>(21)</span></a></p>
                            <p class="reply"><a href="javascript:;">回复<span>(21)</span></a></p>
                        </div>
                        <!--feedback end-->
                    </div>
                    <!--other end-->
                </div>
            </li>
        </ul>
        <!--list end-->
    </div>
    <!--con-tab-1 end-->
    <!--con-tab-2 begin-->
    <div id="con-tab-2" style="display:none;">bbb</div>
    <!--con-tab-2 end-->
    <!--con-tab-3 begin-->
    <div id="con-tab-3" style="display:none;">ccc</div>
    <!--con-tab-3 end-->
    <!--con-tab-4 begin-->
    <div id="con-tab-4" style="display:none;">ddd</div>
    <!--con-tab-4 end-->
</div>
<!--buy-sell-con end-->
</body>
<script src="js/tab.js"></script>
</html>
