<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情</title>
<link rel="stylesheet" type="text/css" href="style/style.css"/>
</head>

<body>
<!--back begin-->
<div class="back buy-sell-back"><a href="javascript:;"></a>详情</div>
<!--back end-->
<!--buy-sell-con begin-->
<div class="buy-sell-con buy-sell-con2">
	<ul>
    	<li>
            <div class="w96 buy">
                <!--thumb begin-->
                <div class="thumb">
                    <div class="pic flt"><img src="img/male.jpg"><div class="authen no">V</div></div>
                    <span>上海八通石化有限公司</span>
                    <span>李小曼</span>
                </div>
                <!--thumb end-->
                <!--info begin-->
                <div class="info"><span>求购：</span>高低压线性、7000F、LLDPE、HHDPE、2010S</div>
                <!--info end-->
                <!--other begin-->
                <div class="other">
                    <!--time begin-->
                    <div class="time flt">06-20 13：53</div>
                    <!--time end-->
                    <!--feedback begin-->
                    <div class="feedback frt">
                        <p class="bid"><a href="javascript:;">出价<span>(21)</span></a></p>
                        <p class="reply"><a href="javascript:;">回复<span>(21)</span></a></p>
                    </div>
                    <!--feedback end-->
                </div>
                <!--other end-->
            </div>
        </li>
    </ul>
</div>
<!--buy-sell-con end-->
<!--feedback-wrap begin-->
<div class="feedback-wrap">
	<!--feedback-tab begin-->
	<ul class="feedback-tab">
    	<li>出价消息</li>
        <li>回复消息</li>
    </ul>
    <!--feedback-tab end-->
</div>
<!--feedback-wrap end-->
</body>
<script src="js/tab.js"></script>
</html>
