<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中部</title>
<link rel="stylesheet" type="text/css" href="__CSS__/pc_plastic/style.css"/>
</head>

<body class="center">
<!--my-summary begin-->
<div class="my-summary">
	<!--my-summary-top begin-->
    <div class="my-summary-top">
    	<!--pic begin-->
    	<div class="pic flt">
        	<img src="__IMG__/pc_plastic/pic3.jpg">
            <div class="authen yes">V</div>
        </div>
        <!--pic end-->
        <!--person-info begin-->
        <div class="person-info flt">
        	<p>上海中晨电子商务股份有限公司</p>
            <p>阿拉丁 13872895670</p>
            <p class="opt">
            	<span class="change">更改用户信息<b></b></span>
                <span>上传名片加V认证<b>>></b></span>
            </p>
        </div>
        <!--person-info end-->
    </div>
    <!--my-summary-top end-->
    <!--my-summary-bot begin-->
    <div class="my-summary-bot">
    	<ul>
        	<li>
            	<span>10</span>
                <p>供给</p>
            </li>
            <li>
            	<span>10</span>
                <p>求购</p>
            </li>
            <li>
            	<span>10</span>
                <p>留言</p>
            </li>
            <li>
            	<span>10</span>
                <p>引荐</p>
            </li>
            <li>
            	<span>158</span>
                <p>粉丝</p>
            </li>
            <li>
            	<span>10</span>
                <p>关注</p>
            </li>
            <li>
            	<span>200</span>
                <p>积分</p>
            </li>
        </ul>
    </div>
    <!--my-summary-bot end-->
</div>
<!--my-summary end-->
<!--my-info begin-->
<div class="my-info">
	<ul>
    	<!--li begin-->
    	<li>
        	<!--item begin-->
            <div class="item">
            	<div class="icon icon1"></div>
            	<p>我的供给</p>
                <div class="text">10</div>
                <div class="arrow"></div>
            </div>
            <!--item end-->
            <!--item begin-->
            <div class="item">
            	<div class="icon icon2"></div>
            	<p>我的求购</p>
                <div class="text">10</div>
                <div class="arrow"></div>
            </div>
            <!--item end-->
        </li>
        <!--li begin-->
        <!--li begin-->
    	<li>
        	<!--item begin-->
            <div class="item">
            	<div class="icon icon3"></div>
            	<p>我的引荐</p>
                <div class="text">20</div>
                <div class="arrow"></div>
            </div>
            <!--item end-->
            <!--item begin-->
            <div class="item">
            	<div class="icon icon4"></div>
            	<p>我的粉丝</p>
                <div class="text">158</div>
                <div class="arrow"></div>
            </div>
            <!--item end-->
            <!--item begin-->
            <div class="item">
            	<div class="icon icon5"></div>
            	<p>我的关注</p>
                <div class="text">18</div>
                <div class="arrow"></div>
            </div>
            <!--item end-->
        </li>
        <!--li begin-->
        <!--li begin-->
    	<li>
        	<!--item begin-->
            <div class="item">
            	<div class="icon icon6"></div>
            	<p>我的留言</p>
                <div class="text">未读留言5</div>
                <div class="arrow"></div>
            </div>
            <!--item end-->
            <!--item begin-->
            <div class="item">
            	<div class="icon icon7"></div>
            	<p>我的消息</p>
                <div class="text">未读消息5</div>
                <div class="arrow"></div>
            </div>
            <!--item end-->
        </li>
        <!--li begin-->
        <!--li begin-->
    	<li>
        	<!--item begin-->
            <div class="item">
            	<div class="icon icon8"></div>
            	<p>我的积分</p>
                <div class="text">3500</div>
                <div class="arrow"></div>
            </div>
            <!--item end-->
        </li>
        <!--li begin-->
         <!--li begin-->
    	<li>
        	<!--item begin-->
            <div class="item">
            	<div class="icon icon9"></div>
            	<p>帮助</p>
                <div class="text">有问题点这里</div>
                <div class="arrow"></div>
            </div>
            <!--item end-->
        </li>
        <!--li begin-->
         <!--li begin-->
    	<li class="quit">
        	<!--item begin-->
            <div class="item">退出登录</div>
            <!--item end-->
        </li>
        <!--li begin-->
    </ul>
</div>
<!--my-info end-->
</body>
</html>
