<!--back begin-->
<div class="back"><a href="javascript:;"></a>登录</div>
<!--back end-->
<!--login begin-->
<div class="form-wrap login">
	<form name="" method="get" action="" id="login-form">
		<!--error-msg begin-->
		<div class="error-msg">
			<p class="inner icon-alert"></p>
		</div>
		<!--error-msg end-->
		<div class="form-tr">
			<div class="name name-text">手机号</div>
			<div class="val val-text"><input type="text"  id="mobile" placeholder="请输入手机号" name="mobile"/></div>
		</div>
		<div class="form-tr">
			<div class="name name-text">密<span></span>码</div>
			<div class="val val-text"><input type="password" id="password" placeholder="请输入密码" name="password"/></div>
		</div>
		<div class="form-tr check">
			<input type="checkbox" id="rem"/>
			<label for="rem">记住密码</label>
		</div>
		<p class="go-reg">还没有账号？去<a href="javascript:;">免费注册</a></p>
		<div class="form-tr">
			<button class="btn1">登录</button>
		</div>
		<p class="forget frt"><a href="javascript:;">忘记密码？</a></p>
	</form>
</div>
<!--login end-->
<script src="__JS__/pc_plastic/jquery-1.8.3.min.js"></script>
<script src="__JS__/pc_plastic/jquery.validate.min.js"></script>
<script src="__JS__/pc_plastic/common.js"></script>
<script src="__JS__/pc_plastic/other.js"></script>
<script>
$( function () {
	var right = $( ".right" ),
		reg = $( ".go-reg a" ),
		forgetPwd = $( ".forget a" ),
		defaultPage = $( ".back a" );
		
	//跳转到注册	
	reg.bind( "click", function () {
		right.load( "http://test.myplas.com/pc_plastic/index/register" );
	} );
	
	//跳转到忘记密码
	forgetPwd.bind( "click", function () {
		right.load( "http://test.myplas.com/pc_plastic/index/forget_pwd" );
	} );
	
	//跳转到默认页面
	defaultPage.bind( "click", function () {
		right.load( "http://test.myplas.com/pc_plastic/index/right" );
	} );

	// 登录
	$('.btn1').click(function(){
		var mobile=$('#mobile').val();
		var password=$('#password').val();
        var localstroage = window.localStorage;
        $.post('http://test.myplas.com/api/qapi1_2/login',{username:mobile,password:password},function (data) {
			if(data.err==0){
                 localstroage.setItem('token',data.dataToken);
				alert(data.msg);
                alert(localstroage.getItem('token'));
				location.href='http://test.myplas.com/api/qapi1_2/getPlasticPerson='+data.dataToken+'&user_id='+data.user_id;
			}
			if(data.err==1){alert(data.msg); return;}
			if(data.err==3){alert(data.msg); return;}
			if(data.err==4){alert(data.msg); return;}
			if(data.err==6){alert(data.msg); return;}
            if(data.err==8){alert(data.msg); return;}
            if(data.err==9){alert(data.msg); return;}
		},'json')
	});

    function setCookie(name,value,expiredays)
    {
        var exdate=new Date()
        exdate.setDate(exdate.getDate()+expiredays)
        document.cookie=c_name+ "=" +escape(value)+
            ((expiredays==null) ? "" : ";expires="+exdate.toGMTString())
    }
} );
</script>
