<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <style>
    	body,html{ margin: 0; padding: 0; width: 100%; height: 100%; background: #e9261f;}
    	body{ background: url(img/app.jpg) no-repeat center; background-size: 100% 100%;}
    	#app2{ width: 100%;}
    	#app2 img{ width: 90%; margin: 20% 5% 0 5%;}
    	#txt{ margin: 10% 8% 0 8%;}
    </style>
</head>
<body>
	<div id="app2">
		<img src="img/app2.png">
	</div>	
	<div id="txt">
		<p style="font-size: 24px; color: #FFFFFF;">启禀小主：</p>
		<p style="font-size: 18px; color: #f6ff00; text-indent: 2em;">您的旧版APP已经停止维护更新，请前往我的塑料网主页下载最新版APP！</p>
	</div>
</body>
</html>