<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <style>
		html, body {
			position: relative;
			height: 100%;
		}
		body {
			background: #df2b26;
			font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			font-size: 14px;
			color:#000;
			margin: 0;
			padding: 0;
		}
		img{ width: 100%; display: block;}
    </style>
</head>
<body>
<img src="__MYAPP__/img/update.jpg">
</body>
</html>