{layout file="public:main_layout"}
{insert_css files="home/physical.css"}
<script type="text/javascript">
</script>
<div class="content">
	<div class="logo2">
		<img src="__IMG__/home/physical_form_logo.jpg">
		<h1>物性表大全</h1>
	</div>
	<div class="search-container">
		<form id="search-form" method="get" onSubmit="return searched()" action="/physical/index/search">
			<input type="text" autocomplete="off" id="keyword" name="keyword" value="">
			<button type="submit" class="btn">搜索</button>
		</form>
		<div class="suggest" style="display: none;">
			<ul id="search_list">
			</ul>
		</div>
	</div>
	<div class="tag-container">
		<div class="left">
			<img src="__IMG__/home/physical.jpg">
		</div>
		<div class="right">
			<div class="hot-word"><h1>热搜词</h1></div>
			<ul>
				<li><a href="/physical/index/search?keyword=1002YB">1002YB</a><span>HOT</span></li>
				<li><a href="/physical/index/search?keyword=2100TN00">2100TN00</a><span>HOT</span></li>
				<li><a href="/physical/index/search?keyword=2426H">2426H</a><span>HOT</span></li>
				<li><a href="/physical/index/search?keyword=2420H">2420H</a></li>
				<li><a href="/physical/index/search?keyword=2102TX00">2102TX00</a><span>HOT</span></li>
				<li><a href="/physical/index/search?keyword=2119">2119</a></li>
				<li><a href="/physical/index/search?keyword=TR131">TR131</a></li>
			</ul>
			<ul style="left:202px;">
				<li><a href="/physical/index/search?keyword=7000F">7000F</a><span>HOT</span></li>
				<li><a href="/physical/index/search?keyword=2426H">2426H</a><span>HOT</span></li>
				<li><a href="/physical/index/search?keyword=2100TN00">2100TN00</a></li>
				<li><a href="/physical/index/search?keyword=5502BN">5502BN</a></li>
				<li><a href="/physical/index/search?keyword=52518">52518</a></li>
				<li><a href="/physical/index/search?keyword=9001">9001</a></li>
				<li><a href="/physical/index/search?keyword=FB6001">FB6001</a></li>
			</ul>
		</div>
	</div>
</div>
{insert_js files="home/physical.js"}