{layout file="public:main_layout"}
{insert_css files='home/master.css'}
<div class="yebbg">
	<div class="yemain">
		{include file="page:help_left"}
		<div class="yemainr">
			<div class="yemainra">
				<div class="yebl feedback">
					<div class="yeblt">意见反馈</div>
					<div class="gongwiabwbnege">
						<form name="" method="post" action="">
							<textarea placeholder="请输入您的意见..."></textarea>
							<input type="submit" value="提交"/>
						</form>
					</div>
				    <div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>