<div class="yemainl">
	<div class="yemainla">
		<p class="yemainlat" style=" border-bottom:none;">用户<font style="color:#ee4822;">帮助</font></p>
		<div class="yemainlab_bane">
			<ul>
				<li>
					<a class="ahover">注册相关</a>
					<ul class="yemainlab_bane_a">
						<li><a href="/page/show.html?cid=15" class="ahover">注册流程</a></li><li><a href="/page/show.html?cid=16">无法登录/忘记密码</a></li><li><a href="/page/show.html?cid=17">修改账户信息</a></li>     
					</ul>
				</li>
				<li>
					<a class="ahover">交易相关</a>
					<ul class="yemainlab_bane_a">
						<li><a href="/page/show.html?cid=18">如何委托交易</a></li><li><a href="/page/show.html?cid=19">如何自己找货</a></li><li><a href="/page/show.html?cid=20">如何查看采购单状态</a></li><li><a href="/page/show.html?cid=21">如何发布报价单</a></li><li><a href="/page/show.html?cid=23">如何报价采购信息</a></li><li><a href="/page/show.html?cid=30">如何批量发布报价</a></li>     
					</ul>
				</li>
				<li>
					<a class="ahover">积分商城相关</a>
					<ul class="yemainlab_bane_a">

					</ul>
				</li>
				<li>
					<a class="ahover">中晨物流相关</a>
					<ul class="yemainlab_bane_a">

					</ul>
				</li>      
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>