<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>中晨物流</title>

<link href="__CSS__/home/master.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__CSS__/home/ship.css"/>

<style type="text/css">

.mask-close{ width:66px!important; height:66px!important; background: url(__IMG__/home/iconClose.png) no-repeat center center rgba(0,0,0,.5)!important; top:4px!important; right:59px!important;}

.layer-close{ background:url(__IMG__/home/iconClose2.png) no-repeat!important;}

</style>

<script type="text/javascript" src="__JS__/home/MSClass.js"></script>

</head>



<body>

<!--header begin-->

<div class="header">

	<div class="w1200" style="overflow:visible;">

		<!--top begin-->

		<div class="top">

			<!--logo begin-->

			<div class="logo flt"><a href="javascript:;"><img src="__IMG__/home/ship/logo.png" width="113" height="36"/></a></div>

			<!--logo end-->

			<!--right begin-->

			<div class="right frt">

				<p><span>找车热线</span> 021-60949820</p>

				<ul>

					<li class="home"><a href="/">返回我的塑料网首页</a></li>

					<li style="color:orange;"><if condition="$_SESSION['webUserId'] neq ''"><else /><a href="javascript:;" class="login">登录</a></if></li>

					<li style="color:#FFF;">|&nbsp;&nbsp;&nbsp;<a href="">退出</a><a href="">注册</a></li>

					<li><a href="/page/show.html?cid=15">常见问题</a></li>

					<li><a href="/page/show.html?cid=11">联系我们</a></li>

					<li><a href="/page/show.html?cid=9">意见反馈</a></li>

				</ul>

			</div>

			<!--right end-->

		</div>

		<!--top end-->

		<div class="slogan"><img src="__IMG__/home/slogan.png" width="522" height="59"/></div>

		<!--notice begin-->

		<div class="notice">

			<ul id="news-text">


					<li>123 于 122 委托 <span>21321</span> 吨货物 已经成交</li>


			</ul>

			<script type="text/javascript">new Marquee("news-text","down",5,300,30,0,2000)</script>

		</div>

		<!--notice end-->

		<!--search begin-->

		<div class="search">

			<form name="" method="post" action="">

				<ul class="search-inner">

					<li class="input addr addr-from">

						<img src="__IMG__/home/iconAddr.png" width="13" height="18"/>

						<input type="text" placeholder="选择装点..."/>

						<div class="sub-from">

							<div class="arrow"></div>

							<ul>

								<li><b></b><span>上海宝山区</span></li>

								<li><b></b><span>上海外高桥保税仓库</span></li>

								<li><b></b><span>上海洋山地区</span></li>

								<li><b></b><span>上海金山区</span></li>

								<li><b></b><span>上海奉贤区</span></li>

							</ul>

						</div>

						<!--error-msg begin-->

						<div class="error-msg">

							<div class="arrow"></div>

							<p>请先选择装点</p>

						</div>

						<!--error-msg end-->

					</li>

					<li class="input addr addr-to">

						<img src="__IMG__/home/iconAddr.png" width="13" height="18"/>

						<input type="text" placeholder="选择卸点..."/>

						<!--sub-to begin-->

						<div class="sub-to">

							<div class="arrow"></div>

							<!--sub-to-con begin-->

							<div class="sub-to-con">

								<p>请选择对应的卸点城市</p>

								<!--xl begin-->

								<div class="xl">

									 <!--xl-tr begin-->

									 <div class="xl-tr">

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one"><b>A</b><span data-index="0">安庆</span></div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>Q</b>

												<span data-index="1">衢州</span>

											</div>                                        

											<div class="two"></div>

										</div>

										<!--xl-td end-->

									</div>

									<!--xl-tr end-->

									<!--xl-tr begin-->

									<div class="xl-tr">

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one"><b>B</b><span data-index="2">蚌埠</span></div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>S</b>

												<span data-index="3">上海市</span>

												<span data-index="4">绍兴</span>

												<span data-index="5">苏州</span>

												<span data-index="6">宿迁</span>

											</div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

									</div>

									<!--xl-tr end-->

									<!--xl-tr begin-->

									<div class="xl-tr">

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>C</b>

												<span data-index="7">常州</span>

												<span data-index="8">滁州</span>

											</div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>T</b>

												<span data-index="9">台州</span>

												<span data-index="10">泰州</span>

											</div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

									</div>

									<!--xl-tr end-->

									<!--xl-tr begin-->

									<div class="xl-tr">

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>H</b>

												<span data-index="11">杭州</span>

												<span data-index="12">湖州</span>

												<span data-index="13">淮安</span>

												<span data-index="14">合肥</span>

												<span data-index="15">黄山</span>

											</div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>W</b>

												<span data-index="16">温州</span>

												<span data-index="17">无锡</span>

												<span data-index="18">芜湖</span>

											</div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

									</div>

									<!--xl-tr end-->

									<!--xl-tr begin-->

									<div class="xl-tr">

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>J</b>

												<span data-index="19">嘉兴</span>

												<span data-index="20">金华</span>

											</div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>X</b>

												<span data-index="21">徐州</span>

												<span data-index="22">宣城</span>

											</div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

									</div>

									<!--xl-tr end-->

									<!--xl-tr begin-->

									<div class="xl-tr">

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>L</b>

												<span data-index="23">连云港</span>

												<span data-index="24">六安</span>

											</div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>Y</b>

												<span data-index="25">盐城</span>

												<span data-index="26">扬州</span>

											</div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

									</div>

									<!--xl-tr end-->

									<!--xl-tr begin-->

									<div class="xl-tr">

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>M</b>

												<span data-index="27">马鞍山</span>

											</div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>Z</b>

												<span data-index="28">镇江</span>

											</div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

									</div>

									<!--xl-tr end-->

									<!--xl-tr begin-->

									<div class="xl-tr">

										<!--xl-td begin-->

										<div class="xl-td">

											<div class="one">

												<b>N</b>

												<span data-index="29">宁波</span>

												<span data-index="30">南京</span>

												<span data-index="31">南通</span>

											</div>

											<div class="two"></div>

										</div>

										<!--xl-td end-->

									</div>

									<!--xl-tr end-->

								</div>

								<!--xl end-->

							</div>

							<!--sub-to-con end-->

						</div>

						<!--sub-to end-->

					</li>

					<li class="input num">

						<img src="__IMG__/home/iconNum.png" width="17" height="17"/>

						<input type="text" placeholder="输入吨数..." onkeyup="setCon(this)"/>

						<!--error-msg begin-->

						<div class="error-msg">

							<div class="arrow"></div>

							<p></p>

						</div>

						<!--error-msg end-->

					</li>

					<li class="btn">查运价</li>

				</ul>

			</form>

		</div>

		<!--search end-->

		<!--tips begin-->

		<div class="tips">

			<ul>

				<li class="tip1">中晨塑料即将登陆新三板，即中国塑料电商第一股</li>

				<li class="tip2">中晨物流 安全可靠</li>

				<li class="tip3">10年信誉 值得信赖</li>

			</ul>

		</div>

		<!--tips end-->

	</div>

</div>

<!--header end-->

<!--feature begin-->

<div class="feature w1200">

	<ul>

		<li class="feature1">

			<div></div>

			<h3>交易安全</h3>

			<p>全程跟踪物流状态<br/>确保安全抵达</p>

		</li>

		<li class="feature2">

			<div></div>

			<h3>合作物流</h3>

			<p>我们只与大型物流公司合作<br/>保证安全可靠</p>

		</li>

		<li class="feature3">

			<div></div>

			<h3>最低价格</h3>

			<p>中晨全部与大型物流公司合作<br/>车队资源一应俱全</p>

		</li>

		<li class="feature4">

			<div></div>

			<h3>真人找车</h3>

			<p>所有委托全部真人全程跟进<br/>放心省事服务好</p>

		</li>

	</ul>

</div>

<!--feature end-->

<!--market begin-->

<div class="market"></div>

<!--market end-->

<!--transport begin-->

<div class="transport cooperate w1200">

	<div class="title"><img src="__IMG__/home/title1.png" width="364" height="61"/></div>

	<ul>

		<li data-index="0">

			<img src="__IMG__/home/transport1.png" width="350" height="260"/>

			<div class="agreement agreement-tran">合作协议</div>

		</li>

		<li data-index="1">

			<img src="__IMG__/home/transport2.png" width="350" height="260"/>

			<div class="agreement agreement-tran">合作协议</div>

		</li>

		<li data-index="2">

			<img src="__IMG__/home/transport3.png" width="350" height="260"/>

			<div class="agreement agreement-tran">合作协议</div>

		</li>

		<li data-index="3">

			<img src="__IMG__/home/transport4.png" width="350" height="260"/>

			<div class="agreement agreement-tran">合作协议</div>

		</li>

		<li data-index="4">

			<img src="__IMG__/home/transport5.png" width="350" height="260"/>

			<div class="agreement agreement-tran">合作协议</div>

		</li>

	</ul>

</div>

<!--transport end-->

<!--find-car begin-->

<div class="find-car">

	<div class="w1200" style=" height:240px; position:relative;">

		<div class="find-car-form">

			<form name="" method="post" action="">

				<input type="text" class="find-car-input" placeholder="输入要找车的需求...例如：上海到无锡，10吨货，什么价格..."/>

				<input type="button" class="find-car-btn" value="立即找车"/>

			</form>

		</div>

	</div>

</div>

<!--find-car end-->

<!--storage begin-->

<div class="storage cooperate w1200">

	<div class="title"><img src="__IMG__/home/title2.png" width="476" height="61"/></div>

	<ul>

		<li data-index="0">

			<img src="__IMG__/home/storage1.png" width="350" height="260"/>

			<div class="agreement agreement-storage">合作协议</div>

		</li>

		<li data-index="1">

			<img src="__IMG__/home/storage2.png" width="350" height="260"/>

			<div class="agreement agreement-storage">合作协议</div>

		</li>

		<li data-index="2">

			<img src="__IMG__/home/storage3.png" width="350" height="260"/>

			<div class="agreement agreement-storage">合作协议</div>

		</li>

		<li data-index="3">

			<img src="__IMG__/home/storage4.png" width="350" height="260"/>

			<div class="agreement agreement-storage">合作协议</div>

		</li>

		<li data-index="4">

			<img src="__IMG__/home/storage5.png" width="350" height="260"/>

			<div class="agreement agreement-storage">合作协议</div>

		</li>

		 <li data-index="5">

			<img src="__IMG__/home/storage6.png" width="350" height="260"/>

			<div class="agreement agreement-storage">合作协议</div>

		</li>

	</ul>

</div>

<!--storage end-->

<!--fix begin-->

<div class="fix">

	<ul>

		<li class="fix1">

			<div class="ewm">

				<img src="__IMG__/home/ewm.png" width="100" height="100"/>

				<p>扫码关注官方微信</p>

			</div>

			<div class="icon-arrow"><img src="__IMG__/home/iconArrow3.png" width="10" height="19"/></div>

		</li>

		<li class="fix2">

			<div class="echelon"></div>

			<div class="explain">021-60949820</div>

		</li>

		<li class="fix3">

			<div class="echelon"></div>

			<div class="explain">反馈建议</div>

		</li>

		<li class="fix4">

			<div class="echelon"></div>

			<div class="explain">返回顶部</div>

		</li>

	</ul>

</div>

<!--fix end-->

<!--layer begin-->

<div class="layer">

	<!--layer-search begin-->

	<div class="layer-search">

		<!--order-info begin-->

		<div class="order-info">

			<!--left begin-->

			<div class="left flt">

				<div class="addr-from"><span>装点</span><p></p></div>

				<div class="addr-to"><span>卸点</span><p></p></div>

			</div>

			<!--left end-->

			<!--cen begin--> 

			<div class="cen flt">

				<span>吨数</span>

				<p></p>

			</div>

			<!--cen end-->

			<!--right begin-->

			<div class="right flt">

				<span>预计运费</span>

				<p><b>￥</b><i class="fee">577.50</i></p>

				<div class="other">该报价含<em>开票费</em>和<em>上车费</em></div>

			</div>

			<!--end begin-->

		</div>

		<!--order-info end-->

		<!--order-car begin-->

		<div class="order-car">

			<div class="btn">我要订车</div>

		</div>

		<!--order-car end-->

	</div>

	<!--layer-search end-->

	<!--layer-answer begin-->

	<div class="layer-answer">

		<div class="check"><img src="__IMG__/home/iconCheck.png" width="66" height="66"/></div>

		<h3>已收到您的找车需求</h3>

		<p>物流专员会尽快与您联系</p>

		<div class="tel">客服热线<span>021-60949820</span></div>

	</div>

	<!--layer-answer end-->

</div>

<!--layer end-->

<!--layer-error begin-->

<div class="layer-error"><p></p></div>

<!--layer-error end-->
<!--mask-tran begin-->
<div class="mask mask-tran">
	<!--left begin-->
    <ul class="left flt"><li class="hover">合作<br/>协议</li></ul>
    <!--left end-->
    <!--right begin-->
    <ul class="right frt"><li><img src="" width="640" height="480"/></li></ul>
    <!--right end-->
</div>
<!--mask-tran end-->
<!--mask-storage begin-->
<div class="mask mask-storage">
	<!--left begin-->
    <ul class="left flt">
    	<li id="tab1" onclick="setTab('tab',1,2)" class="hover">合作<br/>协议</li>
        <li id="tab2" onclick="setTab('tab',2,2)">营业<br/>执照</li>
    </ul>
    <!--left end-->
    <!--right begin-->
    <ul class="right frt">
    	<li id="con-tab-1"><img src=""/></li>
        <li id="con-tab-2" style="display:none;"><img src=""/></li>
    </ul>
    <!--right end-->
</div>
<!--mask-storage end-->
<input type="hidden" value="" class="my-user" />
</body>

<script type="text/javascript" src="__JS__/home/jquery-1.8.3.min.js"></script>

<script type="text/javascript" src="__JS__/home/layer.min.js"></script>

<script type="text/javascript" src="__JS__/home/address.js"></script>

<script type="text/javascript">

$(function(){

	$(".sub-to-con .xl-tr .xl-td:nth-child(2n) .two").css({"left":"-263px"});

	
	//跳转到反馈意见页面
	$(".fix3").bind("click",function(){
		
		window.open("http://user.wodesuliao.cn/page/show.html?cid=9");
	});

	//返回顶部

	$(".fix4").bind("click",function(){

		$('html,body').animate({'scrollTop':0},300,function(){

			$(".fix4").hide();

		});

	});

	

	$(window).bind("scroll",function(){

		if($(window).scrollTop()>=200){

			$(".fix4").show();

		}

	});

	

	//选择装点

	var addrFrom = $(".search .addr-from"),

		addrFromInput = addrFrom.find("input"),

		subFrom = addrFromInput.next(".sub-from"),

		addToInput = $(".search .addr-to input"),

		subTo = $(".search .sub-to"),

		num = $(".search .num"),

		numInput = num.find("input");

	addrFromInput.bind("focus",function(){

		subFrom.show();
		if(subTo.is(":visible")) subTo.hide();

		//如果错误提示是显示的,则隐藏掉 

		if(addrFrom.find(".error-msg").is(":visible")) addrFrom.find(".error-msg").hide();

			

	});

	subFrom.find("li").bind("click",function(){

		addrFromInput.val($(this).find("span").html());

		subFrom.hide();

		if(addToInput.val()=="") subTo.show();

	})

	

	//打开选择卸点中二级地址

	addToInput.bind("focus",function(){

		subTo.show();
		if(subFrom.is(":visible")) subFrom.hide();

	});

	

	$(".search .sub-to .xl-tr .one span").bind("click",function(){

		

		var str = "",selAddr = "", tempAddr = $(this).html();

		var index = ($(this).attr("data-index"));

		

		$(".search .sub-to .xl-tr .one").find("span").removeClass("hover");

		$(".one").removeClass("z-index-up");

		$(".two").hide();

		$(this).addClass("hover").parent().addClass("z-index-up").next(".two").show();

		

		//显示数据

		for(var i=1;i<address[index].length;i++){

			str+="<span>"+address[index][i]+"</span>";

		}

		$(this).closest(".xl-tr").find(".two").html(str);

		

		//点击某一个具体的地址

		$(this).closest(".xl-tr").find(".two span").bind("click",function(){

			selAddr = tempAddr +'|'+ $(this).html();

			addToInput.val(selAddr);

			subTo.hide();

			subTo.find(".two").hide();

			subTo.find(".one").find("span").removeClass("hover");

			if(addrFromInput.val()=="") subFrom.show();

		});

	});

	

	//点击提交搜索

	var layerSearch = $(".layer-search");

	var layerAnswer = $(".layer-answer");

	var layerFrom = layerSearch.find(".addr-from p");

	var layerTo = layerSearch.find(".addr-to p");

	var layerNum = layerSearch.find(".cen p");

	$(".search .btn").bind("click",function(){


		

		//判断是否选择了装点

		if(addrFromInput.val()==""){

			addrFrom.find(".error-msg").show()

			return;

		}

		//判断是否输入了吨数

		if(numInput.val()==""){

			num.find(".error-msg p").html("请输入吨数");

			num.find(".error-msg").show();

			return;

		}

		else if(numInput.val()<5){

			num.find(".error-msg p").html("吨数须等于或大于5吨");

			num.find(".error-msg").show();

			return;

		}

		else{

			num.find(".error-msg").hide();

		}

		//异步获取价格信息

		var form =addrFromInput.val();

		var to = addToInput.val().split('|')[1];

		var pr = addToInput.val().split('|')[0];

		var weight = numInput.val();

		$.ajax({

			url: "/ship/index/get_price",

			type : 'post',

			dataType : 'json',

			data : {s : form, e : to, w : weight, p : pr},

				success:function(data){

				if(data.err==0){

					$('.fee').html(data.msg);

					$.layer({

						area: ['640px', '300px'],

						border:[0],

						type: 1,

						title:false,

						page: {dom:'.layer'},

						close:function(){

						},

						success:function(){

							layerSearch.show();

							layerAnswer.hide()

							layerFrom.html(addrFromInput.val());

							layerTo.html(addToInput.val());

							layerNum.html(numInput.val());

							$(".layer").parent().next("span").find("a").addClass("layer-close");

						} 

					});

				}else{


		$.layer({
			area: ['400px', '180px'],
			border:[0],
			type: 1,
			title:false,
			page: {dom:'.layer-error'},
			close:function(){
			},
			success:function(){
				var str = "您所查询的不在该范围";
				$(".layer-error p").html(str);
				$(".layer-error").parent().next("span").find("a").addClass("layer-close");
			} 
		});




				}

			},



		 })

		

	});

	//点击右上角登入
	$(".login").bind("click",function(){
		if($(".my-user").val()==""){
			//iframe登录窗
			$.layer({
				type: 2,
				border: [0],
				title: false,
				fix:true,
				iframe: {src : "http://user.wodesuliao.cn/login/loginbox?type=ship"},
				area: ['360px', '340px']
			});
			return;
	    }
	});

	//点击我要订车

	$(".order-car .btn").bind("click",function(){

		if($(".my-user").val()==""){
			//iframe登录窗
			$.layer({
				type: 2,
				border: [0],
				title: false,
				fix:true,
				iframe: {src : "http://user.wodesuliao.cn/login/loginbox?type=ship"},
				area: ['360px', '340px']
			});
			return;
	    }
		

		//异步获取价格信息

		var form =addrFromInput.val();

		var to = addToInput.val();

		var weight = numInput.val();

		var price = $('.fee').html();

		$.ajax({

			url: "",

			type : 'post',

			dataType : 'json',

			data : {s : form, e : to, w : weight, p : price},

				success:function(data){

				if(data.err==0){

					layerSearch.hide();

					layerAnswer.show();

					//清空查运价搜索框

					addrFromInput.val("");

					addToInput.val("");

					numInput.val("");

				}else{

					//请在这里补充错误图层

					$.layer({

						area: ['400px', '200px'],

						border:[0],

						type: 1,

						title:false,

						page: {dom:'.layer-error'},

						close:function(){

						},

						success:function(){

						      if(data.err==2){

						      	var str = "",n=3;

						      	



						      	setInterval(function(){

						      		str  = data.msg+(n--)+"秒后跳转到登录页";

						      		$(".layer-erro p").html(str);	

						      		if(n<0) n=0;

						      		if(n==0)  location = "";

						      	},1000);

						   

						      }

						      $(".layer-error p").html(data.msg);	

						      $(".layer-error").parent().next("span").find("a").addClass("layer-close");

						} 

					});

				}

			},



		 })

		

	});

	

	//点击立即找车

	var findCarInput = $(".find-car-input");

	$(".find-car-btn").bind("click",function(){

		if(findCarInput.val()==""){

			findCarInput.focus();

			return;

		}

		else{

			$.layer({

			area: ['640px', '300px'],

			border:[0],

			type: 1,

			title:false,

			page: {dom:'.layer'},

			close:function(){

				

			},

			success:function(){

				layerSearch.hide();

				layerAnswer.show();

				$(".layer").parent().next("span").find("a").addClass("layer-close");

			} 

			});

		}

	});

	
	//运输合作协议
	var dataIndex1,strUrl1,agreementImg1 = $(".mask-tran .right img");
	 $(".cooperate li .agreement-tran").bind("click",function(){
		dataIndex1 = $(this).parent().attr("data-index");
		strUrl1 = "__IMG__/home/agreementTran"+dataIndex1+".png";
		agreementImg1.attr("src",strUrl1);
		$.layer({
			area: ['738px', '488px'],
			border:[0],
			bgcolor: '',
			type: 1,
			title:false,
			page: {dom:'.mask-tran'},
			close:function(){
			},
			success:function(){
				$(".mask").parent().next("span").find("a").addClass("mask-close");

			} 
		});
	});

	//仓储合作协议
	var dataIndex2,strUrl2,strUrl3,agreementImg2 = $("#con-tab-1 img"),agreementImg3 = $("#con-tab-2 img");

	$(".cooperate li .agreement-storage").bind("click",function(){

        dataIndex2 = $(this).parent().attr("data-index");

        strUrl2 = "__IMG__/home/agreementSto"+dataIndex2+".png";
		strUrl3 = "__IMG__/home/licence"+dataIndex2+".png";

        agreementImg2.attr("src",strUrl2);
        agreementImg3.attr("src",strUrl3);

		$.layer({

			area: ['738px', '488px'],

			border:[0],

			bgcolor: '',

			type: 1,

			title:false,

			page: {dom:'.mask-storage'},

			close:function(){

				document.getElementById("tab1").className = "hover";

				document.getElementById("tab2").className = "";	

				document.getElementById("con-tab-1").style.display = "block";

				document.getElementById("con-tab-2").style.display = "none";

			},

			success:function(){

				$(".mask").parent().next("span").find("a").addClass("mask-close");

			} 

		});

	});

});



function setCon(myThis){

	 myThis.value = myThis.value.replace(/[^\d.]/g,""); 

}



function setTab(name,cursel,n){

	for(i=1;i<=n;i++){

		var menu=document.getElementById(name+i);

		var con=document.getElementById("con-"+name+"-"+i);

		menu.className=i==cursel?"hover":"";

		con.style.display=i==cursel?"block":"none";

	}

}

</script>
</html>

