{layout file="public:main_layout"}
{insert_css files="home/physical.css"}
<div class="crumb w1220">
    <p>当前位置 - 首页 》</p>
    <span>物性表</span>
</div>
<div id="main" class="main">
<div class="name">
	<div class="left">{$data.type} / {$data.name}</div>
	<div class="center">
			生产企业
	</div>
	<div class="right">{$data.company}</div>
</div>

<div class="title title1"><h3>规格用途</h3></div>
{$data.uses}
<div class="title title2"><h3>技术参数</h3></div>
{$data.params}
</div>
<div id="print_box">
	<a href="/physical/index/content/id/{$data.lid}/print/1.html" class="btn" target="_blank">打印</a>
</div>
