{layout file="public:main_layout"}
{insert_css files="home/physical.css"}
<script type="text/javascript">
</script>
<div class="content">
	<div class="logo2">
		<img src="__IMG__/home/physical_form_logo.jpg">
		<h1>物性表大全</h1>
	</div>
	<div class="search-container">
		<form id="search-form" method="get" onSubmit="return searched()" action="/physical/index/search">
			<input type="text" autocomplete="off" id="keyword" name="keyword" value="">
			<button type="submit" class="btn">搜索</button>
		</form>
		<div class="suggest" style="display: none;">
			<ul id="search_list">
			</ul>
		</div>
	</div>
	<div class="tag-container">
		<div class="left">
			<img src="__IMG__/home/physical.jpg">
		</div>
		<div class="right">
			<div class="hot-word"><h1>热搜词</h1></div>
			<ul>
				<li><a href="/physical/key/2119.html">2119</a><span>HOT</span></li>
				<li><a href="/physical/key/2100TN00.html">2100TN00</a><span>HOT</span></li>
				<li><a href="/physical/key/2426H.html">2426H</a><span>HOT</span></li>
				<li><a href="/physical/key/2420H.html">2420H</a></li>
				<li><a href="/physical/key/2102TX00.html">2102TX00</a><span>HOT</span></li>
				<li><a href="/physical/key/1002YB.html">1002YB</a></li>
				<li><a href="/physical/key/TR131.html">TR131</a></li>
			</ul>
			<ul style="left:202px;">
				<li><a href="/physical/key/7000F.html">7000F</a><span>HOT</span></li>
				<li><a href="/physical/key/2426H.html">2426H</a><span>HOT</span></li>
				<li><a href="/physical/key/2100TN00.html">2100TN00</a></li>
				<li><a href="/physical/key/5502BN.html">5502BN</a></li>
				<li><a href="/physical/key/52518.html">52518</a></li>
				<li><a href="/physical/key/9001.html">9001</a></li>
				<li><a href="/physical/key/FB6001.html">FB6001</a></li>
			</ul>
		</div>
	</div>
</div>
{insert_js files="home/physical.js"}