<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>我的塑料网-积分商城</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link href="__CSS__/wx/normalize.css" rel="stylesheet">
	<link href="__CSS__/wx/layer.css" rel="stylesheet">
	<link href="__CSS__/wx/app.css" rel="stylesheet">
	<script src="__JS__/wx/jquery-2.2.3.min.js" type="text/javascript"></script>
	<script src="__JS__/wx/layer.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () {

			var creditshopLi="";
			var gtype="";
			$.ajax({
				type:"post",
				url:"/touch/creditshop/get_creditshop",
				data:{gtype:gtype},
				dataType:'json',
				beforeSend:function () {
					layer.open({
						content: '加载中…'
					});
				},
				success:function (res) {
					if(res.err==1){
						window.location.href="/touch/login";
					}else{
						$("#credit").html(res.points);
						console.log(">>>",res);
						layer.closeAll();
						if(!res.shop){
							$(".shopUl").html("<li style='width: 100%; background: none; text-align: center; line-height: 60px;'>暂无数据</li>");
						}else{
							res.shop.forEach(function (v,i,a) {
								creditshopLi+="<li data-id='"+ v.id +"'><div style='width:100%; text-align:center'>" +
										"<img src='"+ v.thumb +"'></div>" +
										"<h3>"+ v.name +"</h3>" +
										"<p><span>"+ v.points +"</span>&nbsp;积分</p></li>";
							});
							$(".shopUl").html(creditshopLi);
							$(".shopUl li").on("click",function () {
								var id=$(this).data("id");
								window.location.href='/touch/creditshop/shopDetail?id='+id;
							});
						}
					}
				},
				error:function (res) {
					layer.open({
						content: '系统错误',
						time:2
					});
				}
			});
			
			$(".shopClassify span").on("click",function () {
				gtype=$(this).data("gtype");
				$.ajax({
					type:"post",
					url:"/touch/creditshop/get_creditshop",
					data:{gtype:gtype},
					dataType:'json',
					beforeSend:function () {
						layer.open({
							content: '加载中…'
						});
					},
					success:function (res) {
						if(res.err==1){
							window.location.href="/touch/login";
						}else{
							$("#credit").html(res.points);
							console.log(">>>",res);
							layer.closeAll();
							if(!res.shop){
								$(".shopUl").html("<li style='width: 100%; background: none; text-align: center; line-height: 60px;'>暂无数据</li>");
							}else{
								res.shop.forEach(function (v,i,a) {
									creditshopLi+="<li data-id='"+ v.id +"'><div style='width:100%; text-align:center'>" +
											"<img src='"+ v.thumb +"'></div>" +
											"<h3>"+ v.name +"</h3>" +
											"<p><span>"+ v.points +"</span>&nbsp;积分</p></li>";
								});
								$(".shopUl").html(creditshopLi);
								$(".shopUl li").on("click",function () {
									var id=$(this).data("id");
									window.location.href='/touch/creditshop/shopDetail?id='+id;
								});
							}
						}
					},
					error:function (res) {
						layer.open({
							content: '系统错误',
							time:2
						});
					}
				});
			});

			$(".creditBtn").on("click",function () {
				$.ajax({
					type:"get",
					url:"/touch/sign/signOn",
					dataType:'json',
					success:function (res) {
						layer.open({
							content: res.msg,
							time:2
						});
						setTimeout(function () {
							window.location.reload();
						},2000)
					},
					error:function (res) {
						layer.open({
							content: '系统错误',
							time:2
						});
					}
				});
			});


		});
	</script>
</head>
<body>
<div class="shopHeader">
	<img style=" float: left; margin: 10px 0 0 22px;" width="24" src="__IMG__/wx/myCredit.png">
	<h3 class="myCredit">我的积分 <span id="credit"></span><br>
		<a href="/touch/creditdetail">积分明细</a>&nbsp;<a href="/touch/creditrecord">兑换记录</a>
	</h3>
	<div class="creditBtn">签到</div>
</div>
<div class="shopClassify">
    <span data-gtype="">
        <img src="__IMG__/wx/classify.png"><br>全部
    </span>
    <span data-gtype="1">
        <img src="__IMG__/wx/classify2.png"><br>家居
    </span>
    <span data-gtype="2">
        <img src="__IMG__/wx/classify3.png"><br>数码
    </span>
</div>
<div class="shopRecommand">商品推荐</div>
<ul class="shopUl"></ul>
</body>
</html>