<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
<div class="creditDeatil">
    <h3 class="creditDeatilHead">
        <span>123456</span>&nbsp;积分
    </h3>
    <div class="creditDeatilNav">
        <span>签到</span>
        <span>兑换</span>
    </div>
</div>
<div class="creditDeatilTitle">
    积分收支明细
</div>
<div class="creditSign">
    <p>
        <span class="creditSignTime">2016-05-05  13 : 51 : 26</span><br>签到积分
        <span class="creditIntegral">+50</span>
    </p>
    <p>
        <span class="creditSignTime">2016-05-05  13 : 51 : 26</span><br>签到积分
        <span class="creditIntegral">+50</span>
    </p>
    <p>
        <span class="creditSignTime">2016-05-05  13 : 51 : 26</span><br>签到积分
        <span class="creditIntegral">+50</span>
    </p>
</div>

<div class="creditSign2">
    <p>
        <span class="creditSignTime">2016-05-05  13 : 51 : 26</span><br>兑换：移动30元充值卡
        <span class="creditIntegral2">-3500</span>
    </p>
    <p>
        <span class="creditSignTime">2016-05-05  13 : 51 : 26</span><br>兑换：移动30元充值卡
        <span class="creditIntegral2">-3500</span>
    </p>
    <p>
        <span class="creditSignTime">2016-05-05  13 : 51 : 26</span><br>兑换：移动30元充值卡
        <span class="creditIntegral2">-3500</span>
    </p>
</div>
</body>
</html>