<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="__CSS__/wx/normalize.css" rel="stylesheet">
    <link href="__CSS__/wx/layer.css" rel="stylesheet">
    <link href="__CSS__/wx/app.css" rel="stylesheet">
    <script src="__JS__/wx/jquery-2.2.3.min.js" type="text/javascript"></script>
    <script src="__JS__/wx/layer.js" type="text/javascript"></script>
    <script>
        $(function () {
            $.ajax({
                type:"get",
                url:"/touch/creditdetail/get_creditdetail",
                dataType:'json',
                success:function (res) {
                    console.log(">>>",res.data);
                },
                error:function (res) {
                    console.log(">>>",res.data);
                }
            })
        })
    </script>
</head>
<body>
<div class="creditDeatil">
    <h3 class="creditDeatilHead">
        <span>123456</span>&nbsp;积分
    </h3>
    <div class="creditDeatilNav">
        <span>签到</span>
        <span>兑换</span>
    </div>
</div>
<div class="creditDeatilTitle">
    积分收支明细
</div>
<div class="creditSign">
    <p>
        <span class="creditSignTime">2016-05-05  13 : 51 : 26</span><br>签到积分
        <span class="creditIntegral">+50</span>
    </p>
    <p>
        <span class="creditSignTime">2016-05-05  13 : 51 : 26</span><br>签到积分
        <span class="creditIntegral">+50</span>
    </p>
    <p>
        <span class="creditSignTime">2016-05-05  13 : 51 : 26</span><br>签到积分
        <span class="creditIntegral">+50</span>
    </p>
</div>

<div class="creditSign2">
    <p>
        <span class="creditSignTime">2016-05-05  13 : 51 : 26</span><br>兑换：移动30元充值卡
        <span class="creditIntegral2">-3500</span>
    </p>
    <p>
        <span class="creditSignTime">2016-05-05  13 : 51 : 26</span><br>兑换：移动30元充值卡
        <span class="creditIntegral2">-3500</span>
    </p>
    <p>
        <span class="creditSignTime">2016-05-05  13 : 51 : 26</span><br>兑换：移动30元充值卡
        <span class="creditIntegral2">-3500</span>
    </p>
</div>
</body>
</html>