<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>我的塑料网-咨询</title>
    <link href="__CSS__/wx/normalize.css" rel="stylesheet">
    <link href="__CSS__/wx/layer.css" rel="stylesheet">
    <link href="__CSS__/wx/app.css" rel="stylesheet">
    <script src="__JS__/wx/jquery-2.2.3.min.js" type="text/javascript"></script>
    <script src="__JS__/wx/layer.js" type="text/javascript"></script>
    <script>
        $(function () {
            var infoLi="";
            function infoInit(paramsPid){
                $.ajax({
                    type:"post",
                    url:"/touch/information/get_items",
                    data:{
                        pid:paramsPid,
                        page:3
                    },
                    dataType:'json',
                    beforeSend:function () {
                        layer.open({
                            content: '加载中…'
                        });
                    },
                    success:function (res) {
                        console.log(res);
                        layer.closeAll();
                        res.result.forEach(function (v,i) {
                            infoLi +="<li data-id='"+v.id+"'><div class='articleLi'>" +
                                    "<h3>"+v.title+"</h3>" +
                                    "<p>"+v.brief+"</p></div>" +
                                    "<p class='time'>"+ v.input_time +"</p></li>";
                        });
                        $("#articleLi").html(infoLi);
                        $("#articleLi li").on("click",function () {
                            var id=$(this).data("id");
                            window.location.href='/touch/information/detailInfo?id='+id;
                        });
                    },
                    error:function (res) {
                        layer.open({
                            content: '系统错误',
                            time:2
                        });
                    }
                });
            }
            infoInit(29);
            
            $("#backTop").on("click",function () {
                $('body').animate({ scrollTop: 0 },300);
            });

            $("#nav span").on("click",function () {
                var pid=$(this).data("pid");
                infoLi="";
                console.log(pid);
                $(this).addClass("on").siblings("span").removeClass("on");
                infoInit(pid);
            });

        })
    </script>
</head>
<body>
	<nav id="nav">
        <span data-pid="29" class="on">市场点评</span>
        <span data-pid="30">行业热点</span>
        <span data-pid="31">企业调价</span>
        <span data-pid="32">装置动态</span>
        <span data-pid="33">塑料期货</span>
    </nav>
    <div id="articleWrap">
        <ul id="articleLi">
        </ul>
    </div>
    <div id="backTop">
        <img src="__IMG__/wx/topArrow.png">
    </div>
</body>
</html>