<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>我的塑料网-我的采购</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link href="__CSS__/wx/normalize.css" rel="stylesheet">
	<link href="__CSS__/wx/layer.css" rel="stylesheet">
	<link href="__CSS__/wx/app.css" rel="stylesheet">
	<script src="__JS__/wx/jquery-2.2.3.min.js" type="text/javascript"></script>
	<script src="__JS__/wx/layer.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () {
			var purchaseLi="";

			function stampToDate2(date) {
				var newDate=new Date();
				newDate.setTime(date*1000);
				return newDate.toLocaleDateString();
			}
			
			$(".chooseType2").on("change",function () {
				var chooseValue=$(this).find("option:selected").text();
				$(".chooseType").text(chooseValue);
			});
			
			$("#query").on("click",function () {
				if(!$(".productQuery").val()){
					layer.open({
						content: '请输入要搜索的内容',
						time:2
					});
				}else{
				$.ajax({
					type:"post",
					url:"/touch/purchasesearch/doSearch",
					dataType:'json',
					data:{
						keywords:$(".productQuery").val(),
						status:$(".chooseType2").val()
					},
					beforeSend:function () {
						layer.open({
							content: '加载中…'
						});
					},
					success:function (res) {
						layer.closeAll();
						console.log(">>>",res);
						if(res.err==2){
							$(".purchaseList").html("<li class='noData'>暂无数据</li>");
						}else if(res.err==1){
							window.location.href="/touch/login";
						}else{
							purchaseLi="";
							res.forEach(function (v,i) {
								purchaseLi+="<li><div class='purchaseWrap'>" +
										"<h3>"+ v.product_type +"|"+ v.model +"<span class='orange'>￥"+ v.unit_price +"/T</span></h3>" +
										"<p>"+ v.f_name +"<span>"+ v.number +"吨</span></p>" +
										"<p>"+ v.store_house +"<span>"+ stampToDate2(v.input_time) +"</span></p>" +
										"</div></li>";
							});
							$(".purchaseList").html(purchaseLi);
						}
					},
					error:function () {
						
					}
				});
				}
			});

			$.ajax({
				type:"post",
				url:"/touch/mypurchase/get_purchase",
				data:{type:1},
				dataType:'json',
				beforeSend:function () {
					layer.open({
						content: '加载中…'
					});
				},
				success:function (res) {
					console.log(">>>",res);
					layer.closeAll();
					if(res.err==2){
						$(".purchaseList").html("<li class='noData'>暂无数据</li>");
					}else if(res.err==1){
						window.location.href="/touch/login";
					}else{
						layer.closeAll();
						res.reverse().forEach(function (v,i) {
							purchaseLi+="<li><div class='purchaseWrap'>" +
									"<h3>"+ v.product_type +"|"+ v.model +"<span class='orange'>￥"+ v.unit_price +"/T</span></h3>" +
									"<p>"+ v.f_name +"<span>"+ v.number +"吨</span></p>" +
									"<p>"+ v.store_house +"<span>"+ stampToDate2(v.input_time) +"</span></p>" +
									"</div></li>";
						});
						$(".purchaseList").html(purchaseLi);
					}
				},
				error:function (res) {
					layer.open({
						content: '系统错误',
						time:2
					});
				}
			})
		})
	</script>
</head>
<body>
<div class="myPurchase">
	<div class="purchaseInput">
		<input class="productQuery" type="text" placeholder="请输入产品分类、牌号、厂家">
		<img id="query" src="__IMG__/wx/query.png">
	</div>
	<select class="chooseType2">
		<option value ="">全部</option>
		<option value ="1">待审核</option>
		<option value="2">审核通过</option>
		<option value="3">洽谈中</option>
		<option value="4">交易成功</option>
		<option value="5">无效</option>
		<option value="6">过期</option>
	</select>
	<div class="chooseType">全部</div>
</div>
<ul class="purchaseList"></ul>
</body>
</html>