<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>我的塑料网-我的报价</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link href="__CSS__/wx/normalize.css" rel="stylesheet">
	<link href="__CSS__/wx/layer.css" rel="stylesheet">
	<link href="__CSS__/wx/app.css" rel="stylesheet">
	<script src="__JS__/wx/jquery-2.2.3.min.js" type="text/javascript"></script>
	<script src="__JS__/wx/layer.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () {
			var quotationLi="";
			var productArr=[];
			var upId=1;
			var downId="";
			var delId="";


			$(".chooseType2").on("change",function () {
				var chooseValue=$(this).find("option:selected").text();
				$(".chooseType").text(chooseValue);
			});

			function stampToDate2(date) {
				var newDate=new Date();
				newDate.setTime(date*1000);
				return newDate.toLocaleDateString();
			}
			
			function shelve(type) {
				if(type==1){
					return 'sold';
				}else if(type==2){
					return 'buy';
				}
			}

			function shelve2(type) {
				if(type==1){
					return '下架';
				}else if(type==2){
					return '上架 ';
				}
			}

			$.ajax({
				type:"post",
				url:"/touch/myquotation/get_myquotation",
				data:{type:2},
				dataType:'json',
				beforeSend:function () {
					layer.open({
						content: '加载中…'
					});
				},
				success:function (res) {
					console.log(">>>",res);
					if(res.err==1){
						window.location.href="/touch/login";
					}else{
						layer.closeAll();
						res.reverse().forEach(function (v,i) {
							quotationLi+="<li><div class='purchaseWrap'>" +
									"<input type='checkbox' data-id='"+ v.id +"' id='"+ v.id +"' class='regular-checkbox regular-checkbox2'>" +
									"<label for='"+ v.id +"'></label><h3>"+ v.product_type +"|"+ v.model +"" +
									"<span class='orange'>￥<input class='offerNumInput unit_price' type='text' value='"+v.unit_price+"'>/吨</span></h3>" +
									"<p><input class='offerTxtInput f_name' type='text' readonly value='"+v.f_name+"'>" +
									"<span class='orange'><input class='offerNumInput number' type='tel' value='"+v.number+"'>吨</span></p>" +
									"<p><input class='offerTxtInput3 store_house' type='text' value='"+v.store_house+"'><span>"+ stampToDate2(v.input_time) +"</span>" +
									"</p></div><div class='offerStatus'>" +
									"<span class='shelve' data-pid='"+ v.id +"'><i class='purchaseStatus "+ shelve(v.shelve_type) +"'></i>"+ shelve2(v.shelve_type) +"</span>" +
									"<span class='dataUpdate' data-pid='"+ v.p_id +"' data-id='"+ v.id +"'><i class='purchaseStatus update'></i>更新</span></div></li>";
						});
						$(".purchaseList").html(quotationLi);

						$(".dataUpdate").on("click",function () {
							var purchaseWrap=$(this).parents("li").find(".purchaseWrap");
							var unit_price=purchaseWrap.find(".unit_price").val();
							var f_name=purchaseWrap.find(".f_name").val();
							var number=purchaseWrap.find(".number").val();
							var store_house=purchaseWrap.find(".store_house").val();
							var id=$(this).data("id");
							var pid=$(this).data("p_id");

							$.ajax({
								type:"post",
								url:"/touch/myquotation/refreshCell",
								data:{
									id:id,
									pid:pid,
									qdata:{
										unit_price:unit_price,
										f_name:f_name,
										number:number,
										store_house:store_house
									}
								},
								dataType:'json',
								beforeSend:function () {
									layer.open({
										content: '加载中…'
									});
								},
								success:function (res) {
									console.log(">>>",res);
									window.location.reload();
								},
								error:function (res) {
									layer.open({
										content: '系统错误',
										time:2
									});
								}
							});
						});

						$(".shelve").on("click",function () {
							var pid=$(this).data("pid");
							$.ajax({
								type:"post",
								url:"/touch/myquotation/changestate",
								data:{
									id:pid
								},
								dataType:'json',
								beforeSend:function () {
									layer.open({
										content: '加载中…'
									});
								},
					 			success:function (res) {
									console.log(">>>",res);
									if(res.err==1){
										layer.open({
											content: res.msg
										});
									}else{
										window.location.reload();
									}
								},
								error:function (res) {
									layer.open({
										content: '系统错误',
										time:2
									});
								}
							});
						});

						$("#all").click(function(){
							if(this.checked){
								$(".purchaseList :checkbox").prop("checked", true);
								productArr=[];
								$(".regular-checkbox2").each(function () {
									productArr.push($(this).data("id"));
									console.log(productArr);
								});
							}else{
								$(".purchaseList :checkbox").prop("checked", false);
								productArr=[];
								console.log(productArr);
							}
						});

						$(".regular-checkbox2").on("click",function () {
							var pId=$(this).data("id");
							if(this.checked){
								productArr.push(pId);
								console.log(productArr);
							}else{
								$("#all").prop("checked",false);
								productArr.splice($.inArray(pId,productArr),1);
								console.log(productArr);
							}
						});

						$(".chooseStatus").on("click",function () {
							$(this).addClass("on").siblings(".chooseStatus").removeClass("on");
							if($(this).text()=="上架"){
								upId=1;
								downId="";
								delId="";
							}else if($(this).text()=="下架"){
								upId="";
								downId="1";
								delId="";
							}else if($(this).text()=="删除"){
								upId="";
								downId="";
								delId=1;
							}
						});

						$(".batchUpdate").on("click",function () {
							$.ajax({
								type:"post",
								url:"/touch/myquotation/refreshMulCell",
								data:{
									ids:productArr,
									up:upId,
									down:downId,
									del:delId
								},
								beforeSend:function () {
									layer.open({
										content: '加载中…'
									});
								},
								success:function (res) {
									window.location.reload();
								},
								error:function (res) {
									layer.open({
										content: '系统错误',
										time:2
									});
								}
							});
						});
					}
				},
				error:function (res) {
					layer.open({
						content: '系统错误',
						time:2
					});
				}
			});

			$("#query").on("click",function () {
				if(!$(".productQuery").val()){
					layer.open({
						content: '请输入要搜索的内容',
						time:2
					});
				}else{
					$.ajax({
						type:"post",
						url:"/touch/quotationsearch/doSearch",
						dataType:'json',
						data:{
							keywords:$(".productQuery").val(),
							type:$(".chooseType2").val()
						},
						beforeSend:function () {
							layer.open({
								content: '加载中…'
							});
						},
						success:function (res) {
							layer.closeAll();
							console.log(">>>",res);
							if(!res){
								$(".purchaseList").html("<li class='noData'>暂无数据</li>");
							}else if(res.err==1){
								window.location.href="/touch/login";
							}else{
								quotationLi="";
								res.forEach(function (v,i) {
									quotationLi+="<li><div class='purchaseWrap'>" +
											"<input type='checkbox' id='"+ v.id +"' class='regular-checkbox'>" +
											"<label for='"+ v.id +"'></label><h3>"+ v.product_type +"|"+ v.model +"" +
											"<span class='orange'>￥<input class='offerNumInput unit_price' type='text' value='"+v.unit_price+"'>/吨</span></h3>" +
											"<p><input class='offerTxtInput f_name' type='text' value='"+v.f_name+"'>" +
											"<span class='orange'><input class='offerNumInput number' type='tel' value='"+v.number+"'>吨</span></p>" +
											"<p><input class='offerTxtInput3 store_house' type='text' value='"+v.store_house+"'><span>"+ stampToDate2(v.input_time) +"</span>" +
											"</p></div><div class='offerStatus'>" +
											"<span class='shelve' data-pid='"+ v.id +"'><i class='purchaseStatus "+ shelve(v.shelve_type) +"'></i>"+ shelve2(v.shelve_type) +"</span>" +
											"<span class='dataUpdate' data-pid='"+ v.p_id +"' data-id='"+ v.id +"'><i class='purchaseStatus update'></i>更新</span></div></li>";
								});
								$(".purchaseList").html(quotationLi);
							}
						},
						error:function (res) { 
							layer.open({
								content: '系统错误',
								time:2
							});
						}
					});
				}
			});

		})
	</script>
</head>
<body>
<div class="myPurchase">
	<div class="purchaseInput">
		<input class="productQuery" type="text" placeholder="请输入产品分类、牌号、厂家">
		<img id="query" src="__IMG__/wx/query.png">
	</div>
	<select class="chooseType2">
		<option value ="">全部</option>
		<option value ="1">上架</option>
		<option value="2">下架</option>
	</select>
	<div class="chooseType">全部</div>
</div>
<ul class="purchaseList"></ul>
<footer id="offerFooter">
	<input type="checkbox" id="all" class="regular-checkbox">
	<label for="all" style=" top: 10px; left: 15px;"></label>
	全选/反选
	<span class="chooseStatus on">上架</span>
	<span class="chooseStatus">下架</span>
	<span class="batchUpdate">批量更新</span>
</footer>
</body>
</html>