<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link href="__CSS__/wx/normalize.css" rel="stylesheet">
	<link href="__CSS__/wx/layer.css" rel="stylesheet">
	<link href="__CSS__/wx/app.css" rel="stylesheet">
	<script src="__JS__/wx/jquery-2.2.3.min.js" type="text/javascript"></script>
	<script src="__JS__/wx/layer.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () {
			var quotationLi="";

			function stampToDate2(date) {
				var newDate=new Date();
				newDate.setTime(date*1000);
				return newDate.toLocaleDateString();
			}

			$.ajax({
				type:"get",
				url:"/touch/myquotation/get_myquotation",
				dataType:'json',
				beforeSend:function () {
					layer.open({
						content: '加载中…'
					});
				},
				success:function (res) {
					console.log(">>>",res);
					if(res.err==1){
						window.location.href="/touch/login";
					}else{
						layer.closeAll();
						res.forEach(function (v,i) {
							quotationLi+="<li><div class='purchaseWrap'>" +
									"<input type='checkbox' id='checkbox-1-1' class='regular-checkbox'>" +
									"<label for='checkbox-1-1'></label><h3>"+ v.model +"" +
									"<span class='orange'>￥<input class='offerNumInput' type='text' value='"+v.unit_price+"'>/吨</span></h3>" +
									"<p><input class='offerTxtInput' type='text' value='"+v.f_name+"'>" +
									"<span class='orange'><input class='offerNumInput' type='tel' value='"+v.number+"'>吨</span></p>" +
									"<p><input class='offerTxtInput3' type='text' value='"+v.store_house+"'><span>"+v.input_time+"</span>" +
									"</p></div><div class='offerStatus'><span><i class='purchaseStatus buy'></i>上架</span>" +
									"<span><i class='purchaseStatus update'></i>更新</span></div></li>";

//									"<li><div class='purchaseWrap'>" +
//									"<h3>"+ v.model +"<span class='orange'>￥"+ v.unit_price +"/T</span></h3>" +
//									"<p>"+ v.f_name +"<span>"+ v.number +"吨</span></p>" +
//									"<p>"+ v.store_house +"<span>"+ stampToDate2(v.input_time) +"</span></p>" +
//									"</div></li>";
						});
						$(".purchaseList").html(quotationLi);
					}
				},
				error:function (res) {
					layer.open({
						content: '系统错误',
						time:2
					});
				}
			})

		})
	</script>
</head>
<body>
<div class="myPurchase">
	<div class="purchaseInput">
		<img id="query" src="__IMG__/wx/query.png">
		<input class="productQuery" type="text" placeholder="请输入产品分类、牌号、厂家">
	</div>
	<div class="chooseType">全部</div>
</div>
<ul class="purchaseList"></ul>
<footer id="offerFooter">
	<input type="checkbox" id="all" class="regular-checkbox">
	<label for="all" style=" top: 10px; left: 15px;"></label>
	全选/反选
	<span class="chooseStatus on">上架</span>
	<span class="chooseStatus">下架</span>
	<span class="chooseStatus">删除</span>
	<span class="batchUpdate">批量更新</span>
</footer>
</body>
</html>