<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>我的塑料网-个人中心</title>
    <link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__MYAPP__/css/app.css" />
    <script type="text/javascript" src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="__JS__/wx/vue.js"></script>
    <script type="text/javascript" src="__JS__/wx/vue-router.js"></script>
    <script type="text/javascript" src="__JS__/wx/vue-resource.js"></script>
    <style>
        .appConcern img{ display: block;}
        .mui-slider-group img{ display: block;}
        .mui-slider-indicator .mui-indicator{ margin: 1px; background: #ffffff;}
        .mui-slider-indicator .mui-active.mui-indicator{ background: #ff5000;}
    </style>
</head>
<body>
<div id="app" style="padding: 0 0 50px 0;">
    <router-view></router-view>
</div>
<template id="index">
    <header id='header'>
        <a class='headerMenu' href='/mobi/mainPage/enProductType'></a>
        <div class='appSearch'><input type='text' placeholder='请输入产品分类、牌号' /><a class='appQuery' href='#'></a></div>
        <a class='headerService' href='tel:4006129965'></a>
    </header><div class='appInfo'><span class='appInfoOn'>今日头条</span><span>原油价格</span><div class='mui-clearfix'></div>
    <div id='appInfo'>
        <ul id='appInfoUl'>
            <li v-for='info in infos'><a v-link={path:'/infoDetail?id='+info.id}><font>{{info.title}}</font></a><b>{{info.input_time}}</b></li>
        </ul>
        <a class='appMore' href='/mobi/mainPage/enArticle'>更多</a></div>
    <div id='appInfo2' style=' display: none;'>
        <ul id='appInfoUl2'></ul>
        <a class='appMore' href='/mobi/mainPage/enDyPrice'>更多</a>
    </div></div>
    <footer id='footer'>
        <ul>
            <li><a href='/mobi/mainPage/enLargeBid'><i class='foot'></i><br>大客户专区</a></li>
            <li><a href='/mobi/mainPage/enPhysical'><i class='foot2'></i><br>物性表</a></li>
            <li><a class='footerOn' href='/mobi/mainPage/enMainPage'><i class='foot3'></i><br>首页</a></li>
            <li><a v-link={name:'infolist'}><i class='foot4'></i><br>资讯</a></li>
            <li><a href='/mobi/personalCenter'><i class='foot5'></i><br>我</a></li>
        </ul>
    </footer>
</template>

<template id="infolist">
    <header id='infoHeader'><a class='back' href='javascript:window.history.back();'></a>今日资讯</header>
    <nav id='nav'><span class='on' @click='changeArticle(29)'>市场点评</span>
        <span @click='changeArticle(30)'>行业热点</span>
        <span @click='changeArticle(31)'>企业调价</span>
        <span @click='changeArticle(32)'>装置动态</span>
        <span @click='changeArticle(33)'>塑料期货</span>
    </nav>
    <div id='articleWrap'>
    <ul id='articleLi'>
        <li v-for='info in infoUl'>
        <div class='articleLi'>
            <a v-link={path:'/infoDetail?id='+info.id}>
                /<h3>{{info.title}}</h3><p>{{info.brief}}</p>
            </a>
        </div><p class='time'>{{info.input_time}}</p>
        </li>
    </ul>
    </div>
    <footer id='footer'>
        <ul>
            <li><a href='/mobi/mainPage/enLargeBid'><i class='foot'></i><br>大客户专区</a></li>
            <li><a href='/mobi/mainPage/enPhysical'><i class='foot2'></i><br>物性表</a></li>
            <li><a v-link={name:'index'}><i class='foot3'></i><br>首页</a></li>
            <li><a class='footerOn' v-link={name:'infolist'}><i class='foot4'></i><br>资讯</a></li>
            <li><a href='/mobi/personalCenter'><i class='foot5'></i><br>我</a></li></ul>
    </footer>
</template>

<template id="infoDetail">
    <header id="infoHeader">
        <a class="back" href="javascript:window.history.back();"></a>
        资讯详情
    </header>
    <div class="infoDetailWrap" style="background: #ffffff;">
        <h3 class="infoDetailTitle">资讯详情 | <span id="time">{{content.input_time}}</span></h3>
        <h3 class="infoDetailTitle2"></h3>
        <h3 class="infoDetailTitle3">作者：<span id="admin">{{content.source}}</span></h3>
        <div id="infoDetailContent">{{{content.content}}}</div>
    </div>
    <footer id="footer">
        <ul>
            <li><a href="/mobi/mainPage/enLargeBid"><i class="foot"></i><br>大客户专区</a></li>
            <li><a href="/mobi/mainPage/enPhysical"><i class="foot2"></i><br>物性表</a></li>
            <li><a v-link={name:'index'}><i class="foot3"></i><br>首页</a></li>
            <li><a class='footerOn' v-link={name:'infolist'}><i class="foot4"></i><br>资讯</a></li>
            <li><a href="/mobi/personalCenter"><i class="foot5"></i><br>我</a></li>
        </ul>
    </footer>
    <div id="backTop" style="display: none">
        <img src="__MYAPP__/img/topArrow.png">
    </div>

</template>

<script type="text/javascript">
    var Error=Vue.extend({
        template:"<p>this is error page</p>"
    });

    Vue.http.options.emulateJSON = true;

    var index=Vue.extend({
        template:"#index",
        data:function(){
            return {
                infos: []
            }
        },
        ready:function () {
            console.log(this.$route.path);
            this.$http({url:'/mobi/mainPage/getMainPage',method:"POST",data:{type:1}}).then(function(res){
                this.$set('infos',res.data.infos);
                console.log(res.data.infos);
            },function(){

            })
        }
    });


    var infolist=Vue.extend({
        template:"#infolist",
        data:function () {
            return {
                pid:[29,30,31,32,33],
                infoUl:[]
            }
        },
        ready:function () {
            this.$http({url:'/mobi/mainPage/getArticleInfo',method:"POST",data:{pid:29}}).then(function (res) {
                console.log(res);
                this.$set('infoUl',res.data.articleInfo);
            },function (res) {

            });

        },
        methods:{
            changeArticle:function(index){
                console.log(index);
                $("#nav span").on("click",function () {
                    $(this).addClass("on").siblings("span").removeClass("on");
                });

                this.$http({url:'/mobi/mainPage/getArticleInfo',method:"POST",data:{pid:index}}).then(function (res) {
                    console.log(res);
                    this.$set('infoUl',res.data.articleInfo);
                },function (res) {

                });
            }
        }
    });

    var infoDetail=Vue.extend({
        template:"#infoDetail",
        data:function () {
            return {
                content:{}
            }
        },
        ready:function () {
            console.log(this.$route.query.id);
            this.$http({url:'/mobi/mainPage/getArticleDetail',method:"POST",data:{id:this.$route.query.id}}).then(function (res) {
                console.log(res.data);
                this.$set('content',res.data.articleDetail);
                console.log(this.content);
            },function (res) {

            });
        }
    });

    var error=Vue.extend({
        template:"<p>error!!!</p>"
    });


    var App = Vue.extend({});
    var router = new VueRouter();
    router.map({
        '/':{
            name:'index',
            component: index
        },
        '/infoDetail':{
            name:'infoDetail',
            component:infoDetail
        },
        '/infolist': {
            name:'infolist',
            component: infolist
        },
        '*':{
            name:'error',
            component:error
        }
    });
    router.start(App, '#app');
</script>

</body>
</html>