<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>我的塑料网-咨询</title>
	<link href="__CSS__/wx/normalize.css" rel="stylesheet">
	<link href="__CSS__/wx/layer.css" rel="stylesheet">
	<link href="__CSS__/wx/app.css" rel="stylesheet">
	<script src="__JS__/wx/jquery-2.2.3.min.js" type="text/javascript"></script>
	<script src="__JS__/wx/layer.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () {

			function avatorImg(img) {
				if(img){
					return img;
				}else{
					return '__IMG__/wx/avator.png';
				}
			}

			$.ajax({
				type:"get",
				url:"/touch/personalcenter/getPersonalCenter",
				dataType:'json',
				beforeSend:function () {
					layer.open({
						content: '加载中…'
					});
				},
				success:function (res) {
					console.log(">>>",res);
					layer.closeAll();
					if(res.err==1){
						window.location.href="/touch/login";
					}else{
						$("#avatorImg").attr('src',avatorImg(res.thumb));
						$("#mobilename").text(res.name);
						$("#quote").text(res.qcount);
						$("#purchase").text(res.pcount);
					}
				},
				error:function (res) {

				}
			})
		})
	</script>
</head>
<body>
<div class="personalBg">
	<div class="avator">
		<img id="avatorImg" src="__IMG__/wx/avator.png">
		<p id="mobilename">用户名</p>
	</div>
</div>
<div class="personal">
	<a href="/touch/myquotation">
	<img src="__IMG__/wx/myPrice.jpg">
	我的报价单<span id="quote"></span>
	</a>
</div>
<div class="personal">
	<a href="/touch/mypurchase">
	<img src="__IMG__/wx/myPurchase.png">
	我的采购<span id="purchase"></span>
	</a>
</div>
<div class="personal">
	<a href="/touch/creditshop">
	<img src="__IMG__/wx/mySupply.png">
	我的积分<span id="credit"></span>
	</a>
</div>
</body>
</html>