{layout file="public:main_layout"}
{insert_css files='home/user.css'}
<style type="text/css">
    .finance-lc5 .detail li .detail-lt p.detail-desc{
        font-size: 16px;
    }
</style>
<script>
    $(function(){
        //查询操作
        $("#btn2").bind('click',function(){
            var optionVal = $("option[name='Del']:selected").val();
            window.location.href="/user/myPoints/getCheckInfo?opVal="+optionVal;
          
        });
    });
</script>
<div class="buy-crumb w1220">首页-<a href="/user">个人中心</a></div>

<!--user-wrap begin-->
<div class="user-wrap w1220">
    <!--right begin-->
    {include file="public:user_left"}
    <div class="right frt">
    	<h3>个人中心-我的积分-积分兑换明细</h3>
        <!--finance-lc5 begin-->
        <div class="finance-lc5 color3">
        	<!--jifen begin-->
            <div class="jifen">
            	<!--jifen-lt begin-->
                <div class="jifen-lt flt">
                	<!--portrait begin-->
                	<div class="portrait flt">
                        {if $uinfo.thumb}
                    	 <img src="__UPLOAD__/{$uinfo.thumb}" width="100" height="100"/>
                        {/if}
                    	<div class="mask"></div>
                    </div>
                    <!--portrait end-->
                    <!--total begin-->
                    <p class="flt">我的积分：<span>{$uinfo.points}</span>积分</p>
                    <!--total end-->
                </div>
                <!--jifen-lt end-->
                <!--jifen-rt begin-->
                <!-- <div class="jifen-rt frt">
                	<span>类 型：</span>
                	<select>
                    	<option name="Del" value="3">全部</option>
                        <option name="Del" value="1">积分收入明细</option>
                        <option name="Del" value="2">积分支出明细</option>
                    </select>
                    <input type="button" value="查询" id="btn2"/>
                </div> -->
                <!--jifen-rt end-->
            </div>
            <!--jifen end-->
        	<!--detail begin-->
          <!--   <div class="detail income">
            	<h4>积分收入明细</h4>
                <ul>
                    {foreach from=$detail item=value}
                    {if $value.type neq '兑换礼品'}
                    <li>
                        <div class="detail-lt flt">
                            <p>{$value.addtime}</p>
                            <h5>{$value.type}</h5>
                        </div>
                        <div class="detail-rt frt">+{$value.points}</div>
                    </li>
                    {/if}
                    {/foreach}
                </ul>
            </div> -->
            <!--detail end-->
            <!--detail begin-->
            <div class="detail pay">
            	<h4>积分兑换订单</h4>
                <ul>
                    {foreach from=$list item=value}
                	<li>
                    	<div class="detail-lt flt">
                        	<p>更新时间：{$value.update_time|date:Y-m-d H:i}&nbsp;&nbsp;&nbsp;订单号：{$value.order_id}&nbsp;&nbsp;&nbsp;状态：{$value.status}</p>
                            <p class="detail-desc">商品:{$value.name} 收货人:{$value.receiver} 手机:{$value.phone} 地址:{$value.address} </p>

                        </div>
                        <!-- <div class="detail-rt frt">{$value.status}</div> -->
                    </li>
                    {/foreach}
                </ul>
            </div>
            <!--detail end-->
            <!--page begin-->
            <div>&nbsp;</div>
            <div class="page" style="text-align: center;">
                        <ul style="display: inline-block;">
                            <li>{$pages}</li>
                        </ul>
            </div>
            <!--page end-->
        </div>
        <!--finance-lc5 end-->
    </div>
    <!--right end-->
</div>
<!--user-wrap end-->
