{layout file="public:main_layout"}
{insert_css files='home/user.css'}

<div class="buy-crumb w1220">首页-个人中心</div>
<!--user-wrap begin-->
<div class="user-wrap w1220">
    <!--right begin-->
    {include file="public:user_left"}
    <div class="right frt">
    	<h3>个人中心-资金管理</h3>
        <!--finance-lc-pic begin-->
        <div class="finance-lc-pic"><img src="__IMG__/home/financeLc3.jpg" width="1000" height="44"/></div>
        <!--finance-lc-pic end-->
        <!--finance-lc3 begin-->
        <div class="finance-lc3 color3">
        	<!--fice-suc begin-->
            <div class="fice-suc">
            	<h4>恭喜您，你已经提交成功！</h4>
                <p class="tips">根据您提交的申请信息，您的相关信息如下：</p>
                <ul class="account">
                	<li>账户余额：<span>{$detail.rmb_account}</span></li>
                    <li>锁定余额：<span>{$detail.rmb_account_lock}</span></li>
                    <li class="status">账户状态：<span>{$detail.bank_account_state}</span></li>
                </ul>
                <!--cards begin-->
                <div class="cards">
                	<h5>已绑定银行账号： </h5>
                    <ul>
                    	<li>{$detail.bank_name1} {$detail.bank_account1} （默认）</li>
                    	<li>{$detail.bank_name2} {$detail.bank_account2}</li>
                        <li>{$detail.bank_name3} {$detail.bank_account3}</li>
                    	<li>{$detail.bank_name4} {$detail.bank_account4}</li>
                        <li>{$detail.bank_name5} {$detail.bank_account5}</li>
                    </ul>
                </div>
                <!--cards end-->
            </div>
            <!--fice-suc end-->
            <!--record begin-->
            <div class="record">
            	<h4>最近收支：</h4>
                <table>
                	<tr>
                    	<th width="158">流水号</th>
                        <th width="218">时间</th>
                        <th width="128">支出（元）</th>
                        <th width="128">收入（元）</th>
                        <th width="154">交易单号</th>
                        <th width="207">备注</th>
                    </tr>
                    {if $detail.bank_account_state eq '正常' || $detail.bank_account_state eq '锁定'}
                        {foreach from=$bill item=value}
                            <tr>
                                <td>{$value.water_no}</td>
                                <td>{$value.input_time}</td>
                                <td>{$value.expenditure}</td>
                                <td>{$value.income}</td>
                                <td>{$value.operate_bill}</td>
                                <td>{$value.remark}</td>
                            </tr>
                        {/foreach}
                    {/if}
                </table>
            </div>
            <!--record end-->
        </div>
        <!--finance-lc3 end-->
    </div>
    <!--right end-->
    <div>&nbsp;</div>
    <div class="page" style="text-align: center;">
                <ul style="display: inline-block;">
                    <li>{$pages}</li>
                </ul>
    </div>
</div>
<!--user-wrap end-->
