{layout file="public:main_layout"}
{insert_css files='home/track.css'}
{insert_css files='home/user.css'}
{insert_js files='home/slider.js'}
{insert_js files='home/jquery.silver_track.js'}
{insert_js files='home/jquery.silver_track.navigator.js'}
<div class="buy-crumb w1220">首页-个人中心</div>
<div class="user-wrap w1220">
    {include file="public:user_left"}
    <!--right begin-->
    <div class="right frt">
    	<h3>个人中心</h3>
    	<!--user-main begin-->
    	<div class="user-main flt">
    		<!--user-info begin-->
    		<div class="user-info">
    			<!--lt begin-->
    			<div class="lt flt">
    				<!--portrait begin-->
    				<div class="portrait user-pic1">
						<img width="68" height="68"  src="__UPLOAD__/{$data.thumb}"/>
    					<img src="__IMG__/home/userPicMask1.png"/>
    				</div>
    				<!--portrait end-->
					<span>{$data[u_name]}</span>
    			</div>
    			<!--lt end-->
    			<!--cen begin-->
    			<div class="cen flt">
    				<div id="{$data.identification}" class="">
    					<p></p>
    					<a href="/user/fundManager/cusRegister">立即认证》</a>
    				</div>
					<h2>{$data.c_name}</h2>
					<span>上次登录时间：
						{if $data.last_login==0|| $data.last_login==null}{$data.input_time|date: Y-m-d :H:i}
						{else}
						{$data.last_login|date: Y-m-d :H:i}
						{/if}</span>
    			</div>
    			<!--cen end-->
    			<!--rt begin-->
    			<ul class="rt">
					<li class="msg"><p></p><span>未读消息（<b>{$data.number}</b>）</span></li>
					<li class="point"><p></p><span>积分<b>{$data.points}</b></span></li>
    			</ul>
    			<!--rt end-->
    		</div>
    		<!--user-info end-->
    		<!--order begin-->
    		<div class="user-main-detail order">
    			<div class="tit"><h2>最近三月订单信息</h2></div>
    			<ul>
    				<li> 
    					<!--classify begin-->
    					<div class="classify classify1 flt">
    						<p></p><span>自营商城订单</span>
    					</div>
    					<!--classify end-->
    					<!--census begin-->
    					<div class="census flt">
							{foreach from=$data1 item=val key=key}
    						<p>待审核（<span>{$val[number]}</span>）</p>
							{/foreach}
							{foreach from=$data2 item=val key=key}
    						<p>待付款（<span>{$val[number]}</span>）</p>
							{/foreach}
							{foreach from=$data3 item=val key=key}
    						<p>待开票（<span>{$val[number]}</span>）</p>
							{/foreach}
							{foreach from=$data4 item=val key=key}
    						<p>已取消（<span>{$val[number]}</span>）</p>
							{/foreach}
    					</div>
    					<!--census end-->
    				</li>
    				<li>
    					<!--classify begin-->
    					<div class="classify classify2 flt">
    						<p></p><span>联营商城订单</span>
    					</div>
    					<!--classify end-->
    					<!--census begin-->
    					<div class="census flt">
							{foreach from=$info1 item=val key=key}
							<p>待审核（<span>{$val[number]}</span>）</p>
							{/foreach}
							{foreach from=$info2 item=val key=key}
							<p>待付款（<span>{$val[number]}</span>）</p>
							{/foreach}
							{foreach from=$info3 item=val key=key}
							<p>待开票（<span>{$val[number]}</span>）</p>
							{/foreach}
							{foreach from=$info4 item=val key=key}
							<p>已取消（<span>{$val[number]}</span>）</p>
							{/foreach}
    					</div>
    					<!--census end-->
    				</li>
    			</ul>
    		</div>
    		<!--order end-->
    		<!--product begin-->
    		<div class="user-main-detail product">
    			<div class="tit">
    				<h2>关注产品信息</h2>
					<a href="/user/productAttention/proAttentionValue">添加》</a>
    			</div>
    			<!--slider-pro begin-->
				<div class="slider-pro">
				    <div class="track example-1">
				        <!--inner begin-->
				        <div class="inner">
				            <!--view-port begin-->
				            <div class="view-port">
				                <!--slider-container begin-->
				                <div class="slider-container"  id="example-1">
                                    {foreach from=$res item=value key=key}
				                    <div class="item" id="{$value.id}" >
                                        <p class="addr">
                                            {$value.product_name}/ {$value.model}/{$value.factory_name}
                                        </p>
                                        <div class="price up" id="price" data-id="{$value.unit_price}"><span>¥{$value.unit_price}</span><b>100</b></div>
                                        <p class="time">{$value.input_time|date:Y-m-d}</p>
                                        <div class="del">取消关注</div>            
                                    </div>
                                    {/foreach}
				                </div>
				                <!--slider-container begin-->
				          </div>
				          <!--view-port begin-->
				          <div class="bullet-pagination"></div>
				    </div>
				    <!--inner end-->
				    <!--pagination begin-->
				    <div class="pagination">
				        <a href="#" class="prev disabled"></a>
				        <a href="#" class="next disabled"></a>
				    </div>
				    <!--pagination end-->
				</div>
				</div>
				    <!-- <ul>
                                            {foreach from=$res item=value key=key}
                                            <li>
                                                <p class="addr">{$value.product_name}/ {$value.model}/{$value.factory_name}</p>
                                                <div class="price up"><span>¥{$value.unit_price}</span><b>100</b></div>
                                                <p class="time">{$value.update_time| date:Y-m-d}</p>
                                                <div class="del"></div>
                                            </li>
                                            {/foreach}
                                        </ul> -->
    		</div>
    		<!--product end-->
    		<!--purchase begin-->
    		<div class="user-main-detail purchase">
    			<div class="tit"><h2>最新正在洽谈中的采购需求</h2></div>
    			<ul>
					{foreach from=$rest item=val key=key}
    				<li>
    					<p>
	    					<span>求购{if $val.product_type==1}HDPE
								{elseif $val.product_type==2}LDPE
								{elseif $val.product_type==3}LLDPE
								{elseif $val.product_type==4}PP
								{else}PVC
								{/if}
								{$val.model} {$val.number}吨</span>
	    					<span>价格：￥{$val.unit_price}元</span>
	    					<span>交货地：{$val.name}</span>
	    					<span>{$val.input_time|date:Y-m-d}</span>
    					</p>
    					<a href="/offers/talk?id={$val.id}">我要供货</a>
    				</li>
					{/foreach}
    			</ul>
				<p class="purchase-more"><a href="/purchase">更多采购需求》</a></p>
    		</div>
    		<!--purchase end-->
    		<!--other begin-->
    		<div class="other">
    			<!--resource begin-->
    			<div class="resource flt">
    				<div class="tit"><h2>资源库</h2></div>
    				<ul>
						{foreach from=$count2 item=val }
    					<li class="res1"><p>今日发布求购</p><span>{$val.total}</span></li>
						{/foreach}
						{foreach from=$count1 item=val }
    					<li class="res2"><p>今日发布供应</p><span>{$val.total}</span></li>
						{/foreach}
    				</ul>
    				<h4>实时资源</h4>
					<div id="refreshs">
						{foreach from=$ref item=val}
						<p>{$val.user_nick}<br/>{$val.contents}</p>
						{/foreach}
					</div>

    			</div>
    			<!--resource end-->
    			<!--release begin-->
    			<div class="release flt">
    				<div class="tit"><h2>免费发布采购需求</h2></div>
					<form method="post" class="addform">
    					<textarea placeholder="写下您的真实需求，包括牌号、吨数等，收到后我们会立即
给您会点确认，剩下的就交给我们吧。"></textarea>
						<input type="submit" value="免费委托发布"/>
					</form>
    			</div>
    			<!--release end-->
    		</div>
    		<!--other end-->
    	</div>
    	<!--user-main end-->
    	<!--user-rig begin-->
    	<div class="user-rig flt">
    		<!--trader begin-->
    		<div class="trader"><!-- __IMG__/home/   ../../images/home/ -->
    			<div class="user-pic">
    				<!--<img src="__IMG__/home/userPic.jpg"/>-->
    				<!--<img src="__IMG__/home/userPicMask.png"/>-->
    			</div>
    			<p>我是您的专属交易员  {$data.adm_name}</p>
				<p>您有需要我帮助的请及时与我联系</p>
    			<ul>
    				<li class="name">{$data.adm_name}</li>
    				<li class="phone">{$data.mobile}</li>
    				<!--<li class="qq">50466034</li>-->
    			</ul>
    		</div>
    		<!--trader end-->
    		<!--help begin-->
    		<div class="help">
    			<h4>帮助中心</h4>
    			<dl class="dl1">
    				<img src="__IMG__/home/userIndex1.png">
    				<dt>购买流程</dt>
    				<dd>一键认购，快人一步</dd>
    			</dl>
    			<dl class="dl2">
    				<img src="__IMG__/home/userIndex2.png">
    				<dt>购买流程</dt>
    				<dd>一键认购，快人一步</dd>
    			</dl>
    			<dl class="dl3">
    				<img src="__IMG__/home/userIndex3.png">
    				<dt>购买流程</dt>
    				<dd>一键认购，快人一步</dd>
    			</dl>
    		</div>
    		<!--help end-->
    		<!--wechat begin-->
    		<div class="wechat">
    			<h4>官方微信公众号</h4>
    			<div class="wechat-con">
    				<img src="__IMG__/home/userIndex4.jpg"/>
    				<p>我的塑料网官方微信每周不定时推送行业资讯在线查询最新同行报价</p>
    			</div>
    		</div>
    		<!--wechat end-->
    		<!--point begin-->
    		<div class="point">
    			<h4>我的积分</h4>
				<p>{$data.points}</p>
    			<ul>
    				<li><a href="/user/myPoints/creditDetail">查看积分明细</a></li>
    				<li><a href="http://www.online.com/pointshop">去积分商城看看</a></li>
    			</ul>
    		</div>
    		<!--point end-->
    		<!--slider begin-->
	        <div class="slider">
	        	<!--wrapper begin-->
	        	<div class="wrapper">
	            	<!--focus begin-->
	                <div id="focus">
	                    <ul>
							{foreach from=$points item=val key=key}
	                        <li>
	                        	<div class="goods-pic"><img src="__UPLOAD__/{$val.thumb}"/></div>
	                            <p class="goods-name">{$val.name}</p>
	                            <p class="goods-jifen"><span>{$val.points}</span>分</p>
	                            <div class="goods-btn"><a href="/pointshop/index/item?id={$val.id}">去积分商城兑换</a></div>
	                        </li>
							{/foreach}
	                    </ul>
	                </div>
	                <!--focus end-->
	       		</div>
				<!-- wrapper end -->
	        </div>
	        <!--slider end-->
    	</div>
    	<!--user-rig end-->
    </div>
    <!--right end-->
</div>
<script>
	$(function(){
		var id=$('.cen div').attr('id');
		  if(id>1){
			  $('.cen div').addClass('authen yes');
		  }else{
			  $('.cen div').addClass('authen no');
		  }

		$(".authen.yes p").html("已认证会员");
		$(".authen.no p").html("待认证会员");

		//删除关注产品信息
		var del = $(".user-main .product .item .del");
		del.live("click",function(){
			var id=$('.item').attr('id');
			$.ajax({
					url:'/user/productAttention/changeFocusState',
					data:{pId:id},
					type:'get',
					dataType:'json',
					cache:'false',
				success:function(res){
					if(res.err==0){
						if(res.status==1){
							alert('取消关注失败');
						}else{
							alert('取消关注成功');

						}
					}

				}

			})

			$(this).parent().remove();
		});
	});

	//发布采购需求
	$('.addform').submit(function(){
		var content = $('.addform textarea').val().trim();
		var type=1;
		if(content == ''){
			alert('请填写发布内容');
			return false;
		}
		$.post('/resource/index/release', {content:content,type:type}, function (data){
			if(data.err>0){
				if(data.err==1){
					loginbox('resource');
				}else{
					alert(data.msg);
				}
			}else{
				alert('发布成功');
				window.location.reload();
			}
		},'json')
		return false;
	})
    //资源库局部刷新
	setInterval(function(){
		$.ajax({
			url:'/user/index/ajax',
			type:'get',
			dataType:'json',
			cache:'false',
			data:{status:1},
			success:function(res){
				var str='';
				$.each(res,function(i,item){
					str='<p>'+ item.user_nick+'<br/>' +item.contents+'</p>';
				})
				$('#refreshs').html(str);
			}
		})
	},5000);

    //关注产品信息
    var track = $(".slider-container").silverTrack({
        perPage:4
    });
    var parent = track.container.parents(".track");
     
    // 左右箭头
    track.install(new SilverTrack.Plugins.Navigator({
      prev: $("a.prev", parent),
      next: $("a.next", parent)
    }));

    track.start();
</script>