{layout file="public:main_layout"}
{insert_css files='home/user.css'}
{insert_js files='home/slider.js'}
<div class="buy-crumb w1220">首页-个人中心</div>
<div class="user-wrap w1220">
    {include file="public:user_left"}
    <!--right begin-->
    <div class="right frt">
    	<h3>个人中心</h3>
    	<!--user-main begin-->
    	<div class="user-main flt">
    		<!--user-info begin-->
    		<div class="user-info">
    			<!--lt begin-->
    			<div class="lt flt">
    				<!--portrait begin-->
    				<div class="portrait user-pic1">
    					<img src="__IMG__/home/userPic1.jpg"/>
    					<img src="__IMG__/home/userPicMask1.png"/>
    				</div>
    				<!--portrait end-->
    				<span>古圣泉</span>
    			</div>
    			<!--lt end-->
    			<!--cen begin-->
    			<div class="cen flt">
    				<div class="authen no">
    					<p></p>
    					<a href="javascript:;">立即认证》</a>
    				</div>
    				<h2>上海九红塑胶有限公司</h2>
    				<span>上次登录时间：2016-6-22 10:32:25</span>
    			</div>
    			<!--cen end-->
    			<!--rt begin-->
    			<ul class="rt">
    				<li class="msg"><p></p><span>未读消息（<b>4</b>）</span></li>
    				<li class="point"><p></p><span>积分<b>123456</b></span></li>
    			</ul>
    			<!--rt end-->
    		</div>
    		<!--user-info end-->
    		<!--order begin-->
    		<div class="user-main-detail order">
    			<div class="tit"><h2>最近三月订单信息</h2></div>
    			<ul>
    				<li>
    					<!--classify begin-->
    					<div class="classify classify1 flt">
    						<p></p><span>自营商城订单</span>
    					</div>
    					<!--classify end-->
    					<!--census begin-->
    					<div class="census flt">
    						<p>待审核（<span>3</span>）</p>
    						<p>待付款（<span>5</span>）</p>
    						<p>待开票（<span>3</span>）</p>
    						<p>已取消（<span>3</span>）</p>
    					</div>
    					<!--census end-->
    				</li>
    				<li>
    					<!--classify begin-->
    					<div class="classify classify2 flt">
    						<p></p><span>联营商城订单</span>
    					</div>
    					<!--classify end-->
    					<!--census begin-->
    					<div class="census flt">
    						<p>待审核（<span>3</span>）</p>
    						<p>待付款（<span>5</span>）</p>
    						<p>待开票（<span>3</span>）</p>
    						<p>已取消（<span>3</span>）</p>
    					</div>
    					<!--census end-->
    				</li>
    			</ul>
    		</div>
    		<!--order end-->
    		<!--product begin-->
    		<div class="user-main-detail product">
    			<div class="tit"><h2>关注产品信息</h2></div>
    			<ul>
    				<li>
    					<p class="addr">云林 / 9001 上海</p>
    					<div class="price up"><span>¥9650</span><b>100</b></div>
    					<p class="time">今天 15:43</p>
    					<div class="del"></div>
    				</li>
    				<li>
    					<p class="addr">云林 / 9001 上海</p>
    					<div class="price down"><span>¥9650</span><b>100</b></div>
    					<p class="time">今天 15:43</p>
    					<div class="del"></div>
    				</li>
    				<li>
    					<p class="addr">云林 / 9001 上海</p>
    					<div class="price up"><span>¥9650</span><b>100</b></div>
    					<p class="time">今天 15:43</p>
    					<div class="del"></div>
    				</li>
    				<li>
    					<p class="addr">云林 / 9001 上海</p>
    					<div class="price down"><span>¥9650</span><b>100</b></div>
    					<p class="time">今天 15:43</p>
    					<div class="del"></div>
    				</li>
    			</ul>
    		</div>
    		<!--product end-->
    		<!--purchase begin-->
    		<div class="user-main-detail purchase">
    			<div class="tit"><h2>关注产品信息</h2></div>
    			<ul>
    				<li>
    					<p>
	    					<span>求购LLDPE 7042 10吨</span> 
	    					<span>价格：￥9000元</span>
	    					<span>交货地：上海</span> 
	    					<span>2016-06-22 16：39</span>
    					</p>
    					<a href="javascript:;">我要供货</a>
    				</li>
    				<li>
    					<p>
	    					<span>求购LLDPE 7042 10吨</span> 
	    					<span>价格：￥9000元</span>
	    					<span>交货地：上海</span> 
	    					<span>2016-06-22 16：39</span>
    					</p>
    					<a href="javascript:;">我要供货</a>
    				</li>
    				<li>
    					<p>
	    					<span>求购LLDPE 7042 10吨</span> 
	    					<span>价格：￥9000元</span>
	    					<span>交货地：上海</span> 
	    					<span>2016-06-22 16：39</span>
    					</p>
    					<a href="javascript:;">我要供货</a>
    				</li>
    				<li>
    					<p>
	    					<span>求购LLDPE 7042 10吨</span> 
	    					<span>价格：￥9000元</span>
	    					<span>交货地：上海</span> 
	    					<span>2016-06-22 16：39</span>
    					</p>
    					<a href="javascript:;">我要供货</a>
    				</li>
    				<li>
    					<p>
	    					<span>求购LLDPE 7042 10吨</span> 
	    					<span>价格：￥9000元</span>
	    					<span>交货地：上海</span> 
	    					<span>2016-06-22 16：39</span>
    					</p>
    					<a href="javascript:;">我要供货</a>
    				</li>
    				<li>
    					<p>
	    					<span>求购LLDPE 7042 10吨</span> 
	    					<span>价格：￥9000元</span>
	    					<span>交货地：上海</span> 
	    					<span>2016-06-22 16：39</span>
    					</p>
    					<a href="javascript:;">我要供货</a>
    				</li>
    			</ul>
				<p class="purchase-more"><a href="javascript:;">更多采购需求》</a></p>
    		</div>
    		<!--purchase end-->
    		<!--other begin-->
    		<div class="other">
    			<!--resource begin-->
    			<div class="resource flt">
    				<div class="tit"><h2>资源库</h2></div>
    				<ul>
    					<li class="res1"><p>今日发布求购</p><span>94678</span></li>
    					<li class="res2"><p>今日发布供应</p><span>94678</span></li>
    				</ul>
    				<h4>实时资源</h4>
    				<p>杉杉汉祥-唐浩斌<br/>出上海现货 塑拖EX5-2102TX00上海期货5502 沙特 塑拖BL3青岛期货...</p>
    			</div>
    			<!--resource end-->
    			<!--release begin-->
    			<div class="release flt">
    				<div class="tit"><h2>免费发布采购需求</h2></div>
    				<form name="" method="post" action="">
    					<textarea placeholder="写下您的真实需求，包括牌号、吨数等，收到后我们会立即
给您会点确认，剩下的就交给我们吧。"></textarea>
						<input type="submit" value="免费委托发布"/>
    				</form>
    			</div>
    			<!--release end-->
    		</div>
    		<!--other end-->
    	</div>
    	<!--user-main end-->
    	<!--user-rig begin-->
    	<div class="user-rig flt">
    		<!--trader begin-->
    		<div class="trader"><!-- __IMG__/home/   ../../images/home/ -->
    			<div class="user-pic">
    				<img src="__IMG__/home/userPic.jpg"/>
    				<img src="__IMG__/home/userPicMask.png"/>
    			</div>
    			<p>我是您的专属交易员  张飞扬</p>
				<p>您有需要我帮助的请及时与我联系</p>
    			<ul>
    				<li class="name">张飞扬</li>
    				<li class="phone">15667899786</li>
    				<li class="qq">50466034</li
    			</ul>
    		</div>
    		<!--trader end-->
    		<!--help begin-->
    		<div class="help">
    			<h4>帮助中心</h4>
    			<dl class="dl1">
    				<img src="__IMG__/home/userIndex1.png">
    				<dt>购买流程</dt>
    				<dd>一键认购，快人一步</dd>
    			</dl>
    			<dl class="dl2">
    				<img src="__IMG__/home/userIndex2.png">
    				<dt>购买流程</dt>
    				<dd>一键认购，快人一步</dd>
    			</dl>
    			<dl class="dl3">
    				<img src="__IMG__/home/userIndex3.png">
    				<dt>购买流程</dt>
    				<dd>一键认购，快人一步</dd>
    			</dl>
    		</div>
    		<!--help end-->
    		<!--wechat begin-->
    		<div class="wechat">
    			<h4>官方微信公众号</h4>
    			<div class="wechat-con">
    				<img src="__IMG__/home/userIndex4.jpg"/>
    				<p>我的塑料网官方微信每周不定时推送行业资讯在线查询最新同行报价</p>
    			</div>
    		</div>
    		<!--wechat end-->
    		<!--point begin-->
    		<div class="point">
    			<h4>我的积分</h4>
    			<p>10578967</p>
    			<ul>
    				<li><a href="javascript:;">查看积分明细</a></li>
    				<li><a href="javascript:;">去积分商城看看</a></li>
    			</ul>
    		</div>
    		<!--point end-->
    		<!--slider begin-->
	        <div class="slider">
	        	<!--wrapper begin-->
	        	<div class="wrapper">
	            	<!--focus begin-->
	                <div id="focus">
	                    <ul>
	                        <li>
	                        	<div class="goods-pic"><img src="__IMG__/home/userIndex5.jpg"/></div>
	                            <p class="goods-name">iPhone 6s 移动联通电信4G手机</p>
	                            <p class="goods-jifen"><span>670000</span>分</p>
	                            <div class="goods-btn"><a href="javascript:;">去积分商城兑换</a></div>
	                        </li>
	                        <li>
	                        	<div class="goods-pic"><img src="__IMG__/home/userIndex5.jpg"/></div>
	                            <p class="goods-name">iPhone 6s 移动联通电信4G手机</p>
	                            <p class="goods-jifen"><span>670000</span>分</p>
	                            <div class="goods-btn"><a href="javascript:;">去积分商城兑换</a></div>
	                        </li>
	                        <li>
	                        	<div class="goods-pic"><img src="__IMG__/home/userIndex5.jpg"/></div>
	                            <p class="goods-name">iPhone 6s 移动联通电信4G手机</p>
	                            <p class="goods-jifen"><span>670000</span>分</p>
	                            <div class="goods-btn"><a href="javascript:;">去积分商城兑换</a></div>
	                        </li>
	                    </ul>
	                </div>
	                <!--focus end-->
	       		</div>
				<!-- wrapper end -->
	        </div>
	        <!--slider end-->
    	</div>
    	<!--user-rig end-->
    </div>
    <!--right end-->
</div>
<script>
	$(function(){
		$(".authen.yes p").html("已认证会员");
		$(".authen.no p").html("待认证会员");

		//删除关注产品信息
		var del = $(".user-main .product ul li .del");
		del.live("click",function(){
			$(this).parent().remove();
		});
	});
</script>