<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>登录,我的塑料网</title>

	<link rel="stylesheet" type="text/css" href="__CSS__/home/style/commons.css"/>

	<script src="__JS__/home/jquery-1.8.3.min.js" type="text/javascript"></script>


</head>
<body class="member">
		<div class="nylogoeg">
			<div class="logo" style="padding-top:18px;">
				<a href="/"><img src="__UPLOAD__/{$sys.site_logo}"/></a>
			</div>
			<div class="dibuerwjiefweg">
				<a href="#">常见问题</a> -
				<a href="#">联系我们</a> -
				<a href="#">意见反馈</a>
			</div>
			<div class="clear"></div>
		</div>

<!--member-con begin-->
<div class="member-con">
	<!--mem-inner begin-->
	<div class="mem-inner">
		<div class="memlt"><img src="__IMG__/home/img/memlt.png" width="516" height="380"/></div>
		<!--memrt begin-->
		<div class="memrt">
			<!--opt begin-->
			<div class="opt">
				<!--login begin-->
				<div class="login">
					<form name="" method="post"  id="loginForm" onSubmit="return doLogin();" class="loginform" action="">
						<!--opt-wrap begin-->
						<div class="opt-wrap mobile">
							<div class="icon"></div>
							<input type="text" value="" name="username" placeholder="请输入手机号..."/>
						</div>
						<!--opt-wrap end-->
						<div class="opt-msg"><p></p></div>
						<!--opt-wrap begin-->
						<div class="opt-wrap pwd">
							<div class="icon"></div>
							<input type="password" maxlength="20"  name="password" placeholder="请输入密码..."/>
						</div>
						<!--opt-wrap end-->
						<div class="opt-msg"><p></p></div>
						<!--related begin-->
						<div class="related">
							<div class="reg">还没有账号？去<a href="/user/register">免费注册</a></div>
							<div class="forget"><a href="/user/findpwd">忘记密码？</a></div>
						</div>
						<!--related end-->
						<div class="btn">
							<input type="submit" value="登  录" />
						</div>
						<span id="tips" style="color:red;"></span>
						<p class="qq-login"><a href="/user/login/auth">使用QQ账号登录</a></p>
					</form>
				</div>
			</div>
			<!--opt end-->
		</div>
		<!--memrt end-->
	</div>
	<!--mem-inner end-->

</div>
<!--member-con end-->
{include file="public:footer"}
</body>
<script>
	var tips=$("#tips");
	function doLogin(){
		var username=$("input[name='username']").val().trim();
		var password=$("input[name='password']").val().trim();
		//var remember=$("input[name='remember']:checked").val();
		var is_mobile=/^1[0-9]{10}$/;
		if(username==''){
			errMsg('手机号不能为空');
			return false;
		}
		if(!is_mobile.test(username)){
			errMsg('账号或密码错误');
			return false;
		}
		if(password==''){
			errMsg('密码不能为空');
			return false;
		}
		if(password.trim() < 6){
			errMsg('账号或密码错误');
			return false;
		}
		$.post('/user/login/dolongin',{username:username,password:password},function (data){
			if(data.err>0){
				errMsg(data.msg);
			}else{
				window.location.href="/user";
			}
		},'json');
		errMsg('');
		return false;
	}
	function errMsg(msg){
		tips.html(msg);
	}

</script>

</html>
