{layout file="public:main_layout"}
{insert_css files='home/user.css'}
{insert_js files='home/jquery.ajaxupload.js'}


<link rel="stylesheet" type="text/css" href="__JS__/home/layer-v1.8.5/skin/layer.css"/>
<link rel="stylesheet" type="text/css" href="__JS__/home/layer-v1.8.5/skin/layer.ext.css"/>
<style type="text/css">
.xubox_setwin .xubox_close0{ right:-70px!important;}
</style>
<script type="text/javascript">
    $(function(){
        var productArr=[];
        //操作
        $(".del").on("click",function(){
            var pid=$(this).val();
            var _this=$(this);
            console.log(pid);
            $.ajax({
            type:"post",
            url:"/user/mainProduct/changeFocusState",
            data:{'pId':pid},
            dataType:'json',
            success:function(res){
                if(res.err==0){
                    if(res.status == 1){
                        _this.text("取消发布");
                        _this.parents('ul').find('li.status').text('已发布');
                    }else if(res.status == 2){
                        _this.text("重新发布");
                        _this.parents('ul').find('li.status').text('未发布');
                    }
                }
            }
            });
        });
        //全选
        $("#all").click(function(){
                            if(this.checked){
                                $(".purchaseList").prop("checked", true);
                                productArr=[];
                                $(".regular-checkbox2").each(function () {
                                    productArr.push($(this).data("id"));
                                    console.log(productArr);
                                });
                            }else{
                                $(".purchaseList").prop("checked", false);
                                productArr=[];
                                console.log(productArr);
                            }
                        });
        //单选
        $(".regular-checkbox2").on("click",function () {
                            var pId=$(this).data("id");
                            if(this.checked){
                                productArr.push(pId);
                                console.log(productArr);
                            }else{
                                $("#all").prop("checked",false);
                                productArr.splice($.inArray(pId,productArr),1);
                                console.log(productArr);
                            }
                        });
        //批量关注
        $("#ml").bind('click',function(){
            $.ajax({
                type:"post",
                url:"/user/mainProduct/mulLook",
                data:{'ids':productArr},
                dataType:'json',
                success:function(res){
                    if(res.err==0){
                        if(res.status == 1){
                            $(res.newData).each(function(resk,resv){
                                $(".del").each(function(k,v){
                                    if($(this).val() == resv.id){
                                    $(this).text("取消发布");
                                    $(this).parents('ul').find('li.status').text('已发布');
                                }
                                });
                            });
                        }
                    }
                }
            });
        });
        //批量取消
        $("#mq").bind('click',function(){
            $.ajax({
                type:"post",
                url:"/user/mainProduct/mulQuit",
                data:{'ids':productArr},
                dataType:'json',
                success:function(res){
                    if(res.err==0){
                        if(res.status == 2){
                            $(res.newData).each(function(resk,resv){
                                $(".del").each(function(k,v){
                                    if($(this).val() == resv.id){
                                    $(this).text("重新发布");
                                    $(this).parents('ul').find('li.status').text('未发布');
                                }
                                });
                            });
                        }
                    }
                }
            });
        });
        //添加新的关注商家
        var pro_img = $(".import.pro_img"),
        pro_name = $(".import.pro_name"),
        pro_inf = $(".import.pro_inf"),
        pro_type = $(".import.pro_type"),
        errorMsg = $(".error-msg"),
        str = "";

        $(".add_btn").bind("click",function(){
            $.layer({
                type: 1,
                title: false,
                border: [0],
                page: {dom : '.layer'},
                close:function(){
                    pro_img.val("");
                    pro_name.val("");
                    pro_inf.val("");
                    errorMsg.html("");
                }
            });
        });

        $(".btn.submit").bind("click",function(){
            if(pro_img.val()==""){
                valid("请输入产品图片",pro_img);
            }
            else if(pro_name.val()==""){
                valid("请输入产品名称",pro_name);
            }
            else if(pro_inf.val()==""){
                valid("请输入产品说明",pro_inf);
            }
            else{
                $.ajax({
                    type:"post",
                    url:"/user/mainProduct/addMainProduct",
                    data:{'pro_img':pro_img.val(),'pro_name':pro_name.val(),'pro_inf':pro_inf.val(),'pro_type':pro_type.val()},
                    dataType:'json',
                    success:function(res){
                        if(res.err==0)
                        window.location.href="/user/mainProduct/getMainProduct";
                    }
                });
                 //errorMsg.html("");
            }
        });

        function valid(str,elem){
            var errorMsg = $(".error-msg");
            errorMsg.html(str);
            elem.focus();
            return false;
        }
    });
</script>
<!--user-wrap begin-->
<div class="buy-crumb w1220">首页-<a href="/user">个人中心</a></div>
<div class="user-wrap w1220">
    <!--right begin-->
    {include file="public:user_left"}
    <div class="right frt">
    	<h3>个人中心-主营产品</h3>
        <!--site2 begin-->
        <div class="site site2 color3">
        	<div class="site-add"><span class="add_btn">添加</span></div>
        	<!--site-title begin-->
            <ul class="site-title">
            	<li class="pro-pic">产品图片</li>
                <li class="pro-name">产品名称</li>
                <li class="pro-explain">产品说明</li>
                <li class="status">状态</li>
                <li class="opt">操作</li>
            </ul>
            <!--site-title end-->
            <!--all-opt begin-->
            <div class="all-opt">
                <input type="checkbox" id="all"/>
                <label for="all">全选</label>
                <a id="ml" href="javascript:;">批量发布</a>
                <a id="mq" href="javascript:;">批量取消</a>
            </div>
            <!--all-opt end-->
            <!--site-con begin-->
            {foreach from=$detail item=value}
            <div class="site-con">
            	<!--site-con-top begin-->
                <div class="site-con-top">
                	<input type="checkbox" class="purchaseList regular-checkbox2" data-id="{$value.id}"/>
                    <span>添加时间：{$value.input_time}</span>
                </div>
                <!--site-con-top end-->
                <!--site-con-bot begin-->
                <div class="site-con-bot">
                    <ul>
                        <li class="pro-pic"><img src="__UPLOAD__/{$value.image}" width="100" height="100"/></li>
                        <li class="pro-name">{$value.name}</li>
                        <li class="pro-explain">{$value.infos|truncate:100:"",'utf-8'}</li>
                        <li class="status">{$value.status}</li>
                        <li>
                            <button class="del" value="{$value.id}">{$value.operate}</button>
                        </li>
                    </ul>
                </div>
                <!--site-con-bot end-->
            </div>
            {/foreach}
            <!--site-con end-->
        </div>
        <!--site2 end--> 
    </div>
    <!--right end-->
    <div>&nbsp;</div>
    <div class="page" style="text-align: center;">
                <ul style="display: inline-block;">
                    <li>{$pages}</li>
                </ul>
    </div>
</div>
<!--user-wrap end-->
<!--layer begin-->
<div class="layer">
    <h3>添加新主营产品</h3>
    <p class="error-msg"></p>
    <table>
        <form name="" method="post" action="">
            <tr>
                <td class="name">产品分类：</td>
                <td>
                    <select class="pro_type import" style="width: 212px;height: 34px;border: 1px solid #d6d7dc;">
                        {foreach from=$product_kind item=value key=key}
                        <option value="{$key}">{$value}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="name">产品图片：</td>
                <td style="position:relative;">
                    <img src="__IMG__/home/portraitUpload.png" style="width:50px;height:50px;" id="permitP_btn">
                    <input type="hidden" id="url" name="" class="pro_img import" value="">
                </td>
            </tr>
            <tr>
                <td class="name">产品名称：</td>
                <td><input type="text" class="pro_name import"/></td>
            </tr>
            <tr>
                <td class="name">产品说明：</td>
                 <td><textarea style="width:212px; height:34px;border:solid 1px #d6d7dc;" class="pro_inf import"></textarea> </td>
                <!-- <td><input type="text" class="pro_inf import"/></td> -->
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" value="确定" class="btn submit"/>
                </td>
            </tr>
        </form>
    </table>
</div>

<script type="text/javascript">
    new AjaxUpload('#permitP_btn', {
        action: '/public/sysUpload/images?model=1',
        name: 'image',
        onSubmit: function(file, suffix) {
            // 'gif','jpg','jpeg','png','swf'
            var patrn = /^(gif|jpg|jpeg|png)$/i;
            if (!patrn.test(suffix)) {
                alert('不支持上传 *.' + suffix + '格式的文件。');
                return false;
            }
        },
        onComplete: function(file, response) {
            var result = jQuery.parseJSON(response);
            if(result.err == 0) {
                $('#url').val(result.msg);
                $("#permitP_btn").attr('src',"__UPLOAD__/"+result.msg);
            } else {
                alert(result.msg);
            }
        }
    });
</script>
<!--layer end-->