{layout file="public:main_layout"}
{insert_css files='home/user.css'}

<link rel="stylesheet" type="text/css" href="__JS__/home/layer-v1.8.5/skin/layer.css"/>
<link rel="stylesheet" type="text/css" href="__JS__/home/layer-v1.8.5/skin/layer.ext.css"/>
<style type="text/css">
.xubox_setwin .xubox_close0{ right:-70px!important;}
</style>
<script type="text/javascript">
    $(function(){
        var productArr=[];
        $(".del").on("click",function(){
            var pid=$(this).val();
            $.ajax({
            type:"post",
            url:"/user/myArticle/changeFocusState",
            data:{'pId':pid},
            dataType:'json',
            success:function(res){
                if(res.err==0)
                window.location.href="/user/myArticle/getMyArticle";
            }
            });
        });
        //全选
        $("#all").click(function(){
                            if(this.checked){
                                $(".purchaseList").prop("checked", true);
                                productArr=[];
                                $(".regular-checkbox2").each(function () {
                                    productArr.push($(this).data("id"));
                                    console.log(productArr);
                                });
                            }else{
                                $(".purchaseList").prop("checked", false);
                                productArr=[];
                                console.log(productArr);
                            }
                        });
        //单选
        $(".regular-checkbox2").on("click",function () {
                            var pId=$(this).data("id");
                            if(this.checked){
                                productArr.push(pId);
                                console.log(productArr);
                            }else{
                                $("#all").prop("checked",false);
                                productArr.splice($.inArray(pId,productArr),1);
                                console.log(productArr);
                            }
                        });
        //批量关注
        $("#ml").bind('click',function(){
            $.ajax({
                type:"post",
                url:"/user/myArticle/mulLook",
                data:{'ids':productArr},
                dataType:'json',
                success:function(res){
                    window.location.href="/user/myArticle/getMyArticle";
                }
            });
        });
        //批量取消
        $("#mq").bind('click',function(){
            $.ajax({
                type:"post",
                url:"/user/myArticle/mulQuit",
                data:{'ids':productArr},
                dataType:'json',
                success:function(res){
                    window.location.href="/user/myArticle/getMyArticle";
                }
            });
        });
        //添加新的资讯
        var img = $(".import.img"),
        kid = $(".import.kid"),
        tt = $(".import.tt"),
        art_info = $(".import.art_info"),
        errorMsg = $(".error-msg"),
        str = "";

        $(".site-add").bind("click",function(){
            $.layer({
                type: 1,
                title: false,
                border: [0],
                page: {dom : '.layer'},
                close:function(){
                    img.val("");
                    kid.val("");
                    tt.val("");
                    art_info.val("");
                    errorMsg.html("");
                }
            });
        });

        $(".btn.submit").bind("click",function(){
            if(img.val()==""){
                valid("请输入资讯图片",img);
            }
            else if(kid.val()==""){
                valid("请输入资讯分类",kid);
            }
            else if(tt.val()==""){
                valid("请输入资讯标题",tt);
            }
            else if(art_info.val()==""){
                valid("请输入资讯详情",art_info);
            }
            else{
                $.ajax({
                    type:"post",
                    url:"/user/myArticle/addMyArticle",
                    data:{'img':img.val(),'kid':kid.val(),'tt':tt.val(),'art_info':art_info.val()},
                    dataType:'json',
                    success:function(res){
                        if(res.err==0)
                        window.location.href="/user/myArticle/getMyArticle";
                    }
                });
                 //errorMsg.html("");
            }
        });

        function valid(str,elem){
            var errorMsg = $(".error-msg");
            errorMsg.html(str);
            elem.focus();
            return false;
        }
    });
</script>
<div class="buy-crumb w1220">首页-个人中心</div>
<!--user-wrap begin-->
<div class="user-wrap w1220">
    <!--right begin-->
    {include file="public:user_left"}
    <div class="right frt">
    	<h3>个人中心-主营产品</h3>
        <!--site3 begin-->
        <div class="site site3 color3">
        	<div class="site-add"><span>添加</span></div>
        	<!--site-title begin-->
            <ul class="site-title">
            	<li class="info-pic">资讯图片</li>
                <li class="info-cfy">资讯分类</li>
                <li class="info-tit">资讯标题</li>
                <li class="info-detail">资讯详情</li>
                <li class="status">状态</li>
                <li class="opt">操作</li>
            </ul>
            <!--site-title end-->
            <!--all-opt begin-->
            <div class="all-opt">
                <input type="checkbox" id="all"/>
                <label for="all">全选</label>
                <a id="ml" href="javascript:;">批量发布</a>
                <a id="mq" href="javascript:;">批量取消</a>
            </div>
            <!--all-opt end-->
            <!--site-con begin-->
            {foreach from=$detail item=value}
            <div class="site-con">
            	<!--site-con-top begin-->
                <div class="site-con-top">
                	<input type="checkbox" class="purchaseList regular-checkbox2" data-id="{$value.id}"/>
                    <span>添加时间：{$value.input_time}</span>
                </div>
                <!--site-con-top end-->
                <!--site-con-bot begin-->
                <div class="site-con-bot">
                    <ul>
                        <li class="info-pic"><img src="__IMG__/home/infoPic1.jpg" width="150" height="100"/></li>
                        <li class="info-cfy">{$value.type}</li>
                        <li class="info-tit">{$value.title}</li>
                        <li class="info-detail">{$value.content}</li>
                        <li class="status">{$value.status}</li>
                        <button class="del" value="{$value.id}">{$value.operate}</button>
                    </ul>
                </div>
                <!--site-con-bot end-->
            </div>
            {/foreach}
            <!--site-con end-->
            <!--page begin-->
            <div>&nbsp;</div>
            <div class="page" style="text-align: center;">
                        <ul style="display: inline-block;">
                            <li>{$pages}</li>
                        </ul>
            </div>
            <!--page end-->
        </div>
        <!--site3 end--> 
    </div>
    <!--right end-->
</div>
<!--user-wrap end-->
<!--layer begin-->
<div class="layer">
    <h3>添加新资讯</h3>
    <p class="error-msg"></p>
    <table>
        <form name="" method="post" action="">
            <tr>
                <td class="name">资讯图片：</td>
                <td>
                    <input type="file" class="img import"></input>
                </td>
            </tr>
            <tr>
                <td class="name">资讯分类：</td>
                <td>
                    <select class="kid import" style="width: 212px;height: 34px;">
                        <option value="1" selected="selected">公司咨询</option>
                        <option value="2">行业咨询</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="name">资讯标题：</td>
                <td><input type="text" class="tt import"/></td>
            </tr>
            <tr>
                <td class="name">资讯详情：</td>
                <td><textarea style="width:212px; height:34px;border:solid 1px #d6d7dc;" class="art_info import"></textarea> </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" value="确定" class="btn submit"/>
                </td>
            </tr>
        </form>
    </table>
</div>
<!--layer end-->