{layout file="public:main_layout"}
{insert_css files='home/user.css'}

<style type="text/css">
.xubox_setwin .xubox_close0{ right:-70px!important;}
</style>
<script type="text/javascript">
    $(function(){
        var productArr=[];
        //操作
        $(".del").on("click",function(){
            var pid=$(this).val();
            var _this=$(this);
            console.log(pid);
            $.ajax({
            type:"post",
            url:"/user/myArticle/changeFocusState",
            data:{'pId':pid},
            dataType:'json',
            success:function(res){
                if(res.err==0){
                    if(res.status == 1){
                        _this.text("取消发布");
                        _this.parents('ul').find('li.status').text('已发布');
                    }else if(res.status == 2){
                        _this.text("重新发布");
                        _this.parents('ul').find('li.status').text('未发布');
                    }
                }
            }
            });
        });
        //全选
        $("#all").click(function(){
                            if(this.checked){
                                $(".purchaseList").prop("checked", true);
                                productArr=[];
                                $(".regular-checkbox2").each(function () {
                                    productArr.push($(this).data("id"));
                                    console.log(productArr);
                                });
                            }else{
                                $(".purchaseList").prop("checked", false);
                                productArr=[];
                                console.log(productArr);
                            }
                        });
        //单选
        $(".regular-checkbox2").on("click",function () {
                            var pId=$(this).data("id");
                            if(this.checked){
                                productArr.push(pId);
                                console.log(productArr);
                            }else{
                                $("#all").prop("checked",false);
                                productArr.splice($.inArray(pId,productArr),1);
                                console.log(productArr);
                            }
                        });
        //批量关注
        $("#ml").bind('click',function(){
            $.ajax({
                type:"post",
                url:"/user/myArticle/mulLook",
                data:{'ids':productArr},
                dataType:'json',
                success:function(res){
                    if(res.err==0){
                        if(res.status == 1){
                            $(res.newData).each(function(resk,resv){
                                $(".del").each(function(k,v){
                                    if($(this).val() == resv.id){
                                    $(this).text("取消发布");
                                    $(this).parents('ul').find('li.status').text('已发布');
                                }
                                });
                            });
                        }
                    }
                }
            });
        });
        //批量取消
        $("#mq").bind('click',function(){
            $.ajax({
                type:"post",
                url:"/user/myArticle/mulQuit",
                data:{'ids':productArr},
                dataType:'json',
                success:function(res){
                    if(res.err==0){
                        if(res.status == 2){
                            $(res.newData).each(function(resk,resv){
                                $(".del").each(function(k,v){
                                    if($(this).val() == resv.id){
                                    $(this).text("重新发布");
                                    $(this).parents('ul').find('li.status').text('未发布');
                                }
                                });
                            });
                        }
                    }
                }
            });
        });

    });
</script>
<!--user-wrap begin-->
<div class="user-wrap w1220">
    <!--right begin-->
    {include file="public:user_left"}
    <div class="right frt">
    	<h3>个人中心-我的资讯</h3>
        <!--site3 begin-->
        <div class="site site3 color3">
        	<div class="site-add"><a href="/user/myArticle/addArticle"><span>添加</span></a></div>
        	<!--site-title begin-->
            <ul class="site-title">
                <li class="info-cfy">资讯分类</li>
                <li class="info-tit">资讯标题</li>
                <li class="info-tit">发布时间</li>
                <li class="status">状态</li>
                <li class="opt">操作</li>
            </ul>
            <!--site-title end-->
            <!--all-opt begin-->
            <div class="all-opt">
                <input type="checkbox" id="all"/>
                <label for="all">全选</label>
                <a id="ml" href="javascript:;">批量发布</a>
                <a id="mq" href="javascript:;">批量取消</a>
            </div>
            <!--all-opt end-->
            <!--site-con begin-->
            {foreach from=$list item=value}
            <div class="site-con">
            	<!--site-con-top begin-->
                <div class="site-con-top">
                	<input type="checkbox" class="purchaseList regular-checkbox2" data-id="{$value.id}"/>
                    <span>添加时间：{$value.input_time}</span>
                </div>
                <!--site-con-top end-->
                <!--site-con-bot begin-->
                <div class="site-con-bot">
                    <ul>
                        <li class="info-cfy">{$value.type}</li>
                        <li class="info-tit">{$value.title}</li>
                        <li class="info-tit">{$value.input_time|date:Y-m-d H:i:s}</li>
                        <li class="status">{$value.status}</li>
                        <li>
                            <button class="del" value="{$value.id}">{$value.operate}</button>
                        </li>
                    </ul>
                </div>
                <!--site-con-bot end-->
            </div>
            {/foreach}
            <!--site-con end-->
            <!--page begin-->
            <div>&nbsp;</div>
            <div class="page" style="text-align: center;">
                        <ul style="display: inline-block;">
                            <li>{$pages}</li>
                        </ul>
            </div>
            <!--page end-->
        </div>
        <!--site3 end--> 
    </div>
    <!--right end-->
</div>
<!--user-wrap end-->
