{layout file="public:main_layout"}
{insert_css files='home/user.css'}

<link rel="stylesheet" type="text/css" href="__JS__/home/layer-v1.8.5/skin/layer.css"/>
<link rel="stylesheet" type="text/css" href="__JS__/home/layer-v1.8.5/skin/layer.ext.css"/>
<script src="__MYAPP__/js/common.js"></script>
<style type="text/css">
.xubox_setwin .xubox_close0{ right:-70px!important;}
</style>
<script type="text/javascript">
    $(function(){
        var productArr=[];
        //操作
        $(".del").on("click",function(){
            var pid=$(this).val();
            $.ajax({
            type:"post",
            url:"/user/productAttention/changeFocusState",
            data:{'pId':pid},
            dataType:'json',
            success:function(res){
                if(res.err==0){
                    layer.msg('取消成功');
                    location.reload();

                }else{
                    layer.msg('取消失败');
                    location.reload();
                }
            }
            });
        });
        //全选
        $("#all").click(function(){
                            if(this.checked){
                                $(".purchaseList").prop("checked", true);
                                productArr=[];
                                $(".regular-checkbox2").each(function () {
                                    productArr.push($(this).data("id"));
                                    console.log(productArr);
                                });
                            }else{
                                $(".purchaseList").prop("checked", false);
                                productArr=[];
                                console.log(productArr);
                            }
                        });
        //单选
        $(".regular-checkbox2").on("click",function () {
                            var pId=$(this).data("id");
                            if(this.checked){
                                productArr.push(pId);
                                console.log(productArr);
                            }else{
                                $("#all").prop("checked",false);
                                productArr.splice($.inArray(pId,productArr),1);
                                console.log(productArr);
                            }
                        });
//        //批量关注
//        $("#ml").bind('click',function(){
//            $.ajax({
//                type:"post",
//                url:"/user/productAttention/mulLook",
//                data:{'ids':productArr},
//                dataType:'json',
//                success:function(res){
//                    if(res.err==0){
//                        if(res.status == 1){
//                            $(res.newData).each(function(resk,resv){
//                                $(".del").each(function(k,v){
//                                    if($(this).val() == resv.id){
//                                    $(this).text("取消关注");
//                                    $(this).parents('ul').find('li.status').text('关注中');
//                                }
//                                });
//                            });
//                        }
//                    }
//                }
//            });
//        });
        //批量取消
        $("#mq").bind('click',function(){
            $.ajax({
                type:"post",
                url:"/user/productAttention/mulQuit",
                data:{'ids':productArr},
                dataType:'json',
                success:function(res){
                    if(res.err==0){
                          layer.msg('取消成功');
                          location.reload();
                    }else{
                        layer.msg('取消失败');
                        location.reload();
                    }
                }
            });
        });
         //添加新的关注产品
        var kid = $("#pz"),
        num = $("#ph"),
        address = $("#cj"),
        remark = $("#remark"),
        errorMsg = $(".error-msg"),
        kind="",
        ph="",
        cj="",
        str = "";
        //给kid,num,address对象添加事件
        $("#pz").change(function () {
                    kind=$(this).children('option:selected').val();
                    commonAjax(
                            "post",
                            '/user/productAttention/getModelByCla',
                            {kind:kind}
                    ).then(function (res) {
                        console.log(">>>",res);
                        if(res.err==1){
                            window.location.href="/myapp/login";
                        }else{
                            ph="<option>无</option>";
                            res.models.forEach(function (v,i,a) {
                                ph+="<option value='"+v.model+"'>"+v.model+"</option>";
                            });
                            $("#ph").html(ph);
                            $("#cj").html("<option>无</option>");
                        }
                    },function () {

                    });
                });

                $("#ph").change(function () {
                    model=$(this).children('option:selected').val();
                    commonAjax(
                            "post",
                            "/user/productAttention/getFactoryByMod",
                            {model:model}
                    ).then(function (res) {
                        ph="<option>无</option>";
                        res.factorys.forEach(function (v,i,a) {
                            cj="<option>无</option>";
                            cj+="<option value='"+v+"'>"+v+"</option>";
                        });
                        $("#cj").html(cj);
                    },function () {

                    })
                });
        //添加事件点击
        $(".focus-add span").bind("click",function(){
            $.layer({
                type: 1,
                title: false,
                border: [0],
                page: {dom : '.layer'},
                close:function(){
                    kid.val("");
                    num.val("");
                    address.val("");
                    remark.val("");
                    errorMsg.html("");
                }
            });
        });

        $(".btn.submit").bind("click",function(){
            if(kid.val()==""){
                valid("请选择产品类型",kid);
            }
            else if(num.val()==""){
                valid("请选择产品牌号",num);
            }
            else if(address.val()==""){
                valid("请选择产地",address);
            }
            else{
                $.ajax({
                    type:"post",
                    url:"/user/productAttention/addProAttention",
                    data:{'kid':kid.val(),'num':num.val(),'address':address.val(),'remark':remark.val()},
                    dataType:'json',
                    success:function(res){
                        if(res.err==0){
                            window.location.href="/user/productAttention/proAttentionValue";
                        }else if(res.err==2){
                            layer.msg(res.msg);
                        }else if(res.err==1){
                            layer.msg(res.msg);
                        }
                    }
                });
//                 errorMsg.html("");
            }
        });

        function valid(str,elem){
            var errorMsg = $(".error-msg");
            errorMsg.html(str);
            elem.focus();
            return false;
        }

    });
</script>
<div class="buy-crumb w1220">首页-<a href="/user">个人中心</a></div>
<!--user-wrap begin-->
<div class="user-wrap w1220">
    <!--right begin-->
    {include file="public:user_left"}
    <div class="right frt">
    	<h3>个人中心-关注的产品</h3>
        <!--focus1 begin-->
        <div class="focus1 color3">
        	<div class="focus-add"><span>添加</span></div>
        	<!--focus-title begin-->
            <ul class="focus focus-title">
            	<li class="category">产品类别</li>
                <li class="grade">牌号</li>
                <li class="place">产地</li>
                <li class="status">状态</li>
                <li class="opt">操作</li>
            </ul>
            <!--focus-title end-->
            <!--all-opt begin-->
            <div class="all-opt">
                <input type="checkbox" id="all"/>
                <label for="all">全选</label>
                <!--<a id="ml" href="javascript:;" >批量关注</a>-->
                <a id="mq" href="javascript:;" >批量取消</a>
            </div>
            <!--all-opt end-->
            <!--focus-con begin-->
            {foreach from=$detail item=value}
            <div class="focus-con">
            	<!--focus-top begin-->
                <div class="focus-top">
                    <input type="checkbox" class="purchaseList regular-checkbox2" data-id="{$value.id}" />
                    <span>添加时间：{$value.input_time}</span>
                </div>
                <!--focus-top end-->
                <!--focus-bot begin-->
                <div class="focus focus-bot">
                    <ul>
                        <li class="category">{$value.product_name}</li>
                        <li class="grade">{$value.model}</li>
                        <li class="place">{$value.factory_name}</li>
                        <li class="status">{$value.status}</li>
                        <li class="opt-con">
                        <button class="del" value="{$value.id}">{$value.operate}</button>
                        </li>
                    </ul>
                </div>
                <!--focus-bot end-->
            </div>
            {/foreach}
            <!--focus-con end-->
            <!--page begin-->
            <div class="page" style="text-align: center;">
                <ul style="display: inline-block;">
                    <li>{$pages}</li>
                </ul>
            </div>
            <!--page end-->
        </div>
        <!--focus1 end--> 
    </div>
    <!--right end-->
</div>
<!--user-wrap end-->
<!--layer begin-->
<div class="layer">
    <h3>添加新关注</h3>
    <p class="error-msg"></p>
    <table>
        <form name="" method="post" action="">
            <tr>
                <td class="name">产品类别：</td>
                <td>
                    <select class="kid import" style="width: 212px;height: 34px;" id="pz">
                        <option>请选择</option>
                        {foreach from=$product_type item=value key=key}
                        <option value="{$key}">{$value}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="name">牌号：</td>
                <!-- <td><input type="text" class="num import" id="num" /></td> -->
                <td><select id="ph"><option value="">请选择</option></select></td>
            </tr>
            <tr>
                <td class="name">产地：</td>
                <!-- <td><input type="text" class="address import" id="address" /></td> -->
                <td><select id="cj"><option value="">请选择</option></select></td>
            </tr>
            <tr>
                <td class="name">备注：</td>
                <td><input type="text" class="remark import" id="remark" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" value="确定" class="btn submit"/>
                </td>
            </tr>
        </form>
    </table>
</div>
<!--layer end-->