{layout file="public:main_layout"}
{insert_css files='home/master.css'}

<div class="ybbbg">
	<div class="ybbt">
		<dl>
			<dd>
				<img src="__IMG__/home/zuce1.jpg" width="60" height="60" />
			</dd>
			<dt><a>注册账号</a></dt>
		</dl>
		<dl>
			<dd>
				<img src="__IMG__/home/zuce2.jpg" width="60" height="60" />
			</dd>
			<dt><a>填写注册信息</a></dt>
		</dl>
		<dl>
			<dd>
				<img src="__IMG__/home/zuce3.jpg" width="60" height="60" />
			</dd>
			<dt><a>注册完成</a></dt>
		</dl>
		<div class="clear"></div>
	</div>
	<div class="ybb">
	    <div class="ybbl">
			<div class="ybblt">
				<span class="ybbltl">注册
					<font style="color:#ee4822;">新的账号</font>
				</span>
				<span class="ybbltr">
				请填写手机号作为账号使用，并保持您的手机畅通
				</span>
				<div class="clear"></div>
			</div>
			<div class="ybblb">
				<form name="validateForm1" class="registerform" onsubmit="return checkForm();" action="/user/register/reg" method="post">  
					<label>
						<span class="ybblba">手机号 <span style="color: red">*</span>：</span>
						<input type="text" name="phone" placeholder="建议使用常用手机" id="phone" class="ybblbb" />
					<div class="clear"></div>
					</label>
					<label>
						<span class="ybblba">验证码 <span style="color: red">*</span>：</span>
						<input type="text" name="regcode" id="imgcode" placeholder="不区分大小写" class="ybblbb" />
						<img width="70" height="38" src="/api/vcode?name=regcode" onclick="this.src=this.src+'&t='+Math.random()" alt="看不清，点击刷新" title="看不清，点击刷新" style="cursor:pointer;float:left;" id="verifyImage" />
						<div class="clear"></div>
					</label>
					<label>
						<span class="ybblba">短信验证码 <span style="color: red">*</span>：</span>
						<input type="text" name="code" id="code" class="ybblbd" />
						<span class="ybblbe">
							<input type="button" onclick="sendphonecode()" id="sendphone" class="ybblbf" value="免费获取短信验证码" />
						</span>
						<div class="clear"></div>
					</label>
					<label style="margin-bottom:5px;height:20px;">
						<input name="xieyi" type="checkbox" id="xieyi" checked  value="1" class="ybblbh" />
						<span class="ybblbg"><a href="/home/01.html" target="_blank">已阅读《我的塑料网用户服务协议》</a></span>
					</label>
					<p style="width:538px;text-align:center;font-size:14px;color:red;margin-bottom:20px;">注册会员可免费浏览塑料头条行情内参信息一周</p>
					<input type="submit" class="ybblbi" value="同意协议并继续" />
				</form>
			</div>
	    	<div class="clear"></div>
	    </div>
		<div class="ybbr">
			<div class="ybbra">
			已有<font style="color:#3398da">我的塑料网账号？</font>
			</div>
			<div class="ybbrb">
			登录我的塑料网，可以免费上传报价单，查看行业采购需求，更可免费享受我们提供的撮合交易服务。
			</div>
			<p class="ybbrc"><a href="/user/login">立即登录</a></p>
			<p class="ybbrd">
			<img src="__IMG__/home/qq.png" width="20" height="22" /><a href="/user/login/auth">使用QQ账号登录</a>
				<div class="clear"></div>
			</p>
			<p class="ybbre">全国免费服务热线：<font style="color:#ee4822;">400-6129-965</font><br />
			客服时间：9:00-17:00</p>
			<div class="clear"></div>
		</div>
	    <div class="clear"></div>
	</div>
</div>

<script type="text/javascript">
var wait=60;
function time(o) {
	var o =  document.getElementById(o)
	if (wait == 0) {
		// $('#sendphone').removeAttr("onclick");
		$('#sendphone').attr("onclick","sendphonecode()"); 
		$("#sendphone").val("免费获取验证码");
		wait = 60;
	} else {
		$('#sendphone').removeAttr("onclick");
		$("#sendphone").val("重新发送(" + wait + ")");
		wait--;
		setTimeout(function() {
			time(o)
		}, 1000)
	}
}

function sendphonecode(){  
	var e = $("#phone").val();
	regcode = $("#imgcode").val();
	if(!regcode){
		ll("请先填写正确的图片验证码！",2)
		return false;
	}  
	if(e){
		time('sendphone');  
		$.ajax({ 
			type: 'POST', 
//			url: "/api/sms/init",  //线上注册短信接口
			url: "/user/register/sendmsg",
			data: {'mobile':e,'regcode':regcode},
			dataType:'json', 
		beforeSend:function(){ 
			// $("#sendphone").val("正在发送...");//显示加载动画 
		}, 
		success:function(data){ 
			if(data.err==0 ){
				ll("发送成功！",1)
				// $("#sendphone").val("发送成功");//显示加载动画 
				$('#sendphone').removeAttr("onclick");
			}else if(data.err > 0){
				ll(data.msg,2)
				// $("#sendphone").val("再次发送");//显示加载动画 
			}else{
				ll("发送失败！",2)
				$('#sendphone').removeAttr("onclick");
				// $("#sendphone").val("发送失败");//显示加载动画 
			}
		}, 
		error:function(){ 
			alert("数据加载失败"); 
		} 
		}); 
	}else{
			ll("请填写手机号码！",2)
	}
}

function checkForm(){
	var phone = $.trim($('#phone').val());
	var imgcode = $.trim($('#imgcode').val());
	var code = $.trim($('#code').val());
	var xieyi = $("input[name='xieyi']").is(':checked');
	if(phone==""){
		ll('手机号不能为空！',2)
		$('#phone').focus();
		return false;
	}
	if(imgcode==""){
		ll('验证码不能为空！',2)
		$('#imgcode').focus();
		return false;
	}
	if(code==""){
		ll('短信验证码不能为空！',2)
		$('#code').focus();
		return false;
	}
	if(xieyi==false){
		ll('请阅读用户服务协议！',2)
		$('#xieyi').focus();
		return false;
	}
}



</script>