{layout file="public:main_layout"}
{insert_css files='public_new.css'}
{insert_js files='jquery/jquery.validtip.js,passport.js?1104'}
<div style="width:950px; margin:0 auto">
<div class="ht20"></div>

  <div class="tit_box border_b">
	<h3 class="f18 fbold" style="float:left">用户注册</h3>
    <span style="float:left; margin:3px 0 0 20px; color:#000">注册完成即可获得 <span class="c_orange">20元</span> 红包奖励，可作为现金投资</span>
	</div>   
	<div class="ht20"></div>
	<div class="RegForm">
        <form method="post" action="/user/register/submit" class="regform" id="regform" autocomplete="off">
        {if $ftoken}<input type="hidden" name="{$ftoken.name}" value="{$ftoken.value}">{/if}
            <div class="notice-box">
            	<div id="notice">
					<i class="IconBasic Info"></i><span>请填写真实信息完成注册，开启您的投资之旅！</span>
				</div>
			</div>
			<ul>
			    <li>
					<div class="pure-box">
						<i class="InputIcon mobile">&nbsp;</i>
						<input type="text" id="regInputMobile" name="mobile" tiprule="mobile" tipdef="请输入您的手机号码" tipnull="请输入您的手机号码" tiperr="您输入的手机号码格式不正确！" tipajax="/user/register/chkmobile" class="rtext" maxlength="11" tabindex="1" />
		                <i class="IconBasicSuccessSingle" style="display:none;"></i>
					</div>
				</li>
				{if $reg_vcode}
                <li>
					<div class="pure-box">
					<i class="InputIcon validate">&nbsp;</i>
						<input class="rtext" maxlength="4" id="regInputVcode" style="width:120px;" type="text" name="regcode" tipdef="请输入图形验证码" tiperr="请输入正确的验证码" tiprule="*4" tipajax="/api/vcode/chkVcode" tabindex="2" />
					</div>
					<div class="IdentifyingCode"><img src="/api/vcode?name=regcode" width="74" height="31" id="vcodeImg" class="vImgchange" name="regcode" /></div>
					<a href="javascript:;" class="vImgchange ChangeCode auth">看不清？换一张</a>
				</li>
                {/if}   
				  <li>
					<div class="pure-box">
					  <i class="InputIcon validate">&nbsp;</i>
						<input class="rtext" maxlength="6" id="mobileVcode" style="width:120px" autocomplete="off" type="text" name="regmcode" tiprule="*6-20" tiperr="请输入手机动态码" tipdef="请输入手机动态码" tabindex="4" />
                      <button class="MessageCodeGray" disabled="disabled" type="button" style="width:160px; float:left; margin-left:12px;" id="sendRegSms" tabindex="3">发送手机动态码</button>
				    </div>
				  </li>
                  <li>
					<div class="pure-box">
					  <i class="InputIcon password">&nbsp;</i>
					  <input type="password" autocomplete="off" name="loginpass" id="reg_password" tiprule="passwd" placeholder="请设置登录密码" tipnull="请填写密码" tiperr="密码最少8个字符，不得超过20个字符" plugin="passwordStrength" class="rtext" tabindex="5" />
				    </div>
			    </li>
				<li class="li-pw-strength">
					<div class="pure-box">
						<div class="f_left f12">密码强度：</div>
						<div class="strength-box low mid high">
							<b class="strength-step">
								<b class="step-1"></b>
								<b class="step-2"></b>
								<b class="step-3"></b>
                            </b>
                        </div>
					</div>
				</li>
				<li>
					<div class="pure-box">
					<i class="InputIcon password">&nbsp;</i>
					<input class="rtext" maxlength="16" type="password" autocomplete="off" name="verifypass" id="reg_repassword" recheck="loginpass" tiprule="*6-18" placeholder="请再次输入登录密码" tipnull="请输入确认密码" tiperr="密码与确认密码不一致" tabindex="6" />
					</div>
				</li>     
				<li>
					<div class="pure-box">
					<i class="InputIcon invite">&nbsp;</i>
						<input type="text" id="invite_code" name="invite_code" style="width:120px" maxlength="10" class="rtext"{if $invite_code eq ''} tipdef="邀请码"{/if} value="{$invite_code}" tabindex="7" /> 
                        <span class="ChangeCode">（非必填项，区分大小写）</span>
                        <i class="dot_tip" style="margin-top:10px;">
                <div class="topop"></div>
                <div class="pop">1、通过邀请码邀请好友加入{$sys.site_name，将获得30元红包奖励（好友完成注册时，获得10元；好友完成一笔投资后将再获得20元），同时好友本人在完成注册后，也会获得20元奖励。<br />2、网站上带有&nbsp;<i class="icon_prize" title="此项目在完成投资后，推荐人将获得一定比例的现金奖励！"></i>的项目满标后两个工作日内，邀请人还将获得好友投资金额一定比例的现金奖励。</div>
              </i>
					</div>
				</li>
				<li>
					<div class="pure-box">
					<label><input checked="checked" class="vm" type="checkbox" tiprule="check" tiperr="请阅读并接受《用户协议》"  value="1" /> 我已经阅读并接受</label><a href="/agreement/register" target="_blank">《用户协议》</a>
                  </div>
				</li>  
				<div class="ht5"></div>
				<li class="li-btn">
				    <button class="ui-button-red" style="width:160px; float:left" type="submit" id="btnRegSubmit" tabindex="8">确认</button>
				  <div style="float:left; margin:10px 0 0 24px; font-size:12px">已有账号？</span><a class="auth" href="/user/login">直接登录</a></div>
				</li>
				<div class="ht15"></div>
				<div class="notice-box">
					<div><i class="IconBasic Safe"></i><span>您的信息已使用SSL加密技术，数据传输安全</span></div>
				</div> 
				<div class="ht15"></div>
			</ul>
        </form>
    </div>
            
    <div class="RegRight">
    	<div class="RegPic01"></div>
    </div>
</div>
<script type="text/javascript">
ssrong.passport.register();
{if $reg_vcode}
ssrong.passport.vcode();
{/if}
</script>
