{layout file="public:main_layout"}
{insert_js files="home/reginfo.js"} 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册</title>
<link rel="stylesheet" type="text/css" href="__CSS__/reg2.css"/>
<style type="text/css">
.show-tr .suggest{border:1px solid #ddd; border-top:none; clear:both; width:210px; height:auto; background:#fff; overflow: hidden; position:absolute; left:118px; top:30px; display: none;cursor:default}
.show-tr {width: 875px;height: 30px;line-height: 30px;margin: 0 0 36px 0;position: relative;}
.show-name{/* font-weight: bold; */text-align: right;width: 98px;margin: 0 20px 0 0;float: left;}
.show-name span{color: #e64748;}
.show-val{width: 210px;height: 28px;border: 1px solid #d6d7dc;float: left;}
.show-val input{width: 200px;height: 14px;padding: 7px 0 7px 10px;box-shadow: 1px 3px 4px #e9e9e9 inset;}	
.show-tr .error-msg{color: #f60;font-weight: bold;font-size: 12px;height: 28px;line-height: 28px;margin: 0 0 0 10px;padding: 0 0 0 20px;float: left;}
</style>
</head>
<body>
<div class="reg2-wrap">
	<h2>填写注册信息</h2>
    <!--main begin-->
    <div class="main">
    	<!--form begin-->
        <div class="form flt">
        	<form name="" method="post" action="/user/register/reg" id="reg2-form">
                <h3 style="font-size: 16px;">账号信息</h3>
                <!--tr begin-->
                <div class="tr">
                    <div class="name">手机号码：<span>*</span></div>
                    <div class="val">
                    	<input type="text" autocomplete="off" placeholder="登陆时的登录名" name="phone" id="phone" value="{$reg_data_list.phone}"/>
                    </div>
                    <div class="error-msg"></div>
                </div>
                <!--tr end-->
                <!--tr begin-->
                <div class="tr">
                    <div class="name">设置密码：<span>*</span></div>
                    <div class="val">
                    	<input type="password"autocomplete="off" placeholder="请输入密码" id="set-pwd1" name="password" value="{$reg_data_list.password}"/>
                    </div>
                    <div class="error-msg"></div>
                </div>
                <!--tr end-->
                <!--tr begin-->
                <div class="tr">
                    <div class="name">确认密码：<span>*</span></div>
                    <div class="val">
                    	<input type="password" autocomplete="off"placeholder="请再次输入密码" id="set-pwd2" name="password2" value="{$reg_data_list.password2}"/>
                    </div>
                    <div class="error-msg"></div>
                </div>
                <!--tr end-->
                <!--tr begin-->
                <div class="tr">
                    <div class="name">验证码：<span>*</span></div>
                    <div class="val code"><input type="text" autocomplete="off"placeholder="不区分大小写" name="regcode" id="imgcode" value=""/></div>
                     <div class="num-code"><img   id="verifyImage" src="/api/vcode?name=regcode" width="94" height="30"alt="看不清，点击刷新" /></div>
                    <div class="change"><a href="javascript:;">看不清，换一张</a></div>
                    <div class="error-msg"></div>
                </div>
                <!--tr end-->
                <!--tr begin-->
                <div class="tr">
                    <div class="name">短信校验码：<span>*</span></div>
                    <div class="val code"><input type="text"autocomplete="off" placeholder="请输入校验码" name="code" value=""/></div>
                    <div class="get-code enable" data-bool="true">获取短信校验码</div>
                    <div class="error-msg"></div>
                </div>
                <!--tr end-->
                <h3 style="font-size: 16px;">更多信息</h3>
                <!--tr begin-->
                <div class="tr">
                    <div class="name">用户名：<span>*</span></div>
                    <div class="val"><input type="text" autocomplete="off"placeholder="您的真实姓名" name="name" value="{$reg_data_list.name}"/></div>
                    <div class="error-msg"></div>
                </div>
                <!--tr end-->
                <!--tr begin-->
                <div class="tr">
                    <div class="name">QQ：<span>*</span></div>
                    <div class="val"><input type="text" autocomplete="off"placeholder="建议使用常用QQ" name="qq" value="{$reg_data_list.qq}"/></div>
                    <div class="error-msg"></div>
                </div>
                <!--tr end-->
                <!--tr begin-->
                <div class="show-tr">
                    <div class="show-name">公司名称：<span>*</span></div>
                    <div class="show-val"><input type="text"id="company" autocomplete="off" placeholder="请输入公司名称" value="{$reg_data_list.c_name}" name="c_name"/>                    
                    <div class="suggest">
								<ul id="search_list"></ul>
							</div>
                    </div>
                    <div class="error-msg"></div>
                </div>
                <!--tr end-->
                <!--tr begin-->
                <div class="tr">
                <div class="name">公司所在地：<span>*</span></div>
                <div class="sel">
                <select id="s_province"  name="origin[]" onChange="getarea(this)" >
							<option value="">请选择</option>
							{foreach from=$area item=value key=key}
							<option value="{$value.id}"{if $reg_data_list['origin'][0]==$value['id']}selected{/if}>{$value.name}</option>
							{/foreach}                           
				   </select>
				</div>
				<div class="sel">
				<select id="s_city" name="origin[]" class="slq" >
				            {if !isset($reg_data_list['origin'][1])}
							<option value="">请选择</option>
							{else}<option value="{$reg_data_list.origin.1}">{$city}</option>
							{/if}
				</select>
				</div>
                    <div class="error-msg"></div>
                </div>
                <!--tr end-->
                <!--summary begin-->
                <div class="summary">
                	<div class="name">公司简介：<span>*</span></div>
                    <div class="val"><textarea placeholder="请输入公司简介,最多输入200个字符" name="com_intro">{$reg_data_list.com_intro}</textarea></div>
                </div>
                <!--summary end-->
                <!--tr begin-->
                <div class="tr">
                    <div class="name">主营品种：<span>*</span></div>
                    <div class="val"><input type="text" autocomplete="off"placeholder="主要经营产品种类" value="{$reg_data_list.need_product}" name="need_product"/></div>
                    <div class="error-msg"></div>
                </div>
                <!--tr end-->
                <!--tr begin-->
                <div class="tr">
                    <div class="name">企业类型：<span>*</span></div>
                    <div class="radio">
                        <input type="radio" id="radio1" name="type"value="1" {if $reg_data_list['type']==1}checked{/if}/><label for="radio1">工厂</label>
                        <input type="radio" id="radio2" name="type"value="2" {if $reg_data_list['type']==2}checked{/if}/><label for="radio2">贸易</label>
                        <input type="radio" id="radio3" name="type"value="3" {if $reg_data_list['type']==3}checked{/if}/><label for="radio3">工贸一体</label>
                    </div>
                    <div class="error-msg"></div>
                </div>
                <!--tr end-->
                <!--agreement begin-->
                <div class="tr agreement">
                	<div class="check">
                        <input type="checkbox" checked="checked"name="protocol" id="check1"/>
                        <label for="check1">我已阅读并同意</label>
                        <a href="/home/01.html" target="_blank">《我的塑料网用户服务协议》</a>
                    </div>
                    <div class="error-msg"></div>
                </div>
                <!--agreement end-->
                <input type="submit" class="submit" value="提交注册信息" />
            </form>
        </div>
        <!--form end-->
        <!--aside begin-->
        <div class="aside frt">
        	<h3>已有<span>我的塑料网帐号？</span></h3>
            <p class="tip">登录我的塑料网，可以免费上传报价单，查看行业采购需求，更可免费享受我们提供的撮合交易服务。</p>
            <p class="opt opt1"><a class="lgn" href="javascript:;">立即登录</a></p>
            <p class="opt opt2"><a class="qgn" href="javascript:;">QQ登录</a></p>
            <h3>注册<span>提示</span></h3>
            <p class="tip">请妥善填写注册信息，注册完成并通过审核后某些信息可以在会员中心进行修改。</p>
            <div class="tel">
            	<p>全国免费服务热线：<span>400-6129-965</span></p>
				<p>客服时间：9:00-17:00</p>
            </div>
        </div>
        <!--aside end-->
    </div>
    <!--main end-->
</div>
<!--reg2-wrap end-->
</body>
<script type="text/javascript" src="__JS__/home/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__JS__/home/jquery.validate.min.js"></script>
<script>
$(function(){
	//已有账号直接登陆
	$('.lgn').click(function(){
		window.location.href="/user/login";
	});
	//QQ账号直接登陆
	$('.qgn').click(function(){
		window.location.href="/user/login/auth";
	});
	//刷新验证码
	$(".change").click(function(){
		document.getElementById('verifyImage').src="/api/vcode?name=regcode"+'&t='+Math.random();
	});

	//验证表单
	$("#reg2-form").validate({
		//失去光标的时候也进行验证
		onfocusout:function(element){ 
			$(element).valid(); 
		},     
		rules:{
			//手机号不能为空，并且格式需正确
		    phone:{
				required:true,
				isMobile:true,
				remote: {
					url: "/user/register/check_phone",     //后台处理程序
					type: "post",               //数据发送方式
					dataType: "json"           //接受数据格式   
					/* data: {                     //要传递的数据
						name: function() {
							return $("#name").val('可以实行了吗？');
						}
					} */
				}
			},
			password:"required",
			password2:{
				required:true,
				equalTo:"#set-pwd1"
			},
			regcode:{
				required:true,
				rangelength:[4,4],
				remote: {
					url: "/user/register/check_regcode",     //后台处理程序
					type: "post",               //数据发送方式
					dataType: "json"           //接受数据格式   
					/* data: {                     //要传递的数据
						name: function() {
							return $("#name").val('可以实行了吗？');
						}
					} */
				}
			},
			code:{
				required:true,
				digits:true,
				rangelength:[6,6]
			},
			name:"required",
			qq:{
				required:false,
				digits:true
			},
			c_name:"required",
			province:"required",
			need_product:"required",
			type:"required",
			protocol:"required"
		},
		messages:{
	    	phone:{
				required:"手机号不能为空",
				remote:"手机号已经注册，请直接登陆"
			},			
			password:"请您设置密码",
			password2:{
				required:"请您确认密码",
				equalTo:"两次不一致,请重新输入"
			},
			regcode:{
				required:"验证码不能为空",
				rangelength:"验证码为4位",
				remote:"验证码不正确，请重新输入"				
			},
			code:{
				required:"短信校验码不能为空",
				digits:"短信校验码必须是数字",
				rangelength:"短信校验码为6位"
			},
			name:"用户名不能为空",
			qq:{
				required:"QQ号码不能为空",
				digits:"QQ号码为数字"
			},
			c_name:"公司名称不能为空",
			province:"省份不能为空",
			need_product:"主营品种不能为空",
			type:"请选择企业类型",
			protocol:"请查看并且勾选《我的塑料网用户服务协议》"	
	    },
		errorPlacement: function(error, element) {                 //提示信息显示的位置
            error.appendTo(element.closest(".tr").find(".error-msg").addClass("icon-alert"));  
            error.appendTo(element.closest(".show-tr").find(".error-msg").addClass("icon-alert"));
        },
		success:function(label){
			label.parent().html("&nbsp;").removeClass("icon-alert");
		},
		submitHandler:function(form){
			$(form).ajaxSubmit();
		}
	});	

	//自定义验证方法,验证手机号的格式
  	$.validator.addMethod("isMobile",function(value,element){  
	   var length = value.length;   
	   var mobile = /^1[3|4|5|7|8][0-9]\d{4,8}$/;   
       return this.optional(element) || (length == 11 && mobile.test(value));       
	  
    },"手机号码格式不正确 ");
		
	//获取短信验证码
	$(".get-code").bind("click",function(){
		var _this = $(this);
		var phone = $("#phone").val();
		var regcode = $("#imgcode").val();		 
	    if(!phone) {
			 ll("请先填写正确的手机号码！",2)
			return false;
		}		
		$.ajax({ 
			type: 'POST', 
			url: "/user/register/sendmsg",
			data: {'mobile':phone,'regcode':regcode},
			dataType:'json', 
		beforeSend:function(){ 
		}, 
		success:function(data){ 
			if(data.err==0 ){
				ll("发送成功！",1)
				if(_this.attr("data-bool")=="true") time(_this,60);
				_this.attr("data-bool","false");
			}else if(data.err > 0){
				ll(data.msg,2)
			}else{
				ll("发送失败！",2)
			}
		}, 
		error:function(){ 
			alert("数据加载失败"); 
		} 
		}); 
	});
	
	//倒计时
	function time(btn,wait) {
	  if (wait == 0) {
		  btn.removeClass("disabled").addClass("enable").html("获取验证码");
		  btn.attr("data-bool","true");
		  wait = 60;
	  } else {
		  btn.removeClass("enable").addClass("disabled").html(wait+"S后重新获取");
		  wait--;
		  setTimeout(function () {
			  time(btn,wait);
		  },
		  1000)
	  }
	}
	
	//用户协议
	$(".agreement").bind("click",function(){
		var agreeThis = $(this);
		if(agreeThis.hasClass("yes")){
			agreeThis.removeClass("yes");
		}
		else{
			agreeThis.addClass("yes");
		}
	});
});

//省份选择联动城市选择列表
function getarea(that){
	var id=$(that).val();
	$.get('/api/region/init',{region_id:id},function(data){
		if(data.length){
			var html='<option value="">请选择</option>';
			$(data).each(function(k,v){
				html+='<option value="'+v.id+'">'+v.name+'</option>';
			});
			$('div.sel').find('select.slq').html('<option value="">请选择</option>');
			$('div.sel').find('select.slq').html(html);
		}else{
			$('div.sel').find('select.slq').html('<option value="">请选择</option>');
		}
	},'json');
}
</script>
