{layout file="public:main_layout"}
{insert_css files='home/user.css'}

<div class="buy-crumb w1220">首页-<a href="/user">个人中心</a></div>
<div class="user-wrap w1220">
    <!--left begin-->
    {include file="public:user_left"}
    <!--left end-->
    <!--right begin-->
    <div class="right frt">
    	<h3>个人中心-自营商城订单</h3>
        <!--tab begin-->
        <!--<div class="tab color3">
            <ul>
                <li id="taba1" onmouseover="setTab('taba',1,5)" class="hover">所有订单</li>
                <li id="taba2" onmouseover="setTab('taba',2,5)">已审核</li>
                <li id="taba3" onmouseover="setTab('taba',3,5)">待审核</li>
                <li id="taba4" onmouseover="setTab('taba',4,5)">已取消</li>
                <li id="taba5" onmouseover="setTab('taba',5,5)">已作废</li>
            </ul>
        </div>-->
        <!--tab end-->
        <!--filter begin-->
        <div class="filter">
        	<form id="filterForm" method="get" action="">
    			<!--filter-top begin-->
    		    <div class="filter-top">
    		    	<!--query begin-->
    		        <div class="query flt">
    		        	<input type="text" name="sn" placeholder="请输入订单编号" class="import flt"/>
    		            <input type="submit" value="订单查询" class="submit flt"/>
    		        </div>
    		        <!--query end-->
    		        <div class="other hide flt">订单筛选条件</div>
    		    </div>
    		    <!--filter-top end-->
    		    <!--filter-bot begin-->
    		    <div class="filter-bot hide" id="filter">
    		    	<table border="1">
    		          <tr>
    		            <!--<td>创建时间：</td>-->
    		            <!--<td width="200"><input name="input_time" type="text"/></td>-->
    		            <td>运输方式：</td>
    		            <td width="242">
    		            	<select name="transport_type">
    		                	<option value="">请选择</option>
    		            		{foreach from=$transport_type item=value key=key}
    		                	<option value="{$key}">{$value}</option>
    		                	{/foreach}
    		                </select>
    		            </td>
    		            <td>付款状态：</td>
    		            <td>
    		            	<select name="collection_p_status">
    		                	<option>请选择</option>
								{foreach from=$collection_status item=value key=key}
    		                    <option value="{key}">{$value}</option>
								{/foreach}
    		                </select>
    		            </td>
    		          </tr>
    		          <tr>
    		            <td>发货状态：</td>
    		            <td>
    		            	<select name="goods_status">
    		                	<option value="">请选择</option>
    		            		{foreach from=$goods_status item=value key=key}
    		                	<option value="{$key}">{$value}</option>
    		                	{/foreach}
    		                </select>
    		            </td>
    		            <td>开票状态：</td>
    		            <td>
    		            	<select name="invoice_status">
    		                	<option value="">请选择</option>
    		            		{foreach from=$invoice_status item=value key=key}
    		                	<option value="{$key}">{$value}</option>
    		                	{/foreach}
    		                </select>
    		            </td>
    		            <td>交易状态：</td>
    		            <td>
    		            	<select name="order_status">
    		                	<option value="">请选择</option>
    		            		{foreach from=$order_status item=value key=key}
    		                	<option value="{$key}">{$value}</option>
    		                	{/foreach}
    		                </select>
    		            </td>
    		          </tr>
    		        </table>
    		    </div>
    		    <!--filter-bot end-->
        	</form>
        	
        </div>
        <!--filter end-->
        <!--result-title begin-->
        <ul class="result result-title color3">
        	<li class="contract">货品</li>
            <li class="total">总量(吨)</li>
            <li class="amount">总金额(元)</li>
            <li class="already">已收款</li>
            <li class="payable">应付款</li>
            <li class="pay">付款方式</li>
            <li class="transport">运输方式</li>
            <li class="freight">运费</li>
            <li class="status">状态</li>
			<li class="fk-status">付款状态</li>
            <li class="fh-status">发货状态</li>
            <li class="kp-status">开票状态</li>
            <li class="remark">备注</li>
            <li class="opt">操作</li>
        </ul>
        <!--result-title end-->
        <!--all-opt begin-->
        <div class="all-opt">
        	<!-- <input type="checkbox" id="all"/>
        	<label for="all">全选</label>
            <a href="javascript:;">批量查看</a>
            <a href="javascript:;">批量取消</a> -->
        </div>
        <!--all-opt end-->
        {foreach from=$orderList.data item=value}
        <!--result-con begin-->
        <div class="result-con">
        	<!--result-top begin-->
            <div class="result-top">
            	<!-- <input type="checkbox"/> -->

            	<span>{$value.input_time|date:Y-m-d H:i}</span>
                <span>订单编号：{$value.order_sn}</span>
            </div>
            <!--result-top end-->
            <!--result-bot begin-->
            <div class="result result-bot">
            	<ul>
                	<li class="contract">{$value.model}/{$value.f_name}</li>
                    <li class="total">{$value.totalNum}</li>
                    <li class="amount">{$value.total_price}</li>
                    <li class="already">0.00</li>
                    <li class="payable">{$value.total_price}</li>
                    <li class="pay">{:setOption|pay_method,$value.pay_method}</li>
                    <li class="transport">{:setOption|transport_type,$value.transport_type}</li>
                    <li class="freight">{$value.freight_price}</li>
                    <li class="status">{:setOption|order_status,$value.order_status}</li>
					<li class="fk-status">{:setOption|collection_p_status,$value.collection_status}</li>
                    <li class="fh-status">{:setOption|order_status,$value.order_status}</li>
                    <li class="kp-status">{:setOption|invoice_status,$value.invoice_status}</li>
                    <li class="remark">{$value.remark}</li>
                    <li class="opt">
                    	<a href="/user/selforder/detail/id/{$value.o_id}">查看</a>
                    	{if $value.order_status eq '2'}
                        	<a href="javascript:;" class="opt-pay" data-id="{$value.o_id}">付款</a>
                        {/if}
                        <a href="javascript:;" class="opt-cancel" data-id="{$value.o_id}">取消</a>
                    </li>
                </ul>
            </div>
            <!--result-bot end-->
        </div>
        <!--result-con end-->
        {/foreach}
        
        <!--page begin-->
        <div class="page frt">
        	{$pages}
        </div>
        <!--page end-->
    </div>
    <!--right end-->
</div>


<script>
var inter=0, layer_index=0;
//定时异步查询支付是否成功 
//如果成功则清除定时器和loading层
var querySucess = function(obj){
	var id =$(this).attr('data-id');
	$.post('/user/selforder/querySucess',{id:id},function(data){
		if(data.err=='0'){
			//layer.msg(data.msg);
			window.clearInterval(inter);
        	layer.close(layer_index);
        	$(obj).parent().parent().find(".fk-status").text('全部付款');
        	layer.msg(data.msg);
		}else{
			console.log(data.msg);
			if(data.msg=="支付失败"){
				window.clearInterval(inter);
	        	layer.close(layer_index);
	        	layer.msg(data.msg);
			}
		}					   
	},'json');
}
$(function(){
	$("#filter select").change(function(){
		$("#filterForm").submit();
	});
	var other = $(".filter .other"),filterBot = $(".filter .filter-bot");
	other.bind("click",function(){
		if($(this).hasClass("show")){
			$(this).removeClass("show").addClass("hide");
			filterBot.addClass("hide");
		}
		else{
			$(this).removeClass("hide").addClass("show");
			filterBot.removeClass("hide");
		}
	});
	

    //付款
    $(".opt-pay").live("click",function(){
    	var id =$(this).attr('data-id');
    	if($(this).attr('data-id').trim()==""){ 
    		layer.msg('记录id不能为空!');
    		return false;
    	}
	    layer_index =layer.load('正在处理请稍后', 0);
	    inter=setInterval("querySucess("+$(this)+")",1000);
    	$.post('/user/selforder/pay',{id:id},function(data){
    		if(data.err=='0'){
				//layer.msg(data.msg);
    			window.open("/pay/directpayment/init?id="+data.msg);
    		}else{
				layer.msg(data.msg);
    		}					   
    	},'json');
    });

    //取消
    $(".opt-cancel").live("click",function(){
	    layer_index =layer.load('正在处理请稍后', 0);
    	$.post('/user/selforder/payCancel',{id:id},function(data){
    		if(data.err=='0'){
				layer.msg(data.msg);
    		}else{
				layer.msg(data.msg);
    		}					   
    	},'json');
    });
});
</script>