{layout file="public:main_layout"}
{insert_css files='home/user.css'}
{insert_js files='home/tab2.js'}
{insert_js files='home/jquery.page.js'}
{insert_css files='home/jquery.page.css'}



<div class="buy-crumb w1220">首页-个人中心</div>
<div class="user-wrap w1220">
    {include file="public:user_left"}
	<div class="right frt">
		<h3>个人中心-我的供货</h3>
		<ul class="taby">
        	<li id="taby1" value="0" onclick="setTab('taby',1,4)" class="hover"><p>全部</p><span></span></li>
            <li id="taby2"  value="2" onclick="setTab('taby',2,4)"><p>待确认</p><span></span></li>
            <li id="taby3"  value="3" onclick="setTab('taby',3,4)"><p>已成交</p><span></span></li>
            <li id="taby4"  value="8" onclick="setTab('taby',4,4)" style="border-right:none;"><p>未成交</p><span></span></li>
        </ul>
        <!--con-taby begin-->
        <div class="con-taby">
        	<!--filter begin-->
        	<div class="filter">
        		<form id="filterForm" method="get" action="">
        			<!--filter-top begin-->
	    		    <!--<div class="filter-top">-->
					<!--query begin-->
					<!--<div class="query flt">-->
					<!--<input type="text" name="sn" placeholder="请输入订单编号" class="import flt"/>-->
					<!--<input type="submit" value="订单查询" class="submit flt"/>-->
					<!--</div>-->
					<!--query end-->
				<!--</div>-->
	    		    <!--filter-top begin-->

        		</form>
        	</div>
        	<!--filter end-->

			<div id="con-tabe-1" class="con-tabe">
				<form id="listForm">
					<div id="table_box2">

					</div>
				</form>
			</div>

        </div>
        <!--con-taby end-->
	</div>
</div>


<script>
    $(function(){
        $('.taby li').click(function(){
            var val=$(this).val();
			if(val==0){
				window.location.reload();
			}
			$("#table_box2").load('/user/myoffers/subblyTable',{type:"{$type}",page:"{$page}",status:val});
        })

    })



	$("#table_box2").load('/user/myoffers/subblyTable',{type:"{$type}",page:"{$page}"});
	var filterForm=$("#filterForm");
	filterForm.on('submit',function(){
		var data=filterForm.serialize();
		$("#table_box").load('/user/myoffers/subblyTable',data);
		return false;
	});

</script>