<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户中心首页</title>
<link rel="stylesheet" type="text/css" href="style/user2.css"/>
</head>

<body>
<!--user2-tab begin-->
<div class="user2-tab">
	<ul>
    	<li id="user2-tab1" class="hover">我是买家</li>
        <li id="user2-tab2">我是卖家</li>
    </ul>
    <span></span>
</div>
<!--user2-tab end-->
<!--user2-wrap begin-->
<div class="user2-wrap w1220">
	<!--menus begin-->
    <div class="menus link6 flt">
    	<!--user-info begin-->
        <div class="user-info">
        	<!--pic begin-->
            <div class="pic"></div>
            <p class="name">张若扬</p>
            <p class="authen no">未认证 | <a href="javascript:;">去认证</a></p>
            <p class="company">上海中晨电子商务股份有限公司</p>
            <p class="integral">积分 <span>138800</span></p>
            <!--pic end-->
        </div>
        <!--user-info end-->
    	<!--menu begin-->
        <div class="menu msg">
        	<h3>消息中心</h3>
            <p><a href="javascript:;">消息列表</a><span>25</span></p>
        </div>
        <!--menu begin-->
        <!--menu begin-->
        <div class="menu order">
        	<h3>订单中心</h3>
            <p><a href="javascript:;">商城订单</a></p>
        </div>
        <!--menu begin-->
        <!--menu begin-->
        <div class="menu wantbuy">
        	<h3>我的求购</h3>
            <p><a href="javascript:;">求购发布</a></p>
            <p><a href="javascript:;">求购管理</a></p>
            <p><a href="javascript:;">我的求购</a></p>
        </div>
        <!--menu begin--> 
        <!--menu begin-->
        <div class="menu finance">
        	<h3>财务中心</h3>
            <p><a href="javascript:;">资金管理</a></p>
            <p><a href="javascript:;">收支明细</a></p>
            <p><a href="javascript:;">我的抵用券</a></p>
            <p><a href="javascript:;">积分商城</a></p>
            <p><a href="javascript:;">开票资料</a></p>
        </div>
        <!--menu begin-->
        <!--menu begin-->
        <div class="menu concern">
        	<h3>关注中心</h3>
            <p><a href="javascript:;">关注的产品</a></p>
            <p><a href="javascript:;">关注的商家</a></p>
        </div>
        <!--menu begin-->
        <!--menu begin-->
        <div class="menu website">
        	<h3>我的网站</h3>
            <p><a href="javascript:;">我的门户网站</a></p>
            <p><a href="javascript:;">主营产品</a></p>
            <p><a href="javascript:;">我的资讯</a></p>
        </div>
        <!--menu begin--> 
        <!--menu begin-->
        <div class="menu set">
        	<h3>账户设置</h3>
            <p><a href="javascript:;">账户信息</a></p>
            <p><a href="javascript:;">收货地址</a></p>
            <p><a href="javascript:;">修改密码</a></p>
        </div>
        <!--menu begin-->   
    </div>
    <!--menus end-->
    <!--main begin-->
    <div class="main flt">
    	<!--order begin-->
        <div class="order link6">
        	<div class="title"><h3>最近订单信息</h3></div>
            <ul class="con">
            	<li><a href="javascript:;">待审核<span>10</span></a></li>
                <li><a href="javascript:;">待付款<span>11</span></a></li>
                <li><a href="javascript:;">待开票<span>13</span></a></li>
                <li class="last"><a href="javascript:;">已取消<span>12</span></a></li>
            </ul>
        </div>
        <!--order end-->
        <!--product begin-->
        <div class="product">
        	<div class="title"><h3>关注产品信息</h3><a href="javascript:;">添加</a></div>
            <!--con begin-->
            <ul class="con">
            	<li>
                	<p class="change increase">100</p>
                    <p class="price">￥<span>9650</span></p>
                    <p class="address">云林 / 9001 / 上海</p>
                    <p class="date">2017-03-27 15:43</p>
                </li>
                <li>
                	<p class="change decrease">100</p>
                    <p class="price">￥<span>9650</span></p>
                    <p class="address">云林 / 9001 / 上海</p>
                    <p class="date">2017-03-27 15:43</p>
                </li>
                <li>
                	<p class="change decrease">100</p>
                    <p class="price">￥<span>9650</span></p>
                    <p class="address">云林 / 9001 / 上海</p>
                    <p class="date">2017-03-27 15:43</p>
                </li>
                <li>
                	<p class="change increase">100</p>
                    <p class="price">￥<span>9650</span></p>
                    <p class="address">云林 / 9001 / 上海</p>
                    <p class="date">2017-03-27 15:43</p>
                </li>
                <li class="last">
                	<p class="change increase">100</p>
                    <p class="price">￥<span>9650</span></p>
                    <p class="address">云林 / 9001 / 上海</p>
                    <p class="date">2017-03-27 15:43</p>
                </li>
            </ul>
			<!--con end-->
        </div>
        <!--product end-->
        <!--talk begin-->
        <div class="talk">
        	<div class="title"><h3>洽谈采购需求</h3><a href="javascript:;">MORE</a></div>
            <!--con begin-->
            <ul class="con">
            	<li>
                	<p class="wantbuy">求购HDPE F00952 25.0000吨</p>
                    <p class="price">9680.00元</p>
                    <p class="talk-other">
                    	<span class="address">上海</span>
                        <span class="date">2017-03-24</span>
                    </p>
                    <a href="javascript:;"><span>我要供货<br/>我要供货</span></a>
                </li>
                <li>
                	<p class="wantbuy">求购HDPE F00952 25.0000吨</p>
                    <p class="price">9680.00元</p>
                    <p class="talk-other">
                    	<span class="address">上海</span>
                        <span class="date">2017-03-24</span>
                    </p>
                    <a href="javascript:;"><span>我要供货<br/>我要供货</span></a>
                </li>
                <li>
                	<p class="wantbuy">求购HDPE F00952 25.0000吨</p>
                    <p class="price">9680.00元</p>
                    <p class="talk-other">
                    	<span class="address">上海</span>
                        <span class="date">2017-03-24</span>
                    </p>
                    <a href="javascript:;"><span>我要供货<br/>我要供货</span></a>
                </li>
                <li>
                	<p class="wantbuy">求购HDPE F00952 25.0000吨</p>
                    <p class="price">9680.00元</p>
                    <p class="talk-other">
                    	<span class="address">上海</span>
                        <span class="date">2017-03-24</span>
                    </p>
                    <a href="javascript:;"><span>我要供货<br/>我要供货</span></a>
                </li>
                <li>
                	<p class="wantbuy">求购HDPE F00952 25.0000吨</p>
                    <p class="price">9680.00元</p>
                    <p class="talk-other">
                    	<span class="address">上海</span>
                        <span class="date">2017-03-24</span>
                    </p>
                    <a href="javascript:;"><span>我要供货<br/>我要供货</span></a>
                </li>
                <li>
                	<p class="wantbuy">求购HDPE F00952 25.0000吨</p>
                    <p class="price">9680.00元</p>
                    <p class="talk-other">
                    	<span class="address">上海</span>
                        <span class="date">2017-03-24</span>
                    </p>
                    <a href="javascript:;"><span>我要供货<br/>我要供货</span></a>
                </li>
                <li>
                	<p class="wantbuy">求购HDPE F00952 25.0000吨</p>
                    <p class="price">9680.00元</p>
                    <p class="talk-other">
                    	<span class="address">上海</span>
                        <span class="date">2017-03-24</span>
                    </p>
                    <a href="javascript:;"><span>我要供货<br/>我要供货</span></a>
                </li>
                <li>
                	<p class="wantbuy">求购HDPE F00952 25.0000吨</p>
                    <p class="price">9680.00元</p>
                    <p class="talk-other">
                    	<span class="address">上海</span>
                        <span class="date">2017-03-24</span>
                    </p>
                    <a href="javascript:;"><span>我要供货<br/>我要供货</span></a>
                </li>
                <li>
                	<p class="wantbuy">求购HDPE F00952 25.0000吨</p>
                    <p class="price">9680.00元</p>
                    <p class="talk-other">
                    	<span class="address">上海</span>
                        <span class="date">2017-03-24</span>
                    </p>
                    <a href="javascript:;"><span>我要供货<br/>我要供货</span></a>
                </li>
            </ul>
            <!--con end-->
        </div>
        <!--talk end-->
        <!--other begin-->
        <div class="other">
        	<!--resource begin-->
            <div class="resource flt">
            	<div class="title"><h3>资源库信息</h3></div>
                <!--summary begin-->
                <div class="summary">
                	<div class="summary1">
                    	<p>今日发布求购</p>
                        <span>94678</span>
                    </div>
                    <div class="summary2">
                    	<p>今日发布供应</p>
                        <span>94678</span>
                    </div>
                </div>
                <!--summary end-->
                <!--forthwith begin-->
                <div class="forthwith">
                	<h4>实时资源</h4>
                    <p>山东资润-牟云凤</p>
					<p>出天津厂提222WT 15263375932</p>
                </div>
                <!--forthwith end-->
            </div>
            <!--resource end-->
            <!--release begin-->
            <div class="release frt">
            	<div class="title"><h3>资源库信息</h3></div>
                <!--form begin-->
                <div class="form">
                	<form name="" method="post" action="">
                    	<textarea placeholder="请输入您的真实需求，包括牌号、吨数等。"></textarea>
                        <input type="submit" class="submit frt" value="免费委托发布"/>
                    </form>
                </div>
                <!--form end-->
            </div>
            <!--release end-->
        </div>
        <!--other end-->
    </div>
    <!--main end-->
    <!--sidebar begin-->
    <div class="sidebar frt">
    	<!--dealer begin-->
        <div class="dealer">
    		<div class="title">您的专属交易员</div>
            <!--con begin-->
            <div class="con">
            	<!--pic begin-->
                <div class="pic"></div>
                <!--pic end-->
            	<p class="name">王凯晨</p>
                <p class="mobile">17717531604</p>
            </div>
            <!--con end-->
        </div>
        <!--dealer end-->
        <!--help begin-->
        <div class="help">
	    	<div class="title">帮助中心</div>
            <!--con begin-->
            <ul class="con">
            	<li><p>购买流程</p><span>一键认购，快人一步</span></li>
                <li><p>物流配送</p><span>安全放心，使命必达</span></li>
                <li><p>仓库自提</p><span>手续简化，说走就走</span></li>
            </ul>
            <!--con end-->
        </div>
        <!--help end-->
        <!--wx begin-->
        <div class="wx">
        	<div class="title">官方微信公众号</div>
            <!--con begin-->
            <div class="con">
            	<div class="ewm"><img src="img/user2-wx.jpg" width="117" height="117"/></div>
                <p>了解行业资讯，在线查询最新同行报价</p>
            </div>
			<!--con end-->
        </div>
        <!--wx end-->
    </div>
    <!--sidebar end-->
</div>
<!--user2-wrap end-->
</body>
</html>
