{layout file="public:main_layout"}
{insert_css files='home/master.css'}
{insert_css files='home/finance.css'}
{insert_js files="home/finance.js"}
<script type="text/javascript" src="js/uc-resource-pack.js"></script>
<script type="text/javascript" src="js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="js/home.js"></script>

<body class="finance">
    <input type="hidden" id="user_id" value="{$user_id}"></input>
   	<input type="hidden" id="finance_type" value="{$finance_type}"></input>
	<!--page-banner begin-->
    <div class="page-banner page4-banner">
    	<div class="w1220" style="position:relative;">
        	<!--finance-sel begin-->
            <ul class="finance-sel">
            	<li >
                	<a href="/finance/index">
                    	<h3>塑料金融</h3>
                        <p>快速融资，解决资金需求</p>
                        <span></span>
                    </a>
                </li>
                <li >
                	<a href="/finance/mining">
                    	<h3>塑料代采</h3>
                        <p>有大生意，货款不够？</p>
                        <span></span>
                    </a>
                </li>
                <li >
                	<a href="/finance/ious">
                    	<h3>塑料白条</h3>
                        <p>有订单，钱未回款？</p>
                        <span></span>
                    </a>
                </li>
                <li class="hover">
                	<a href="/finance/financing">
                    	<h3>仓单融资</h3>
                        <p>有塑料，缺流动资金？</p>
                        <span></span>
                    </a>
                </li>
            </ul>
            <!--finance-sel end-->
            <!--finance-input begin-->
            <div class="finance-input finance-input4 frt">
                <p class="error-msg"></p>
            	<form name="form1" method="post" action="">
                    <!--tr begin-->
                    <div class="tr grade">
                        <div class="name">牌号</div>
                        <div class="val"><input type="text" id="model" class="import" value="{ if ($row) && ($finance_type=='3') }{$row.model}{else}{/if}"/></div>
						<div class="suggest">
							<ul id="search_list"></ul>
						</div>
                    </div>
                    <div class="tr breed">
                        <div class="name">品种</div>
                        <div class="val"><input type="text" id="product_type" class="import" readonly="readonly" placeholder="请先输入牌号" value="{ if ($row) && ($finance_type=='3') }{$row.product_type}{else}{/if}"></div>
                    </div>
                    <!--tr end-->
                    <!--tr begin-->
                    <div class="tr factory">
                        <div class="name">厂家</div>
                        <div id="factory" class="val" value="{ if ($row) && ($finance_type=='3') }{$row.factory}{else}{/if}">
                            <select></select>
                        </div>
                    </div>
                    <!--tr end-->
                    <!--tr begin-->
                    <div class="tr sum">
                        <div class="name">金额</div>
                        <div class="val"><input type="text" class="import" value="{ if ($row) && ($finance_type=='3') }{$row.total}{else}{/if}"/></div>
                    </div>
                    <!--tr end-->
                    <!--tr begin-->
                    <div class="tr rz">
                        <div class="name">融资比例</div>
                        <div class="val"> <input type="text" class="import" value="{ if ($row) && ($finance_type=='3') }{$row.rzbl}{else}{/if}"/><span>最高80%</span></div>
                    </div>
                    <!--tr end-->
                    <!--tr begin-->
                    <div class="tr storage">
                        <div class="name">仓库</div>
                        <div id="store" class="val" value="{ if ($row) && ($finance_type=='3') }{$row.storage}{else}-1{/if}">
                        	<select>
                        	    <option value="-1">全部</option>
			                    {foreach from=$stores item=value key=key}
			                          <option value={$value.id}>{$value.store_name}</option>
			           			{/foreach}
                            </select>
                        </div>
                    </div>
                    <!--tr end-->
                    <!--tr begin-->
                    <div class="tr day">
                        <div class="name">预计赎期</div>
                        <div class="val"><input type="text" class="import" value="{ if ($row) && ($finance_type=='3') }{$row.day}{else}{/if}"/><span>天</span></div>
                    </div>
                    <!--tr end-->
                    <!--tr begin-->
                    <div class="btn">
                        <input type="button" class="apply" value="我要申请"/>
                    </div>
                    <!--tr end-->
                </form>
            </div>
            <!--finance-input end-->
        </div>
    </div>
    <!--page-banner end-->
    <!--feature begin-->
    <div class="mypage feature w1220">
    	<h3>产品特色</h3>
        <!--pic begin-->
        <div class="pic"><img src="__IMG__/home/img/page4A.jpg" width="1064" height="180"/></div>
        <!--pic end-->
    </div>
    <!--feature end-->
    <!--apply begin-->
    <div class="mypage apply apply4">
    	<div class="w1220">
            <h3>申请流程</h3>
            <!--pic begin-->
            <div class="pic"><img src="__IMG__/home/img/page4B.png" width="1101" height="255"/></div>
            <!--pic end-->
        </div>
    </div>
    <!--apply end-->
    <!--question begin-->
    <div class="mypage question">
    	<div class="w1220">
            <h3>常见问题</h3>
            <!--pic begin-->
            <dl>
                <dt>Q：什么样的客户,能够申请"塑料白条"产品?</dt>
                <dd>A：注册为"我的塑料网"平台客户,且在平台上有过1单交,即可申请。</dd>
            </dl>
            <dl>
                <dt>Q："塑料白条"有品类限制吗？</dt>
                <dd>A：有品类限制，但对于大多数商品，我们都是支持的。</dd>
            </dl>
            <dl>
                <dt>Q：赎货周期是多长？</dt>
                <dd>A：根据客户的需求，赎货周期可以约定，可以卸货付款，也可以卸货后7、15日付款，这和客户的信用积累有关。</dd>
            </dl>
            <dl>
                <dt>Q : 融资费用现在多少？</dt>
                <dd>A : 资金占用费非常低，针对不同的产品相应的收费也不同，具体您可以拨打400电话咨询或在我们网页直接提交申请，会有专人为您解答。</dd>
            </dl>
            <!--pic end-->
        </div>
    </div>
    <!--question end-->
    <!--case begin-->
    <!-- <div class="mypage case">
        <div class="w1220">
            <h3>客户案例</h3>
            <p>公司名称：广东某涂料企业</p>
            <p>合作时间：2015年6月</p>
            <p>授信金额：200万</p>
            <p>授信账期：90天</p>
            <p>广东某涂料企业2007年成立，是一家专业油漆涂料生产厂家，下游客户主要是大型国企或知名企业，在销售端，该企业议价能力较低，结算方式较为被动，必须放账销售，一般需要60-90天才能回笼货款。2015年年中，该公司为了扩大生产，经营周转资金较为紧张，希望能压缩下游应收账款或者转移应收资金压力。该
    企业获悉我司提供赊销通金融服务后，来电咨询，并邀请我司人员上门面谈，经我司业务及风控人员上门面谈并实地调查，根据该公司下游客户结构进行遴选，
    制订了200万的赊销通金融服务方案，次月即实单交易。</p>
                <span>截止当前已累计完成交易2800余万元回款正常，有力的支持了企业扩产增收。</span>
        </div>
    </div> -->
    <!--case end-->
</body>

