{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
    <table style="width:100%;">
        <tr>
            <td style="white-space:nowrap;">
                <a class="mini-button" iconCls="icon-add" plain="true" onclick="add(0)">新增</a>
                <a class="mini-button" iconCls="icon-edit" plain="true" onclick="edit()">编辑</a>
                <a class="mini-button" iconCls="icon-remove" plain="true" onclick="removeRow()">删除</a>     
            </td>
        </tr>
    </table>           
</div>

<div class="mini-fit" style="padding:1px 3px 3px;">
    <div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20"
        url="/system/blockPosition/init?action=grid"
        idField="id" multiSelect="true"
        onrowdblclick="onRowDblClick"
        >
        <div property="columns">    
            <div type="checkcolumn"></div>
      		<div field="id" width="50" headerAlign="center" align="center" allowSort="true">ID</div>
            <div field="name" width="120" headerAlign="center">名称</div>
            <div field="input_time" width="110" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm" allowSort="true" align="center">更新日期</div>
        </div>
    </div>
</div>
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
grid.load();

function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
function onKeyEnter(e) {
	search();
}

function onRowDblClick(e) {
	edit();
}
function edit() {
	var row = grid.getSelected();
	if (row) {
		add(row.id)
	}
}
//删除数据
function removeRow() {
    var rows = grid.getSelecteds(),_ids=new Array();
	if(rows.length<1) return;
	for(var i=0;i<rows.length;i++){
		_ids[i]=parseInt(rows[i].id);
	}
	var ids=_ids.join(',');
	if(ids=='') return;
	mini.confirm("确定删除内容？", "提示",	function(action){
			if(action!='ok') return;
			var callback=function(data){
	  			if(data.err!='0'){
					alert(data.msg)
					return false;
				}else{
					grid.reload();
				}
			}
			utils.ajax('/system/blockPosition/remove',{ids:ids},callback,"POST","json");
		}
	);
}


//查看编辑卡片信息
function add(id){
	mini.open({
		url: "/system/blockPosition/info?id="+id,
		showMaxButton:true,
		title: '栏位编辑', width: 460, height:250,
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});		
}
</script>