{layout file="public:mini_layout"}
<style type="text/css">
table{border-collapse: collapse; text-align: center;}
td{width:200px;border:2px solid #ccc;}
#head td{font-weight:bold;}
</style>
<div>
	<table>				
		<tr id="head">	
			<td>ID</td>
			<td>广告位</td>	
		</tr>
		<tr>
			<td>1</td>
			<td><a href="/system/block/sszcBanner">塑市早茶</a></td>
		</tr>
		<tr>
			<td>2</td>
			<td><a href="/system/block/jpfxBanner">竞拍分析</a></td>
		</tr>					
		<tr>
			<td>3</td>
			<td><a href="/system/block/sjjdBanner">数据解读</a></td>
		</tr>	
		<tr>
			<td>4</td>
			<td><a href="/system/block/zcssBanner">中晨塑说</a></td>
		</tr>	
		<tr>
			<td>5</td>
			<td><a href="/system/block/indexLeftBanner">首页中左</a></td>
		</tr>	
		<tr>
			<td>6</td>
			<td><a href="/system/block/indexRightBanner">首页中右</a></td>
		</tr>	
		<tr>
			<td>7</td>
			<td><a href="/system/block/middleBanner">中晨事件</a></td>
		</tr>	
		<tr>
			<td>8</td>
			<td><a href="/system/block/peLeftBanner">PE中左</a></td>
		</tr>	
		<tr>
			<td>9</td>
			<td><a href="/system/block/peMiddle1Banner">PE中1</a></td>
		</tr>	
		<tr>
			<td>10</td>
			<td><a href="/system/block/peMiddle2Banner">PE中2</a></td>
		</tr>	
		<tr>
			<td>11</td>
			<td><a href="/system/block/peMiddle3Banner">PE中3</a></td>
		</tr>	
		<tr>
			<td>12</td>
			<td><a href="/system/block/peMiddle4Banner">PE中4</a></td>
		</tr>	
		<tr>
			<td>13</td>
			<td><a href="/system/block/ppLeftBanner">PP中左</a></td>
		</tr>	
		<tr>
			<td>14</td>
			<td><a href="/system/block/ppMiddle1Banner">PP中1</a></td>
		</tr>	
		<tr>
			<td>15</td>
			<td><a href="/system/block/ppMiddle2Banner">PP中2</a></td>
		</tr>	
		<tr>
			<td>16</td>
			<td><a href="/system/block/ppMiddle3Banner">PP中3</a></td>
		</tr>	
		<tr>
			<td>17</td>
			<td><a href="/system/block/ppMiddle4Banner">PP中4</a></td>
		</tr>	
		<tr>
			<td>18</td>
			<td><a href="/system/block/pvcLeftTopBanner">PVC中左上</a></td>
		</tr>
		<tr>
			<td>19</td>
			<td><a href="/system/block/pvcLeftBottomBanner">PVC中左下</a></td>
		</tr>	
		<tr>
			<td>20</td>
			<td><a href="/system/block/pvcRightBanner">PVC中右</a></td>
		</tr>
		<tr>
			<td>21</td>
			<td><a href="/system/block/pvcMiddle1Banner">PVC中1</a></td>
		</tr>
		<tr>
			<td>22</td>
			<td><a href="/system/block/pvcMiddle2Banner">PVC中2</a></td>
		</tr>
		<tr>
			<td>23</td>
			<td><a href="/system/block/pvcMiddle3Banner">PVC中3</a></td>
		</tr>
		<tr>
			<td>24</td>
			<td><a href="/system/block/pvcMiddle4Banner">PVC中4</a></td>
		</tr>	
	</table>
</div>