{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
	<table style="width:100%;">
		<tr>
			<td style="white-space:nowrap;">
				{if $parent.id}
				【{$parent.zh_cn}】<a class="mini-button" iconCls="icon-upload" plain="true" href="/system/libCountry/init?pid={$parent.pid}">返回上级</a>
				<span class="separator"></span>
				{/if}         
				<a class="mini-button" iconCls="icon-add" plain="true" onclick="addRow()">新增</a>
				<a class="mini-button" iconCls="icon-remove" plain="true" onclick="removeRow()">删除</a>     
				<span class="separator"></span>             
				<a class="mini-button" iconCls="icon-save" plain="true" onclick="saveData()">保存</a>    
			</td>
		</tr>
	</table>           
</div>

<div class="mini-fit" style="padding:1px 3px 3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  pageSize=10000
		url="/system/libCountry/init?action=grid&pid={$pid}" onrowdblclick="switchChild" showFooter=false
		showFilterRow="true" allowCellSelect="true" allowCellEdit="true" idField="id" multiSelect="true"
		>
		<div property="columns">    
			<div type="checkcolumn"></div>
			<div name="action" width="40" headerAlign="center" renderer="onLoadHandle">操作</div>
			<div field="zh_cn" width="120" headerAlign="center">名称                        
				<input property="editor" class="mini-textbox" style="width:100%;" vtype="english"/>
			</div>                
			<div field="code" width="80" headerAlign="center" allowSort="true">代码号
				<input property="editor" class="mini-textbox" style="width:100%;"/>
			</div>      
			<div field="en_us" width="80" headerAlign="center">英文名
				<input property="editor" class="mini-textbox" style="width:100%;"/>
			</div>
			 <div field="en_short" width="80" headerAlign="center">简称
				<input property="editor" class="mini-textbox" style="width:100%;"/>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
grid.load();

//查看下一级
function onLoadHandle(e) {
	var record = e.record; //record.id
	if(record.id==0) return '-';
	return '<a href="/system/libCountry/init?pid='+record.id+'">下级</a> ';
}

//增加一行
function addRow() {  
	var newRow = {zh_cn:"",code:"",en_us:"",en_short:""};
	newRow.id = 0;
	newRow.pid =  "{$pid}";
	grid.addRow(newRow,0);
}

//保存数据
function saveData() {
	data = grid.getChanges();
	if(data.length<1){
		return;
	}
	var json = mini.encode(data);
	grid.loading("保存中，请稍后......");
	var callback=function(data){
		grid.unmask();
		if(data.err!='0'){
			alert(data.msg);
			return false;
		}else{
			grid.reload();
		}
	}
	utils.ajax('/system/libCountry/save',{data:json},callback,"POST","json");
}

//删除数据
function removeRow() {
	var rows = grid.getSelecteds(),_ids=new Array();
	if(rows.length<1) return;
	for(var i=0;i<rows.length;i++){
		var _id=parseInt(rows[i].id);
		if(_id<1){
			grid.removeRow(rows[i],false);
		}else{
			_ids[i]=_id;
		}
	}
	var ids=_ids.join(',');
	if(ids=='') return;
	mini.confirm("确定删除数据？", "提示",	function(action){
			if(action!='ok') return;
			var callback=function(data){
				if(data.err!='0'){
					alert(data.msg)
					return false;
				}else{
					grid.reload();
				}
			}
			utils.ajax('/system/libCountry/remove',{ids:ids},callback,"POST","json");
		}
	);
}
</script>