<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>
	<body>
		<header id="classifyHeader">
			<a class="back" href="javascript:window.history.back();"></a>
			分类
		</header>
		<div class="classifyUl">
			<ul id="classifyUl">
				<li>
					<a href="/mobi/mainPage/enProductTypeDetail?type=1">
					<p><img width="22" src="__MYAPP__/img/classify.png"> 高密度聚乙烯 HDPE</p>
					<p id="hdpe" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
				<li>
					<a href="/mobi/mainPage/enProductTypeDetail?type=2">
					<p><img width="22" src="__MYAPP__/img/classify2.png"> 低密度聚乙烯 LDPE</p>
					<p id="ldpe" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
				<li>
					<a href="/mobi/mainPage/enProductTypeDetail?type=3">
					<p><img width="22" src="__MYAPP__/img/classify3.png"> 线性聚乙烯 LLDPE</p>
					<p id="lldpe" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
				<li>
					<a href="/mobi/mainPage/enProductTypeDetail?type=4">
					<p><img width="22" src="__MYAPP__/img/classify4.png"> 聚丙烯 PP</p>
					<p id="pp" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
				<li>
					<a href="/mobi/mainPage/enProductTypeDetail?type=5">
					<p><img width="22" src="__MYAPP__/img/classify5.png"> 聚氯乙烯 PVC</p>
					<p id="pvc" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
				<li>
					<a href="/mobi/mainPage/enProductTypeDetail?type=6">
					<p><img width="22" src="__MYAPP__/img/classify.png"> 聚丙烯 共聚PP</p>
					<p id="gjpp" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
				<li>
					<a href="/mobi/mainPage/enProductTypeDetail?type=7">
					<p><img width="22" src="__MYAPP__/img/classify2.png"> 工程塑料 ABS</p>
					<p id="abs" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
				<li>
					<a href="/mobi/mainPage/enProductTypeDetail?type=8">
					<p><img width="22" src="__MYAPP__/img/classify3.png"> 聚碳酸酯 PC</p>
					<p id="pc" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
				<li>
					<a href="/mobi/mainPage/enProductTypeDetail?type=9">
					<p><img width="22" src="__MYAPP__/img/classify4.png"> 工程塑料 MABS</p>
					<p id="mabs" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
			</ul>
		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			$(function () {
				var hdpe="";
				var ldpe="";
				var lldpe="";
				var pp="";
				var pvc="";
				var gjpp="";
				var abs="";
				var pc="";
				var mabs="";
				
				commonAjax(
						"post",
						"/mobi/mainPage/getProductType"
				).then(function (res) {
					console.log(res);
					res.ptypes[0].model.forEach(function (v,i,a) {
						hdpe+=" "+v;
						$("#hdpe").text(hdpe);
					});
					res.ptypes[1].model.forEach(function (v,i,a) {
						ldpe+=" "+v;
						$("#ldpe").text(ldpe);
					});
					res.ptypes[2].model.forEach(function (v,i,a) {
						lldpe+=" "+v;
						$("#lldpe").text(lldpe);
					});
					res.ptypes[3].model.forEach(function (v,i,a) {
						pp+=" "+v;
						$("#pp").text(pp);
					});
					res.ptypes[4].model.forEach(function (v,i,a) {
						pvc+=" "+v;
						$("#pvc").text(pvc);
					});
					res.ptypes[5].model.forEach(function (v,i,a) {
						gjpp+=" "+v;
						$("#gjpp").text(gjpp);
					});
					res.ptypes[6].model.forEach(function (v,i,a) {
						abs+=" "+v;
						$("#abs").text(abs);
					});
					res.ptypes[7].model.forEach(function (v,i,a) {
						pc+=" "+v;
						$("#pc").text(pc);
					});
					res.ptypes[8].model.forEach(function (v,i,a) {
						mabs+=" "+v;
						$("#mabs").text(mabs);
					});

				},function () {

				});
			})
		</script>

	</body>

</html>