<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>
	<body>
		<header id="classifyHeader">
			<a class="back" href="javascript:window.history.back();"></a>
			分类
		</header>
		<div class="classifyWrap">
			<h3>应用</h3>
			<p id="yy"></p>
			<h3>厂家</h3>
			<p id="cj"></p>
			<h3>地区</h3>
			<p id="dq"></p>
			<div style="text-align: center; padding: 35px 0;">
				<a class="classifyEnter" href="javascript:;">确定</a>
			</div>
		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			$(function () {
				var type=getUrlParam("type");
				var yy="";
				var cj="";
				var dq="";
				var apply2="";
				var factory="";
				var region2="";
				commonAjax(
						"post",
						"/mobile/mainPage/getProductTypeDetail",
						{type:type}
				).then(function (res) {
					console.log(res);
					res.typeData[0].forEach(function (v,i,a) {
						yy+="<span>"+v+"</span>";
						$("#yy").html(yy);
					});
					res.typeData[1].forEach(function (v,i,a) {
						cj+="<span>"+v+"</span>";
						$("#cj").html(cj);
					});
					res.typeData[2].forEach(function (v,i,a) {
						dq+="<span>"+v+"</span>";
						$("#dq").html(dq);
					});
					$("#yy span").on("click",function () {
						$(this).addClass("on").siblings("span").removeClass("on");
						apply2=$(this).text();
					});
					$("#cj span").on("click",function () {
						$(this).addClass("on").siblings("span").removeClass("on");
						factory=$(this).text();
					});
					$("#dq span").on("click",function () {
						$(this).addClass("on").siblings("span").removeClass("on");
						region2=$(this).text();
					});
					$(".classifyEnter").on("click",function () {
						window.location.href="/mobile/mainPage/enKeyWordsRes?type="+type+"&apply="+escape(apply2)+"&factory="+escape(factory)+"&region="+escape(region2)+"";
					});
				},function () {

				});
			})
		</script>

	</body>

</html>