<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title></title>
	<style>
		body { margin: 0; padding: 0;}
		img{ width: 100%; display: block;}
	</style>
</head>
<body>
<img src="__MYAPP__/img/d1.jpg">
<a href="https://itunes.apple.com/us/app/wo-de-su-liao-wang/id1071746048?l=zh&ls=1&mt=8"><img src="__MYAPP__/img/d2.jpg"></a>
<a href="http://t.cn/Rt4H7hM"><img src="__MYAPP__/img/d3.jpg"></a>
<img src="__MYAPP__/img/d4.jpg">
</body>
</html>