<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title></title>
	<script src="__MYAPP__/js/mui.min.js"></script>
	<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
	<script src="__MYAPP__/js/common.js"></script>
	<script src="__MYAPP__/js/nativeShare.js"></script>
	<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	<link rel="stylesheet" href="__MYAPP__/css/nativeShare.css" />
</head>

<body class="infoDetailBg">
<header id="infoHeader">
	<a class="back" href="javascript:window.history.back();"></a>
	资讯详情
</header>
<div class="infoDetailWrap">
	<h3 class="infoDetailTitle">资讯详情 | <span id="time"></span></h3>
	<h3 class="infoDetailTitle2">我的塑料网-发报价赢红包！</h3>
	<h3 class="infoDetailTitle3">作者：<span id="admin"></span></h3>
	<div id="infoDetailContent"></div>
</div>
<div id="nativeShare"></div>
<script type="text/javascript" charset="utf-8">
	mui.init({
		swipeBack: true //启用右滑关闭功能
	});
	$(function () {
		var detailId=getUrlParam("id");
		commonAjax(
				"post",
				"/mobi/mainPage/getArticleDetail",
				{id:detailId}
		).then(function (res) {
			console.log(">>>",res);
			$(".infoDetailTitle2").text(res.articleDetail.title);
			$("#admin").text(res.articleDetail.admin_name);
			$("#time").text(res.articleDetail.input_time);
			$("#infoDetailContent").html(res.articleDetail.content);

//			var config = {
//				url:'http://blog.wangjunfeng.com',
//				title:'王俊锋的个人博客',
//				desc:'王俊锋的个人博客',
//				img:'http://www.wangjunfeng.com/img/face.jpg',
//				img_title:'王俊锋的个人博客',
//				from:'王俊锋的博客'
//			};
//			var share_obj = new nativeShare('nativeShare',config);


		},function () {

		});
	});
</script>

</body>

</html>