<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
	</head>

	<body style="padding-bottom: 55px;">
		<header id="meHeader">
			<a class="left" href="tel:10086">联系客服</a> 我的
		</header>
		<div class="meWrap">
			<div class="meAvator">
				<img src="img/avator.png">
			</div>
		</div>
		<a class="meRegLogin" href="#">点击登录/注册</a>
		<ul class="meUl">
			<li>
				<img src="img/me.png">我的报价单
			</li>
			<li>
				<img src="img/me2.png">我的采购
			</li>
			<li>
				<img src="img/me3.png">我的供货
			</li>
		</ul>
		<ul class="meUl">
			<li>
				<img src="img/me4.png">我的关注
			</li>
			<li>
				<img src="img/me5.png">我的积分
			</li>
		</ul>
		<ul class="meUl">
			<li>
				<img src="img/me6.png">设置
			</li>
		</ul>
		<footer id="footer">
			<ul>
				<li><a href="#"><i class="foot"></i><br>大客户专区</a></li>
				<li><a href="#"><i class="foot2"></i><br>物性表</a></li>
				<li><a href="#"><i class="foot3"></i><br>首页</a></li>
				<li><a href="#"><i class="foot4"></i><br>资讯</a></li>
				<li><a class="footerOn" href="#"><i class="foot5"></i><br>我</a></li>
			</ul>
		</footer>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.test.myplas.com"]);
  _paq.push(["setDomains", ["*.test.myplas.com"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//wa.myplas.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//wa.myplas.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
	</body>

</html>