<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>

	<body>
		<header id="meHeader">
			<a class="back" href="#"></a>
			中晨物流
		</header>
		<div class="meLogistics">
			<p>物流状态<span class="on">运输中</span></p>
			<p>物流公司<span>企辉物流</span></p>
			<p>运单编号<span>2016051912345678</span></p>
		</div>
		<div class="meLogisticsBtn">查看物流状态</div>
		<div class="meLogisticsInfo">
			<ul class="meLogisticsUl">
				<div class="line"></div>
				<li class="on"><i></i>您的包裹已出库<br>2016-05-19  09:34:57</li>
				<li><i></i>已通知物流公司揽件<br>2016-05-19  19:34:57</li>
				<li><i></i>您的订单等待配货<br>2016-05-20  10:34:57</li>
				<li><i></i>您的订单等待处理<br>2016-05-19  09:34:57</li>
			</ul>
		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.test.myplas.com"]);
  _paq.push(["setDomains", ["*.test.myplas.com"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//wa.myplas.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//wa.myplas.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
	</body>

</html>