<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>

	<body style="padding-bottom: 55px;">
		<header id="meHeader">
			<a class="back" href="javascript:window.history.back();"></a>注册
		</header>
		<h3 class="meTitle">欢迎加入我的塑料网</h3>
		<div class="registerWrap">
			<div class="registerBox">
				<input id="username" class="registerInput" maxlength="11" type="tel" placeholder="请输入手机号码">
			</div>
			<div class="registerBox">
				<input id="password" class="registerInput" maxlength="20" type="password" placeholder="请输入密码">
			</div>
			<div class="registerBox">
				<input id="regcode" class="registerInput" maxlength="6" type="tel" placeholder="请输入6位验证码">
				<button class="validCode">获取验证码</button>
			</div>
		</div>
		<div style="margin: 0 20px;">
			<div class="registerBtn">提交</div>
		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			$(function () {
				$(".registerBtn").on("click",function () {
					var mobile=$("#username").val();
					var password=$("#password").val();
					var code=$("#regcode").val();
					commonAjax(
							"post",
							"/mobi/register/register",
							{mobile:mobile,password:password,code:code}
					).then(function (res) {
						console.log(">>>",res);
						if(res.err==0){
							window.location.href="/mobi/register/enReginfo";
						}else if(res.err==1){
							mui.alert('',res.msg,function(){});
						}
					},function(res){

					});
				});


				//短信验证码
				function sendMsg() {
					var times=60;
					var username=$("#username").val();
					var password=$("#password").val();
					commonAjax(
							"post",
							"/mobi/register/sendmsg",
							{'mobile':username,'password':password}
					).then(function (res) {
						console.log(">>>",res);
						if(res.err==0){
							mui.alert('',res.msg,function(){});
							var countStart=setInterval(function(){
								$(".validCode").text(times--+'秒后重发');
								$(".validCode").attr("disabled",true);
								if(times<0){
									clearInterval(countStart);
									$(".validCode").text("获取验证码");
									$(".validCode").attr("disabled",false);
								}
							},1000);
						}else if(res.err==1){
							mui.alert('',res.msg,function(){});
						}
					},function(res){

					});
				}

				$(".validCode").on("click",function () {
					if($("#username").val()){
						sendMsg();
					}else{
						mui.alert('','请先输入手机号码',function(){});
					}
				});

			});
		</script>

	</body>

</html>