<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title></title>
	<style>
		html, body {
			position: relative;
			height: 100%;
		}
		body {
			background: #df2b26;
			font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			font-size: 14px;
			color:#000;
			margin: 0;
			padding: 0;
		}
		img{ width: 100%; display: block;}
	</style>
</head>
<body>
<img src="__MYAPP__/img/update.jpg">
<a id="android" href="https://www.pgyer.com/UzgG" style="display: none;"><img src="__MYAPP__/img/update2.jpg"></a>
<a id="ios" href="https://www.pgyer.com/MnRz" style="display: none;"><img src="__MYAPP__/img/update2.jpg"></a>
<img src="__MYAPP__/img/update3.jpg">
<script>
	var ua = navigator.userAgent.toLowerCase();
	if (/iphone|ipad|ipod/.test(ua)) {
		window.location.href="https://www.pgyer.com/MnRz";
//		document.getElementById("ios").style.display="block";
	} else if (/android/.test(ua)) {
//		document.getElementById("android").style.display="block";
		window.location.href="https://www.pgyer.com/UzgG";
	}
</script>
</body>
</html>