<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>

	<body>
		<header id="bigCustomerHeader">
			<a class="back" href="javascript:window.history.back();"></a>物性表
		</header>
		<ul class="wxbUl"></ul>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			$(function () {
				var keywords=getUrlParam("keywords");
				var searchLi="";
				commonAjax(
						"post",
						"/mobile/mainPage/getPhysicalRes",
						{keywords:keywords}
				).then(function (res) {
					console.log(res);
					if(res.phyData.length==0){
						$(".wxbUl").html("<li class='noSearch'>暂无数据</li>");
					}else{
						res.phyData.forEach(function (v,i,a) {
							searchLi+="<li><a href='/mobile/mainPage/enPhysicalDetail?lid="+v.lid+"'>" +
									"<p class='wxbTitle'>"+ v.name +"<span>"+ v.company +"</span></p>" +
									"<p class='wxbTitle2'><span>规格级别</span>"+ v.standard +"</p>" +
									"<p class='wxbTitle2'><span>改料用途</span>"+ v.purpose +"</p></a></li>";
							$(".wxbUl").html(searchLi);
						});
					}
				},function () {

				});
			})
		</script>

	</body>

</html>