<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<style>
		body{ background: url(); }
		.rule2{ width: 279px; height: 195px; background: blueviolet; margin: 65px auto;}
		.rule3{ width: 279px; height: 158px; background: blue; margin: 45px auto;}
		</style>
	</head>
	<body>
		<div class="rule2"></div>
		<div class="rule3"></div>
	</body>
</html>