{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
    <table style="width:100%;">
        <tr>
            <td style="white-space:nowrap;">
            <form id="soform">
            	<select name="isUser" class="mini-combobox" style="width:80px;" value="0">
                    <option value="0">是否注册</option>
                    <option value="1">已注册</option>
                    <option value="2">未注册</option>
                </select>       
            	<select name="key_type" class="mini-combobox" style="width:100px;" value="user_id">
                    <option value="user_id">导入UID</option>
                    <option value="user_mobile">导入手机</option>
                    <option value="reg_userid">名单UID</option>
                    <option value="mobile">名单手机</option>
                </select>       
                <input name="keyword" class="mini-textbox" emptyText="请输入关键词" style="width:140px;" onenter="onKeyEnter" value="{if $uid}{$uid}{/if}"/>   
                <a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
                </form>
            </td>
            <td style="float:right">
                {if $uid}<span class="separator"></span> <a href="/user/userContacts/lists" class="mini-button" iconCls="icon-date" >所有用户名单</a>{/if}
            </td>
        </tr>
    </table>           
</div>

<div class="mini-fit" style="padding:1px 3px 3px;">
    <div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20"
        url="/user/userContacts/lists?action=grid&uid={$uid}">
        <div property="columns">    
          <div type="indexcolumn" width="12"></div>
          <div field="user_id" width="20" headerAlign="center" allowSort="true" align="center" renderer="onLoadUinfo">导入UID</div>
          <div field="mobile" width="30" align="center" headerAlign="center">手机号</div>
          <div field="name" width="50" align="center" headerAlign="center">姓名</div>
          <div field="reg_userid" width="30" align="center" headerAlign="center" allowSort="true" renderer="onLoadUser">用户ID</div>
          <div field="reg_time" width="60" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm:ss" allowSort="true" align="center">注册时间</div>
          <div field="input_time" width="60" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm:ss" allowSort="true" align="center">导入时间</div>
        </div>
    </div>
</div>
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
grid.load();

function onLoadUser(e) {
	var record = e.record,uid=record.reg_userid; //record.id
	if(uid>0){
		return s = '<a href="javascript:viewUinfo('+uid+')">'+uid+'</a> ';
	}else{
		return uid;
	}
}
</script>