<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body>
		<header id="classifyHeader">
			<a class="back" href="#"></a>
			分类
		</header>
		<div class="classifyUl">
			<ul>
				<li>
					<p><img width="22" src="img/classify.png"> 高密度聚乙烯 HDPE</p>
					<p style="font-size: 12px; color: #646464;">7000F 5502BN BL3</p>
					<img class="classifyBack" src="img/classifyBack.png" />
				</li>
				<li>
					<p><img width="22" src="img/classify2.png"> 低密度聚乙烯 LDPE</p>
					<p style="font-size: 12px; color: #646464;">2420H 2100TN00 2119</p>
					<img class="classifyBack" src="img/classifyBack.png" />
				</li>
				<li>
					<p><img width="22" src="img/classify3.png"> 线性聚乙烯 LLDPE</p>
					<p style="font-size: 12px; color: #646464;">218W 21HN 7042</p>
					<img class="classifyBack" src="img/classifyBack.png" />
				</li>
				<li>
					<p><img width="22" src="img/classify4.png"> 聚丙烯 PP</p>
					<p style="font-size: 12px; color: #646464;">JC-160 JH330B JH-350</p>
					<img class="classifyBack" src="img/classifyBack.png" />

				</li>
				<li>
					<p><img width="22" src="img/classify5.png"> 聚氯乙烯 PVC</p>
					<p style="font-size: 12px; color: #646464;">373MC C100V C12/62V</p>
					<img class="classifyBack" src="img/classifyBack.png" />
				</li>
			</ul>
		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>

	</body>

</html>