<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body>
		<header id="classifyHeader">
			<a class="back" href="#"></a>
			分类
		</header>
		<div class="classifyWrap">
			<h3>应用</h3>
			<p>
				<span class="on">重包</span><span>涂覆</span><span>薄膜</span><span>注塑</span><span>其他</span>
			</p>
			<h3>厂家</h3>
			<p>
				<span>东华能源</span><span>东莞三星道达尔</span><span>东莞富宏</span><span>上海金菲</span><span>上海赛科</span>
				<span>上海石化</span><span>上海氯碱</span>
			</p>
			<h3>地区</h3>
			<p>
				<span>上海</span><span>江苏</span><span>浙江</span><span>山东</span><span>广东</span>
				<span>山西</span><span>福建</span><span>四川</span><span>重庆</span><span>广东</span>
				<span>山西</span><span>福建</span><span>四川</span><span>重庆</span><span>安徽</span>
				<span>辽宁</span><span>吉林</span><span>湖北</span><span>湖南</span><span>河南</span>	
			</p>
			<div style="text-align: center; padding: 35px 0;">
				<a class="classifyEnter" href="#">确定</a>
			</div>
		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>

	</body>

</html>