<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>

	<body style="padding-bottom: 50px;">
		<header id="searchHeader">
			<a class="back" href="#"></a>
			<div class="searchSearch">
				<input type="text" placeholder="在资源中搜索你想要的" />
				<a class="appQuery2" href="javascript:;"></a>
			</div>
		</header>
		<div class="appResourceWrap">
			<div class="appResourceChoose">
				<span class="on">全部</span>
				<span>求购</span>
				<span>供应</span>
			</div>
		</div>
		<ul class="appResourceUl"></ul>
		<div class="appResourceText" style="display: none;">
			<input name="checkbox" value="Item 1" type="checkbox">我有货，我要卖
			<input name="checkbox" value="Item 1" type="checkbox">我求购，我要买
			<textarea class="appResourceInput" placeholder="请填写真实资源，写清楚公司名称，你的名字，联系方式，货物和数量"></textarea>
			<div class="appResourceBtn">
				<a class="cancel" href="#">取消</a>
				<a class="release" href="#">立即发布</a>
			</div>
		</div>
		<footer id="footer">
			<ul>
				<li><a href="#"><i class="foot"></i><br>大客户专区</a></li>
				<li><a href="#"><i class="foot2"></i><br>物性表</a></li>
				<li><a href="#"><i class="foot3"></i><br>首页</a></li>
				<li><a href="#"><i class="foot4"></i><br>资讯</a></li>
				<li><a href="#"><i class="foot5"></i><br>我</a></li>
			</ul>
		</footer>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			$(function () {
				var type="";
				var appLi="";
				commonAjax(
						"post",
						"/myapp/mainPage/getResource",
						{type:type}
				).then(function (res) {
					console.log(res);
					res.resData.forEach(function (v,i,a) {
						appLi+="<li><div class='appResourceAvator'><img src='img/avator.png'></div><div class='appRecourceTxt'><h3>上海拜力得 "+v.realname+"<span>"+v.update_time+"分钟前</span></h3><p>"+ v.content +"</p></div></li>";
					});
					$(".appResourceUl").html(appLi);
				},function () {

				});
			})
		</script>

	</body>

</html>