<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>

	<body style="padding-bottom: 50px;">
		<header id="searchHeader">
			<a class="back" href="javascript:window.history.back();"></a>
			<div class="searchSearch">
				<input type="text" placeholder="在资源中搜索你想要的" />
				<a class="appQuery2" href="javascript:;"></a>
			</div>
			<a class="appWrite" href="javascript:;"></a>
		</header>
		<div class="appResourceWrap">
			<div class="appResourceChoose">
				<span data-type="" class="on">全部</span>
				<span data-type="1">求购</span>
				<span data-type="2">供应</span>
			</div>
		</div>
		<ul class="appResourceUl"></ul>
		<div class="appResourceText" style="display: none;">
			<div class="">
				<input name="checkbox" value="1" type="radio">我有货，我要卖
				<input name="checkbox" value="2" type="radio">我求购，我要买
			</div>
			<textarea class="appResourceInput" placeholder="请填写真实资源，写清楚公司名称，你的名字，联系方式，货物和数量"></textarea>
			<div class="appResourceBtn">
				<a class="cancel" href="javascript:;">取消</a>
				<a class="release" href="javascript:;">立即发布</a>
			</div>
		</div>
		<footer id="footer">
			<ul>
				<li><a href="/myapp/mainPage/enLargeBid"><i class="foot"></i><br>大客户专区</a></li>
				<li><a href="/myapp/mainPage/enPhysical"><i class="foot2"></i><br>物性表</a></li>
				<li><a href="/myapp/mainPage/enMainPage"><i class="foot3"></i><br>首页</a></li>
				<li><a href="/myapp/mainPage/enArticle"><i class="foot4"></i><br>资讯</a></li>
				<li><a href="/myapp/personalCenter"><i class="foot5"></i><br>我</a></li>
			</ul>
		</footer>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			$(function () {
				var type="";
				var appLi="";

				function changeAvator(avator) {
					if(avator){
						return avator;
					}else{
						return "__MYAPP__/img/avator.png";
					}
				}
				
				$(".appResourceChoose span").on("click",function () {
					type=$(this).data("type");
					$(this).addClass("on").siblings("span").removeClass("on");
					console.log("---",type);
					appLi="";
					commonAjax(
							"post",
							"/myapp/mainPage/getResource",
							{type:type}
					).then(function (res) {
						console.log(res);
						res.resData.forEach(function (v,i,a) {
							appLi+="<li><div class='appResourceAvator'><img src='"+changeAvator(v.qq_image)+"'></div><div class='appRecourceTxt'><h3>上海拜力得 "+v.realname+"<span>"+v.update_time+"分钟前</span></h3><p>"+ v.content +"</p></div></li>";
						});
						$(".appResourceUl").html(appLi);
					},function () {

					});
				});

				commonAjax(
						"post",
						"/myapp/mainPage/getResource",
						{type:type}
				).then(function (res) {
					console.log(res);
					res.resData.forEach(function (v,i,a) {
						appLi+="<li><div class='appResourceAvator'><img src='"+changeAvator(v.qq_image)+"'></div><div class='appRecourceTxt'><h3>上海拜力得 "+v.realname+"<span>"+v.update_time+"分钟前</span></h3><p>"+ v.content +"</p></div></li>";
					});
					$(".appResourceUl").html(appLi);
				},function () {

				});

				$(".appWrite").on("click",function () {
					$(".appResourceText").toggle();
				});
			})
		</script>

	</body>

</html>