<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>

	<body>
		<header id="searchHeader">
			<a class="back" href="javascript:window.history.back();"></a>
			<div class="searchSearch">
				<input type="text" placeholder="请输入产品分类、牌号" />
				<a class="appQuery2" href="#"></a>
			</div>
		</header>
		<div class="supplyDemandStatus2">
			<span class="on">默认</span>
			<span>价格</span>
			<span>
				<select>
					<option>供货信息</option>
					<option>求购信息</option>
				</select>
			</span>
		</div>
		<div class="supplyDemandUl">
			<ul id="searchWrapUl"></ul>
		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			$(function(){
				var keywords=getUrlParam("keywords");
				var searchLi="";
				function searchPro(keyW) {
					commonAjax(
							"post",
							"/myapp/mainPage/getSearchRes",
							{keywords:keyW}
					).then(function (res) {
						console.log(">>>",res);
						res.searchRes.forEach(function (v,i,a) {
							searchLi+="<li><h3 class='bigCustomerName'>" +
									"<a href='#'>HDPE/7000F<br>伊朗国家石化</a></h3>" +
									"<p class='supplyDemandStore'><i class='icon iconDown iconUp'></i><i class='icon iconStore'></i></p>" +
									"<p class='supplyDemandSales'><span>￥9300/T起</span><br>2016-05-14</p>" +
									"<div class='mui-clearfix'></div><table class='supplyDemandTb' cellpadding='0' cellspacing='0'>" +
									"<tr><th width='35%'>供应商</th><th width='20%'>价格(元/吨)</th><th width='10%'>数量</th><th width='15%'>交货地</th><th width='20%'>业务电话</th></tr>" +
									"<tr><td>上海比森国际贸易有限公司</td><td>￥9300</td><td>50T</td><td>广东</td><td>18672574766</td></tr><tr><td>上海牧泓实业有限公司</td><td>￥9300</td><td>50T</td><td>上海</td><td>18672574766</td>" +
									"</tr></table></li>";
						});
						$("#searchWrapUl").html(searchLi);
					},function () {

					});
				}

				searchPro(keywords);

			});
		</script>

	</body>

</html>