<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body>
		<header id="searchHeader">
			<a class="back" href="#"></a>
			<div class="searchSearch">
				<input type="text" placeholder="请输入产品分类、牌号" />
				<a class="appQuery2" href="#"></a>
			</div>
		</header>
		<div id="searchOrigin">
			<h3>历史搜索</h3>
			<p>
				<span>7000F</span>
				<span>BL3</span>
				<span>PVC</span>
				<span>PVC</span>
				<span>PVC</span>
				<span>PVC</span>
				<span>PVC</span>
				<span>PVC</span>
				<span>PVC</span>
				<span>PVC</span>
			</p>
			<h3>热门搜索</h3>
			<p>
				<span>7000F</span>
				<span>BL3</span>
				<span>PVC</span>
				<span>PVC</span>
				<span>PVC</span>
				<span>PVC</span>
				<span>PVC</span>
				<span>PVC</span>
				<span>PVC</span>
				<span>PVC</span>
			</p>

		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>

	</body>

</html>