<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" /> 
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body style="padding-bottom: 50px;">
		<header id="bigCustomerHeader">
			<a class="back" href="#"></a>
			大客户专区
			<span class="appMenu"></span>
		</header>
		<div class="bigCustomerMenu" style="-display:none;">
			<h3 class="bigCustomerMenuTitle">
				公司
				<i class="icon2 iconUp"></i>
				<span>全部</span>
			</h3>
			<p>
				<span class="on">宁波利时进出口</span><span>象屿集团</span><span>浙江文德进出口</span>
				<span>上海金发科技发展</span><span>中国石油</span><span>浙江前程石化</span><span>宁波杉杉汉祥</span>
				<span>宁波联合燕华</span><span>中化国际</span><span>中化塑料</span><span>中轻物产</span><span>远大石化</span>
				<span>上海亚星普拉斯</span><span>中国神华</span><span>浙江明日控股</span><span>江苏荣尚</span><span>宁波聚雄</span>
				<span>河南银丰</span><span>浙江特产</span><span>浙江晶海</span><span>中农（上海）</span><span>群星集团</span>
				<span>建发（上海）</span>
			</p>
			<h3 class="bigCustomerMenuTitle">
				厂家
				<i class="icon2 iconDown"></i>
				<span>全部</span>
			</h3>
			<p>
				<span class="on">卡塔尔</span><span>沙特</span><span>伊朗</span>
				<span>大连石化</span><span>兰州石化</span><span>福练</span><span>福联</span>
				<span>大庆炼化</span><span>四川石化</span><span>独山子石化</span><span>抚顺石化</span><span>吉林石化</span>
				<span>榆林</span><span>神华</span><span>泰国</span><span>马油</span><span>美国台塑</span>
				<span>加拿大</span><span>巴塞尔</span><span>美国</span>
			</p>
			<h3 class="bigCustomerMenuTitle">
				交货地
				<i class="icon2 iconDown"></i>
				<span>全部</span>
			</h3>
			<p>
				<span class="on">上海</span><span>江苏</span><span>浙江</span>
				<span>山东</span><span>广东</span><span>福建</span><span>安徽</span>
				<span>江西</span><span>湖南</span><span>河南</span><span>湖北</span><span>广西</span>
				<span>北京</span><span>天津</span><span>内蒙古</span><span>河北</span><span>山西</span>
				<span>辽宁</span><span>吉林</span><span>黑龙江</span><span>新疆</span><span>陕西</span>
				<span>甘肃</span><span>青海</span>
			</p>
			<div style="text-align: center; padding: 20px 0;">
				<a class="classifyEnter" href="#">确定</a>
			</div>
		</div>
		<div class="supplyDemandStatus">
			<span class="on">默认</span>
			<span>价格</span>
		</div>
		<div class="supplyDemandUl">
			<ul>
				<li>
					<h3 class="bigCustomerName">
						<a href="#">
						HDPE/7000F<br>伊朗国家石化
						</a>
					</h3>
					<p class="supplyDemandStore">
						<i class="icon iconDown iconUp"></i>
						<i class="icon iconStore"></i>
					</p>
					<p class="supplyDemandSales">
						<span>￥9300/T起</span><br>2016-05-14
					</p>
					<div class="mui-clearfix"></div>
					<table class="supplyDemandTb" cellpadding="0" cellspacing="0">
						<tr>
							<th width="35%">供应商</th>
							<th width="20%">价格(元/吨)</th>
							<th width="10%">数量</th>
							<th width="15%">交货地</th>
							<th width="20%">业务电话</th>
						</tr>
						<tr>
							<td>上海比森国际贸易有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>广东</td>
							<td>18672574766</td>
						</tr>
						<tr>
							<td>上海牧泓实业有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>上海</td>
							<td>18672574766</td>
						</tr>
					</table>
				</li>
								<li>
					<h3 class="bigCustomerName">
						<a href="#">
						HDPE/7000F<br>伊朗国家石化
						</a>
					</h3>
					<p class="supplyDemandStore">
						<i class="icon iconDown iconUp"></i>
						<i class="icon iconStore"></i>
					</p>
					<p class="supplyDemandSales">
						<span>￥9300/T起</span><br>2016-05-14
					</p>
					<div class="mui-clearfix"></div>
					<table class="supplyDemandTb" cellpadding="0" cellspacing="0">
						<tr>
							<th width="35%">供应商</th>
							<th width="20%">价格(元/吨)</th>
							<th width="10%">数量</th>
							<th width="15%">交货地</th>
							<th width="20%">业务电话</th>
						</tr>
						<tr>
							<td>上海比森国际贸易有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>广东</td>
							<td>18672574766</td>
						</tr>
						<tr>
							<td>上海牧泓实业有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>上海</td>
							<td>18672574766</td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
		<footer id="footer">
			<ul>
				<li><a class="footerOn" href="#"><i class="foot"></i><br>大客户专区</a></li>
				<li><a href="#"><i class="foot2"></i><br>物性表</a></li>
				<li><a href="#"><i class="foot3"></i><br>首页</a></li>
				<li><a href="#"><i class="foot4"></i><br>资讯</a></li>
				<li><a href="#"><i class="foot5"></i><br>我</a></li>
			</ul>
		</footer>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>

	</body>

</html>