<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
	</head>

	<body>
		<header id="infoHeader">
			<a class="back" href="#"></a>
			原油价格
		</header>
		<ul id="infoOil">
			<li>Nymex WTI<i class="red">+0.04↑</i><b>38.32</b></li>
			<li>ICE Brent<i class="red">+0.12↑</i><b>38.32</b></li>
			<li>乙烯(CFR东北亚)<i class="blue">0</i><b>1205.50</b></li>
			<li>丙烯(FOB韩国)<i class="green">-0.04↑</i><b>650.50</b></li>
		</ul>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>

	</body>

</html>