<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>

	<body>
		<header id="meHeader">
			<a class="back" href="#"></a>
			我的关注
			<a class="right" href="/myapp/personalCenter/manageMyAttention">管理</a>
		</header>
		<ul class="meAttention">
			<li>7000F 伊朗 <span class="grey">10小时前</span><span class="green">-100↓</span><span class="orange">9000/T</span></li>
			<li>7000F 伊朗 <span class="grey">10小时前</span><span class="red">+100↑</span><span class="orange">9000/T</span></li>
			<li>7000F 伊朗 <span class="grey">10小时前</span><span class="green">-100↓</span><span class="orange">9000/T</span></li>
			<li>7000F 伊朗 <span class="grey">10小时前</span><span class="green">-100↓</span><span class="orange">9000/T</span></li>
			<li>7000F 伊朗 <span class="grey">10小时前</span><span class="green">-100↓</span><span class="orange">9000/T</span></li>
		</ul>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>

	</body>

</html>