<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
	</head>

	<body>
		<header id="meHeader">
			<a class="back" href="#"></a>
			兑换记录
		</header>
		<div id="creditWrap">
			<div class='creditRecord'>
				<h3>兑换单号：123456789<br>兑换时间：2016-05-05 12：06：32
				<span>已发货</span></h3>
				<div class='creditInfo'>
					<div class='creditImg'>
						<img src="img/temp4.jpg"></div>
					<div class='creditTable'>
						<div class='creditTr'>30元移动手机充值卡</div>
					</div>
				</div>
				<h4>
					更新时间:2016-05-05
					<span style='float:right;line-height:35px;'>
					兑换使用积分：<i>2500</i>积分</span>
				</h4>
			</div>
			<div class='creditRecord'>
				<h3>兑换单号：123456789<br>兑换时间：2016-05-05 12：06：32
				<span>已发货</span></h3>
				<div class='creditInfo'>
					<div class='creditImg'>
						<img src="img/temp4.jpg"></div>
					<div class='creditTable'>
						<div class='creditTr'>30元移动手机充值卡</div>
					</div>
				</div>
				<h4>
					更新时间:2016-05-05
					<span style='float:right;line-height:35px;'>
					兑换使用积分：<i>2500</i>积分</span>
				</h4>
			</div>

		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>

	</body>

</html>