<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>
	<body style="padding-bottom: 55px;">
		<header id="meHeader">
			<a class="left" href="tel:10086">联系客服</a>
			我的
		</header>
		<div class="meWrap">
			<div class="meAvator">
				<img src="__MYAPP__/img/avator.png">
			</div>
		</div>
		<div class="meName">轻舞飞扬</div> 
		<ul class="meUl">
			<li><a href="/myapp/personalCenter/enMyQuotation"><img src="__MYAPP__/img/me.png">我的报价单<span>10</span></a></li>
			<li><a href="/myapp/personalCenter/enMyPurchase"><img src="__MYAPP__/img/me2.png">我的采购<span>2</span></a></li>
		</ul>
		<ul class="meUl">
			<li><a href="/myapp/personalCenter/enMyAttention"><img src="__MYAPP__/img/me4.png">我的关注<span>10</span></a></li>
			<li><a href="/myapp/personalCenter/enMyPoints"><img src="__MYAPP__/img/me5.png">我的积分<span>1000</span></a></li>
			<li><a href="/myapp/personalCenter/enMyQuotation"><img src="__MYAPP__/img/me7.png">我的交易员<span>张飞扬</span></a></li>
		</ul>
		<ul class="meUl">
			<li><a href="/myapp/personalCenter/enMySet"><img src="__MYAPP__/img/me6.png">设置</a></li>
			<li><a href="/myapp/personalCenter/enMyFeedBack"><img src="__MYAPP__/img/me8.png">意见反馈</a></li>
		</ul>
		<footer id="footer">
			<ul>
				<li><a href="#"><i class="foot"></i><br>大客户专区</a></li>
				<li><a href="#"><i class="foot2"></i><br>物性表</a></li>
				<li><a href="#"><i class="foot3"></i><br>首页</a></li>
				<li><a href="#"><i class="foot4"></i><br>资讯</a></li>
				<li><a class="footerOn" href="#"><i class="foot5"></i><br>我</a></li>
			</ul>
	</footer>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>

	</body>

</html>