<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>

	<body style="padding-bottom: 50px;">
		<header id="supplyDemandHeader">
			<a class="back" href="#"></a>
			<div class="supplyDemandChange">
				<span class="on">现货管理</span>
				<span>期货管理</span>
			</div>
		</header>
		<div class="myPurchase">
			<div class="purchaseInput2">
				<input class="productQuery" type="text" placeholder="请输入产品分类、牌号、厂家">
				<img id="query" src="__MYAPP__/img/query.png">
			</div>
			<select class="chooseType2">
				<option value ="">全部</option>
				<option value ="1">待审核</option>
				<option value="2">审核通过</option>
				<option value="3">洽谈中</option>
				<option value="4">交易成功</option>
				<option value="5">无效</option>
				<option value="6">过期</option>
			</select>
			<div class="chooseType">全部</div>
		</div>
		<ul class="purchaseList">
			<li>
				<div class='purchaseWrap2'>
					<h3>订单编号:201605173456789<span class='orange'>￥9300/T</span></h3>
					<p>LDPE|2102TX00|伊朗石化<span>99吨</span></p>
					<p>上海 宝山仓库<span>2016-05-04</span></p>
				</div>
			</li>
			<li>
				<div class='purchaseWrap2'>
					<h3>订单编号:201605173456789<span class='orange'>￥9300/T</span></h3>
					<p>LDPE|2102TX00|伊朗石化<span>99吨</span></p>
					<p>上海 宝山仓库<span>2016-05-04</span></p>
				</div>
			</li>
			<li>
				<div class='purchaseWrap2'>
					<h3>订单编号:201605173456789<span class='orange'>￥9300/T</span></h3>
					<p>LDPE|2102TX00|伊朗石化<span>99吨</span></p>
					<p>上海 宝山仓库<span>2016-05-04</span></p>
				</div>
			</li>
		</ul>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>

	</body>

</html>