<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>

	<body>
		<header id="supplyDemandHeader">
			<a class="back" href="javascript:window.history.back();"></a>
			<div class="supplyDemandChange">
				<span class="on">现货管理</span>
				<span>期货管理</span>
			</div>
		</header>
		<div class="myPurchase">
			<div class="purchaseInput2">
				<input class="productQuery" type="text" placeholder="请输入产品分类、牌号、厂家">
				<img id="query" src="__MYAPP__/img/query.png">
			</div>
			<select class="chooseType2">
				<option value ="">全部</option>
				<option value ="1">上架</option>
				<option value="2">下架</option>
			</select>
			<div class="chooseType">全部</div>
		</div>
		<ul class="purchaseList">
		</ul>
		<footer id="offerFooter">
			<input type="checkbox" id="all" class="regular-checkbox">
			<label for="all" style=" top: 10px; left: 15px;"></label> 全选/反选
			<span class="chooseStatus on">上架</span>
			<span class="chooseStatus">下架</span>
			<span class="batchUpdate">批量更新</span>
		</footer>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			$(function () {
				var quotationLi="";
				var cargoType=1;
				var productArr=[];
				var upId=1;
				var downId="";
				var delId="";

				$(".chooseType2").on("change",function () {
					var chooseValue=$(this).find("option:selected").text();
					$(".chooseType").text(chooseValue);
				});

				commonAjax(
						"post",
						"/myapp/personalCenter/myQuotation",
						{cargo_type:cargoType,type:1}
				).then(function (res) {
					console.log(res);
					if(res.err==1){
						window.location.href="/myapp/login";
					}else if(res.err==2){
						$(".purchaseList").html("<li class='noData'>暂无数据</li>");
					}else{
						res.data.forEach(function (v,i) {
							quotationLi+="<li><div class='purchaseWrap3'>" +
									"<input type='checkbox' data-id='"+ v.id +"' id='"+ v.id +"' class='regular-checkbox regular-checkbox2'>" +
									"<label for='"+ v.id +"'></label><h3>"+ v.product_type +"|"+ v.model +"" +
									"<span class='orange'>￥<input style='width:60px;' class='offerNumInput unit_price' type='text' value='"+v.unit_price+"'>/吨</span></h3>" +
									"<p><input style='width:100px;' class='offerTxtInput f_name' type='text' readonly value='"+v.f_name+"'>" +
									"<span class='orange'><input style='width: 60px;' class='offerNumInput number' type='text' value='"+v.number+"'>吨</span></p>" +
									"<p><input style='width:120px;' class='offerTxtInput3 store_house' type='text' readonly value='"+v.store_house+"'><span>"+v.input_time+"</span>" +
									"</p></div><div class='offerStatus'>" +
									"<span class='shelve' data-pid='"+ v.id +"'><i class='purchaseStatus "+ shelve(v.shelve_type) +"'></i>"+ shelve2(v.shelve_type) +"</span>" +
									"<span class='dataUpdate' data-pid='"+ v.p_id +"' data-id='"+ v.id +"'><i class='purchaseStatus update'></i>更新</span></div></li>";
						});
						$(".purchaseList").html(quotationLi);

						//状态更新
						$(".shelve").on("click",function () {
							var pid=$(this).data("pid");
							commonAjax(
									"post",
									"/touch/myquotation/changestate",
									{id:pid}
							).then(function (res) {
								if(res.err==1){
									mui.alert('',res.msg,function(){});
								}else{
									window.location.reload();
								}
							},function (res) {
								mui.alert('','系统错误',function(){});
							});

						});

						$(".regular-checkbox2").on("click",function () {
							var pId=$(this).data("id");
							if(this.checked){
								productArr.push(pId);
								console.log(productArr);
							}else{
								$("#all").prop("checked",false);
								productArr.splice($.inArray(pId,productArr),1);
								console.log(productArr);
							}
						});

						$(".chooseStatus").on("click",function () {
							$(this).addClass("on").siblings(".chooseStatus").removeClass("on");
							if($(this).text()=="上架"){
								upId=1;
								downId="";
								delId="";
							}else if($(this).text()=="下架"){
								upId="";
								downId="1";
								delId="";
							}else if($(this).text()=="删除"){
								upId="";
								downId="";
								delId=1;
							}
						});

						//数据更新
						$(".dataUpdate").on("click",function () {
							var purchaseWrap=$(this).parents("li").find(".purchaseWrap3");
							var unit_price=purchaseWrap.find(".unit_price").val();
							var f_name=purchaseWrap.find(".f_name").val();
							var number=purchaseWrap.find(".number").val();
							var store_house=purchaseWrap.find(".store_house").val();
							var id=$(this).data("id");
							var pid=$(this).data("pid");
							commonAjax(
									"post",
									"/touch/myquotation/refreshCell",
									{
										id:id,
										pid:pid,
										qdata:{
											unit_price:unit_price,
											f_name:f_name,
											number:number,
											store_house:store_house
										}
									}
							).then(function (res) {
								window.location.reload();
							},function (res) {
								mui.alert('','系统错误',function(){});
							});
						});

						$(".supplyDemandChange span").on("click",function () {
							$(this).addClass("on").siblings("span").removeClass("on");
							cargoType=$(this).index()+1;
							$("#all").prop("checked", false);
							quotationLi="";
							productArr=[];
							console.log("+++",productArr);
							commonAjax(
									"post",
									"/myapp/personalCenter/myQuotation",
									{cargo_type:cargoType}
							).then(function (res) {
								if(res.err==2){
									$(".purchaseList").html("<li class='noData'>暂无数据</li>");
								}else {
									res.data.forEach(function (v, i) {
										quotationLi += "<li><div class='purchaseWrap3'>" +
												"<input type='checkbox' data-id='" + v.id + "' id='" + v.id + "' class='regular-checkbox regular-checkbox2'>" +
												"<label for='" + v.id + "'></label><h3>" + v.product_type + "|" + v.model + "" +
												"<span class='orange'>￥<input style='width:60px;' class='offerNumInput unit_price' type='text' value='" + v.unit_price + "'>/吨</span></h3>" +
												"<p><input style='width:100px;' class='offerTxtInput f_name' type='text' readonly value='" + v.f_name + "'>" +
												"<span class='orange'><input style='width: 60px;' class='offerNumInput number' type='text' value='" + v.number + "'>吨</span></p>" +
												"<p><input style='width:120px;' class='offerTxtInput3 store_house' type='text' readonly value='" + v.store_house + "'><span>" + v.input_time + "</span>" +
												"</p></div><div class='offerStatus'>" +
												"<span class='shelve' data-pid='" + v.id + "'><i class='purchaseStatus " + shelve(v.shelve_type) + "'></i>" + shelve2(v.shelve_type) + "</span>" +
												"<span class='dataUpdate' data-pid='" + v.p_id + "' data-id='" + v.id + "'><i class='purchaseStatus update'></i>更新</span></div></li>";
									});
									$(".purchaseList").html(quotationLi);
								}
								//状态更新
								$(".shelve").on("click",function () {
									var pid=$(this).data("pid");
									commonAjax(
											"post",
											"/touch/myquotation/changestate",
											{id:pid}
									).then(function (res) {
										if(res.err==1){
											mui.alert('',res.msg,function(){});
										}else{
											window.location.reload();
										}
									},function (res) {
										mui.alert('','系统错误',function(){});
									});

								});

								$(".regular-checkbox2").on("click",function () {
									var pId=$(this).data("id");
									if(this.checked){
										productArr.push(pId);
										console.log(productArr);
									}else{
										$("#all").prop("checked",false);
										productArr.splice($.inArray(pId,productArr),1);
										console.log(productArr);
									}
								});

								$(".chooseStatus").on("click",function () {
									$(this).addClass("on").siblings(".chooseStatus").removeClass("on");
									if($(this).text()=="上架"){
										upId=1;
										downId="";
										delId="";
									}else if($(this).text()=="下架"){
										upId="";
										downId="1";
										delId="";
									}else if($(this).text()=="删除"){
										upId="";
										downId="";
										delId=1;
									}
								});

								//数据更新
								$(".dataUpdate").on("click",function () {
									var purchaseWrap=$(this).parents("li").find(".purchaseWrap3");
									var unit_price=purchaseWrap.find(".unit_price").val();
									var f_name=purchaseWrap.find(".f_name").val();
									var number=purchaseWrap.find(".number").val();
									var store_house=purchaseWrap.find(".store_house").val();
									var id=$(this).data("id");
									var pid=$(this).data("p_id");

									commonAjax(
											"post",
											"/touch/myquotation/refreshCell",
											{
												id:id,
												pid:pid,
												qdata:{
													unit_price:unit_price,
													f_name:f_name,
													number:number,
													store_house:store_house
												}
											}
									).then(function (res) {
										window.location.reload();
									},function (res) {
										mui.alert('','系统错误',function(){});
									});
								});

							},function () {

							});

						});

					}
				},function () {

				});

				//状态选择
				$("#all").click(function(){
					if(this.checked){
						$(".purchaseList :checkbox").prop("checked", true);
						productArr=[];
						$(".regular-checkbox2").each(function () {
							productArr.push($(this).data("id"));
							console.log(productArr);
						});
					}else{
						$(".purchaseList :checkbox").prop("checked", false);
						productArr=[];
						console.log(productArr);
					}
				});

				//批量更新
				$(".batchUpdate").on("click",function () {
					commonAjax(
							"post",
							"/touch/myquotation/refreshMulCell",
							{
								ids:productArr,
								up:upId,
								down:downId,
								del:delId
							}
					).then(function (res) {
						window.location.reload();
					},function (res) {
						mui.alert('','系统错误',function(){});
					});
				});

				//搜索
				$("#query").on("click",function () {
					if(!$(".productQuery").val()){
						mui.alert('','请输入要搜索的内容',function(){});
					}else{
						commonAjax(
								"post",
								"/myapp/personalCenter/doQuoSearch",
								{
									keywords:$(".productQuery").val().toLocaleUpperCase(),
									type:$(".chooseType2").val(),
									cargo_type:cargoType
								}
						).then(function (res) {
							if(res.err==1){
								console.log(res);
								window.location.href="/myapp/login";
							}else if(res.err=2){
								$(".purchaseList").html("<li class='noData'>暂无数据</li>");
							}else{
								quotationLi="";
								res.resultData.forEach(function (v,i) {
									quotationLi+="<li><div class='purchaseWrap3'>" +
											"<input type='checkbox' data-id='"+ v.id +"' id='"+ v.id +"' class='regular-checkbox regular-checkbox2'>" +
											"<label for='"+ v.id +"'></label><h3>"+ v.product_type +"|"+ v.model +"" +
											"<span class='orange'>￥<input style='width:60px;' class='offerNumInput unit_price' type='text' value='"+v.unit_price+"'>/吨</span></h3>" +
											"<p><input style='width:100px;' class='offerTxtInput f_name' type='text' readonly value='"+v.f_name+"'>" +
											"<span class='orange'><input style='width: 60px;' class='offerNumInput number' type='text' value='"+v.number+"'>吨</span></p>" +
											"<p><input style='width:120px;' class='offerTxtInput3 store_house' type='text' readonly value='"+v.store_house+"'><span>"+ stampToDate2(v.input_time) +"</span>" +
											"</p></div><div class='offerStatus'>" +
											"<span class='shelve' data-pid='"+ v.id +"'><i class='purchaseStatus "+ shelve(v.shelve_type) +"'></i>"+ shelve2(v.shelve_type) +"</span>" +
											"<span class='dataUpdate' data-pid='"+ v.p_id +"' data-id='"+ v.id +"'><i class='purchaseStatus update'></i>更新</span></div></li>";								});
								$(".purchaseList").html(quotationLi);
							}
						},function () {

						});
					}
				});


			})

		</script>

	</body>

</html>