<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body>
		<header id="meHeader">
			<a class="back" href="#"></a>
			密码
		</header>
		<div class="meSetInput" style="border-bottom: none;">
			<span>原密码</span>
			<input type="text" placeholder="请输入原始密码" maxlength="10" />
		</div>
		<div class="meSetInput" style="margin: 0;">
			<span>新密码</span>
			<input type="text" placeholder="请输入新密码，6-10位" maxlength="10" />
		</div>
		<a class="me_enter" href="#">确定</a>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>

	</body>

</html>