<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" /> 
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body style="padding-bottom: 50px;">
		<header id="bigCustomerHeader">
			<a class="back" href="#"></a>委托交易
		</header>
		<table class="supplyDemandTradeTb" cellpadding="0" cellspacing="0">
			<tr>
				<td width="35%">产品类型</td>
				<td>LDPE</td>
			</tr>
			<tr>
				<td>牌号</td>
				<td>2102TX00</td>
			</tr>
			<tr>
				<td>单价</td>
				<td>￥9650/吨</td>
			</tr>
			<tr>
				<td>数量</td>
				<td>30吨</td>
			</tr>
			<tr>
				<td>厂家</td>
				<td>伊朗国家石化</td>
			</tr>
			<tr>
				<td>交货地</td>
				<td>上海</td>
			</tr>
			<tr>
				<td>采购方式</td>
				<td>现货</td>
			</tr>

		</table>
		<table class="supplyDemandTradeTb" cellpadding="0" cellspacing="0">
			<tr>
				<td colspan="2" style="text-align: left; padding: 0 15px;">我的信息</td>
			</tr>
			<tr>
				<td width="35%">联系人</td>
				<td>张飞扬</td>
			</tr>
			<tr>
				<td>联系方式</td>
				<td>13776548475</td>
			</tr>
			<tr>
				<td>公司名称</td>
				<td>上海中晨电子商务股份有限公司</td>
			</tr>
		</table>
		<div class="bigCustomerDetailBtn">
			<input type="button" value="委托交易">
		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			
		</script>

	</body>

</html>