<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" /> 
		<title></title>
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>
	<body style="padding-bottom: 50px;">
		<header id="bigCustomerHeader">
			<a class="back" href="javascript:window.history.back();"></a>委托交易
		</header>
		<table class="supplyDemandTradeTb" cellpadding="0" cellspacing="0">
			<tr>
				<td width="35%">产品类型</td>
				<td id="product_type"></td>
			</tr>
			<tr>
				<td>牌号</td>
				<td id="model"></td>
			</tr>
			<tr>
				<td>单价</td>
				<td>￥<input type="text">/吨</td>
			</tr>
			<tr>
				<td>数量</td>
				<td><input type="text">吨</td>
			</tr>
			<tr>
				<td>厂家</td>
				<td id="f_name"></td>
			</tr>
			<tr>
				<td>交货地</td>
				<td id="delivery_place"></td>
			</tr>
			<tr>
				<td>采购方式</td>
				<td id="delivertime"></td>
			</tr>

		</table>
		<table class="supplyDemandTradeTb" cellpadding="0" cellspacing="0">
			<tr>
				<td colspan="2" style="text-align: left; padding: 0 15px;">我的信息</td>
			</tr>
			<tr>
				<td width="35%">联系人</td>
				<td id="con_name">张飞扬</td>
			</tr>
			<tr>
				<td>联系方式</td>
				<td id="mobile">13776548475</td>
			</tr>
			<tr>
				<td>公司名称</td>
				<td>上海中晨电子商务股份有限公司</td>
			</tr>
		</table>
		<div class="bigCustomerDetailBtn">
			<input type="button" value="委托交易">
		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			$(function () {
				var id=getUrlParam("id");
				$("#tradeBtn").on("click",function () {
					window.location.href="/myapp/mainPage/enDelegateForm?id="+id+"";
				});
				commonAjax(
						"post",
						"/myapp/mainPage/getCheckDelegate",
						{otype:2,id:id}
				).then(function (res) {
					console.log(">>>",res);
					if(res.err==1){
						window.location.href="/myapp/login";
					}else{
						$("#product_type").text(res.chDeRes.product_type);
						$("#model").text(res.chDeRes.model);
						$("#unit_price").text(res.chDeRes.unit_price);
						$("#number").text(res.chDeRes.number);
						$("#f_name").text(res.chDeRes.f_name);
						$("#delivery_place").text(res.chDeRes.delivery_place);
						$("#input_time").text(res.chDeRes.input_time);
						$("#delivertime").text(res.chDeRes.delivertime);
						$("#con_name").text(res.chDeRes.con_name);
						$("#mobile").text(res.chDeRes.mobile);
						$("#qq").text(res.chDeRes.qq);
					}
				},function () {

				});
			})
		</script>

	</body>

</html>