<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>
	<body style="padding-bottom: 90px;">
		<header id="supplyDemandHeader">
			<a class="back" href="javascript:window.history.back();"></a>
			<div class="supplyDemandChange">
				<span data-num="2" class="on">供应信息</span>
				<span data-num="1">求购信息</span>
			</div>
			<span class="appMenu"></span>
		</header>
		<div class="supplyDemandStatus">
			<span data-otype="3" class="on">默认</span>
			<span data-sd="true">价格<i class='icon iconDown' style="float: none; display: inline-block;"></i></span>
		</div>
		<div class="supplyDemandUl">
			<ul id="searchWrapUl"></ul>
		</div>
		<a class="supplyDemandBtn" href="/myapp/mainPage/enReleaseSale">发布报价</a>
		<footer id="footer">
			<ul>
				<li><a href="/myapp/mainPage/enLargeBid"><i class="foot"></i><br>大客户专区</a></li>
				<li><a href="/myapp/mainPage/enPhysical"><i class="foot2"></i><br>物性表</a></li>
				<li><a class="footerOn" href="/myapp/mainPage/enMainPage"><i class="foot3"></i><br>首页</a></li>
				<li><a href="/myapp/mainPage/enArticle"><i class="foot4"></i><br>资讯</a></li>
				<li><a href="/myapp/personalCenter"><i class="foot5"></i><br>我</a></li>
			</ul>
		</footer>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			$(function () {
				var searchLi="";
				var searchTb="";
				var gsLi="";
				var cjLi="";
				var jhdLi="";
				var num="";
				var otype="";

				function bigSearch(type,otype) {
					commonAjax(
							"post",
							"/myapp/mainPage/getSupply",
							{type:type,otype:otype}
					).then(function (res) {
						console.log(res);
						if(res.pubQuoPur.length==0){
							$("#searchWrapUl").html("<li class='noSearch'>暂无数据</li>");
						}else{
							console.log(">>>",res);
							searchLi="";
							res.pubQuoPur.forEach(function (v,i,a) {
								searchLi+="<li><h3 class='bigCustomerName'>" +
										"<a href='#'>"+v.product_type+"/"+v.model+"<br>"+v.f_name+"</a></h3>" +
										"<p class='supplyDemandStore'><i class='icon iconDown'></i></p>" +
										"<p class='supplyDemandSales'><span>￥"+v.unit_price+"/T起</span><br>"+v.input_time+"</p>" +
										"<div class='mui-clearfix'></div>" +
										"<table class='supplyDemandTb' cellpadding='0' cellspacing='0'>" +
										"<tr><th width='35%'>供应商</th><th width='20%'>价格(元/吨)</th><th width='10%'>数量</th><th width='15%'>交货地</th><th width='20%'>操作</th></tr>" +
										"</table></li>";
								$("#searchWrapUl").html(searchLi);
								v.twoData.forEach(function (v,i,a) {
									searchTb+="<tr><td>"+v.company+"</td>" +
											"<td>￥"+v.unit_price+"</td><td>"+v.number+"T</td><td>"+v.provinces+"</td><td><a href='/myapp/mainPage/enCheckForm?id="+v.id+"'>查看</a></td></tr>";
								});
								$(".supplyDemandTb").append(searchTb);
								searchTb="";
							});

							$(".iconDown").on("click",function () {
								$(this).toggleClass("iconUp");
								$(this).parents("li").find(".supplyDemandTb").toggle();
							});

						}
					},function () {

					});
				}

				function bigSearch2(type,otype) {
					commonAjax(
							"post",
							"/myapp/mainPage/getSupply",
							{type:type,otype:otype}
					).then(function (res) {
						console.log(res);
						if(res.pubQuoPur.length==0){
							$("#searchWrapUl").html("<li class='noSearch'>暂无数据</li>");
						}else{
							console.log(">>>",res);
							searchLi="";
							res.pubQuoPur.forEach(function (v,i,a) {
								searchLi+="<li><h3 class='bigCustomerName'>" +
										"<a href='#'>"+v.product_type+"/"+v.model+"<br>"+v.f_name+"</a></h3>" +
										"<p class='supplyDemandStore'><i class='icon iconDown'></i></p>" +
										"<p class='supplyDemandSales'><span>￥"+v.unit_price+"/T起</span><br>"+v.input_time+"</p>" +
										"<div class='mui-clearfix'></div>" +
										"<table class='supplyDemandTb' cellpadding='0' cellspacing='0'>" +
										"<tr><th width='35%'>供应商</th><th width='20%'>价格(元/吨)</th><th width='10%'>数量</th><th width='15%'>交货地</th><th width='20%'>操作</th></tr>" +
										"</table></li>";
								$("#searchWrapUl").html(searchLi);
								v.twoData.forEach(function (v,i,a) {
									searchTb+="<tr><td>"+v.company+"</td>" +
											"<td>￥"+v.unit_price+"</td><td>"+v.number+"T</td><td>"+v.provinces+"</td><td><a href='/myapp/mainPage/enMySupply?id="+v.id+"'>我要供货</a></td></tr>";
								});
								$(".supplyDemandTb").append(searchTb);
								searchTb="";
							});

							$(".iconDown").on("click",function () {
								$(this).toggleClass("iconUp");
								$(this).parents("li").find(".supplyDemandTb").toggle();
							});

						}
					},function () {

					});
				}

				bigSearch(2,3);
				$(".supplyDemandChange span").on("click",function () {
					num=$(this).data("num");
					$(this).addClass("on").siblings("span").removeClass("on");
					console.log(num);
					if(num==1){
						bigSearch2(1,3);
					}else{
						bigSearch(2,3);
					}
				});
				$(".supplyDemandStatus span").on("click",function () {
					$(this).addClass("on").siblings("span").removeClass("on");
				});
				
			});

		</script>

	</body>

</html>