<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="telephone=no" /> 
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body style="padding-bottom: 50px;">
		<header id="bigCustomerHeader">
			<a class="back" href="#"></a>详情
		</header>
		<div class="bigCustomerDetail">
			<h3><img src="img/bigCustomer.png">产品信息</h3>
			<ul class="bigCustomerDetailUl">
				<li><span>产品类型：</span>HDPE</li>
				<li><span>牌      号：</span>9450F</li>
				<li><span>单      价：</span>￥9300/吨</li>
				<li><span>数      量：</span>100吨</li>
				<li><span>厂      家：</span>伊朗</li>
				<li><span>交货地：</span>宁波</li>
				<li><span>发布时间：</span>2016-03-24</li>
				<li><span>交货时间：</span>现货</li>
			</ul>
		</div>
		<div class="bigCustomerDetail" style="margin: 0;">
			<h3><img src="img/bigCustomer2.png">联系人</h3>
			<ul class="bigCustomerDetailUl">
				<li><span>姓      名：</span>叶可雅</li>
				<li><span>联系电话：</span>18917967277</li>
				<li><span>QQ号码：</span>13801491883</li>
			</ul>
		</div>
		<div class="bigCustomerDetailBtn">
			<input type="button" value="委托洽谈">
		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			
		</script>

	</body>

</html>