<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body style="padding-bottom: 50px;">
		<header id="supplyDemandHeader">
			<a class="back" href="#"></a>
			<div class="supplyDemandChange">
				<span class="on">供应信息</span>
				<span>求购信息</span>
			</div>
			<span class="appMenu"></span>
		</header>
		<div class="supplyDemandStatus">
			<span class="on">默认</span>
			<span>价格</span>
		</div>
		<div class="supplyDemandUl">
			<ul>
				<li>
					<h3 class="supplyDemandName">
						HDPE/7000F<br>伊朗国家石化
					</h3>
					<p class="supplyDemandStore">
						<i class="icon iconDown iconUp"></i>
						<i class="icon iconStore"></i>
					</p>
					<p class="supplyDemandSales">
						<span>￥9300/T起</span><br>2016-05-14
					</p>
					<div class="mui-clearfix"></div>
					<table class="supplyDemandTb" cellpadding="0" cellspacing="0">
						<tr>
							<th width="30%">供应商</th>
							<th width="25%">价格(元/吨)</th>
							<th width="15%">数量</th>
							<th width="15%">交货地</th>
							<th width="15%">操作</th>
						</tr>
						<tr>
							<td>上海比森国际贸易有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>广东</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
						<tr>
							<td>上海牧泓实业有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>上海</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
					</table>
				</li>
				<li>
					<h3 class="supplyDemandName">
						HDPE/7000F<br>伊朗国家石化
					</h3>
					<p class="supplyDemandStore">
						<i class="icon iconUp"></i>
						<i class="icon iconStore iconStoreOn"></i>
					</p>
					<p class="supplyDemandSales">
						<span>￥9300/T起</span><br>2016-05-14
					</p>
					<table class="supplyDemandTb" cellpadding="0" cellspacing="0">
						<tr>
							<th width="30%">供应商</th>
							<th width="25%">价格(元/吨)</th>
							<th width="15%">数量</th>
							<th width="15%">交货地</th>
							<th width="15%">操作</th>
						</tr>
						<tr>
							<td>上海比森国际贸易有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>广东</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
						<tr>
							<td>上海牧泓实业有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>上海</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
					</table>
				</li>
				<li>
					<h3 class="supplyDemandName">
						HDPE/7000F<br>伊朗国家石化
					</h3>
					<p class="supplyDemandStore">
						<i class="icon iconUp"></i>
						<i class="icon iconStore iconStoreOn"></i>
					</p>
					<p class="supplyDemandSales">
						<span>￥9300/T起</span><br>2016-05-14
					</p>
					<table class="supplyDemandTb" cellpadding="0" cellspacing="0">
						<tr>
							<th width="30%">供应商</th>
							<th width="25%">价格(元/吨)</th>
							<th width="15%">数量</th>
							<th width="15%">交货地</th>
							<th width="15%">操作</th>
						</tr>
						<tr>
							<td>上海比森国际贸易有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>广东</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
						<tr>
							<td>上海牧泓实业有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>上海</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
					</table>
				</li>
				<li>
					<h3 class="supplyDemandName">
						HDPE/7000F<br>伊朗国家石化
					</h3>
					<p class="supplyDemandStore">
						<i class="icon iconUp"></i>
						<i class="icon iconStore iconStoreOn"></i>
					</p>
					<p class="supplyDemandSales">
						<span>￥9300/T起</span><br>2016-05-14
					</p>
					<table class="supplyDemandTb" cellpadding="0" cellspacing="0">
						<tr>
							<th width="30%">供应商</th>
							<th width="25%">价格(元/吨)</th>
							<th width="15%">数量</th>
							<th width="15%">交货地</th>
							<th width="15%">操作</th>
						</tr>
						<tr>
							<td>上海比森国际贸易有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>广东</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
						<tr>
							<td>上海牧泓实业有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>上海</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
					</table>
				</li>
				<li>
					<h3 class="supplyDemandName">
						HDPE/7000F<br>伊朗国家石化
					</h3>
					<p class="supplyDemandStore">
						<i class="icon iconUp"></i>
						<i class="icon iconStore iconStoreOn"></i>
					</p>
					<p class="supplyDemandSales">
						<span>￥9300/T起</span><br>2016-05-14
					</p>
					<table class="supplyDemandTb" cellpadding="0" cellspacing="0">
						<tr>
							<th width="30%">供应商</th>
							<th width="25%">价格(元/吨)</th>
							<th width="15%">数量</th>
							<th width="15%">交货地</th>
							<th width="15%">操作</th>
						</tr>
						<tr>
							<td>上海比森国际贸易有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>广东</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
						<tr>
							<td>上海牧泓实业有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>上海</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
					</table>
				</li>
				<li>
					<h3 class="supplyDemandName">
						HDPE/7000F<br>伊朗国家石化
					</h3>
					<p class="supplyDemandStore">
						<i class="icon iconUp"></i>
						<i class="icon iconStore iconStoreOn"></i>
					</p>
					<p class="supplyDemandSales">
						<span>￥9300/T起</span><br>2016-05-14
					</p>
					<table class="supplyDemandTb" cellpadding="0" cellspacing="0">
						<tr>
							<th width="30%">供应商</th>
							<th width="25%">价格(元/吨)</th>
							<th width="15%">数量</th>
							<th width="15%">交货地</th>
							<th width="15%">操作</th>
						</tr>
						<tr>
							<td>上海比森国际贸易有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>广东</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
						<tr>
							<td>上海牧泓实业有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>上海</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
					</table>
				</li>
				<li>
					<h3 class="supplyDemandName">
						HDPE/7000F<br>伊朗国家石化
					</h3>
					<p class="supplyDemandStore">
						<i class="icon iconUp"></i>
						<i class="icon iconStore iconStoreOn"></i>
					</p>
					<p class="supplyDemandSales">
						<span>￥9300/T起</span><br>2016-05-14
					</p>
					<table class="supplyDemandTb" cellpadding="0" cellspacing="0">
						<tr>
							<th width="30%">供应商</th>
							<th width="25%">价格(元/吨)</th>
							<th width="15%">数量</th>
							<th width="15%">交货地</th>
							<th width="15%">操作</th>
						</tr>
						<tr>
							<td>上海比森国际贸易有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>广东</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
						<tr>
							<td>上海牧泓实业有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>上海</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
					</table>
				</li>
				<li>
					<h3 class="supplyDemandName">
						HDPE/7000F<br>伊朗国家石化
					</h3>
					<p class="supplyDemandStore">
						<i class="icon iconUp"></i>
						<i class="icon iconStore iconStoreOn"></i>
					</p>
					<p class="supplyDemandSales">
						<span>￥9300/T起</span><br>2016-05-14
					</p>
					<table class="supplyDemandTb" cellpadding="0" cellspacing="0">
						<tr>
							<th width="30%">供应商</th>
							<th width="25%">价格(元/吨)</th>
							<th width="15%">数量</th>
							<th width="15%">交货地</th>
							<th width="15%">操作</th>
						</tr>
						<tr>
							<td>上海比森国际贸易有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>广东</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
					</table>
				</li>
				<li>
					<h3 class="supplyDemandName">
						HDPE/7000F<br>伊朗国家石化
					</h3>
					<p class="supplyDemandStore">
						<i class="icon iconUp"></i>
						<i class="icon iconStore iconStoreOn"></i>
					</p>
					<p class="supplyDemandSales">
						<span>￥9300/T起</span><br>2016-05-14
					</p>
					<table class="supplyDemandTb" cellpadding="0" cellspacing="0">
						<tr>
							<th width="30%">供应商</th>
							<th width="25%">价格(元/吨)</th>
							<th width="15%">数量</th>
							<th width="15%">交货地</th>
							<th width="15%">操作</th>
						</tr>
						<tr>
							<td>上海牧泓实业有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>上海</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
					</table>
				</li>
				<li>
					<h3 class="supplyDemandName">
						HDPE/7000F<br>伊朗国家石化
					</h3>
					<p class="supplyDemandStore">
						<i class="icon iconUp"></i>
						<i class="icon iconStore iconStoreOn"></i>
					</p>
					<p class="supplyDemandSales">
						<span>￥9300/T起</span><br>2016-05-14
					</p>
					<table class="supplyDemandTb" cellpadding="0" cellspacing="0">
						<tr>
							<th width="30%">供应商</th>
							<th width="25%">价格(元/吨)</th>
							<th width="15%">数量</th>
							<th width="15%">交货地</th>
							<th width="15%">操作</th>
						</tr>
						<tr>
							<td>上海牧泓实业有限公司</td>
							<td>￥9300</td>
							<td>50T</td>
							<td>上海</td>
							<td><a class="blue" href="#">查看</a> <a class="red" href="#">委托</a></td>
						</tr>
					</table>
				</li>
			</ul>
			<a class="supplyDemandBtn" href="#">发布报价</a>
		</div>
		<footer id="footer">
			<ul>
				<li><a href="#"><i class="foot"></i><br>大客户专区</a></li>
				<li><a href="#"><i class="foot2"></i><br>物性表</a></li>
				<li><a class="footerOn" href="#"><i class="foot3"></i><br>首页</a></li>
				<li><a href="#"><i class="foot4"></i><br>资讯</a></li>
				<li><a href="#"><i class="foot5"></i><br>我</a></li>
			</ul>
		</footer>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>

	</body>

</html>