<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>

	<body>
		<header id="bigCustomerHeader">
			<a class="back" href="javascript:window.history.back();"></a>物性表详情
		</header>
		<h3 id="name" class="wxbDetailTitle"></h3>
		<div class="wxbDetailWrap">
			<h3 class="wxbHead">规格用途</h3>
			<table class="wxbTb" cellpadding="0" cellspacing="0">
				<tr>
					<td width="30%">规格级别</td>
					<td id="standard"></td>
				</tr>
				<tr>
					<td>外观颜色</td>
					<td id="color"></td>
				</tr>
				<tr>
					<td>改料用途</td>
					<td id="purpose"></td>
				</tr>
				<tr>
					<td>备注说明</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="wxbDetailWrap">
			<h3 class="wxbHead">技术参数</h3>
			<h3 class="wxbHead2" style=" border-top: 1px solid #D9D9D9;">基本性能</h3>
			<table class="wxbTb" cellpadding="0" cellspacing="0">
				<tr>
					<td width="25%">性能项目</td>
					<td width="25%">试验条件[状态]</td>
					<td width="25%">测试方法</td>
					<td width="25%">测试数据</td>
				</tr>
				<tr>
					<td width="25%">密度</td>
					<td width="25%"></td>
					<td width="25%">ISO 1183</td>
					<td width="25%">0.952(g/cm3)</td>
				</tr>
				<tr>
					<td width="25%">熔体流动速率</td>
					<td width="25%">190oC/2.16kg</td>
					<td width="25%">ASTM D-1238</td>
					<td width="25%">0.04(g/10min)</td>
				</tr>
			</table>
			<h3 class="wxbHead2">机械性能<i class="icon iconDown" style="float: right; margin: 4px 0 0 0;"></i></h3>
			<table class="wxbTb" cellpadding="0" cellspacing="0">
				<tr>
					<td width="25%">性能项目</td>
					<td width="25%">试验条件[状态]</td>
					<td width="25%">测试方法</td>
					<td width="25%">测试数据</td>
				</tr>
				<tr>
					<td width="25%">断裂拉伸强度</td>
					<td width="25%"></td>
					<td width="25%">ASTM D-638</td>
					<td width="25%">390(kg/cm2)</td>
				</tr>
				<tr>
					<td width="25%">屈服点应力</td>
					<td width="25%"></td>
					<td width="25%">ASTM D-638</td>
					<td width="25%">250(kg/cm2)</td>
				</tr>
				<tr>
					<td width="25%">断裂伸长率</td>
					<td width="25%"></td>
					<td width="25%">ASTM D-638</td>
					<td width="25%">500%</td>
				</tr>
				<tr>
					<td width="25%">应力开裂电阻</td>
					<td width="25%"></td>
					<td width="25%">ASTM D-638</td>
					<td width="25%">600Hr</td>
				</tr>
				<tr>
					<td width="25%">IZOD冲击</td>
					<td width="25%"></td>
					<td width="25%">ASTM D-256</td>
					<td width="25%">300(kg.cm/cm)</td>
				</tr>
			</table>
			<h3 class="wxbHead2">热性能<i class="icon iconDown" style="float: right; margin: 4px 0 0 0;"></i></h3>
			<table class="wxbTb" cellpadding="0" cellspacing="0">
				<tr>
					<td width="25%">性能项目</td>
					<td width="25%">试验条件[状态]</td>
					<td width="25%">测试方法</td>
					<td width="25%">测试数据</td>
				</tr>
				<tr>
					<td width="25%">熔点</td>
					<td width="25%"></td>
					<td width="25%">ASTM D-2117</td>
					<td width="25%">1310C</td>
				</tr>
			</table>
		</div>
		<div class="wxbLink">
			<a id="checkOffer" href="javascript:;">查看报价</a>
			<a id="releasePurchase" href="javascript:;">发布采购</a>
		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			$(function () {
				var lid=getUrlParam("lid");
				commonAjax(
						"post",
						"/myapp/mainPage/getPhysicalDetail",
						{lid:lid}
				).then(function (res) {
					console.log(res);
					$("#name").text(res.phyDetail.name);
					$("#color").text(res.phyDetail.color);
					$("#standard").text(res.phyDetail.standard);
					$("#purpose").text(res.phyDetail.purpose);
					$("#checkOffer").on("click",function () {
						window.location.href="/myapp/mainPage/enSearchRes?keywords="+ res.phyDetail.type +"";
					});
					$("#releasePurchase").on("click",function () {
						window.location.href="/myapp/mainPage/enDelegateForm?id="+ res.phyDetail.lid +"";
					});

				},function () {

				});
			})
		</script>

	</body>

</html>