<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/app.css" />
	</head>

	<body>
		<header id="bigCustomerHeader">
			<a class="back" href="#"></a>物性表
		</header>
		<ul class="wxbUl">
			<li>
				<a href="#">
					<p class="wxbTitle">ABS/PC|TN-7000F <span>帝人化成(美国)</span></p>
					<p class="wxbTitle2"><span>规格级别</span>高刚性，抗紫外线，其他，其他</p>
					<p class="wxbTitle2"><span>改料用途</span>电脑组件，型号，营业设备</p>
				</a>
			</li>
			<li>
				<a href="#">
					<p class="wxbTitle">ABS/PC|TN-7000F <span>帝人化成(美国)</span></p>
					<p class="wxbTitle2"><span>规格级别</span>高刚性，抗紫外线，其他，其他</p>
					<p class="wxbTitle2"><span>改料用途</span>电脑组件，型号，营业设备</p>
				</a>
			</li>

			<li>
				<a href="#">
					<p class="wxbTitle">ABS/PC|TN-7000F <span>帝人化成(美国)</span></p>
					<p class="wxbTitle2"><span>规格级别</span>高刚性，抗紫外线，其他，其他</p>
					<p class="wxbTitle2"><span>改料用途</span>电脑组件，型号，营业设备</p>
				</a>
			</li>

		</ul>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		</script>

	</body>

</html>