<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no" />
<title>塑料圈通讯录-塑料头条</title>
<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
<link rel="stylesheet" href="__MYAPP__/css/mui.min.css" />
<link rel="stylesheet" href="__MYAPP__/css/news.css" />
<style>
	a:hover{
		text-decoration: none;
	}
</style>
</head>
<body>
<div id="app">
	<div class="toutiaoHeader">塑料圈通讯录-&nbsp;<span class="toutiaoSlogan"></span></div>
	<ul class="toutiaoUl" v-show="newsShow">
		<li v-for="n in newsLi">
			<a v-bind:href="'http://q.myplas.com/#/headlinedetail/'+n.id">
			<div class="toutiaoImg">
				<img src="img/temp.jpg" v-bind:src="n.sm_img" />
			</div>
			<h3>{{n.title}}</h3>
			<p><span>热</span>&nbsp;&nbsp;&nbsp;{{n.author}}&nbsp;&nbsp;&nbsp;{{n.pv}}阅读&nbsp;&nbsp;&nbsp;{{n.input_time}}</p>
			</a>
		</li>
	</ul>
	<div class="loadingPage" v-show="loading">
	<div class="loadingWrap">
		<div class="slqLoading"></div>
		<div class="slqLoadingTxt">数据加载中,请稍候...</div>
	</div>
</div>
</div>
<script type="text/javascript" src="__MYAPP__/js/aes_2.js"></script>
<script type="text/javascript" src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="__MYAPP__/js/vue.min.js"></script>
<script>
	var vm = new Vue({
		el: '#app',
		data: {
			newsLi:[],
			newsShow:false,
			loading:true
		},
		mounted: function(){
			var _this=this;
			var pwd="ABCDEFGHIGKLMNOP";
			function Encrypt(word){
            	return CryptoJS.AES.encrypt(word,pwd).toString();
        	}
			
			var mm = Encrypt('[id:1]');
        	console.log(mm)
			
			$.ajax({
				type:"get",
				url:"/api/score/test",
				data: {
					data:mm
				},
				dataType: 'JSON'
			}).done(function(res){
				console.log(res);
			}).fail(function(){
				
			}).always(function(){
				
			});
			
			$.ajax({
				type:"get",
				url:"/api/qapi1_1/getQQNews",
				data: {
					size:9
				},
				dataType: 'JSON'
			}).done(function(res){
				if(res.err==0){
					_this.newsShow=true;
					_this.newsLi=res.data;
					_this.loading=false;
				}
			}).fail(function(){
				
			}).always(function(){
				
			});
		}
	})
</script>
</body>

</html>