{layout file="public:news_warp"}

<!--vip-banner begin-->
<div class="vip-banner w1220">
	<img src="__NEWS__/img/banner2.jpg" width="1220" height="260"/>
</div>
<!--vip-banner end-->
<!--vip-guide begin-->
<div class="vip-guide w1220">
	<!--guide-title begin-->
    <div class="guide-title">
		<h2>公司平台简介</h2>
        <span>Company platform introduction</span>
    </div>
    <!--guide-title end-->
    <!--guide-con begin-->
    <div class="guide-con guide-con-1">
    	<!--explain begin-->
        <div class="explain">
        	<p>欢迎登陆我的塑料网，我的塑料网包含及时有效的塑料信息、
简单准确的行情预判、尊贵的VIP服务等经典栏目。</p>
            <p>我的塑料网是国内首家上市B2B塑料电子商务平台，全面涵盖
            塑料原料市场（原油、上游、塑料等价格）主要服务范围包括
            信息咨询、VIP服务、深入分析、行情点评、周报月报等精典
            栏目。快速准确的价格报道，经验丰富的专家点评，是您经营
            参的理想选择。</p>
        </div>
        <!--explain end-->
    </div>
    <!--guide-con end-->
</div>
<!--vip-guide end-->
<!--vip-guide begin-->
<div class="vip-guide w1220">
	<!--guide-title begin-->
    <div class="guide-title">
		<h2>公司布局</h2>
        <span>Company layout</span>
    </div>
    <!--guide-title end-->
    <!--guide-con begin-->
    <div class="guide-con guide-con-2">
    	<!--explain begin-->
        <div class="explain">
        	<p>“我的塑料网”目光长远，剑指全国。公司总部位于国际金融中心上海，现在已经设立山东临沂、淄博分
公司，浙江余姚、嘉善分公司，江苏余姚分公司、辽宁盘锦分公司，广东广州分公司。</p>
		</div>
    </div>
    <!--guide-con end-->
</div>
<!--vip-guide end-->

<!--headline-footer begin-->
<!--vip-guide begin-->
<div class="vip-guide w1220">
	<!--guide-title begin-->
    <div class="guide-title">
		<h2>会员特权专享</h2>
        <span>Membership promotion rules</span>
    </div>
    <!--guide-title end-->
    <!--guide-con begin-->
    <div class="guide-con guide-con-3">
    	<ul>
        	<li>
            	<img src="__NEWS__/img/VipTq1.jpg" width="97" height="97"/>
                <span>内参服务</span>
            </li>
            <li>
            	<img src="__NEWS__/img/VipTq2.jpg" width="97" height="97"/>
            	<span>实际成交报道</span>
            </li>
            <li>
            	<img src="__NEWS__/img/VipTq3.jpg" width="97" height="97"/>
            	<span>私人订制</span>
            </li>
            <li class="last">
            	<img src="__NEWS__/img/VipTq4.jpg" width="97" height="97"/>
            	<span>会议服务</span>
            </li>
        </ul>
        <!--explain begin-->
        <div class="explain">
        	<p>我的塑料网旨在通过VIP频道的内参服务、实际成交报道、私人订制、会议服务等，为塑料行业及相关企业提供一个便捷的电子商务通道和交流平台，达到资源共享、互利双赢，共同做好我们的塑料事业。</p>
        </div>
        <!--explain end-->
    </div>
    <!--guide-con end-->
</div>
<!--vip-guide end-->
<!--vip-guide begin-->
<div class="vip-guide w1220">
	<!--guide-title begin-->
    <div class="guide-title">
		<h2>联系我们成为会员</h2>
        <span>Contact us to become Member</span>
    </div>
    <!--guide-title end-->
    <!--guide-con begin-->
    <div class="guide-con guide-con-4">
    	<div class="chat"><img src="__NEWS__/img/VipGuide3.jpg" width="803" height="135"/></div>
        <div class="arrow"><img src="__NEWS__/img/VipGuide4.jpg" width="32" height="24"/></div>
        <!--contact begin-->
        <div class="contact">
        	<h3>“我的塑料网”淄博分公司</h3>
            <ul>
            	<li>地址：山东省淄博市临淄区商会大厦1202</li>
                <li>传真：0533-7859001</li>
                <li>热线电话：0533-7859001 18765338253</li>
                <li>邮箱：ivy1314xu@163.com</li>
                <li>QQ：345934697</li>
                <li>邮编：255400</li>
            </ul>
        </div>
        <!--contact end-->
    </div>
    <!--guide-con end-->
</div>
<!--vip-guide end-->

