{layout file="public:mini_layout"}
<style type="text/css">
    .hidden {display:none;}
</style>
<div style="padding:5px;">
    <div id="infoForm" class="form">
        <div class="mini-tabs" activeIndex="0" plain="false">
            <div title="基本信息">
                <input class="mini-hidden" name="ctype" value="{$ctype}"/>
                <input class="mini-hidden" name="user_id" value="{$user.user_id}"/>
                <input class="mini-hidden" name="is_pur" value="{$is_pur}"/>
                <input class="mini-hidden" id="merge_three" name ="merge_three" value="1">
                <table width="100%">
                    <caption><strong>基本信息</strong></caption>
                    <tr>
                        <td style="width:100px;"> 供应商客户名称：<font style="color:red;">*</font></td>
                        <td style="width:200px;">
                            <input id="supplier_name" name="supplier_name" class="mini-textbox"  maxlength="50"  style="width:200px;" required="true" value=" "/>
                        </td>
                        <td style="width:50px;"><button onClick="checkUnique()">查重</button></td>
                        <td><span id="chkMsg" style="padding-left:5px; color:#F00;"></span></td>
                    </tr>
                    <tr>
                        <td>法人姓名：</td>
                        <td><input name="legal_person" class="mini-textbox" style="width:70px;" maxlength="6" value=""/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>法人身份证：</td>
                        <td><input name="legal_person_code" class="mini-textbox" style="width:250px;" value=""/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>身份证照片（正面）：</td>
                        <td colspan="3">
                            <input id="img_url5"  name="legal_person_pic_1" class="mini-textbox" value="" style="width:200px"/>
                            <input id="upfileId5" type="file" name="upFile" onChange="fileUpload(5);">
                        </td>
                    </tr>
                    <tr>
                        <td>身份证照片（反面）：</td>
                        <td colspan="3">
                            <input id="img_url6"  name="legal_person_pic_2" class="mini-textbox" value="" style="width:200px"/>
                            <input id="upfileId6" type="file" name="upFile" onChange="fileUpload(6);">
                        </td>
                    </tr>
                    <tr>
                        <td>公司固话：</td>
                        <td><input name="company_tel" class="mini-textbox" style="width:250px;"  value=" "/></td>
                        <!--<td><input name="company_tel" class="mini-textbox" style="width:250px;"  value="{$user.company_tel}"/></td>-->
                        <td>开票电话</td>
                        <td><input name="invoice_tel" class="mini-textbox" style="width:250px;"  value=""/></td>
                    </tr>
                    <tr>
                        <td>开票银行：</td>
                        <td><input name="invoice_bank" class="mini-textbox" style="width:250px;"  value=""/></td>
                        <td>开票账号</td>
                        <td><input name="invoice_account" class="mini-textbox" style="width:250px;"  value=""/></td>
                    </tr>
                    <tr>
                        <td>所在省市</td>
                        <td><input name="province" id="c_1_0" style="width:80px;"  class="mini-combobox" textField="name" valueField="id" onvaluechanged="setReg('c')" data='{:setMiniConfig|$regionList}' value="{$user.infoExt.company_province}" showNullItem="true"/>
                            <input name="company_city" id="c_2_0" class="mini-combobox" url="{if $user.infoExt.company_province}/user/user/getRegion?pid={$user.infoExt.company_province}{/if}" value="{$user.infoExt.company_city}" style="width:80px;" textField="name" valueField="id" />
                        </td>
                        <td>邮编</td>
                        <td><input name="zip_code" class="mini-textbox" style="width:250px;"  value=""/></td>
                    </tr>
                    <tr>
                        <td>成立日期：</td>
                        <td><input  class="mini-datepicker"  name="fund_date" value=""/>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>注册资本：</td>
                        <td>
                            <input name="register_capital" class="mini-textbox" style="width:100px;"  value=""/>
                            万
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>公司地址：<font style="color:red;">*</font></td>
                        <td><input name="address" class="mini-textbox" style="width:250px;" required="true" value="{$user.address}"/></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <table>
                    <caption><strong>扩展信息</strong></caption>
                    <tr>
                        <td>供应商类型：<font style="color:red;">*</font></td>
                        <td><input name="type" class="mini-combobox" style="width:150px;" value="" data='{:setMiniConfig|$type}' required="true" textfield="name" valuefield="id" value=""/></td>
                        <!--<td><input class="mini-combobox" name="type" style="width:100px;" data='{:setMiniConfig|$type}' required="true" textField="name" valueField="id" value="0"/></td>-->
                    </tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>是否三证合一：<font style="color:red;">*</font></td>
                        <td><input id="cards" name="cards" onvaluechanged="changeEvent()" class="mini-combobox" style="width:150px;" value="1" data='{:setMiniConfig|array(0=>'否',1=>'是')}' required="true" textfield="name" valuefield="id"/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="three hidden">
                        <td>营业执照号：</td>
                        <td><input class="mini-textbox" style="width:200px;" name="business_licence_code" id="a" value=""/>
                        </td>
                        <td>执照照片：</td>
                        <td>
                            <input id="img_url1"  name="business_licence_pic" class="mini-textbox" value="" style="width:70px"/>
                            <input id="upfileId1" type="file" name="upFile" onChange="fileUpload(1);">
                        </td>
                    </tr>
                    <tr class="three hidden">
                        <td>组织机构代码：</td>
                        <td><input class="mini-textbox" style="width:200px;" name="organization_code" id="b" value=""/>
                        </td>
                        <td>组织机构代码图片：</td>
                        <td>
                            <input id="img_url2"  name="organization_pic" class="mini-textbox" value="" style="width:70px"/>
                            <input id="upfileId2" type="file" name="upFile" onChange="fileUpload(2);">
                        </td>
                    </tr>
                    <tr class="three hidden">
                        <td>税务登记码：</td>
                        <td><input class="mini-textbox" style="width:200px;" name="tax_registration" id="c" value=""/>
                        </td>
                        <td>税务登记证图片：</td>
                        <td>
                            <input id="img_url3"  name="tax_registration_pic" class="mini-textbox" value="" style="width:70px"/>
                            <input id="upfileId3" type="file" name="upFile" onChange="fileUpload(3);">
                        </td>
                    </tr>
                    <tr id="one"  >
                        <td>统一社会信用代码：</td>
                        <td><input class="mini-textbox" style="width:200px;" name="social_credit_code" id="d" value=""/>
                        </td>
                        <td>三证合一图片：</td>
                        <td>
                            <input id="img_url4"  name="social_credit_code_pic" class="mini-textbox" value="" style="width:70px"/>
                            <input id="upfileId4" type="file" name="upFile" onChange="fileUpload(4);">
                        </td>
                    </tr>
                    <tr>
                        <td>信用等级：<font style="color:red;">*</font></td>
                        <td><input class="mini-combobox" name="credit_level" data='{:setMiniConfig|$credit_level}' required="true" textfield="name" valuefield="id" value=""/>
                        </td>
                        <!--<td>附件地址：</td>-->
                        <!--<td>-->
                            <!--<input id="img_url0"  name="file_url" class="mini-textbox" value="{$user.file_url}" style="width:70px"/>-->
                            <!--<input id="upfileId0" type="file" name="upFile" onChange="fileUpload(0);">-->
                        <!--</td>-->
                    </tr>
                    <tr>
                        <td>状态：</td>
                        <td><input class="mini-combobox" name="status" style="width:100px;" data='{:setMiniConfig|$status}' textfield="name" valuefield="id" value=""/></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div title="联系人基本信息">
                <div style="height:385px">
                    <table border="0" cellpadding="1" cellspacing="2">
                        <tr>
                            <td >姓名：<font style="color:red;">*</font></td>
                            <td><input name="contact_name" class="mini-textbox" style="width:150px;" required="true" vtype="rangeLength:2,30"/></td>
                            <td>性别：<font style="color:red;">*</font></td>
                            <td><input class="mini-combobox" name="sex" style="width:100px;" data='{:setMiniConfig|$sex}' required="true" textField="name" valueField="id" value="0"/></td>
                        </tr>
                        <tr>
                            <td style="width:80px;">联系人手机：<font style="color:red;">*</font></td>
                            <td style="width:210px;"><input name="mobile_tel" class="mini-textbox" maxlength="11" value="" style="width:150px;"/></td>
                            <td>联系人固定电话：<font style="color:red;">*</font></td>
                            <td><input name="contact_tel" class="mini-textbox" style="width:150px;"  vtype="rangeLength:6,14"/></td>
                        </tr>
                        <tr>
                            <td style="width:80px;">QQ号：</td>
                            <td style="width:210px;"><input name="qq" class="mini-textbox" maxlength="30" value="" style="width:150px;"/></td>
                            <td>传真：</td>
                            <td><input name="comm_fax" class="mini-textbox" style="width:150px;"  vtype="rangeLength:6,14"/></td>
                        </tr>
                        <tr>
                            <td>邮件：</td>
                            <td><input name="comm_email" class="mini-textbox" style="width:150px;"  vtype="email"/></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>备注：</td>
                            <td colspan="3">
                                <input name="remark" class="mini-textarea" style="width:403px; height:50px;"/>
                            </td>
                        </tr>
                        <tr>
                            <td>状1态：</td>
                            <td><input class="mini-combobox" name="status_1" style="width:100px;" data='{:setMiniConfig|$status_1}' required="true" textField="name" valueField="id" value=""/></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div><input name="utype" class="mini-textbox" style="display:none" value="3" vtype="utype"/>
        <div align="center" style="margin-top:10px;">
            <a class="mini-button" iconcls="icon-ok" onclick="submitForm">确定</a>
            <a class="mini-button" iconcls="icon-cancel" onclick="onCancel">关闭</a><span id="returnMsg" style="padding-left:5px; color:#F00;"></span>
        </div>
    </div>
</div>
<script src="__JS__/jquery/jquery.upload.js" type="text/javascript"></script>
<script charset="utf-8" src="__JS__/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__JS__/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
    mini.parse();
    var form = new mini.Form("#infoForm");
    function changeEvent(){
        var val = mini.get('cards').getValue();  //  1:是三证合一   0：非三证合一
        if(val == 1){
            $("#one").removeClass('hidden');
            $(".three").addClass('hidden');
            mini.get('merge_three').setValue('1');
            mini.get('a').setValue('');
            mini.get('b').setValue('');
            mini.get('c').setValue('');
            mini.get('img_url1').setValue('');       // 营业执照
            mini.get('img_url2').setValue('');       // 组织机构代码图片
            mini.get('img_url3').setValue('');       // 税务登记证图片

        }else{
            $(".three").removeClass('hidden');
            $("#one").addClass('hidden');
            mini.get('merge_three').setValue('0');
            mini.get('d').setValue('');
            mini.get('img_url4').setValue('');       // 三证合一照片
            mini.get('img_url4').setValue('');
        }

    }

    function submitForm(){
        form.validate();
        if(form.isValid() == false) return;

        //提交数据
        var o = form.getData();
        var supplier_info = mini.encode(o);
        $("#returnMsg").text('');
        form.loading("数据提交中，请稍后......");
        {if $user.user_id eq ''}                       // user_id 应为 供应商id
        var urlstr = '/operator/supplier/addSubmit';     // 没有供应商 新增走add
        {else}
        var urlstr = '/operator/supplier/editSubmit';      // 供应商id 不为空（）
        {/if}
        $.post(urlstr,{data:supplier_info},function(data){
            form.unmask();
            $("#returnMsg").text(data.msg);
            if(data.err=='0'){
                CloseWindow("save");
            }else{
                return false;
            }
        },'json');
    }
    //上传照片接口
    function fileUpload(id) {
        $.ajaxFileUpload({
                url:'/system/sysUpload/images?model={$action}',
                secureuri:false,
                fileElementId:'upfileId'+id,
                dataType: 'json',
                success: function (data, status) {
                    if(data.err=='0'){
                        mini.get("img_url"+id).setValue(data.msg);
                    }
                },
                error: function (data, status, e){
                    $("#picResult").html(e);
                }
            }
        )
        return false;
    }

    function CloseWindow(action) {
        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }
    function onCancel(e) {
        CloseWindow("cancel");
    }

    function onValidMobile(e){
        if (e.isValid) {
            if(!utils.isMobile(e.value)){
                e.errorText = "错误的手机号";
                e.isValid = false;
            }
        }
    }
    function onValidZip(e){
        if (e.isValid) {
            if(!utils.isZip(e.value)){
                e.errorText = "错误的邮编";
                e.isValid = false;
            }
        }
    }
    //验证身份证
    function onIDCardsValidation(e) {
        if (e.isValid) {
            var pattern = /\d*/;
            if (e.value.length < 15 || e.value.length > 18 || pattern.test(e.value) == false) {
                e.errorText = "必须输入18位数字";
                e.isValid = false;
            }
        }
    }
    function setReg(name,val){
        var deptCombo = mini.get(name+"_1_0");
        var positionCombo = mini.get(name+"_2_0");
        onDeptChanged(deptCombo,positionCombo,val);
    }

    // 获取地区数据
    function onDeptChanged(deptCombo,positionCombo,val) {
        var id = deptCombo.getValue();
        positionCombo.setValue("");
        var url = "/user/user/getRegion?pid=" + id
        positionCombo.setUrl(url);
    }



   //物流供应商去重
    function checkUnique(){
        var supplier_name = mini.get('supplier_name').getValue().trim();
        var urlstr = '/operator/supplier/supplierUnique';
//        var urlstr = '/user/customer/curUnique';
        $.post(urlstr,{data:supplier_name},function(data){
            console.log(data); return false;
            if(data.err=='0'){
                $("#chkMsg").text(data.msg);
            }else{
                alert(data.msg);
            }
        },'json');
    }
</script>
