{layout file="public:mini_layout"}
<div id="admInfo" title="" style="padding:50px;" showModal="true" allowResize="true" allowDrag="true">
  <div id="addForm" class="form" >
              <table style="width:100%;">
							<tr >
								<td colspan="3" align="center"><h1>运输合同书</h1></td>
							</tr>
							<tr height="20"><td>&nbsp;</td></tr>
							<tr>
								<td align="left"width="80" height="20">甲方：上海中晨电子商务股份有限公司</td>
								<td align="right"width="505" height="20">合同日期：{$info.contract_time}</td>
							</tr>
							<tr>
								<td align="left"width="80" height="20">乙方：{$info.supplier_name}</td>
								<td align="right"width="505" height="20">签约地点：上海虹口欧阳路568号17楼</td>
							</tr>
							<tr  align="center">
								<td height="20"></td>
							</tr>
							<tr align="left">
								<td colspan="5" height="20" width="100%">甲、乙双方经协商，根据《中华人民共和国合同法》相关规定，就以下产品的购销等有关事宜，签订本合同</td>
							</tr>
							<tr>
								<td width="100" height="20" style="line-height:20px;width:100">一、货物 : {$info.goods_name}</td>
							</tr>
							<tr>
								<td width="30"  height="20" style="line-height:20px;">二、提货地点：{$info.start_place}</td>
							</tr>
							<tr>
								<td width="505"  height="20" style="line-height:20px;">三、送货地点：{$info.end_place}</td>
							</tr>
							<tr>
								<td width="30" height="20" style="line-height:20px;">四、送货日期：{$info.delivery_time}</td>
							</tr>				
							<tr>
								<td width="800" height="20" style="line-height:20px;">五、合同责任：乙方必须于甲方的指定期限内，将货物送到甲方的指定地点。</td>
							</tr>				
							<tr>
								<td width="100" height="20" style="line-height:20px;">注意事项：</td>								
							</tr>						
							<tr>
								<td width="665" height="20" style="line-height:20px;"colspan="5" >乙方必须保证甲方的货物，安全、无破损、无潮湿、无变质等情况。
			    若出现以上情况，乙方必须负责赔偿甲方的损失。</td>
							</tr>						
							<tr>
								<td width="30" height="20" style="line-height:20px;">六、备注：合同传真件有效。</td>
							</tr>
							 <tr>
								<td width="30" height="20" style="line-height:20px;">七、车号：{$info.plate_number}</td>
							</tr>
			                 <tr>
								<td width="30" height="20" style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;司机姓名：{$info.driver_name}</td>
							 </tr>
			                 <tr>
								<td width="30" height="20" style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;身份证号码：{$info.driver_idcard}</td>
							</tr>							
							<tr>
								<td width="30" height="20" style="line-height:20px;">八、运输费用：{$info.delivery_fee}</td>
							</tr>
        			    <tr  align="left">
        								<td height="20"></td>
        							</tr>
        				<tr>
        				<td height="20" style="line-height:20px;" width="110">购货方（甲方）</td>
        				<td height="20" style="line-height:20px;"  width="110">供货方（乙方）</td>      
        			   </tr>
        			   <tr>
        				<td height="20" style="line-height:20px;" width="110">TEL：021-61673571</td>
        				<td height="20" style="line-height:20px;" width="110">TEL：{$info.second_part_contact_tel}</td>
        				<td align="left"></td>
        			   </tr>
        			   <tr>
        				<td height="20" style="line-height:20px;" width="110">FAX：021-61673516</td>
        				<td height="20" style="line-height:20px;" width="110">FAX：{$info.second_part_contact_fax}</td>
        				<td align="left"></td>
        			</tr> 
        			<tr>
        				<td height="20" style="line-height:20px;" width="110">委托代理人：杜丽燕</td>
        				<td height="20" style="line-height:20px;" width="110">委托代理人：{$info.second_part_contact_id}</td>
        				<td align="left"></td>
        			</tr>
        			<tr>
			<td style="text-align:center;padding-top:15px;padding-right:20px; margin-top:20px;" colspan="2">
				<a class="mini-button" iconCls="icon-ok" onclick="submitForm(logistics_contract_id={$logistics_contract_id},status=3)">审核通过</a>
				<a class="mini-button" iconCls="icon-ok" onclick="submitForm(logistics_contract_id={$logistics_contract_id},status=2)">审核不通过</a>
				<a class="mini-button" iconCls="icon-cancel" onclick="onCancel">取消</a>
				<span id="returnMsg" style="padding-left:5px; color:#F00;"></span>
			</td>
			</tr> 
        </table>   
	</div>
</div>
<script type="text/javascript">
mini.parse();//把html标签解析成miniui控件对象
var form = new mini.Form("#addForm");//加载表单数据
//审核状态修改
function submitForm(logistics_contract_id,status) {
	var o = logistics_contract_id,b=status;
	$.post('/operator/contract/change_status',{logistics_contract_id:o,status:b},function(data){
		form.unmask();
		$("#returnMsg").text(data.msg);
		if(data.err=='0'){
			CloseWindow("save");
		}else{
			return false;
		}
	},'json');
}
function CloseWindow(action) {            
	if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
	else window.close();            
}
function onCancel(e) {
	CloseWindow("cancel");
}
</script>