{layout file="public:mini_layout"}
<div class="mini-toolbar"  style="margin:3px 3px 0;">
	<table style="width:100%;">
		<tr>	
			<td style="white-space:nowrap;">
				<a class="mini-button" iconCls="icon-add" onclick="add()">新增</a>
				<span class="separator"></span>
				<a class="mini-button" iconCls="icon-save" onclick="saveTags()">保存更改</a>
				<span class="separator"></span>
			</td>
		</tr>
	</table>
</div>

<div class="mini-fit" style="padding:3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"url="/operator/market/init?action=grid"  idField="id"
	sizeList="[10,20,50,100]" pageSize="20" multiSelect="true"  onrowdblclick="onRowDblClick" showFilterRow="true" allowCellSelect="true" allowCellEdit="true">
		<div property="columns">
			<div type="checkcolumn"></div>
			<div field="cid" width="40" headerAlign="center" type="comboboxcolumn" autoShowPopup="true" align="center">原油类型
				<input property="editor" class="mini-combobox" style="width:100%;" textfield="name" valuefield="id"  data='{:setMiniConfig|$product_type}' /> 
			</div>
			<div field="price" width="90" headerAlign="center" align="center">价格
				<input property="editor" class="mini-textbox" style="width:100%;" minWidth="100" />
			</div>
			<div field="addtime" width="90" headerAlign="center" align="center" dateFormat="yyyy-MM-dd HH:mm">价格日期</div>
			<div field="update_time" width="90" headerAlign="center" align="center" dateFormat="yyyy-MM-dd HH:mm">更新时间</div>
			<div field="input_time" width="90" headerAlign="center" align="center" dateFormat="yyyy-MM-dd HH:mm">入库时间</div>
			<div name="action"  width="50" headerAlign="center" align="center" renderer="onLoadHandle">操作</div>
		</div>
	</div>
</div>

<div id="admInfo" class="mini-window" title="行情指数" style="width:260px;" 
 	showModal="true" allowResize="true" allowDrag="true"
 	>
 	<div id="addForm" class="form" >
 		<table style="width:100%;">
 			<input class="mini-hidden" name="id" value="">
 			<tr>
 				<td style="width:60px;">分类：</td>
 				<td>
 					<input name="cid" class="mini-combobox" style="width:150px;" value="" data='{:setMiniConfig|$product_type}' required="true" textfield="name" valuefield="id"/>
 				</td>
 			</tr>
 			<tr>
 				<td style="width:60px;">价格：</td>
 				<td><input name="price" required="true" class="mini-textbox" style="width:150px"/></td>
 			</tr>
 			<tr>
 				<td style="width:60px;">价格日期：</td>
 				<td><input name="input_time" required="true" class="mini-datepicker" value="{$smarty.now|date:Y-m-d H:i:s}" style="width:150px"/></td>
 			</tr>
 			<tr>
	 			<td style="text-align:right;padding-top:5px;padding-right:20px;" colspan="2">
	 				<a class="mini-button" iconCls="icon-save" plain="true" href="javascript:submitForm()">保存</a>
	 			</td>
 			</tr>
 		</table>
 	</div>
</div>
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
grid.load();

function onLoadHandle(e){
	var record = e.record,id=record.id;
	var s='<a href="javascript:del('+id+');">删除</a>';
	return s;
}

function del(id){
	if(!confirm('确定要删除吗？')) return;
	$.post('/operator/market/del',{id:id},function (data){
		if(data.err==0){
			grid.reload();
		}
	},'json');
}

//弹出增加form表单
var admInfo = mini.get("admInfo");
var form = new mini.Form("#addForm");
function add() {
  form.clear();
  admInfo.show();
}

//增加后提交数据(保存)
function submitForm() {
  form.validate();
  if (form.isValid() == false) return;
  
  var o = form.getData();
  grid.loading("数据提交中，请稍后......");
  var json = mini.encode(o);

  var callback=function(data){
	if(data.err!='0'){
	  grid.unmask();
	  alert(data.msg);
	  return false;
	}else{
	  grid.reload();
	  admInfo.hide(); 
	}
  }
  utils.ajax('/operator/market/ajaxSave',{data:json},callback,"POST","json");
}

//行内编辑后保存数据
function saveTags() {
	var data = grid.getChanges();
	var json = mini.encode(data);
	if(json.length<10) return false;
	grid.loading("保存中，请稍后......");
	var callback=function(data){

		if(data.err>0){
			alert(data.msg);
			return false;
		}else{
			grid.reload();
		}
	}
	utils.ajax('/operator/market/saveTags',{data:json},callback,"POST","json");
}

</script>