{layout file="public:mini_layout"}
<div style="padding:5px;">
    <div id="infoForm" class="form">
        <div class="mini-tabs" activeIndex="0" plain="false">
            <div title="基本信息">
                <input class="mini-hidden" name="ctype" value="{$ctype}"/>
                <input class="mini-hidden" name="c_id" value="{$user.c_id}"/>
                <input class="mini-hidden" name="info_user_id" value="{$info_ext.user_id}"/>
                <table width="100%">
                    <caption><strong>基本--2--信息</strong></caption>
                    <tr>
                        <td>供应商名称：</td>
                        <td>
                            <input name="c_name" class="mini-textbox" style="width:250px;" maxlength="50" required="true" value="{$user.c_name}"/>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>法人姓名：</td>
                        <td><input name="legal_person" class="mini-textbox" style="width:70px;" maxlength="6"  value="{$user.legal_person}"/></td>
                        <td>法人身份证：</td>
                        <td><input name="legal_idcard" class="mini-textbox" style="width:250px;"  value="{$user.legal_idcard}"/></td>
                    </tr>
                    <tr>
                        <td>身份证照片(正面)：</td>
                        <td colspan="3">
                            <input id="img_url5"  name="legal_idcard_pic" class="mini-textbox" value="{$user.legal_idcard_pic}" style="width:200px"/>
                            <input id="upfileId5" type="file" name="upFile" onChange="fileUpload(5);">
                        </td>
                        <td>身份证照片（反面）：</td>
                        <td colspan="3">
                            <input id="img_url6"  name="legal_idcard_pic" class="mini-textbox" value="{$user.legal_idcard_pic}" style="width:200px"/>
                            <input id="upfileId6" type="file" name="upFile" onChange="fileUpload(6);">
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <td>所在省市</td>
                        <td><input name="company_province" id="place_1_0" style="width:80px;" class="mini-combobox" textField="name" valueField="id" onvaluechanged="setReg('place')" data='{:setMiniConfig|$regionList}' value="{$user.company_province}" showNullItem="true"/>
                            <input name="company_city" id="place_2_0" url="{if $user.company_province neq ''}/user/user/getRegion?pid={$user.company_province}{/if}" value="{$user.company_city}" class="mini-combobox" style="width:80px;" textField="name" valueField="id" />            </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                         <td>邮政编码：</td>
                         <td>
                           <input name="zip" class="mini-textbox" value="{$user.zip}" style="width:100px;" maxlength="6"  vtype="zip"/>
                         </td>
                        <td>公司地址：</td>
                        <td><input name="address" class="mini-textbox" style="width:250px;" required="true" value="{$user.address}"/></td>
                       </tr>
                    <tr>
                        <td>成立日期：</td>
                        <td><input  class="mini-datepicker"  name="fund_date" value="{$user.fund_date}"/>
                        </td>
                        <td>注册资本：</td>
                        <td>
                            <input name="registered_capital" class="mini-textbox" style="width:100px;" required="true" onvalidation="onValidFullMoney" value="{$user.registered_capital|default:}"/>
                            元
                        </td>
                    </tr>
                </table>
                <table>
                    <caption><strong>扩展信息</strong></caption>
                    <tr>
                        <td>客户类型：</td>
                        <td><input name="type" class="mini-combobox" style="width:150px;" value="{$user.type}" data='{:setMiniConfig|$type}'  textfield="name" valuefield="id"/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <!--   <tr>
                        <td>客户级别：</td>
                        <td><input name="level" class="mini-combobox" style="width:150px;" value="{$user.level}" data='{:setMiniConfig|$level}'  textfield="name" valuefield="id"/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr> -->
                    <tr>
                        <td>营业执照号：</td>
                        <td><input class="mini-textbox" style="width:250px;" name="business_licence" value="{$user.business_licence}"/>
                        </td>
                        <td>执照照片：</td>
                        <td>
                            <input id="img_url1"  name="business_licence_pic" class="mini-textbox" value="{$user.business_licence_pic}" style="width:70px"/>
                            <input id="upfileId1" type="file" name="upFile" onChange="fileUpload(1);">
                        </td>
                    </tr>
                    <tr>
                        <td>组织代码：</td>
                        <td><input class="mini-textbox" style="width:250px;" name="organization_code" value="{$user.organization_code}"/>
                        </td>
                        <td>组织图片：</td>
                        <td>
                            <input id="img_url2"  name="organization_pic" class="mini-textbox" value="{$user.organization_pic}" style="width:70px"/>
                            <input id="upfileId2" type="file" name="upFile" onChange="fileUpload(2);">
                        </td>
                    </tr>
                    <tr>
                        <td>税务登记码：</td>
                        <td><input class="mini-textbox" style="width:250px;" name="tax_registration" value="{$user.tax_registration}"/>
                        </td>
                        <td>税务图片：</td>
                        <td>
                            <input id="img_url3"  name="tax_registration_pic" class="mini-textbox" value="{$user.tax_registration_pic}" style="width:70px"/>
                            <input id="upfileId3" type="file" name="upFile" onChange="fileUpload(3);">
                        </td>
                    </tr>
                    <tr>
                        <td>信用等级：</td>
                        <td><input class="mini-combobox" name="credit_level" data='{:setMiniConfig|$credit_level}' textfield="name" valuefield="id" value="{$user.credit_level}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>状态：</td>
                        <td><input class="mini-combobox" name="status" style="width:100px;" data='{:setMiniConfig|$status}' textfield="name" valuefield="id" value="{$user.status|default:1}"/></td>
                    </tr>
                </table>
            </div>
        </div><input name="utype" class="mini-textbox" style="display:none" value="3" vtype="utype"/>
        <div align="center" style="margin-top:10px;">
            <a class="mini-button" iconcls="icon-ok" onclick="submitForm">确定</a>
            <a class="mini-button" iconcls="icon-cancel" onclick="onCancel">关闭</a><span id="returnMsg" style="padding-left:5px; color:#F00;"></span>
        </div>
    </div>
</div>
<script src="__JS__/jquery/jquery.upload.js" type="text/javascript"></script>
<script charset="utf-8" src="__JS__/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__JS__/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
    mini.parse();
    var form = new mini.Form("#infoForm");

    function submitForm(){
        form.validate();
        if(form.isValid() == false) return;

        //提交数据
        var o = form.getData();
        var json = mini.encode(o);
        $("#returnMsg").text('');
        form.loading("数据提交中，请稍后......");
        {if $user.user_id eq ''}
        var urlstr = '/user/customer/addSubmit';
        {else}
        var urlstr = '/user/customer/editSubmit';
        {/if}
        $.post(urlstr,{data:json},function(data){
            form.unmask();
            $("#returnMsg").text(data.msg);
            if(data.err=='0'){
                CloseWindow("save");
            }else{
                return false;
            }
        },'json');
    }

    function CloseWindow(action) {
        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }
    function onCancel(e) {
        CloseWindow("cancel");
    }

    function onValidMobile(e){
        if (e.isValid) {
            if(!utils.isMobile(e.value)){
                e.errorText = "错误的手机号";
                e.isValid = false;
            }
        }
    }
    function onValidZip(e){
        if (e.isValid) {
            if(!utils.isZip(e.value)){
                e.errorText = "错误的邮编";
                e.isValid = false;
            }
        }
    }
    //验证身份证
    function onIDCardsValidation(e) {
        if (e.isValid) {
            var pattern = /\d*/;
            if (e.value.length < 15 || e.value.length > 18 || pattern.test(e.value) == false) {
                e.errorText = "必须输入15~18位数字";
                e.isValid = false;
            }
        }
    }
    function setReg(name,val){
        var deptCombo = mini.get(name+"_1_0");
        var positionCombo = mini.get(name+"_2_0");
        onDeptChanged(deptCombo,positionCombo,val);
    }
    function onDeptChanged(deptCombo,positionCombo,val) {
        var id = deptCombo.getValue();

        positionCombo.setValue("");
        var url = "/user/user/getRegion?pid=" + id
        positionCombo.setUrl(url);
    }
    function fileUpload(id) {
        $.ajaxFileUpload({
                url:'/system/sysUpload/images?model={$action}',
                secureuri:false,
                fileElementId:'upfileId'+id,
                dataType: 'json',
                success: function (data, status) {
                    if(data.err=='0'){
                        mini.get("img_url"+id).setValue(data.msg);
                    }
                },
                error: function (data, status, e){
                    $("#picResult").html(e);
                }
            }
        )
        return false;
    }
</script>
