{layout file="public:mini_layout"}
<div style="padding:5px;">
    <div id="infoForm" class="form">
        <div class="mini-tabs" activeIndex="0" plain="false">
            <div title="基本信息">
                <input class="mini-hidden" name="supplier_id" value="{$user.supplier_id}"/>
                <table width="100%">
                    <caption><strong>基本--12-2--信息</strong></caption>
                    <tr>
                        <td>供应商名称：</td>
                        <td>
                            <input name="supplier_name" class="mini-textbox" style="width:250px;" maxlength="50" required="true" value="{$user.supplier_name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>法人姓名：</td>
                        <td><input name="legal_person" class="mini-textbox" style="width:100px;" maxlength="10"  value="{$user.legal_person}"/></td>
                    </tr>
                    <tr>
                        <td>法人身份证：</td>
                        <td><input name="legal_person_code" class="mini-textbox" style="width:250px;"  value="{$user.legal_person_code}"/></td>
                    </tr>
                    <tr>
                        <td>身份证照片(正面)：</td>
                        <td>
                            <input id="img_url5"  name="legal_person_pic_1" class="mini-textbox" value="{$user.legal_person_pic_1}" style="width:200px"/>
                            <input id="upfileId5" type="file" name="upFile" onChange="fileUpload(5);">
                        </td>
                    </tr>
                    <tr>
                        <td>身份证照片（反面）：</td>
                        <td>
                            <input id="img_url6"  name="legal_person_pic_2" class="mini-textbox" value="{$user.legal_person_pic_2}" style="width:200px"/>
                            <input id="upfileId6" type="file" name="upFile" onChange="fileUpload(6);">
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <td>所在省市</td>
                        <td><input name="province" id="c_1_0" style="width:80px;"  class="mini-combobox" textField="name" valueField="id" onvaluechanged="setReg('c')" data='{:setMiniConfig|$regionList}' value="{$user.province}" showNullItem="true" />
                            <input name="city" id="c_2_0" class="mini-combobox" url="{if $user.province}/user/user/getRegion?pid={$user.province}{/if}" value="{$user.city}" style="width:80px;" textField="name" valueField="id" />
                        </td>
                    </tr>
                    <tr>
                         <td>邮政编码：</td>
                         <td>
                           <input name="zip_code" class="mini-textbox" value="{$user.zip_code}" style="width:100px;" maxlength="6"  vtype="zip"/>
                         </td>
                    </tr>
                    <tr>
                        <td>公司地址：</td>
                        <td><input name="address" class="mini-textbox" style="width:250px;" required="true" value="{$user.address}"/></td>
                    </tr>
                    <tr>
                        <td>成立日期：</td>
                        <td><input  class="mini-datepicker"  name="fund_date" value="{$user.fund_date}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>注册资本：</td>
                        <td>
                            <input name="register_capital" class="mini-textbox" style="width:100px;" required="true" onvalidation="onValidFullMoney" value="{$user.register_capital}"/>
                            元
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>供应商类型：</td>
                        <td><input name="supplier_type" class="mini-combobox" style="width:150px;" value="{$user.supplier_type}" data='{:setMiniConfig|$supplier_type}'  textfield="name" valuefield="id"/></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    {if $user.merge_three neq 1}
                    <tr>
                        <td>营业执照号：</td>
                        <td><input class="mini-textbox" style="width:160px;" name="business_licence_code" value="{$user.business_licence_code}"/>
                        </td>
                        <td>营业执照图片：</td>
                        <td>
                            <input id="img_url1"  name="business_licence_pic" class="mini-textbox" value="{$user.business_licence_pic}" style="width:120px"/>
                            <input id="upfileId1" type="file" name="upFile" onChange="fileUpload(1);">
                        </td>
                    </tr>
                    <tr>
                        <td>组织机构代码：</td>
                        <td><input class="mini-textbox" style="width:160px;" name="organization_code" value="{$user.organization_code}"/>
                        </td>
                        <td>组织机构图片：</td>
                        <td>
                            <input id="img_url2"  name="organization_code_pic" class="mini-textbox" value="{$user.organization_code_pic}" style="width:120px"/>
                            <input id="upfileId2" type="file" name="upFile" onChange="fileUpload(2);">
                        </td>
                    </tr>
                    <tr>
                        <td>税务登记码：</td>
                        <td><input class="mini-textbox" style="width:160px;" name="tax_registration" value="{$user.tax_registration}"/>
                        </td>
                        <td>税务图片：</td>
                        <td>
                            <input id="img_url3"  name="tax_registration_pic" class="mini-textbox" value="{$user.tax_registration_pic}" style="width:120px"/>
                            <input id="upfileId3" type="file" name="upFile" onChange="fileUpload(3);">
                        </td>
                    </tr>
                    {else}
                    <tr>
                        <td>社会统一信证码：</td>
                        <td><input class="mini-textbox" style="width:160px;" name="social_credit_code" value="{$user.social_credit_code}"/>
                        </td>
                        <td>社会统一信证图片：</td>
                        <td>
                            <input id="img_url4"  name="social_credit_code_pic" class="mini-textbox" value="{$user.social_credit_code_pic}" style="width:130px"/>
                            <input id="upfileId4" type="file" name="upFile" onChange="fileUpload(4);">
                        </td>
                    </tr>
                    {/if}
                    <tr>
                        <td>信用等级：</td>
                        <td><input class="mini-combobox" name="credit_level" data='{:setMiniConfig|$credit_level}' textfield="name" valuefield="id" value="{$user.credit_level}"/>
                        </td>
                        <td>状态：</td>
                        <td><input class="mini-combobox" name="status" style="width:100px;" data='{:setMiniConfig|$status}' textfield="name" valuefield="id" value="{$user.status}"/></td>
                    </tr>
                </table>
            </div>
        </div>
        <div align="center" style="margin-top:10px;">
            <a class="mini-button" iconcls="icon-ok" onclick="submitForm">确定</a>
            <a class="mini-button" iconcls="icon-cancel" onclick="onCancel">关闭</a><span id="returnMsg" style="padding-left:5px; color:#F00;"></span>
        </div>
    </div>
</div>
<script src="__JS__/jquery/jquery.upload.js" type="text/javascript"></script>
<script charset="utf-8" src="__JS__/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__JS__/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
    mini.parse();
    var form = new mini.Form("#infoForm");

    function submitForm(){
        form.validate();
        if(form.isValid() == false) return;

        //提交数据
        var o = form.getData();
        var supplier_info = mini.encode(o);
        $("#returnMsg").text('');
        form.loading("数据提交中，请稍后......");
        {if $user.supplier_id eq ''}
        var urlstr = '/operator/supplier/addSubmit';
        {else}
        var urlstr = '/operator/supplier/editSubmit';
        {/if}
        $.post(urlstr,{data:supplier_info},function(data){
            form.unmask();
            $("#returnMsg").text(data.msg);
            if(data.err=='0'){
                CloseWindow("save");
            }else{
                $("#returnMsg").text(data.msg);   return false;
            }
        },'json');
    }

    function CloseWindow(action) {
        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }
    function onCancel(e) {
        CloseWindow("cancel");
    }

    function onValidMobile(e){
        if (e.isValid) {
            if(!utils.isMobile(e.value)){
                e.errorText = "错误的手机号";
                e.isValid = false;
            }
        }
    }
    function onValidZip(e){
        if (e.isValid) {
            if(!utils.isZip(e.value)){
                e.errorText = "错误的邮编";
                e.isValid = false;
            }
        }
    }
    //验证身份证
    function onIDCardsValidation(e) {
        if (e.isValid) {
            var pattern = /\d*/;
            if (e.value.length < 15 || e.value.length > 18 || pattern.test(e.value) == false) {
                e.errorText = "必须输入15~18位数字";
                e.isValid = false;
            }
        }
    }
    function setReg(name,val){
        var deptCombo = mini.get(name+"_1_0");
        var positionCombo = mini.get(name+"_2_0");
        onDeptChanged(deptCombo,positionCombo,val);
    }
    function onDeptChanged(deptCombo,positionCombo,val) {
        var id = deptCombo.getValue();

        positionCombo.setValue("");
        var url = "/user/user/getRegion?pid=" + id
        positionCombo.setUrl(url);
    }
    function fileUpload(id) {
        $.ajaxFileUpload({
                url:'/system/sysUpload/images?model={$action}',
                secureuri:false,
                fileElementId:'upfileId'+id,
                dataType: 'json',
                success: function (data, status) {
                    if(data.err=='0'){
                        mini.get("img_url"+id).setValue(data.msg);
                    }
                },
                error: function (data, status, e){
                    $("#picResult").html(e);
                }
            }
        )
        return false;
    }
</script>
