{layout file="public:mini_layout"}
<style type="text/css">
	.hidden {display:none;}
</style>
<link rel="stylesheet" type="text/css" href="__CSS__/zt/common.css"/>
<div style="padding:5px; " >
	<div id="infoForm" class="form">
		<input class="mini-hidden" value="{$infoq.logistics_contract_id}" name="logistics_contract_id" />
		<div  style="padding:5px; " >
			<fieldset style="width:800px;border:solid 1px #aaa;margin-top:8px;position:relative;">
				<legend>运输合同</legend>
				<div id="editForm1" style="padding:5px; ">
					<table id="table1" width="100%" >
						<tr>
							<td><font style="color:red;">甲方(委托方)：</font></td>
							<td>上海中晨电子股份有限公司</td>
							<td>合同日期： </td>
							<td><input  class="mini-datepicker"  name="contract_time"  id="contract_time"  format="yyyy-MM-dd" timeFormat="yyyy-MM-dd" showTime="true"  required="false" value="{$infoq.contract_time}"/>
							</td>
						</tr>
						<tr>
							<td>乙方(承运方)：</td>
							<td>
								<input name="second_part_company_id" value='{$infoq.second_part_company_id}' onvaluechanged="getcompany" class="mini-combobox" style="width:250px;" id="second_part_company_id" data='{$customer_info}'   required="true" textField="name" valueField="id" />
							</td>
							<td>签订地点：</td>
							<td>上海虹口区欧阳路568号17楼
							</td>
						</tr>
						<tr>
							<td>货物牌号:</td>
							<td><input name="goods_class" value="{$infoq.goods_class}" id="goods_class" class="mini-textbox" style="width:250px;" maxlength="8"  required="true" />
							</td>
						</tr>
						<tr>
							<td>货物数量:</td>
							<td><input name="goods_num" value="{$infoq.goods_num}" id="goods_num" class="mini-textbox" style="width:250px;" maxlength="8"  required="true" />
							</td>
						</tr>
						<tr>
							<td>提货地点：</td>
							<td><input name="start_place" value='{$infoq.start_place}' id="start_place" class="mini-textbox" style="width:250px;" maxlength="8"  required="true" value=""/>
							</td>
						</tr>
						<tr>
							<td>送货地点：</td>
							<td><input name="end_place" value='{$infoq.end_place}' id="end_place" class="mini-textbox" style="width:250px;" maxlength="8"  required="true" value=""/>
							</td>
						</tr>
						<tr>
							<td>送货日期：</td>
							<td><input  class="mini-datepicker"  name="delivery_time"  value='{$infoq.delivery_time}' id="delivery_time"  format="yyyy-MM-dd" timeFormat="yyyy-MM-dd" showTime="true"  required="false" value="{$infoq.delivery_time}"/>
							</td>
						</tr>
						<tr>
							<td>合同责任：</td>
						</tr>
						<tr>
							<td colspan="3">乙方必须于甲方的指定期限内，将货物送到甲方的指定地点。</td>
						</tr>
						<tr>
							<td>注意事项：</td>
						</tr>
						<tr>
							<td colspan="4">乙方必须保证甲方的货物，安全、无破损、无潮湿、无变质等情况。若出现以上的情况，乙方必须负责赔偿甲方的损失。</td>
						</tr>
						<tr>
							<td>备注：</td>
							<td>合同传真件有效
							</td>
						</tr>
						<tr>
							<td>车号：</td>
							<td></td>
							</tr><tr>
							<td>司机姓名：</td>
							<td></td>		
							</tr><tr>
							<td>身份证号码：</td>
							<td></td>
						</tr>
						<tr>
							<td>运输费用（含税）：</td>
							<td><input name="delivery_fee" id="delivery_fee" value="{$infoq.delivery_fee}" class="mini-textbox" style="width:250px;" maxlength="50"  required="true" value=""/>
							</td>
						</tr>
						<tr>
							<td>
								<div>甲方</div>
								<div>TEL:<input name="first_part_contact_tel" class="mini-textbox" style="width:125px;"  required="true" value="{$infoq.first_part_contact_tel}"/></div>
								<div>FAX:<input name="first_part_contact_fax" class="mini-textbox" style="width:125px;"  required="true" value="{$infoq.first_part_contact_fax}"/></div>
								<div>委托代理人:<input name="first_part_contact_name" class="mini-textbox" style="width:125px;" required="true" value="{$infoq.first_part_contact_name}"  /></div>
							</td>
							<td>
								<div>乙方</div>
								<div >TEL:<input name="second_part_contact_tel"  id="second_part_contact_tel" value='{$infoq.second_part_contact_tel}' class="mini-textbox" style="width:125px;" maxlength="8"  required="true" value=""/></div>
								<div >FAX:<input name="second_part_contact_fax"  id="second_part_contact_fax"  value='{$infoq.second_part_contact_fax}' class="mini-textbox" style="width:125px;" maxlength="8"  required="true" value=""/></div>
								<div>委托代理人:<input name="second_part_contact_id" id="second_part_contact_id" value='{$infoq.second_part_contact_id}' onvaluechanged="getcontact" class="mini-combobox" style="width:125px;" id="second_part_contact_id" value="" url="/product/transport/get_company_contact?company_id=1"   required="true" textfield="name" valuefield="id"/></div>
							</td>
						</tr>
					</table>
				</div>
			</fieldset>
		</div>
</div>
<div align="center" style="margin-top:10px;">
	<a class="mini-button" iconcls="icon-ok" onclick="submitForm">确定</a>
	<a class="mini-button" iconcls="icon-cancel" onclick="onCancel">关闭</a><span id="returnMsg" style="padding-left:5px; color:#F00;"></span>
</div>
<script src="__JS__/jquery/jquery.upload.js" type="text/javascript"></script>
<script charset="utf-8" src="__JS__/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__JS__/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
	mini.parse();
	$('#partnertitle').hide();
	$('#partner').hide();
	var form = new mini.Form("#infoForm");
	var noStockData;
	var totalCounts={num:0,price:0};
	var t_price=0;
	//var cid = mini.get("usrId").getValue();
	var gridCell ;
	"{if $order_type eq 2}"
	gridCell=mini.get('gridCell3');
	noStockData=[];
	"{/if}"
	"{if $detail neq ''}"
	var noStockData = {$detail};
	gridCell.setData(noStockData);
	totalCount(noStockData);
	"{/if}"
	mini.get('plate_number').on("validation", function (e) {
		if (e.isValid) {
			if (e.value.length != 6) {
				e.errorText = "车牌号必须为6位";
				e.isValid = false;
			}
		}
	});
	mini.get('driver_idcard').on("validation", function (e) {
		if (e.isValid) {
			if (e.value.length != 18) {
				e.errorText = "身份证号必须为18位";
				e.isValid = false;
			}
		}
	});
	function submitForm(){
		form.validate();
		if(form.isValid() == false) return;
		//提交数据
		var o = form.getData(true);
		var json = mini.encode(o);
		$("#returnMsg").text('');
		form.loading("数据提交中，请稍后......");
		var urlstr = '/operator/transport/editSubmit';
		$.post(urlstr,o,function(data){
			form.unmask();
			$("#returnMsg").text(data.msg);
			if(data.err=='0'){
				CloseWindow("save");
			}else{
				return false;
			}
		},'json');
	}
	function getcompany()
	{
		var id = mini.get('second_part_company_id').getValue();
		var contact = mini.get('second_part_contact_id');
		var url0 = "/operator/transport/get_supplier_info?supplier_id=" + id;
		$.post(url0,'',function(data){
			//mini.get('second_part_contact_fax').setValue(data.company_fax);
		},'json');
		contact.setValue("");
		var url = "/operator/transport/get_contact_list?company_id=" + id;
		contact.setUrl(url);
	}
	function getcontact()
	{
		var contact = mini.get('second_part_contact_id').getValue();
		var url = "/operator/transport/get_contact_info?contact_id=" + contact;
		$.post(url,'',function(data){
			mini.get('second_part_contact_tel').setValue(data.contact_tel);
			mini.get('second_part_contact_fax').setValue(data.comm_fax);
		},'json');
	}
	function delDetail(index){
		noStockData.splice(index,1);
		gridCell.setData(noStockData);
		totalCount(noStockData);
	}
	function changtransport(e){
		var val = e.value;
		if(val == 1){
			$("#get").show();
			$("#get1").show();
			$("#send1").hide();
			$("#send").hide();
		}else{
			$("#get").hide();
			$("#get1").hide();
			$("#send").show();
			$("#send1").show();
		}
	}
	function CloseWindow(action) {
		if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
		else window.close();
	}
	function onCancel(e) {
		CloseWindow("cancel");
	}
	function onValidation(e){
		unit_price=mini.get('change_price').getValue();
		index=e.sender.ownerRowID;
		noStockData[index].time_price=parseFloat(unit_price)*parseFloat(noStockData[index].require_number);
		totalCount(noStockData);
	}
	function tips(e) {
		var record = e.record,compare = record.compare,unit_price = record.unit_price;
		if(compare==0	){
			return '<span style="color:red;">'+unit_price+'</span>';
		}
		return unit_price;
	}
</script>