/*zt-contact begin*/
.zt-contact{ position:fixed; right: 0; top: 50%; margin-top: -140px;}
.zt-contact li{ width: 100px; height: 40px; margin: 0 0 2px 0; cursor: pointer; position: relative;}
.zt-contact li div{ float: left;}
.zt-contact li .icon-qq{ background: url(../../images/home/zt-qq.png) no-repeat center; }
.zt-contact li .ewm{ width: 200px; height: 200px; overflow: hidden; position: absolute; left:-140px; top: -10px; display: none;}
.zt-contact li .icon-wx {background: url(../../images/home/zt-wx.png) no-repeat center;}
.zt-contact li .icon-ios {background: url(../../images/home/zt-ios.png) no-repeat center;}
.zt-contact li .icon-suggest {background: url(../../images/home/zt-suggest.png) no-repeat center;}
.zt-contact li .suggest { color:#fff; width: 40px; height: 40px; position:absolute; top: 0; left: 60px;}
.zt-contact li .zt-slide { color: #fff; width: 60px; height: 40px; line-height:40px; text-align:center; position: absolute; top: 0; right: -20px;}
.zt-contact li .zt-mouseover{ width:40px; height: 40px; position: absolute; top: 0; right: 0;}
.zt-contact li .icon-ewm{ width: 40px; height: 40px;  position: absolute; top: 0; right: 0;}
.zt-contact li .bg-gray{ background-color: #bbb;}
.zt-contact li .bg-orge{ background-color: #ff7200;}
/*zt-contact end*/