.user-wrap{ margin-bottom:30px;}
.user-wrap .left{ width:172px; height:890px; overflow:hidden; background:#fcf4f0;}
.user-wrap .left h2{ font-size:12px; color:#333; height:28px; line-height:28px; margin:0 0 0 25px; padding:0 0 0 20px; background:url(../../images/home/img/order.png) no-repeat;}
.user-wrap .left h2.msg{ background-position:0 -88px; margin-top:14px;}
.user-wrap .left h2.order{ background-position:0 -116px;}
.user-wrap .left h2.supply{ background-position:0 -144px;}
.user-wrap .left h2.buy{ background-position:0 -172px;}
.user-wrap .left h2.finance{ background-position:0 -200px;}
.user-wrap .left h2.follow{ background-position:0 -228px;}
.user-wrap .left h2.website{ background-position:0 -256px;}
.user-wrap .left h2.set{ background-position:0 -284px;}
.user-wrap .left ul{ font-size:12px; margin:0 0 15px 44px; line-height:24px;}
.user-wrap .left ul li{ width: 138px; height: 24px; background:url(../../../static/images/home/img/leftMenu.png); }
.user-wrap .left ul li a{ color:#777;}
.user-wrap .left ul li a:hover,.user-wrap .left ul li.hover a{ color:#fc6621;}
.user-wrap .right{ width:1046px; height:auto; overflow:hidden; border:1px solid #d6d7dc;}
.user-wrap .right h3{ font-size:12px; color:#333; text-indent:23px; height:48px; line-height:48px; border-bottom:1px solid #d6d7dc; margin:0 0 25px 0; position:relative;}
.user-wrap .right h3 a{ font-size:14px; color:#267bd3; position:absolute; right:23px; top:0; background:url(../../../static/images/home/img/finance.png) no-repeat 0 -315px;} 
/*.user-wrap .right .tab{ width:1046px; height:67px; overflow:hidden;}
.user-wrap .right .tab ul{ height:60px; margin:0 0 0 23px; border-left:1px solid #d6d7dc;}
.user-wrap .right .tab ul li{ font-size:16px; width:199px; height:58px; line-height:58px; text-align:center; border-top:1px solid #d6d7dc; border-bottom:1px solid #d6d7dc; border-right:1px solid #d6d7dc; float:left; cursor:pointer;}
.user-wrap .right .tab li.hover{ height:60px; border-bottom:none; border-top:none; background:#fc6621; color:#fff;}*/

.user-wrap .right .filter{ margin:0 0 0 23px;}
.user-wrap .right .filter .filter-top{ height:44px; line-height:44px; margin:0 0 18px 0; overflow:hidden;}
.user-wrap .right .filter .filter-top .query{ width:400px; height:44px; margin:0 49px 0 0; overflow:hidden;}
.user-wrap .right .filter .filter-top .query input.import{ font-size:14px; width:288px; height:14px; padding:14px 0 14px 9px;border-left:1px solid #d6d7dc; border-bottom:1px solid #d6d7dc; border-top:1px solid #d6d7dc;}
.user-wrap .right .filter .filter-top .query input.submit{ font-size:14px; width:102px; height:44px; background:#267bd3; color:#fff; cursor:pointer;}
.user-wrap .right .filter .filter-top .other{ color:#fc6621; font-size:16px; padding:0 127px 0 0; background:url(../../images/home/order.png) no-repeat right 0; cursor:pointer;}
.user-wrap .right .filter .filter-top .other.show{ background-position:127px 0;}
.user-wrap .right .filter .filter-top .other.hide{ background-position:127px -44px;}
.user-wrap .right .filter .filter-bot.hide{ display:none;}
.user-wrap .right .filter .filter-bot table tr{ height:46px;}
.user-wrap .right .filter .filter-bot select{ color:#666; height:24px; border:1px solid #d6d7dc; margin:0 10px 0 0;}
.user-wrap .right .filter .filter-bot input{ width:150px; height:14px; padding:5px 0 5px 10px; border:1px solid #d6d7dc;}
.user-wrap .right .filter .filter-bot .trade-date input{ width:120px; float:left;}
.user-wrap .right .filter .filter-bot .trade-date span{ float:left; color:#bcbcbc; line-height:24px; margin:0 8px;}

.user-wrap .right .result-title{ width:1000px; height:38px; line-height:38px; background:#f3e7bd; border-bottom:2px solid #fc6621; margin:18px 0 0 23px; overflow:hidden;}
.user-wrap .right .result-title li{ float:left; border-right:1px solid #f3e7bd;}
.user-wrap .right .result-con{ width:1000px; margin:0 0 20px 23px;}
.user-wrap .right .result-top{ width:1000px; height:38px; line-height:38px; background:#f2f2f2;}
.user-wrap .right .result-top input{ float:left; margin:12px 9px 0 20px;}
.user-wrap .right .result-top span{ margin:0 30px 0 0;}
.user-wrap .right .result-bot{ width:998px; height:98px; overflow:hidden; border:1px solid #e6e7ea;}
.user-wrap .right .result-bot li{ height:98px; line-height:98px; float:left; border-right:1px solid #d6d7dc;}
.user-wrap .right .result li{ text-align:center;}
.user-wrap .right .result li.contract,.user-wrap .right .result li.trader{ width:69px;}
.user-wrap .right .result li.total{ width:66px;}
.user-wrap .right .result li.amount{ width:78px;}
.user-wrap .right .result li.already{ width:55px;}
.user-wrap .right .result li.payable{ width:71px;}
.user-wrap .right .result li.pay{ width:94px;}
.user-wrap .right .result li.transport{ width:94px;}
.user-wrap .right .result li.freight{ width:59px;}
.user-wrap .right .result li.status{ width:54px;}
.user-wrap .right .result li.fk-status{ width:70px;}
.user-wrap .right .result li.fh-status{ width:71px;}
.user-wrap .right .result li.kp-status{ width:71px;}
.user-wrap .right .result li.remark{ width:71px;}
.user-wrap .right .result li.opt{ width:60px; border-right:none;}
.user-wrap .right .result li.opt a{ color:#267bd3; display:block;}
.user-wrap .right .result li.opt a:hover{ text-decoration:underline;}
.user-wrap .right .result-con li.pay{ line-height:20px; padding:16px 0 0 0;}
.user-wrap .right .result-con li.transport,.user-wrap .right .result-con li.remark,.user-wrap .right .result-con li.opt,.user-wrap .right .result-con li.buyer,.user-wrap .right .result-con li.seller{ line-height:20px; padding:30px 0 0 0;}
.user-wrap .right .result li.buyer{ width:96px;}
.user-wrap .right .result li.seller{ width:94px;}
.user-wrap .right .result li.checkout{ width:94px;}
.user-wrap .right .result li.tpt-fht{ width:94px;}
.user-wrap .right .result li.sly-chn{ width:66px;}
.user-wrap .right .all-opt{ width:1000px; height:38px; line-height:38px; margin:0 0 0 23px; overflow:hidden;}
.user-wrap .right .all-opt input{ float:left; margin:13px 5px 0 20px;}
.user-wrap .right .all-opt label{ cursor:pointer; margin:0 14px 0 0;}
.user-wrap .right .all-opt a{ color:#323232; border:1px solid #d6d7dc; padding:6px 7px;}
.user-wrap .right .page{ color:#323232; height:28px; line-height:28px; overflow:hidden; margin:0 12px 50px 0;}
.user-wrap .right .page li{ font-size:14px; float:left; margin:0 10px 0 0;}
.user-wrap .right .page li a{ color:#323232;}
.user-wrap .right .page li.blue{ background:#267bd3; border-radius:2px; padding:0 7px; color:#fff;}
.user-wrap .right .page li.blue a{ color:#fff; display:block;}
.user-wrap .right .page li input{ width:42px; height:14px; padding:6px 0 6px 10px; margin:0 5px; border:1px solid #d6d7dc;}
.user-wrap .right input.dr{ font-size:16px; display:block; width:120px; height:44px; background:#267bd3; border-radius:2px; margin:60px auto; color:#fff; cursor:pointer;}

.user-wrap .right .result-title.msg-list li.con{ text-align: center; }
.user-wrap .right .result-bot.msg-list.msg-close{ height:38px; overflow:hidden;}
.user-wrap .right .result-bot.msg-list.msg-open{ height:110px; overflow:hidden; background:#f3ebce;}
.user-wrap .right .msg-list li{ line-height:38px; border-right:none; text-align:center;}
.user-wrap .right .msg-list li.sys-msg{ width:184px;}
.user-wrap .right .msg-list li.con{ width:500px; text-align:left; position:relative;}
.user-wrap .right .result-bot.msg-list li.con p{ width:475px; line-height:23px; margin:9px 0 0 0; float:left;}
.user-wrap .right .result-bot.msg-list li.con span{ color:#267bd3; cursor:pointer; position:absolute; right:0; top:0;}
.user-wrap .right .msg-list li.is-read{ width:154px; margin:0 0 0 17px;}
.user-wrap .right .result-bot.msg-list li.already a{ color:#267bd3;}

.user-wrap .right .user-title{ width:1000px; height:44px; line-height:44px; overflow:hidden; border-bottom:1px solid; margin:0 0 0 23px;}
.user-wrap .right .user-title h2{ font-size:18px; float:left;}
.user-wrap .right .user-title span{ font-size:16px; float:right;}
.user-wrap .right .user-title.basic{ border-bottom-color:#ccc;}
.user-wrap .right .user-title.basic h2,.user-wrap .right .user-title.pro h2{ font-size: 14px; font-weight: bold;}
.user-wrap .right .user-title.basic span,.user-wrap .right .user-title.pro span{ font-size: 14px; color:#fc6621;}
.user-wrap .right .user-title.pro{ border-bottom-color:#ccc;}

.user-wrap .right .basic-info{ margin:20px 0 20px 23px;}
.user-wrap .right .basic-info tr{ height:40px;}
.user-wrap .right .basic-info .customer{ color:#e64748;}
.user-wrap .right .basic-info input{ width:228px; height:14px; overflow:hidden; padding:5px 0 5px 10px; border:1px solid #d6d7dc;}
.user-wrap .right .basic-info select{ width:240px; height:24px; border:1px solid #d6d7dc;}
.user-wrap .right .basic-info textarea{ width:310px; height:84px; padding:10px; border:1px solid #d6d7dc;}
.user-wrap .right .pro-detail table{ border-collapse:collapse; margin:0 auto; margin-top:20px;}
.user-wrap .right .pro-detail table th{ font-weight:normal; background:#f5f5f5;}
.user-wrap .right .pro-detail table td,.user-wrap .right .pro-detail table th{ text-align:center; height:40px; border:1px solid #ccc;}
.user-wrap .right .pro-detail ul{ height:auto; overflow:hidden; font-size:16px; margin:29px 0 0 60px;}
.user-wrap .right .pro-detail ul li{ height:46px; line-height:46px; float:left;}
.user-wrap .right .pro-detail ul li div{ float:left;}
.user-wrap .right .pro-detail ul li .pro-table-name{ width:83px; text-align:right; margin-right:25px;}
.user-wrap .right .pro-detail ul li .pro-table-val{ width:248px; text-align:left;}
.user-wrap .right .close{ color:#fff; font-size:16px; display:block; width:120px; height:44px; line-height: 44px; text-align: center; background:#267bd3; border-radius:2px; margin:50px auto; clear:both; cursor:pointer;}

/*个人中心首页开始*/
.user-main{ width: 738px; height: 1400px; overflow:hidden; margin:0 14px 23px 23px; border:1px solid #d6d7dc;}
.user-main .tit{ height:43px; overflow:hidden; background:#fcf4f0; border-bottom:1px solid #d6d7dc;}
.user-main .tit h2{ font-size:12px; height:16px; line-height:16px; border-left:2px solid #fc6621; margin:13px 0 0 18px; padding:0 0 0 9px; float:left;}
.user-main .tit a{ line-height:43px; color:#267bd3; margin:0 18px 0 0; float:right;}
.user-main .user-main-detail{ width:698px; border:1px solid #d6d7dc; margin:0 0 30px 23px;}
.user-main .user-info{ width:700px; height:126px; overflow:hidden; background:url(../../images/home/userMain1.png) no-repeat; margin:37px 0 23px 23px;}
.user-main .user-info .lt{ width:68px; text-align:center; color:#fff; margin:19px 0 0 42px; }
.user-main .user-info .portrait{ width:68px; height:68px; overflow:hidden; position: relative; margin:0 0 6px 0;}
.user-main .user-info .portrait img{ position: absolute; left:0; top: 0;}
.user-main .user-info .cen{ width:310px; margin:20px 0 0 50px;}
.user-main .user-info .cen .authen{ height:20px; overflow:hidden; line-height:20px; margin:5px 0 10px 0;}
.user-main .user-info .cen .authen p{ color:#fff; text-indent:26px; width:100px; height:20px; overflow:hidden; background:url(../../images/home/userIndex.png); margin:0 20px 0 0; float:left;}
.user-main .user-info .cen .authen.yes p{ background-position: 0 -144px;}
.user-main .user-info .cen .authen.yes a{ display:none;}
.user-main .user-info .cen .authen.no p{ background-position: 0 -164px;}
.user-main .user-info .cen .authen.no a{ display:block;}
.user-main .user-info .cen .authen a{ color:#267bd3;}
.user-main .user-info .cen h2{ font-size:12px; margin:0 0 10px 0;}
.user-main .user-info .cen span{ color:#999;}
.user-main .user-info .rt li{ width:112px; text-align:center; float:left; }
.user-main .user-info .rt li a{ color:#555;}
.user-main .user-info .rt li p{ width:44px; height:44px; background:url(../../images/home/userIndex.png) no-repeat; margin:28px 0 10px 38px;}
.user-main .user-info .rt li.msg p{ background-position: 0 -184px;}
.user-main .user-info .rt li.point p{ background-position: -44px -184px;}
.user-main .user-info .rt li b{ color:#fc6621; font-weight:normal;}
.user-main .order{ height:324px; overflow:hidden;}
.user-main .order a{ color:#555;}
.user-main .order ul{ margin:20px 0 0 23px; }
.user-main .order ul li{ width:659px; height:110px; overflow:hidden; background:url(../../images/home/userMain2.png) no-repeat; margin:0 0 20px 0;}
.user-main .order ul li .classify{ width:85px; height:auto; overflow:hidden; text-align:center; margin:11px 80px 0 60px;}
.user-main .order ul li .classify p{ width:56px; height:65px; background:url(../../images/home/userIndex.png)  no-repeat; margin:0 0 10px 14px;}
.user-main .order ul li .classify.classify1 p{ background-position: 0 -57px;}
.user-main .order ul li .classify.classify2 p{ background-position: -56px -57px;}
.user-main .order ul li .census{ line-height:110px;}
.user-main .order ul li .census p{ float:left; margin:0 25px 0 0;}
.user-main .order ul li .census p span{ color:#fc6621;}
.user-main .product{ height:245px; overflow:hidden;}
.user-main .product .slider-pro{ margin:20px 0 0 45px;}
.user-main .product .item{ width:129px; height:141px; overflow:hidden; text-align:center; border:1px solid #e1e1e1; float:left; padding:0; margin:0 28px 0 0; background:none;}
.user-main .product .item .addr{ margin:30px 0 15px 0; }
.user-main .product .item .price{ width:116px; height:14px; line-height:14px; overflow:hidden; margin:0 0 15px 7px; position:relative;}
.user-main .product .item .price span{ float:left; font-size:14px; font-weight: bold;}
.user-main .product .item .price b{ height:11px; line-height: 11px; position:absolute; bottom:0; right:0; font-weight:normal; background:url(../../images/home/userIndex.png)  no-repeat; padding:0 0 0 12px;}
.user-main .product .item .price.up{color:#fc6621;}
.user-main .product .item .price.up b{ background-position:0 -122px;}
.user-main .product .item .price.down{ color:#149718;}
.user-main .product .item .price.down b{ background-position:0 -133px;}
.user-main .product .item .time{ color:#999;}
.user-main .product .item .del{ font-size: 12px; position:absolute; top:3px; right: 3px; width:70px; height:20px; line-height:20px; text-align:center; background:#fc6621; color:#fff; border-radius:10px; cursor:pointer; display:none;}
.user-main .product .item:hover .del{ display:block;}
.user-main .product .view-port,.user-main .product .track .inner{ width:636px; height:143px;}
.user-main .product .track a.next{ right:45px;}

.user-main .purchase{ height:330px; line-height:40px; overflow:hidden;}
.user-main .purchase ul li{ height:40px; overflow:hidden; border-bottom:1px solid #eee;}
.user-main .purchase ul li:hover{ background:#f5f5f5;}
.user-main .purchase ul li p{ float:left; margin:0 0 0 32px;}
.user-main .purchase ul li span{ display:block; float:left;}
.user-main .purchase ul li span.wantbuy{ width:200px; overflow:hidden;}
.user-main .purchase ul li span.price{ width:140px; overflow:hidden;}
.user-main .purchase ul li span.address{ width:100px; overflow:hidden;}
.user-main .purchase ul li span.time{ width:130px; overflow:hidden;}
.user-main .purchase ul li a{ background:#fc6621; color:#fff; border:1px solid #fc6621; padding:4px 5px;}
.user-main .purchase .purchase-more { text-align:right; margin:0 27px 0 0;}
.user-main .purchase .purchase-more a{ color:#267bd3;}
.user-main .other{ height:196px; overflow:hidden; margin:0 0 0 23px;}
.user-main .other .resource{ width:244px; height:194px; overflow:hidden; border:1px solid #e1e1e1;}
.user-main .other .resource ul{ height:73px; overflow:hidden; border-bottom:1px solid #e1e1e1;}
.user-main .other .resource ul li{ width:121px; height:73px; text-align:center; float:left;}
.user-main .other .resource ul li P{ margin:10px 0 6px 0; }
.user-main .other .resource ul li span{ font-size:20px;}
.user-main .other .resource ul li.res1{ border-right:1px solid #e1e1e1;}
.user-main .other .resource ul li.res1 span{ color:#fc6621;}
.user-main .other .resource ul li.res2 span{ color:#02a507;}
.user-main .other .resource h4{ color:#fc6621; height:20px; line-height:20px; margin:0 0 0 15px;}
.user-main .other .resource p{ margin:0 0 0 15px; line-height:18px;}
.user-main .other .release{ width:432px; height:194px; overflow:hidden; border:1px solid #e1e1e1; margin:0 0 0 19px;}
.user-main .other .release textarea{ width:382px; height:61px; padding:6px 10px; border:1px solid #d9d9d9; box-shadow:0 2px 2px #eee inset; margin:18px 0 10px 16px;}
.user-main .other .release input{ background:#fc6621; color:#fff; width:160px; height:32px; border-radius:2px; margin:0 0 0 136px; cursor:pointer;}
.user-rig{ width: 246px; height: auto; overflow: hidden;}
.user-rig  h4{ height: 37px; line-height:37px; text-indent:7px; font-weight: bold;}
.user-rig .trader{ width: 244px; height: 298px; border:1px solid #d6d7dc; margin:0 0 40px 0;}
.user-rig .trader .user-pic{ width: 88px; height: 88px; overflow:hidden; margin:25px 0 15px 78px; position:relative;}
.user-rig .trader .user-pic img{ position: absolute; left: 0; top: 0;}
.user-rig .trader p{ text-align: center; line-height: 22px;}
.user-rig .trader ul{ width: 244px; border-top: 1px solid #d6d7dc; margin:20px 0 0 0; padding:15px 0 0 0;}
.user-rig .trader ul li{ height: 19px; background:url(../../images/home/userIndex.png) no-repeat; padding:0 0 0 25px; margin:0 0 8px 15px;}
.user-rig .trader ul li.name{ background-position:0 0;}
.user-rig .trader ul li.phone{ background-position:3px -19px;}
.user-rig .trader ul li.qq{ background-position:0 -38px;}
.user-rig .help{ width: 244px; height: 271px; border:1px solid #d6d7dc; margin:0 0 40px 0;}
.user-rig .help dl{ width: 228px; height: 62px; overflow:hidden; border:1px solid #d6d7dc; margin:0 0 10px 7px;}
.user-rig .help dl.dl1{ background:#fcf4f0;}
.user-rig .help dl.dl2{ background:#b4ebcc;}
.user-rig .help dl.dl3{ background:#b4d2f1;}
.user-rig .help dl img{ float:left; margin:10px 20px 0 19px;}
.user-rig .help dl dt{ margin:12px 0 0 0;}
.user-rig .wechat{ width: 244px; height: 149px; overflow:hidden; border:1px solid #d6d7dc; margin:0 0 40px 0;}
.user-rig .wechat-con{ height:76px; margin:10px 0 0 0;}
.user-rig .wechat-con img{ display:block; float:left; margin:0 10px 0 10px;}
.user-rig .wechat-con p{ width:133px; line-height:22px; float:left;}
.user-rig .point{ width: 244px; height:118px; overflow:hidden; border:1px solid #d6d7dc; margin:0 0 40px 0;}
.user-rig .point p{ font-size:26px; color:#fc6621; margin:0 0 10px 40px;}
.user-rig .point ul{ margin:0 0 0 40px; }
.user-rig .point li{ float:left; margin:0 15px 0 0;}
.user-rig .point li a{ color:#267bd3;}
.user-rig .point li a:hover{ text-decoration: underline; }
.user-rig .slider{ width:244px; height:373px; overflow:hidden; border:1px solid #d6d7dc;}

.user-rig .wrapper {width:244px; margin:0 auto; padding-bottom:50px;}
.user-rig #focus {width:244px; height:348px; overflow:hidden; position:relative;}
.user-rig #focus ul {height:373px; position:absolute;}
.user-rig #focus ul li {float:left; width:244px; height:373px; overflow:hidden; position:relative;}
.user-rig #focus ul li p{ text-align:center;}
.user-rig #focus ul li .goods-pic{ width:134px; height:134px; overflow:hidden; margin:23px auto;}
.user-rig #focus ul li .goods-name{ color:#43495b; font-size:14px; width:200px; margin:0 auto; margin-bottom:13px;}
.user-rig #focus ul li .goods-jifen{ color:#ff7212; font-size:14px; margin:0 0 14px 0; text-align:center;}
.user-rig #focus ul li .goods-jifen span{ font-size:18px;}
.user-rig #focus ul li .goods-btn{ width:116px; height:32px; line-height:32px; text-align:center;background:#fc6621; border-radius:2px; margin:0 auto;}
.user-rig #focus ul li .goods-btn a{ color:#fff;}
.user-rig #focus .btnBg {position:absolute; width:244px; height:40px; left:0; bottom:0;}
.user-rig #focus .btn {position:absolute; width:244px; height:24px; left:100px; bottom:1px; padding-left:10px;}
.user-rig #focus .btn span {display:inline-block; _display:inline; _zoom:1; width:6px; height:6px; border-radius:3px; line-height:6px; text-align:center; font-size:20px; font-family:"Microsoft YaHei",SimHei; margin-right:6px; cursor:pointer; color:#fff; background:#EFEFF4;}
.user-rig #focus .btn span.on {background:#B1B3BA; color:#fcc;}
/*个人中心首页结束*/

/*我的供应开始*/
.tabe,.tabx,.taby{ width:403px; height:30px; overflow:hidden; margin:0 0 10px 23px; font-size:14px;}
.tabe li,.tabx li,.taby li{ width:60px; height:16px; float:left; text-align: center;border-right:1px solid #ccc; cursor:pointer;}
.tabe li p,.taby li p{ width: 50px; margin:0 0 0 5px; padding: 0 0 8px 0; font-weight:bold;}
.tabe li.hover,.tabx li.hover,.taby li.hover{ overflow:visible; color:#fc6621;}
.tabe li.hover p,.tabx li.hover p,.taby li.hover p{ border-bottom: 2px solid #fc6621; }
.tabe li.hover span,.tabx li.hover span,.taby li.hover span{ display:block; width:200px; height:8px; background: url(../img/supplyHover.png) no-repeat center top;}
.user-wrap .right .con-tabe table,.user-wrap .right .con-taby table{ width:1000px; border-collapse:collapse; clear:both;}
.user-wrap .right .con-taby table{ margin-bottom: 23px; }
.user-wrap .right .con-taby table .opt a{ color:#267bd3; }
.user-wrap .right .con-tabe table{ margin-left:23px;}
.user-wrap .right .con-tabe table th,.user-wrap .right .con-taby table th{ background:#f5f5f5; font-weight:normal;}
.user-wrap .right .con-tabe table th,.user-wrap .right .con-tabe table td,.user-wrap .right .con-taby table th,.user-wrap .right .con-taby table td{ height:38px; border:1px solid #ccc; text-align:center;}
.user-wrap .right .con-tabe table input{ width:90px; height:14px; padding:5px 0 5px 10px; border:1px solid #ccc;}
.user-wrap .right .con-tabe table .del span{ cursor:pointer;}
.user-wrap .right .con-tabe .opt{ height:32px; overflow:hidden; margin:0 22px 10px 0; float:right;}
.user-wrap .right .con-tabe .opt li{ font-size:14px; float:left; min-width:56px; height:32px; line-height:32px; text-align:center; background:#267bd3; color:#fff; display:block; padding:0 17px; margin:0 0 0 20px; border-radius:2px; cursor:pointer;}
.user-wrap .right .con-tabe .opt li a{ color:#fff;}
.user-wrap .right .con-tabe .btn{ height:44px; overflow:hidden; margin:40px 0 40px 410px;}
.user-wrap .right .con-tabe .btn input{ width:90px; height:32px; border-radius:2px; color:#fff; cursor:pointer;}
.user-wrap .right .con-tabe .btn input.release{ background:#fc6621; margin:0 20px 0 0;}
.user-wrap .right .con-tabe .btn input.cancel{ background:#6d6c6c;}
#con-tabe-1 .table1 .all input{ width:20px;}

/*我的供应结束*/

/*财务中心开始*/
.user-wrap .right .finance-lc-pic{ width:1000px; height:44px; overflow:hidden; margin:0 0 0 23px;}
.finance-lc1{ font-size:16px; width:272px; height:245px; text-align:center; background:url(../../images/home/finance1.jpg) no-repeat left center; padding:0 0 0 308px; margin:127px 0 127px 131px;}
.finance-lc1 p{ padding:60px 0 68px 0;}
.finance-lc1 input{ font-size:16px; color:#fff; width:164px; height:48px; background:#267bd3; color:#fff; cursor:pointer;}
.finance-lc2{ font-size:14px;}
.finance-lc2 h4{ font-size:14px; color:#f00; margin:39px 0 20px 23px;}
.finance-lc2 table{ margin:0 0 0 56px;}
.finance-lc2 table input.import{ width:208px; height:14px; padding:4px 0 4px 10px; border:1px solid #d6d7dc;}
.finance-lc2 table input.button{ font-size:14px; color:#fff; width:60px; height:28px; background:#267bd3; border-right:2px solid #1c5899; border-bottom:2px solid #1c5899; cursor:pointer;}
.finance-lc2 table .opt{ text-align:center; height:150px;}
.finance-lc2 table .opt input{ font-size:14px; color:#fff; width:120px; height:44px; background:#267bd3; border-radius:2px;  margin:0 20px 0 0; cursor:pointer;}
.finance-lc2 table span{ color:#f00;}
.finance-lc2 table tr{ height:34px;}
.finance-lc2 table td{ text-align:right;}
.finance-lc3{ font-size:14px;}
.finance-lc3 .fice-suc{ width:1000px; height:auto; overflow:hidden; background:#f2ecd5; padding:0 0 26px 0; margin:15px 0 0 23px;}
.finance-lc3 .fice-suc h4{ font-size:16px; color:#f00; padding:35px 0 0 0; margin:0 0 12px 40px;}
.finance-lc3 .fice-suc .tips{ font-size:16px; margin:0 0 24px 40px;}
.finance-lc3 .fice-suc .account{ width:1000px; height:24px; line-height:24px; overflow:hidden; margin:0 0 26px 98px;}
.finance-lc3 .fice-suc .account li{ float:left; margin:0 60px 0 0;}
.finance-lc3 .fice-suc .account li span{ font-size:24px; color:#f00;}
.finance-lc3 .fice-suc .account li.status span{ font-size:14px;}
.finance-lc3 .fice-suc .cards{ width:440px; margin:0 0 0 98px;}
.finance-lc3 .fice-suc .cards h5{ width:98px; float:left;}
.finance-lc3 .fice-suc .cards ul{ float:left;}
.finance-lc3 .fice-suc .cards ul li{ margin:0 0 12px 0;}
.finance-lc3 .record{ width:1000px; height:auto; overflow:hidden; margin:30px 0 0 23px;}
.finance-lc3 .record h4{ font-size:16px; height:35px; line-height:35px; border-bottom:1px solid #d6d7dc; margin:0 0 10px 0;}
.finance-lc3 .record table{ border-collapse:collapse;}
.finance-lc3 .record table th{ font-weight:normal; background:#f3e7bd;}
.finance-lc3 .record table td,.finance-lc3 .record table th{ height:38px; border:1px solid #646464; text-align:center;}
.finance-lc3 .record input{ display:block; font-size:14px; width:120px; height:44px; background:#267bd3; border-radius:2px; color:#fff; margin:79px auto; cursor:pointer;}
.finance-lc4{ font-size:14px;}
.finance-lc4 .filter-ticket{ height:32px; margin:0 0 0 63px; overflow:hidden;}
.finance-lc4 .filter-ticket input{ margin:10px 4px 0 0; float:left;}
.finance-lc4 .filter-ticket input.query{ display:block; width:100px; height:32px; line-height:32px; margin:0; background:#267bd3; border-radius:2px; color:#fff; float:left; cursor:pointer;}
.finance-lc4 .filter-ticket label{ line-height:32px; margin:0 60px 0 0; float:left;}
.finance-lc4 .ticket-list{ height:auto; overflow:hidden; margin:50px 0 0 43px;}
.finance-lc4 .ticket-list li{ width:225px; height:315px; overflow:hidden; margin:0 20px 20px 0; background:#f5f5f5 url(../../images/home/finance.png) no-repeat; float:left;}
.finance-lc4 .ticket-list li.will-overdue{ background-position:0 0;}
.finance-lc4 .ticket-list li.used{ background-position:-225px 0;}
.finance-lc4 .ticket-list li.overdue{ background-position:-450px 0;}
.finance-lc4 .ticket-list li.effective{ background-position:-675px 0;}
.finance-lc4 .ticket-list .will-overdue .ticket-top .time{ color:#732424;}
.finance-lc4 .ticket-list .used .ticket-top .time{ color:#803411;}
.finance-lc4 .ticket-list .overdue .ticket-top .time{ color:#545454;}
.finance-lc4 .ticket-list .effective .ticket-top .time{ color:#803411;}
.finance-lc4 .ticket-list .ticket-top{ color:#fff; height:125px; text-align:center;}
.finance-lc4 .ticket-list .ticket-top .money{ font-size:32px; height:32px; margin:28px 0 7px 0;}
.finance-lc4 .ticket-list .ticket-top .time{ font-size:12px; margin:4px 0 0 0;}
.finance-lc4 .ticket-list .ticket-cen{ margin:0 0 0 11px;}
.finance-lc4 .ticket-list .ticket-cen p{ height:34px; line-height:34px;}
.finance-lc4 .ticket-list .ticket-cen p span{ color:#646464;}
.finance-lc4 .ticket-list .ticket-cen p.num span{ color:#969696;}
.finance-lc4 .ticket-list .ticket-bot{ font-size:12px;}
.finance-lc4 .ticket-list .will-overdue .ticket-bot,.finance-lc4 .ticket-list .effective .ticket-bot{ width:104px; height:30px; line-height:30px; text-align:center; overflow:hidden; border:1px solid #e07569; border-radius:15px; margin:52px 0 0 60px;}
.finance-lc4 .ticket-list .will-overdue .ticket-bot a,.finance-lc4 .ticket-list .effective .ticket-bot a{ color:#fc6621; display:block;}
.finance-lc4 .ticket-list .will-overdue .ticket-bot a:hover,.finance-lc4 .ticket-list .effective .ticket-bot a:hover{ background:#e07569; color:#fff;}
.finance-lc4 .ticket-list .used .ticket-bot{ margin:35px 0 0 20px; line-height:20px;}
.finance-lc4 .ticket-list .overdue .ticket-bot{ text-align:center; margin:55px 0 0 0;}
.finance-lc4 .ticket-list .overdue .ticket-bot span,.finance-lc4 .ticket-list .used .ticket-bot span{ color:#969696;}
.user-wrap .right .page{ margin:50px 0 50px 300px;}
.user-wrap .right .finance-more{ margin:0 24px 0 0;}
.user-wrap .right .page .finance-more a{ color:#267bd3;}
.finance-lc5 .jifen{ height:114px; overflow:hidden; margin:0 0 40px 43px;}
.finance-lc5 .jifen .jifen-lt{ font-size:16px; width:436px; height:114px; background:url(../img/jifenBg.png) no-repeat right bottom;}
.finance-lc5 .jifen .jifen-lt .portrait{ width:100px; height:100px; overflow:hidden; position:relative;}
.finance-lc5 .jifen .jifen-lt .portrait img{ position:absolute; left:0; top:0; z-index:100;}
.finance-lc5 .jifen .jifen-lt .portrait .mask{ width:100px; height:100px; background:url(../img/portraitMask.png) no-repeat; position:absolute; left:0; top:0; z-index:101;}
.finance-lc5 .jifen .jifen-lt p{ margin:31px 0 0 20px;}
.finance-lc5 .jifen .jifen-lt p span{ font-size:30px; color:#fc6621;}
.finance-lc5 .jifen .jifen-rt{ width:260px; height:24px; line-height:24px; margin:31px 47px 0 0;}
.finance-lc5 .jifen .jifen-rt select{ height:24px; margin:0 17px 0 0;}
.finance-lc5 .jifen .jifen-rt input{ font-size:12px; width:80px; height:24px; color:#fff; background:#267bd3; border-radius:2px; cursor:pointer;}
.finance-lc5 .detail{ width:998px; height:auto; overflow:hidden; border:1px solid #d6d7dc; margin:0 0 20px 23px;}
.finance-lc5 .detail h4{ font-size:16px; color:#00b400; text-indent:20px; background:#fffeef; border-bottom:1px solid #e1e1e1; height:53px; line-height:53px;}
.finance-lc5 .detail ul{ width:910px; margin:0 0 0 44px;}
.finance-lc5 .detail li{ height:92px; overflow:hidden; border-bottom:1px solid #d6d7dc;}
.finance-lc5 .detail li.last{ border-bottom:none;}
.finance-lc5 .detail li .detail-lt p{ color:#969696; font-size:14px; margin:15px 0 11px 0;}
.finance-lc5 .detail li .detail-lt h5{ font-size:24px; color:#666;}
.finance-lc5 .detail li .detail-rt{ font-size:30px; line-height:92px;}
.finance-lc5 .detail.income li .detail-rt{ color:#00b400;}
.finance-lc5 .detail.pay li .detail-rt{ color:#f00;}
.kp .kp-add{ height:44px;}
.kp .kp-add span{ font-size:14px; width:120px; height:44px; line-height:44px; text-align:center; color:#fff; background:#267bd3; border-radius:2px; float:right; margin:0 103px 0 0; cursor:pointer;}
.kp ul{ margin:0 0 0 63px;}
.kp li{ font-size:16px; width:698px; height:148px; line-height:30px; margin:0 0 30px 0; overflow:hidden; border:1px solid #323232;}
.kp li .kp-lt{ margin:25px 0 0 19px;}
.kp li .kp-rt{ width:65px; margin:25px 19px 0 0; text-align:right;}
.kp li .kp-rt a{ color:#267bd3;}
/*财务中心结束*/

/*关注中心开始*/
.focus1 .focus-add{ height:35px; margin:0 0 15px 0;}
.focus1 .focus-add span{ font-size:14px; width:100px; height:35px; line-height:35px; text-align:center; color:#fff; background:#267bd3; border-radius:2px; float:right; margin:0 23px 0 0; cursor:pointer;}
.focus1 .focus-title{ width:1000px; height:38px; line-height:38px; overflow:hidden; background:#f3e7bd; border-bottom:1px solid #fc6621; margin:0 0 0 23px;}
.focus1 .focus-con{ width:1000px; height:78px; overflow:hidden; margin:0 0 20px 23px;}
.focus1 .focus-top{ height:38px; line-height:38px; overflow:hidden; background:#f2f2f2;}
.focus1 .focus-top input{ float:left; margin:12px 9px 0 20px;}
.focus1 .focus-top span{ float:left;}
.focus1 .focus-bot{ width:998px; height:38px; line-height:38px; border:1px solid #e6e7ea;}
.focus1 .focus-bot li{ float:left;}
.focus1 .focus-bot li button{ background:none; cursor:pointer; color:#267bd3;}
.focus1 .focus li{ float:left; text-align:center;}
.focus1 .category{ width:339px;}
.focus1 .grade{ width:146px;}
.focus1 .place{ width:249px;}
.focus1 .status{ width:137px;}
.focus1 .opt,.focus1 .opt-con{ width:109px;}
.focus1 .opt-con a.on{ color:#267bd3;}
.focus1 .opt-con a.off{ color:#f00;}
.focus1 .business{ width:246px;}
.focus1 .linkman{ width:185px;}
.focus1 .tel{ width:86px;}
.focus1 .remark{ width:225px;}
/*关注中心结束*/

/*我的网站开始*/
.site1 .com-info-wrap{ width:960px; height:280px; overflow:hidden; margin:0 0 0 43px;}
.site1 .com-info-wrap .com-pic{ width:300px; height:200px; overflow:hidden;}
.site1 .com-info-wrap .com-info{ font-size:16px; line-height:25px; margin:15px 0 0 38px;}
.site1 .com-info-wrap .com-info b{ margin:0 4px;}
.site1 .com-info-wrap .com-info span{ margin:0 15px;}
.site1 .com-info-wrap .com-opt input{ display:inline-block; width:86px; height:36px; line-height:36px; overflow:hidden; margin:0 10px 0 0; background:#fc6621; border-radius:2px; color:#fff; cursor:pointer;}
.site1 .com-profile{ font-size:14px; line-height:22px; width:960px; height:auto; overflow:hidden; border-top:1px solid #d6d7dc; margin:0 0 30px 43px;}
.site1 .com-profile h4{ height:54px; line-height:54px; background:url(../img/company.png) no-repeat left center; padding:0 0 0 27px;}
.site1 .com-profile p{ margin:0 0 0 27px;}
.site .site-add{ height:35px; margin:0 0 15px 0;}
.site .site-add span{ font-size:14px; width:100px; height:35px; line-height:35px; text-align:center; color:#fff; background:#267bd3; border-radius:2px; float:right; margin:0 23px 0 0; cursor:pointer;}
.site .site-title{ width:1000px; height:38px; line-height:38px; overflow:hidden; background:#f3e7bd; border-bottom:2px solid #fc6621; margin:0 0 0 23px;}
.site li{ float:left; text-align:center;}
.site li.pro-pic,.site li.info-pic{ width:150px; margin:0 0 0 44px;}
.site li.pro-name{ width:255px;}
.site li.pro-explain{ width:270px;}
.site li.status{ width:165px;}
.site li.opt,.site li.opt-con{ width:109px;}
.site li.info-cfy{ width:95px;}
.site li.info-tit{ width:300px;}
.site li.info-detail{ width:264px; margin:0 0 0 20px;}
.site li.opt-con a.on{ color:#267bd3;}
.site li.opt-con a.off{ color:#f00;}
.site .site-con li.pro-pic,.site .site-con li.info-pic{ margin-top:19px;}
.site .site-con li.pro-explain{ text-align:left; line-height:20px; margin:20px 0 0 0;}
.site .site-con li.info-tit{ line-height:20px; margin:50px 0 0 0;}
.site .site-con li.info-detail{ line-height:20px; margin-top:22px;}
.site .site-con{ width:1000px; height:188px; overflow:hidden; margin:0 0 20px 23px;}
.site .site-con .site-con-top{ height:38px; line-height:38px; background:#f2f2f2;}
.site .site-con .site-con-top span{ float:left;}
.site .site-con .site-con-top input{ float:left; margin:12px 9px 0 20px;}
.site .site-con .site-con-bot{ height:148px; line-height:148px; overflow:hidden; border:1px solid #e6e7ea;}
/*我的网站结束*/

/*账户设置开始*/
.con-tabx{ font-size:16px;}
.con-tabx tr{ height:50px;}
.con-tabx .name{ text-align:right;}
.con-tabx input.import{ color:#969696; font-size:16px; height:14px; padding:8px 0 8px 10px; overflow:hidden; border:1px solid #d6d7dc;}
.con-tabx .opt{ margin:67px 0 50px 0;}
.con-tabx .opt input{ display:inline-block; width:100px; height:44px; color:#fff; cursor:pointer; border-radius:2px;}
.con-tabx .opt input.btn1{ background:#fc6621; margin:0 0 0 120px;}
.con-tabx .opt input.btn2{ background:#6d6c6c; margin:0 0 0 20px;}
.con-tabx .opt input.save,.con-tabx .opt input.save2{ display: none; }
#con-tabx-1{ width:630px; margin:0 auto;}
#con-tabx-1 .lt-rt{ height:auto; overflow:hidden;}
#con-tabx-1 .lt{ width:317px; overflow:hidden;}
#con-tabx-1 .lt input.import{ width:188px;}
#con-tabx-1 .lt select{ width:78px; height:28px; border:1px solid #d6d7dc;}
#con-tabx-1 .lt .val{ color:#969696;}
#con-tabx-1 .rt{ width:248px; margin:44px 0 0 0;}
#con-tabx-1 .rt li{ color:#267bd3; width:96px; float:left; text-align:center; cursor:pointer;}
#con-tabx-1 .rt li p{ width:65px; height:65px; background:url(../img/finance.png) no-repeat; margin:0 auto; margin-bottom:17px;}
#con-tabx-1 .rt li.bind1{ margin-right:56px;}
#con-tabx-1 .rt li.bind1 p{ background-position:0 -373px;}
#con-tabx-1 .rt li.bind2 p{ background-position:-65px -373px;}
#con-tabx-1 .portrait-wrap{ width:198px; height:98px; overflow:hidden; border:1px solid #d6d7dc;}
#con-tabx-1 .portrait-wrap .portrait{ width:80px; height:80px; overflow:hidden; margin:9px;}
#con-tabx-1 .portrait-wrap .upload{ width:59px; height:68px; overflow:hidden; margin:16px 24px 0 0; position:relative;}
#con-tabx-1 .portrait-wrap .upload img{ position:absolute; left:0; top:0; z-index:99;}
#con-tabx-1 .portrait-wrap .upload input{ display:block; width:59px; height:68px; position:absolute; left:0; top:0; z-index:100; opacity:0; filter:alpha(opacity=0);}
#con-tabx-2{ width:630px; margin:0 auto;}
#con-tabx-2 input.import.import1{ width:288px;}
#con-tabx-2 input.import.import2{ width:188px;}
#con-tabx-2 input.import.import3{ width:388px;}
.set2 p{ color:#f00; font-size:14px; padding:11px 0 0 23px; margin:0 0 19px 0;}
.set2 table{ font-size:14px; width:680px; margin:0 auto;}
.set2 table tr{ height:44px;}
.set2 table .name{ text-align:right;}
.set2 table .name span{ color:#f00;}
.set2 input.import{ width:218px; height:14px; padding:4px 0 4px 0; border:1px solid #d6d7dc;}
.set2 .file{ width:62px; height:30px; overflow:hidden; position:relative;}
.set2 .file input{ position:absolute; width:60px; height:28px; left:0; top:0; z-index:101; opacity:0; filter:alpha(opacity=0);}
.set2 .file span{ position:absolute; width:60px; height:28px; line-height:28px; text-align:center; background:#267bd3; border-right:2px solid #1c5899; border-bottom:2px solid #1c5899; color:#fff; left:0; top:0; z-index:100;}
.set2 input.btn{ font-size:14px; display:inline-block; width:120px; height:44px; color:#fff; background:#267bd3; border-radius:2px; margin:40px 20px 40px 0; cursor:pointer;}
.set4 input.import{ width:388px; height:14px; padding:12px 0 12px 10px; border:1px solid #d6d7dc; overflow:hidden;}
.set4 input.submit{ font-size:14px; width:100px; height:44px; color:#fff; background:#fc6621; border-radius:2px; cursor:pointer;}
.set4 table{ font-size:16px; width:505px; margin:30px auto;}
.set4 table tr{ height:70px;}
.set4 table .name{ text-align:right;}
.layer{ font-size:14px; width:400px; height:auto; padding:0 0 30px 0; overflow:hidden; background:#fff; display:none;}
.layer h3{ text-align:center; margin:25px 0 10px 0;}
.layer .error-msg{ height:20px; line-height:20px; color:#f00; margin:0 0 0 75px;}
.layer table{ width:318px; margin:0 auto;}
.layer .name{ width:100px; text-align:right;}
.layer tr{ height:45px;}
.layer input.import{ width:200px; height:10px; padding:7px 0 15px 10px; border:1px solid #d6d7dc;}
.layer input.btn{ font-size:14px; width:100px; height:35px; line-height:35px; color:#fff; border-radius:2px; cursor:pointer;}
.layer input.submit{ background:#fc6621;}
/*账户设置结束*/