.user-wrap{ margin-bottom:30px;}
.user-wrap .left{ width:172px; height:1581px; overflow:hidden; background:#fcf4f0;}
.user-wrap .left h2{ font-size:20px; color:#333; height:50px; line-height:50px; margin:0 0 0 6px; padding:0 0 0 27px; background:url(../img/order.png) no-repeat;}
.user-wrap .left h2.msg{ background-position:0 -88px; margin-top:14px;}
.user-wrap .left h2.order{ background-position:0 -138px;}
.user-wrap .left h2.supply{ background-position:0 -188px;}
.user-wrap .left h2.buy{ background-position:0 -238px;}
.user-wrap .left h2.finance{ background-position:0 -288px;}
.user-wrap .left h2.follow{ background-position:0 -338px;}
.user-wrap .left h2.website{ background-position:0 -388px;}
.user-wrap .left h2.set{ background-position:0 -438px;}
.user-wrap .left ul{ font-size:16px; margin:0 0 0 34px; line-height:46px;}
.user-wrap .left ul li a{ color:#646464;}
.user-wrap .left ul li a:hover,.user-wrap .left ul li.hover a{ color:#fc6621;}
.user-wrap .right{ width:1046px; height:auto; overflow:hidden; border:1px solid #d6d7dc;}
.user-wrap .right h3{ font-size:18px; color:#333; text-indent:23px; height:58px; line-height:58px; border-bottom:1px solid #d6d7dc; margin:0 0 25px 0;}
/*.user-wrap .right .tab{ width:1046px; height:67px; overflow:hidden;}
.user-wrap .right .tab ul{ height:60px; margin:0 0 0 23px; border-left:1px solid #d6d7dc;}
.user-wrap .right .tab ul li{ font-size:16px; width:199px; height:58px; line-height:58px; text-align:center; border-top:1px solid #d6d7dc; border-bottom:1px solid #d6d7dc; border-right:1px solid #d6d7dc; float:left; cursor:pointer;}
.user-wrap .right .tab li.hover{ height:60px; border-bottom:none; border-top:none; background:#fc6621; color:#fff;}*/

.user-wrap .right .filter{ margin:0 0 0 23px;}
.user-wrap .right .filter .filter-top{ height:44px; line-height:44px; margin:0 0 18px 0; overflow:hidden;}
.user-wrap .right .filter .filter-top .query{ width:400px; height:44px; margin:0 49px 0 0; overflow:hidden;}
.user-wrap .right .filter .filter-top .query input.import{ font-size:14px; width:288px; height:14px; padding:14px 0 14px 9px;border-left:1px solid #d6d7dc; border-bottom:1px solid #d6d7dc; border-top:1px solid #d6d7dc;}
.user-wrap .right .filter .filter-top .query input.submit{ font-size:14px; width:102px; height:44px; background:#267bd3; color:#fff; cursor:pointer;}
.user-wrap .right .filter .filter-top .other{ color:#fc6621; font-size:16px; padding:0 127px 0 0; background:url(../img/order.png) no-repeat right 0; cursor:pointer;}
.user-wrap .right .filter .filter-top .other.show{ background-position:127px 0;}
.user-wrap .right .filter .filter-top .other.hide{ background-position:127px -44px;}
.user-wrap .right .filter .filter-bot.hide{ display:none;}
.user-wrap .right .filter .filter-bot table tr{ height:46px;}
.user-wrap .right .filter .filter-bot select{ color:#666; height:26px;}
.user-wrap .right .filter .filter-bot input{ width:150px; height:14px; padding:5px 0 5px 10px; border:1px solid #d6d7dc;}
.user-wrap .right .filter .filter-bot .trade-date input{ width:120px; float:left;}
.user-wrap .right .filter .filter-bot .trade-date span{ float:left; color:#bcbcbc; line-height:24px; margin:0 8px;}

.user-wrap .right .result-title{ width:1000px; height:38px; line-height:38px; background:#f3e7bd; border-bottom:2px solid #fc6621; margin:18px 0 0 23px; overflow:hidden;}
.user-wrap .right .result-title li{ float:left; border-right:1px solid #f3e7bd;}
.user-wrap .right .result-con{ width:1000px; margin:0 0 20px 23px;}
.user-wrap .right .result-top{ width:1000px; height:38px; line-height:38px; background:#f2f2f2;}
.user-wrap .right .result-top input{ float:left; margin:12px 9px 0 20px;}
.user-wrap .right .result-top span{ margin:0 30px 0 0;}
.user-wrap .right .result-bot{ width:998px; height:98px; overflow:hidden; border:1px solid #e6e7ea;}
.user-wrap .right .result-bot li{ height:98px; line-height:98px; float:left; border-right:1px solid #d6d7dc;}
.user-wrap .right .result li{ text-align:center;}
.user-wrap .right .result li.contract,.user-wrap .right .result li.trader{ width:69px;}
.user-wrap .right .result li.total{ width:66px;}
.user-wrap .right .result li.amount{ width:78px;}
.user-wrap .right .result li.already{ width:55px;}
.user-wrap .right .result li.payable{ width:71px;}
.user-wrap .right .result li.pay{ width:94px;}
.user-wrap .right .result li.transport{ width:94px;}
.user-wrap .right .result li.freight{ width:59px;}
.user-wrap .right .result li.status{ width:54px;}
.user-wrap .right .result li.fk-status{ width:70px;}
.user-wrap .right .result li.fh-status{ width:71px;}
.user-wrap .right .result li.kp-status{ width:71px;}
.user-wrap .right .result li.remark{ width:71px;}
.user-wrap .right .result li.opt{ width:60px; border-right:none;}
.user-wrap .right .result li.opt a{ color:#267bd3; display:block;}
.user-wrap .right .result li.opt a:hover{ text-decoration:underline;}
.user-wrap .right .result-con li.pay{ line-height:20px; padding:16px 0 0 0;}
.user-wrap .right .result-con li.transport,.user-wrap .right .result-con li.remark,.user-wrap .right .result-con li.opt,.user-wrap .right .result-con li.buyer,.user-wrap .right .result-con li.seller{ line-height:20px; padding:30px 0 0 0;}
.user-wrap .right .result li.buyer{ width:96px;}
.user-wrap .right .result li.seller{ width:94px;}
.user-wrap .right .result li.checkout{ width:94px;}
.user-wrap .right .result li.tpt-fht{ width:94px;}
.user-wrap .right .result li.sly-chn{ width:66px;}
.user-wrap .right .all-opt{ width:1000px; height:38px; line-height:38px; margin:0 0 0 23px; overflow:hidden;}
.user-wrap .right .all-opt input{ float:left; margin:13px 11px 0 20px;}
.user-wrap .right .all-opt label{ cursor:pointer; margin:0 71px 0 0;}
.user-wrap .right .all-opt a{ color:#323232; border:1px solid #d6d7dc; padding:6px 7px;}
.user-wrap .right input.dr{ font-size:16px; display:block; width:120px; height:44px; background:#267bd3; border-radius:2px; margin:60px auto; color:#fff; cursor:pointer;}

.user-wrap .right .result-bot.msg-list.msg-close{ height:38px; overflow:hidden;}
.user-wrap .right .result-bot.msg-list.msg-open{ height:110px; overflow:hidden; background:#f3ebce;}
.user-wrap .right .result-bot.msg-list li{ line-height:38px; border-right:none; text-align:center;}
.user-wrap .right .result-bot.msg-list li.sys-msg{ width:184px; margin:0 0 0 65px;}
.user-wrap .right .result-bot.msg-list li.con{ width:500px; text-align:left; position:relative;}
.user-wrap .right .result-bot.msg-list li.con p{ width:475px; line-height:23px; margin:9px 0 0 0; float:left;}
.user-wrap .right .result-bot.msg-list li.con span{ color:#267bd3; cursor:pointer; position:absolute; right:0; top:0;}
.user-wrap .right .result-bot.msg-list li.is-read{ width:154px; margin:0 0 0 17px;}
.user-wrap .right .result-bot.msg-list li.already a{ color:#267bd3;}

.user-wrap .right .user-title{ width:1000px; height:44px; line-height:44px; overflow:hidden; border-bottom:1px solid; margin:0 0 0 23px;}
.user-wrap .right .user-title h2{ font-size:18px; float:left;}
.user-wrap .right .user-title span{ font-size:16px; float:right;}
.user-wrap .right .user-title.basic{ border-bottom-color:#267bd3;}
.user-wrap .right .user-title.basic h2{ color:#267bd3;}
.user-wrap .right .user-title.basic span{ color:#fc6621;}
.user-wrap .right .user-title.pro{ border-bottom-color:#45ae73;}
.user-wrap .right .user-title.pro h2{ color:#45ae73;}
.user-wrap .right .user-title.pro span{ color:#fc6621;}

.user-wrap .right .basic-info{ font-size:16px; margin:20px 0 0 63px;}
.user-wrap .right .basic-info tr{ height:46px;}
.user-wrap .right .basic-info .customer{ color:#e64748;}
.user-wrap .right .basic-info input{ width:228px; height:14px; overflow:hidden; padding:5px 0 5px 10px; border:1px solid #d6d7dc;}
.user-wrap .right .basic-info select{ width:240px; height:24px; border:1px solid #d6d7dc;}
.user-wrap .right .basic-info textarea{ width:310px; height:84px; padding:10px; border:1px solid #d6d7dc;}
.user-wrap .right .pro-detail table{ font-size:14px; border-collapse:collapse; margin:0 auto; margin-top:20px;}
.user-wrap .right .pro-detail table th{ font-weight:normal; background:#f3e7bd;}
.user-wrap .right .pro-detail table td,.user-wrap .right .pro-detail table th{ text-align:center; height:38px; border:1px solid #666;}
.user-wrap .right .pro-detail ul{ height:auto; overflow:hidden; font-size:16px; margin:29px 0 0 60px;}
.user-wrap .right .pro-detail ul li{ height:46px; line-height:46px; float:left;}
.user-wrap .right .pro-detail ul li div{ float:left;}
.user-wrap .right .pro-detail ul li .pro-table-name{ width:83px; text-align:right; margin-right:25px;}
.user-wrap .right .pro-detail ul li .pro-table-val{ width:248px; text-align:left;}
.user-wrap .right .close{ color:#fff; font-size:16px; display:block; width:120px; height:44px; background:#267bd3; border-radius:2px; margin:50px auto; clear:both; cursor:pointer;}

/*我的供应开始*/
.user-wrap .right .tabe{ width:403px; height:69px; overflow:hidden; margin:0 auto; margin-bottom:54px; font-size:16px;}
.user-wrap .right .tabe li{ width:200px; height:61px; line-height:61px; float:left; text-align:center; border-top:1px solid #e6e7ea; border-bottom:1px solid #e6e7ea; border-right:1px solid #e6e7ea; cursor:pointer;}
.user-wrap .right .tabe li.hover{ overflow:visible; color:#fff; border-bottom-color:#fc6621; border-top-color:#fc6621;}
.user-wrap .right .tabe li.hover p{ background:#fc6621;}
.user-wrap .right .tabe li.hover span{ display:block; width:200px; height:8px; background: url(../img/supplyHover.png) no-repeat center top;}
.user-wrap .right .con-tabe table{ width:1000px; border-collapse:collapse; margin-left:23px; clear:both;}
.user-wrap .right .con-tabe table th{ background:#f3e7bd; font-weight:normal;}
.user-wrap .right .con-tabe table th,.user-wrap .right .con-tabe table td{ height:38px; border:1px solid #646464; text-align:center;}
.user-wrap .right .con-tabe table input{ width:90px; height:14px; padding:5px 0 5px 10px; border:1px solid #ccc;}
.user-wrap .right .con-tabe table .del span{ cursor:pointer;}
.user-wrap .right .con-tabe .opt{ width:290px; height:32px; overflow:hidden; margin:0 15px 10px 0; float:right;}
.user-wrap .right .con-tabe .opt li{ font-size:14px; float:left; height:32px; line-height:32px; background:#267bd3; color:#fff; display:block; padding:0 17px; margin:0 0 0 20px; border-radius:2px; cursor:pointer;}
.user-wrap .right .con-tabe .btn{ height:44px; overflow:hidden; margin:40px 0 40px 410px;}
.user-wrap .right .con-tabe .btn input{ width:100px; height:44px; border-radius:2px; color:#fff; cursor:pointer;}
.user-wrap .right .con-tabe .btn input.release{ background:#fc6621; margin:0 20px 0 0;}
.user-wrap .right .con-tabe .btn input.cancel{ background:#6d6c6c;}

/*我的供应结束*/

/*财务中心开始*/
.user-wrap .right .finance-lc-pic{ width:1000px; height:44px; overflow:hidden; margin:0 0 0 23px;}
.user-wrap .right .finance-lc1{ font-size:16px; width:272px; height:245px; text-align:center; background:url(../img/finance1.jpg) no-repeat left center; padding:0 0 0 308px; margin:127px 0 127px 131px;}
.user-wrap .right .finance-lc1 p{ padding:60px 0 68px 0;}
.user-wrap .right .finance-lc1 input{ font-size:16px; color:#fff; width:164px; height:48px; background:#267bd3; color:#fff; cursor:pointer;}
.user-wrap .right .finance-lc2{ font-size:14px;}
.user-wrap .right .finance-lc2 h4{ font-size:14px; color:#f00; margin:39px 0 20px 23px;}
.user-wrap .right .finance-lc2 table{ margin:0 0 0 56px;}
.user-wrap .right .finance-lc2 table input.import{ width:208px; height:14px; padding:4px 0 4px 10px; border:1px solid #d6d7dc;}
.user-wrap .right .finance-lc2 table input.button{ font-size:14px; color:#fff; width:60px; height:28px; background:#267bd3; border-right:2px solid #1c5899; border-bottom:2px solid #1c5899; cursor:pointer;}
.user-wrap .right .finance-lc2 table .opt{ text-align:center; height:150px;}
.user-wrap .right .finance-lc2 table .opt input{ font-size:14px; color:#fff; width:120px; height:44px; background:#267bd3; border-radius:2px;  margin:0 20px 0 0; cursor:pointer;}
.user-wrap .right .finance-lc2 table span{ color:#f00;}
.user-wrap .right .finance-lc2 table tr{ height:34px;}
.user-wrap .right .finance-lc2 table td{ text-align:right;}
.user-wrap .right .finance-lc3{ font-size:14px;}
.user-wrap .right .finance-lc3 .fice-suc{ width:1000px; height:auto; overflow:hidden; background:#f2ecd5; padding:0 0 26px 0; margin:15px 0 0 23px;}
.user-wrap .right .finance-lc3 .fice-suc h4{ font-size:16px; color:#f00; padding:35px 0 0 0; margin:0 0 12px 40px;}
.user-wrap .right .finance-lc3 .fice-suc .tips{ font-size:16px; margin:0 0 24px 40px;}
.user-wrap .right .finance-lc3 .fice-suc .account{ width:1000px; height:24px; line-height:24px; overflow:hidden; margin:0 0 26px 98px;}
.user-wrap .right .finance-lc3 .fice-suc .account li{ float:left; margin:0 60px 0 0;}
.user-wrap .right .finance-lc3 .fice-suc .account li span{ font-size:24px; color:#f00;}
.user-wrap .right .finance-lc3 .fice-suc .account li.status span{ font-size:14px;}
.user-wrap .right .finance-lc3 .fice-suc .cards{ width:440px; margin:0 0 0 98px;}
.user-wrap .right .finance-lc3 .fice-suc .cards h5{ width:98px; float:left;}
.user-wrap .right .finance-lc3 .fice-suc .cards ul{ float:left;}
.user-wrap .right .finance-lc3 .fice-suc .cards ul li{ margin:0 0 12px 0;}
.user-wrap .right .finance-lc3 .record{ width:1000px; height:auto; overflow:hidden; margin:30px 0 0 23px;}
.user-wrap .right .finance-lc3 .record h4{ font-size:16px; height:35px; line-height:35px; border-bottom:1px solid #d6d7dc; margin:0 0 10px 0;}
.user-wrap .right .finance-lc3 .record table{ border-collapse:collapse;}
.user-wrap .right .finance-lc3 .record table th{ font-weight:normal; background:#f3e7bd;}
.user-wrap .right .finance-lc3 .record table td,.user-wrap .right .finance-lc3 .record table th{ height:38px; border:1px solid #646464; text-align:center;}
.user-wrap .right .finance-lc3 .record input{ display:block; font-size:14px; width:120px; height:44px; background:#267bd3; border-radius:2px; color:#fff; margin:79px auto; cursor:pointer;}
/*财务中心结束*/