{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
    <table style="width:100%;">
        <tr>
            <td style="white-space:nowrap;">
            </td>
            <td style="float:right">
            	<form id="soform">
            	<select name="depart" id="soDepart">
                    <option value="">=部门=</option>
                    {html_options options=$depart}
                </select>       
            	<select name="key_type">
                    <option value="name">姓名</option>
                    <option value="username">用户名</option>
                </select>       
                <input name="keyword" class="mini-textbox" emptyText="请输入关键词" style="width:140px;" onenter="onKeyEnter"/>   
                <a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
                <span id="searchMsg"></span>
                </form>
            </td>
        </tr>
    </table>           
</div>
<div class="mini-fit" style="padding:1px 3px 3px;">
  <div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;" 
            url="/rbac/adm/lockAdm?action=grid"  idField="admin_id" {if $doact neq 'search'}multiSelect="true" allowCellEdit="true" allowCellSelect="true"{/if}
            sizeList="[10,20,50,100]" pageSize="20">
    <div property="columns">
      <div field="admin_id" width="30" align="center" headerAlign="center">ID</div>
      <div name="action" width="40" headerAlign="center" renderer="onLoadHandle">操作</div>
      <div field="username" width="80" align="center" headerAlign="center">用户名</div>
      <div field="name" width="70" align="center" headerAlign="center">姓名</div>
      <div field="mobile" width="70" align="center" headerAlign="center">手机号</div>
      <div field="depart" width="50" align="center" headerAlign="center" renderer="onLoadDepart">部门</div>
      <div field="status" width="50" align="center" headerAlign="center" renderer="onLoadStatus">状态</div>
      <div field="last_login" width="80" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm:ss" align="center">最后登录</div>
      <div field="login_times" width="50" headerAlign="center" align="center">登录</div>
      <div field="is_super" width="50" align="center" headerAlign="center" renderer="onLoadSuper">超管</div>
      <div field="user_ip" width="80" headerAlign="center">用户IP</div>
      <div field="login_status" width="50" headerAlign="center" align="center">登录锁定</div>
    </div>
  </div>
</div>

<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
grid.load();

//加载：追加按钮
function onLoadHandle(e) {
	var record = e.record; //record.id
	return '<a href="javascript:onEdit()">解除锁定</a> ';
}
function onLoadSuper(e){
	var record = e.record; //record.id
	if(record.is_super=='1'){
		return '是';	
	}
	return '否';
}

function onLoadDepart(e){
	var record = e.record.depart;
	return $("#soDepart").find("option[value="+record+"]").text();
}

function onLoadStatus(e){
	var record = e.record; //record.id
	if(record.status=='1'){
		return '正常';	
	}
	return '禁用';
}
function onEdit(e) {
	var row = grid.getSelected();
	if (row) {
		var ids=row.admin_id;
		if(ids=='') return;
		
		mini.confirm("确定把此用户解除登录锁定？", "提示",	function(action){
				if(action!='ok') return;
				var callback=function(data){
					if(data.err!='0'){
						alert(data.msg)
						return false;
					}else{
						alert(data.msg)
						grid.reload();
					}
				}
				utils.ajax('/rbac/adm/unlockSubmit',{ids:ids},callback,"POST","json");
			}
		);
		
	}             
}
</script>