<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="__MYAPP__/js/mui.min.js"></script>
		<script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
		<script src="__MYAPP__/js/common.js"></script>
		<link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__MYAPP__/css/app.css" />
	</head>
	<body>
		<header id="classifyHeader">
			<a class="back" href="javascript:window.history.back();"></a>
			分类
		</header>
		<div class="classifyUl">
			<ul id="classifyUl">
				<li>
					<a href="/myapp/mainPage/enProductTypeDetail?type=1">
					<p><img width="22" src="__MYAPP__/img/classify.png"> 高密度聚乙烯 HDPE</p>
					<p id="hdpe" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
				<li>
					<a href="/myapp/mainPage/enProductTypeDetail?type=2">
					<p><img width="22" src="__MYAPP__/img/classify2.png"> 低密度聚乙烯 LDPE</p>
					<p id="ldpe" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
				<li>
					<a href="/myapp/mainPage/enProductTypeDetail?type=3">
					<p><img width="22" src="__MYAPP__/img/classify3.png"> 线性聚乙烯 LLDPE</p>
					<p id="lldpe" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
				<li>
					<a href="/myapp/mainPage/enProductTypeDetail?type=4">
					<p><img width="22" src="__MYAPP__/img/classify4.png"> 聚丙烯 PP</p>
					<p id="pp" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
				<li>
					<a href="/myapp/mainPage/enProductTypeDetail?type=5">
					<p><img width="22" src="__MYAPP__/img/classify5.png"> 聚氯乙烯 PVC</p>
					<p id="pvc" style="font-size: 12px; color: #646464;"></p>
					<img class="classifyBack" src="__MYAPP__/img/classifyBack.png" />
					</a>
				</li>
			</ul>
		</div>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			$(function () {
				var hdpe="";
				var ldpe="";
				var lldpe="";
				var pp="";
				var pvc="";
				commonAjax(
						"post",
						"/myapp/mainPage/getProductType"
				).then(function (res) {
					console.log(res);
					res.ptypes[0].model.forEach(function (v,i,a) {
						hdpe+=" "+v;
						$("#hdpe").text(hdpe);
					});
					res.ptypes[1].model.forEach(function (v,i,a) {
						ldpe+=" "+v;
						$("#ldpe").text(ldpe);
					});
					res.ptypes[2].model.forEach(function (v,i,a) {
						lldpe+=" "+v;
						$("#lldpe").text(lldpe);
					});
					res.ptypes[3].model.forEach(function (v,i,a) {
						pp+=" "+v;
						$("#pp").text(pp);
					});
					res.ptypes[4].model.forEach(function (v,i,a) {
						pvc+=" "+v;
						$("#pvc").text(pvc);
					});
				},function () {

				});
			})
		</script>

	</body>

</html>