<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
        <script src="__MYAPP__/js/mui.min.js"></script>
        <script src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
        <script src="__MYAPP__/js/common.js"></script>
        <link href="__MYAPP__/css/mui.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="__MYAPP__/css/app.css" />
        <style>
            html,body{ height: 100%;}
            #frame{ width: 100%; height: 100%;}
        </style>
	</head>
	<body>
		<header id="infoHeader">
			<a class="back" href="javascript:window.history.back();"></a>
			热点详情
		</header>
        <iframe id="frame" frameborder="0"></iframe>
    <script type="text/javascript">
        var url=getUrlParam("url");
        commonAjax(
                "post",
                "/mobile/mainPage/getAppBanner"
        ).then(function (res) {
            console.log("banner",res.banners[url].url);
            $("#frame").attr("src",res.banners[url].url);
        },function () {

        });
    </script>
	</body>

</html>