<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>统计数据</title>
	<script type="text/javascript" src="__JS__/jquery/jquery.js"></script>
	<script type="text/javascript" src="__JS__/ueditor/third-party/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="__JS__/ueditor/third-party/highcharts/modules/exporting.js"></script>
	<script type="text/javascript" src="__JS__/home/laydate/laydate.js"></script>
</head>
<body>
  <div class="team_box" style="width:50%; float:left;">
        <table id="laydate">
        	<tr>	
        		<td>
	        		<select name="sTime" id="sTime1">
						<option value="input_time">创建时间</option>
						<option value="update_time">更新时间</option>
						<option value="sign_time">签订日期</option>
						<option value="pickup_time">提货日期</option>
						<option value="delivery_time">送货日期</option>
						<option value="payment_time">付款日期</option>

					</select>
        		</td>
                <td>
                    <input style="width:130px;" class="laydate" type="text" class="start_time"  name="start_time" value="{$start_time}" />
                </td>
                <td><input style="width:130px;" class="laydate" type="text" readonly="readonly" class="end_time" name="end_time" value="{$end_time}" /></td>
                <!-- </tr>
                <tr> -->
                <td>
                	<select name="time_type" id="soStatus">
                		<option value="" {$default_selected}>特定时间</option>
                    	<option value="this_week" {$this_week_selected}>本周</option>
                    	<option value="last_week" {$last_week_selected}>上周</option>
                    	<option value="this_month" {$this_month_selected}>本月</option>
                    	<option value="last_month" {$last_month_selected}>上月</option>
                	</select>
                </td>
                <td>
                    <button style="cursor: pointer; margin-left: 10px; border: 1px solid black; padding: 2px 10px;" class="submit" type="submit" >搜索</button>
                </td>
            </tr>
        </table>
</div>
<input type="hidden" id="order_type" value="{$order_type}" />
  <div class="person_box" style="width:50%;float:left;">
        <table id="laydate2">
            <tr>
            	<td>
            		<select name="sTime" id="sTime2">
						<option value="input_time">创建时间</option>
						<option value="update_time">更新时间</option>
						<option value="sign_time">签订日期</option>
						<option value="pickup_time">提货日期</option>
						<option value="delivery_time">送货日期</option>
						<option value="payment_time">付款日期</option>
					</select>
            	</td>    
                <td>
                    <input style="width:130px;" class="laydate" type="text" class="start_time"  name="start_time2" value="{$start_time}" />
                </td>
                <td><input style="width:130px;" class="laydate" type="text" readonly="readonly" class="end_time" name="end_time2" value="{$end_time}" /></td>
                <td>
                	<select name="time_type" id="soStatus2">
                		<option value="" {$default_selected}>特定时间</option>
                    	<option value="this_week" {$this_week_selected}>本周</option>
                    	<option value="last_week" {$last_week_selected}>上周</option>
                    	<option value="this_month" {$this_month_selected}>本月</option>
                    	<option value="last_month" {$last_month_selected}>上月</option>
                	</select>
                </td>
                 <td>
                	<select name="team_type" id="team">
                		{foreach from=$team item=value key=key}
                    		<option value="{$value.id}" {$selected_{$value.id}}>{$value.name}</option>
                		{/foreach}
                	</select>
                </td>
                <td>
                    <button style="cursor: pointer; margin-left: 10px; border: 1px solid black; padding: 2px 10px;" class="submit2" type="submit" >搜索</button>
                </td>
                </tr>
                <tr>
                <td colspan="2">
                    <button style="cursor: pointer; border: 1px solid black; padding: 2px 7px;" class="change_view" type="submit" >个人贡献率视图切换</button>
                </td>
            </tr>
        </table>
</div>
<!-- <div style="height:50px; width:100%;"></div> -->
<div id="container" style="width:54%;height:650px;float:left;margin-top:20px;"></div>
<div id="container2" style="width:46%;height:650px; float:left;margin-top:20px;"></div>
<div id="container3" style="width:52%;height:500px; float:left; display:none;"></div>
<div id="container4" style="width:48%;height:500px; float:left; display:none;"></div>
<script type="text/javascript">
	$(function(){
		//处理左边的团队展示区
		$('.submit').on('click',function(){
		var _start_time = $("input[name='start_time']").val();
		var _end_time = $("input[name='end_time']").val();
		var _time_type = $('#soStatus option:selected').val();
		var _order_by_time_field = $('#sTime1 option:selected').val();
		var _order_type = $('#order_type').val();
			$.post('/order/index/getTeamData',{
					start_time:_start_time,
					end_time:_end_time,
					time_type:_time_type,
					sTime:_order_by_time_field,
					order_type:_order_type
				},function(data){
					// console.log((data.msg));
					// var obj = $.parseJSON(data.msg);
				    $('#container').highcharts($.parseJSON(data.msg));
				    // $('#container2').highcharts($.parseJSON(data.msg));
				},'json');
		});
		//处理右边的个人展示区
		$('.submit2').on('click',function(){
		var _start_time = $("input[name='start_time2']").val();
		var _end_time = $("input[name='end_time2']").val();
		var _time_type = $('#soStatus2 option:selected').val();
		var _team_id = $('#team option:selected').val();
		var _team_name = $('#team option:selected').html();
		var _order_by_time_field = $('#sTime2 option:selected').val();
		var _order_type = $('#order_type').val();

			$.post('/order/index/getPersonData',{
					start_time:_start_time,
					end_time:_end_time,
					time_type:_time_type,
					team_id:_team_id,
					team_name:_team_name,
					show_type:'bar',
					sTime:_order_by_time_field,
					order_type:_order_type

				},function(data){
					// console.log((data.msg));
				    $('#container2').highcharts($.parseJSON(data.msg));
				},'json');
		});
		//处理右边的个人展示区
		$('.submit2').on('click',function(){
		var _start_time = $("input[name='start_time2']").val();
		var _end_time = $("input[name='end_time2']").val();
		var _time_type = $('#soStatus2 option:selected').val();
		var _team_id = $('#team option:selected').val();
		var _team_name = $('#team option:selected').html();
		var _order_by_time_field = $('#sTime2 option:selected').val();
		var _order_type = $('#order_type').val();
			$.post('/order/index/getPersonData',{
					start_time:_start_time,
					end_time:_end_time,
					time_type:_time_type,
					team_id:_team_id,
					team_name:_team_name,
					show_type:'pie_price',
					sTime:_order_by_time_field,
					order_type:_order_type

				},function(data){
					// console.log((data.msg));
				    $('#container3').highcharts($.parseJSON(data.msg));
				},'json');
		});
		//处理右边的个人展示区
		$('.submit2').on('click',function(){
		var _start_time = $("input[name='start_time2']").val();
		var _end_time = $("input[name='end_time2']").val();
		var _time_type = $('#soStatus2 option:selected').val();
		var _team_id = $('#team option:selected').val();
		var _team_name = $('#team option:selected').html();
		var _order_by_time_field = $('#sTime2 option:selected').val();
		var _order_type = $('#order_type').val();

			$.post('/order/index/getPersonData',{
					start_time:_start_time,
					end_time:_end_time,
					time_type:_time_type,
					team_id:_team_id,
					team_name:_team_name,
					show_type:'pie_num',
					sTime:_order_by_time_field,
					order_type:_order_type

				},function(data){
					// console.log((data.msg));
				    $('#container4').highcharts($.parseJSON(data.msg));
				},'json');
		});
		//页面加载后，触发点击事件
		$('.submit').trigger('click');
		$('.submit2').trigger('click');
		//日期插件
		laydate({
       		'elem': '#laydate .laydate',
       		'format': 'YYYY/MM/DD hh:mm:ss',
       		  'istime': true, //是否开启时间选择
    	});
    	laydate({
       		'elem': '#laydate2 .laydate',
       		'format': 'YYYY/MM/DD hh:mm:ss',
       		'istime': true, //是否开启时间选择
    	});
		//视图切换
		$(".change_view").toggle(
  			function () {
    			$('#container2').hide();
    			$('#container').hide();
    			$('.team_box').hide();
    			$('#container3').show();
    			$('#container4').show();
  			},
  			function () {
    			$('#container3').hide();
    			$('#container4').hide();
    			$('#container2').show();
    			$('#container').show();
    			$('.team_box').show();
  			}
		);
		//点击按钮变色
		$(':submit[type="submit"]').on('click',function(){
			$(':submit[type="submit"]').css('color','');
			$(this).css('color','red');
		});
		//
		
	});
</script>
</body>
</html>