 {layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
	<table style="width:100%;">
		<tr>
			<td style="float:right;">
			<form id="soform" method="get" action="/order/profit/download">
				<select name="company_account">
					<option selected="selected">抬头</option>
					{html_options options=$company_account}
				</select>
				<select name="team">
						<option value="sale_team">销售战队</option>
						<option value="pur_team">采购战队</option>
				</select>
				<select name="team_id">
					<option selected="selected">战队名称</option>
					{html_options options=$team}
				</select>
				<select name="sTime">
						<option value="sale_time">销售完款时间</option>
						<option value="pur_time">采购完款时间</option>
				</select>
				<input name="startTime" class="mini-datepicker" style="width:95px;"/> -
				<input name="endTime" class="mini-datepicker" style="width:95px;"/>
				<select name="skey_type">
					<option value="s_uname">销售员</option>
					<option value="s_sn">销售单号</option>
					<option value="s_pname">客户</option>
				</select>
				<input name="skeyword" class="mini-textbox" emptyText="请输入关键字" style="width:100px;" onenter="onKeyEnter"/>
				<select name="pkey_type">
					<option value="p_uname">采购员</option>
					<option value="p_sn">采购单号</option>
					<option value="p_pname">供应商</option>
				</select>
				<input name="pkeyword" class="mini-textbox" emptyText="请输入关键字" style="width:100px;" onenter="onKeyEnter"/>
				牌号：<input name="model" class="mini-textbox" emptyText="请输入牌号" style="width:80px;" onenter="onKeyEnter"/>
				厂家：<input name="fname" class="mini-textbox" emptyText="请输入厂家" style="width:80px;" onenter="onKeyEnter"/>
				<a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
				<a class="mini-button" class="output" onclick="download()" iconCls="icon-download" plain="true">Excel导出</a>
				</form>
			</td>
		</tr>
		<tr>
			<td><span id="searchMsg"></span></td>
		</tr>
	</table>
</div>
<div class="mini-fit" style="padding:1px 3px 3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"url="/order/profit/init?action=grid&do={$doact}"  idField="id"
	sizeList="[10,20,50,100]" pageSize="20" multiSelect="true"  onrowdblclick="onRowDblClick" showFilterRow="true" allowCellSelect="true" allowCellEdit="true" allowCellWrap="true">
		<div property="columns">
			<div type="checkcolumn"></div>
			<div field="s_sn" width="100" headerAlign="center" align="center" allowSort="true">销售单号</div>
			<div field="s_name" width="70" headerAlign="center" align="center" >客户</div>
			<div field="s_ordname" width="30" headerAlign="center" align="center">抬头</div>
			<div field="s_model" width="40" headerAlign="center" align="center">牌号</div>
			<div field="s_fname" width="40" headerAlign="center" align="center">厂家</div>
			<div field="s_num" width="40" headerAlign="center" align="center" allowSort="true">数量</div>
			<div field="s_rem" width="40" headerAlign="center" align="center" allowSort="true">未发数量</div>
			<div field="s_price" width="40" headerAlign="center" align="center" allowSort="true">单价</div>
			<div field="s_xj" width="50" headerAlign="center" align="center" allowSort="true">小计</div>
			<div field="s_uname" width="30" headerAlign="center" align="center" >销售员</div>
			<div field="s_input_time" width="75" headerAlign="center" align="center" allowSort="true" dateFormat="yyyy-MM-dd HH:mm">销售完款时间</div>
			<div field="ship" width="50" headerAlign="center" align="center" allowSort="true">运费</div>
			<div field="profit" width="50" headerAlign="center" align="center" allowSort="true">净利润</div>
			<div field="gross" width="50" headerAlign="center" align="center" allowSort="true">毛利</div>
			<div field="p_sn" width="100" headerAlign="center" align="center" allowSort="true">采购单号</div>
			<div field="p_name" width="70" headerAlign="center" align="center" >供应商</div>
			<div field="p_num" width="40" headerAlign="center" align="center" allowSort="true">数量</div>
			<div field="p_rem" width="40" headerAlign="center" align="center" allowSort="true">未入数量</div>
			<div field="p_price" width="40" headerAlign="center" align="center" allowSort="true">单价</div>
			<div field="p_xj" width="50" headerAlign="center" align="center" allowSort="true">小计</div>
			<div field="p_uname" width="30" headerAlign="center" align="center" >采购员</div>
			<div field="p_input_time" width="75" headerAlign="center" align="center" allowSort="true" dateFormat="yyyy-MM-dd HH:mm">采购完款时间</div>
		</div>
	</div>
</div>
<script type="text/javascript">
mini.parse();
//搜索或刷新
var grid = mini.get("gridCell");
function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
function download() {
	$("#soform").submit();
}
search();
function onKeyEnter(e) {
	search();
}

function GetData() {
	var row = grid.getSelected();
	return row;
}
function CloseWindow(action) {
	if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
	else window.close();
}
</script>