{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
	<table style="width:100%;">
		<tr>
			<td><span id="searchMsg"></span></td>
			<td style="float:right;">
			<form id="soform"  method="get" action="/order/realAchieve/download">
				<select name="team_id">
					<option selected="selected">战队名称</option>
					{html_options options=$team}
				</select>
				交易员
				<input name="keyword" class="mini-textbox" emptyText="请输入关键词" style="width:140px;" onenter="onKeyEnter"/>  
				起止时间
            	<input name="startTime" class="mini-datepicker" style="width:100px;"/> -
            	<input name="endTime" class="mini-datepicker" style="width:100px;"/> 
				<a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
				<a class="mini-button" class="output" onclick="download()" iconCls="icon-download" plain="true">Excel导出</a>
				</form>
			</td>
		</tr>
	</table>
</div>
<div class="mini-fit" style="padding:1px 3px 3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"url="/order/realAchieve/init?action=grid"  idField="id"
	sizeList="[10,20,50,100]" pageSize="20" multiSelect="true" showFilterRow="true" allowCellSelect="true" allowCellEdit="true">
		<div property="columns">
			<div field="name" width="30" headerAlign="center" align="center">业务员</div>
			<div field="depart_name" width="30" headerAlign="center" align="center">战队</div>
			<div field="sale_num" width="30" headerAlign="center" allowSort="true" align="center"><span style="color:red">*</span>销售</div>
			<div field="pur_num" width="30" headerAlign="center" allowSort="true" align="center"><span style="color:red">*</span>采购</div>
			<div field="average" width="30" headerAlign="center" allowSort="true" align="center"><span style="color:red">*</span>个人平均</div>
		</div>
	</div>
</div>

<script type="text/javascript">
mini.parse();
//搜索或刷新
var grid = mini.get("gridCell");
function search() {
  grid.load($("#soform").serializeObject(),function(e){
	$("#searchMsg").html(e.msg);
  });
}
search();
function onKeyEnter(e) {
  search();
}
function CloseWindow(action) {
	if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
	else window.close();
}
//确定并获取数据
function onComfirm() {
	CloseWindow("ok");
}
//取消
function onCancel() {
	CloseWindow("cancel");
}
function download() {
	$("#soform").submit();
}

</script>