{layout file="public:main_layout"}
{insert_css files='home/mailloffer.css'}
{insert_js files='home/laydate/laydate.js'}
{insert_css files='home/jqtransform.css'}
{insert_js files='home/Validform_v5.3.2_min.js'}


<!--header end-->
<div class="buy-crumb w1220">首页-商城报价-{$title}</div>
<!--buy-wrap begin-->
<div class="buy-wrap talk">
	<!--buy-process begin-->
    <!-- <div class="buy-process">
    	<ul>
        	<li class="one"><p>1</p><span>委托洽谈<br/>通过网页、电话或QQ发布采购需求给我们</span></li>
            <li class="two"><p>2</p><span>选择资源<br/>我们为您选择货物，您来选择最合适的资源</span></li>
            <li class="three"><p>3</p><span>完成交易<br/>敲定合作方，完成货物，货物交收</span></li>
        </ul>
        <div class="line"></div>
    </div> -->
    <!--buy-process end-->
    <!--buy-info begin-->
    <form id="talkForm" onSubmit="return false;" method="post" action="">
        <div class="buy-info">
            <div class="buy-title">
                <span>交易员：{$data.adname}  {$data.admobile}</span>
            </div>
            <table>
            	<tr>
                	<td width="100">公司名称：</td>
                    <td width="208">{$data.c_name}</td>
                    <td width="100">联<i></i>系<i></i>人：</td>
                    <td width="208">{$data.name}</td>
                </tr>
                <tr>
                	<td>联系电话：</td>
                    <td>{$data.mobile}</td>
                    <td>现货/期货：</td>
                    <td>
                        {if $data.cargo_type==1}
                        现货
                        {else}
                        期货
                        {/if}
                    </td>
                </tr>
                <tr>
                	<td>交<i></i>货<i></i>地：</td>
                    <td>{$data.city}</td>
                    <td>仓<b></b>库：</td>
                    <td>{$data.store_house}</td>
                </tr>
                <tr>
                	<td>品<b></b>种：</td>
                    <td>{$data.product_type}</td>
                    
                    <td>厂<b></b>家：</td>
                    <td>{$data.f_name}</td>
                </tr>
                <tr>
                	<td>牌<b></b>号：</td>
                    <td>{$data.model}</td>
                    <td>运输方式<span class="red">*</span>：</td>
                    <td>
                        <select datatype="*" name="ship_type" class="req">
                            <option value="">请选择</option>
                            {foreach from=$ship_type item=value key=key}
                            <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>配送日期<span class="red">*</span>：</td>
                    <td><input type="text" id="date1" datatype="*"  class="req" name="delivery_date"/></td>
                    <td>配送地点<span class="red">*</span>：</td>
                    <td>
                        <select datatype="*" name="delivery_place" class="req">
                            <option value="">请选择</option>
                            {foreach from=$area item=value key=key}
                            <option value="{$value.id}">{$value.name}</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                	<td>数<b></b>量<span class="red">*</span>：</td>
                    <td><input type="text" class="req" id="number" datatype="*" value="{$data.number}" name="number" data-id="{$data.number}"/>吨</td>
                    <td>预期价格<span class="red">*</span>：</td>
                    <td><input type="text" class="req" datatype="*" value="{$data.unit_price}" name="price" data-id="{$data.user_id}"/>元／吨</td>
                </tr>
            </table>
        </div>
        <div class="remark">
            <div class="remark-lt flt">备注：</div>
            <div class="remark-rt flt"><textarea name="remark"></textarea></div>
        </div>
        <div class="buy-btn">
            <input type="hidden" name="p_id" value="{$data.id}">
            <!--<input type="hidden" name="id" value="{$data.user_id}">-->
        	<button onclick="submitFrom()">提交</button>
            <button><a class="btn" href="/offers">返回</a></button>
            
        </div>
    </form>
    <!--buy-btn end-->
</div>
<script type="text/javascript">
$(function(){
    laydate({
        elem: '#date1',
        event: 'focus',
        min: laydate.now()
    });
})

var demo=$("#talkForm").Validform({
    tiptype:function(msg,o,cssctl){
        if(!o.obj.is("form")){
            var objtip=o.obj.siblings(".Validform_checktip");
            cssctl(objtip,o.type);
            objtip.text(msg);
        }
    }
});

function submitFrom(){
    if(!demo.check()) return false;
    var num= parseFloat($('#number').val().trim());
    var number=parseFloat($('#number').attr('data-id'));
    if(num>number){
        layer.msg('超过对方求购数量,最多能供货'+number+'吨');
        $("#number").val(number);
        return false;
    }
    if(num<number){
        layer.msg('供货只能为：'+number+'吨');
        $("#number").val(number);
        return false;
    }
    var data=$("#talkForm").serialize();
    $.post('/offers/talk/addorder',data,function(data){
        if(data.err==0){
            layer.msg(data.msg);
            window.history.back();
        }else{
            layer.msg(data.msg);
        }   
    },'json');
}

</script>