{layout file="public:mini_layout"}
<link rel="stylesheet" type="text/css" href="__CSS__/zt/common.css"/>
<div style="padding:5px; " >
	<div  style="padding:5px; " >
			<div id="addForm" style="padding:5px; ">
				<table id="table1" width="100%" >
					<tr>
						<td width="200px;">公告标题:</td>
						<td width="200px;"><input id="title" name="title" class="mini-textbox" style="width:200px;" maxlength="10"  value=""/></td>
					</tr>
 					<tr>
						<td>文件上传</td>					
						<td>
                          	<input id="upfileId1" type="file" name="upFile" data-path='1' onChange="fileUpload(1);"><span style="color: #761c19"></span>
							<input id="upfileId2" type="file" name="upFile" data-path='1' onChange="fileUpload(2);"><span style="color: #761c19"></span>
							<input id="upfileId3" type="file" name="upFile" data-path='1' onChange="fileUpload(3);"><span style="color: #761c19"></span>
							<input id="upfileId4" type="file" name="upFile" data-path='1' onChange="fileUpload(4);"><span style="color: #761c19"></span>
							<input id="upfileId5" type="file" name="upFile" data-path='1' onChange="fileUpload(5);"><span style="color: #761c19"></span>
						</td>
					</tr>
				</table>
				<input type="hidden" value="" name="path" id="path" class="mini-hidden">
					</div>
			</div>
		</div>	
		</div>
		<div align="center" style="margin-top:10px;">
			<a class="mini-button" iconcls="icon-ok" onclick="add_button()">添加文件上传按钮</a>
		</div>
		<div align="center" style="margin-top:10px;">
			<a class="mini-button" iconcls="icon-ok" onclick="updateForm">确定</a>
			<a class="mini-button" iconcls="icon-cancel" onclick="onCancel">关闭</a><span id="returnMsg" style="padding-left:5px; color:#F00;"></span>
		</div>
<script src="__JS__/jquery/jquery.js" type="text/javascript"></script>
<script src="__JS__/jquery/jquery.upload.js" type="text/javascript"></script>
<script type="text/javascript">
mini.parse();
var form = new mini.Form("#addForm");
//新增
function updateForm(){
	form.validate();
	if(form.isValid() == false) return;
	//提交数据
	var o = form.getData();
	var json = mini.encode(o);
	//alert(json);
	$("#returnMsg").text('');
	form.loading("数据提交中，请稍后......");
	var urlstr = '/notice/notice/save';
	$.post(urlstr,o,function(data){
		form.unmask();
		if(data.err=='0'){
			//alert(data.msg);
			CloseWindow("save");
		}else{
			return false;
		}
	},'json');
}

function add_button()
{
	var i = $("#upfileId1").parent().children("input").length+1;

	$("#upfileId1").parent().append('<input id="upfileId'+i+'" type="file" name="upFile" data-path="" onChange="fileUpload('+i+');"><span style="color: #761c19"></span>');

}
//关闭窗口
function CloseWindow(action) {            
	if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
	else window.close();            
}
function onCancel(e) {
	CloseWindow("cancel");
}
function fileUpload(id) {
	$.ajaxFileUpload({
				url:'/system/sysUpload/images?model={$action}',
				secureuri:false,
				fileElementId:'upfileId'+id,
				dataType: 'json',
				success: function (data, status) {
					if(data.err=='0'){
						$('#upfileId'+id).next("span").text("已上传");
						var origin = $('#path').val();
						//alert(origin);
						$('#path').val(origin+id+'-'+data.msg+'|');
					}else{
						$('#upfileId'+id).next("span").text("上传失败");
					}
				},
				error: function (data, status, e){
					$('#upfileId'+id).next("span").text("上传失败");
				}
			}
	);
	return false;
}

</script>