{layout file="public:main_layout"}

<div class="yabbg">
	<div class="yab">
		<div class="yabl">
			<div class="yabla"> 
				<a href="/article/plist.html?cid=2" class="ahover">市场点评</a><a href="/article/plist.html?cid=3">行业热点</a><a href="/article/plist.html?cid=4">企业调价</a><a href="/article/plist.html?cid=5">装置动态</a><a href="/article/plist.html?cid=6" style="margin-right:0px;">塑料期货</a>         </div>
				<div class="yablb" style="margin-top:6px;">
					<div class="zixunbiaotimgcg"> 4月6日PE日评：涨跌互现  刚需为主 </div>
					<div class="zxiun_faburiqi">发布日期：2016-04-06    作者：本站原创</div>
					<div class="zousiengweg_wz">
						dsds
					</div>
					<div class="yashowline">
						<p class="yahere">分享到：</p>
						<!-- JiaThis Button BEGIN -->
						<div class="jiathis_style">
							<a title="分享到QQ空间" class="jiathis_button_qzone"><span class="jiathis_txt jtico jtico_qzone"></span></a>
							<a title="分享到新浪微博" class="jiathis_button_tsina"><span class="jiathis_txt jtico jtico_tsina"></span></a>
							<a title="分享到腾讯微博" class="jiathis_button_tqq"><span class="jiathis_txt jtico jtico_tqq"></span></a>
							<a title="分享到微信" class="jiathis_button_weixin"><span class="jiathis_txt jtico jtico_weixin"></span></a>
							<a title="分享到人人网" class="jiathis_button_renren"><span class="jiathis_txt jtico jtico_renren"></span></a>
							<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
							<a class="jiathis_counter_style"><span title="累计分享0次" id="jiathis_counter_217" class="jiathis_button_expanded jiathis_counter jiathis_bubble_style">0</span></a>
						</div>
						<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script><script type="text/javascript" src="http://v3.jiathis.com/code/plugin.client.js" charset="utf-8"></script>
						<!-- JiaThis Button END -->
					</div>
				</div>

				<div class="yabld">
					<div class="yabldt">免责声明 </div>
					<p> 1、我的塑料网发布此信息目的在于传播更多信息，与本网站立场无关。<br>
						2、我的塑料网不保证该信息（包括但不限于文字、数据及图表）全部或者部分内容的准确性、真实性、完整性、有效性、 及时性、原创性等。<br>
						3、相关信息并未经过本网站证实，不对您构成任何投资建议，据此操作，风险自担。<br>
						4、如有侵权请直接与作者联系或书面发函至本公司转达、处理。 </p>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="clear"></div>
			</div>
		</div>