<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢迎下载塑料圈</title>
<link rel="stylesheet" type="text/css" href="__CSS__/quan.css"/>
</head>
<body> -->
{layout file="public:main_layout"}
{insert_css files='quan.css'}
<!--banner begin-->
<div class="banner">
	<div class="w1220">
    	<!--left begin-->
        <div class="left flt">
        	<h2>塑料圈通讯录</h2>
            <p>一个专属于塑料人的行业通讯录</p>
            <!--opt begin-->
            <div class="opt">
            	<!--download begin-->
                <ul class="download flt">
                	<li><a target="_blank" href="https://itunes.apple.com/cn/app/id1172762802">iphone版下载</a></li>
                    <li><a target="_blank" href="http://android.myapp.com/myapp/detail.htm?apkName=com.myplas.q">Android版下载</a></li>
                </ul>
                <!--download end-->
                <div class="ewm flt">
                	<img src="__IMG__/quan/ewm1.jpg" width="163" height="163" alt="二维码1"/>
                	<span>扫一扫<b></b>加入通讯录</span>
                </div>
                <!--ewm begin-->
                <div class="ewm frt">
                	<img src="__IMG__/quan/ewm.jpg" width="163" height="163" alt="二维码"/>
                    <span>扫一扫<b></b>轻松下载</span>
                </div>
                <!--ewm end-->
            </div>
            <!--opt end-->
        </div>
        <!--left end-->
        <!--right begin-->
        <div class="right frt"><img src="__IMG__/quan/banner.png" width="514" height="469"/></div>
        <!--right end-->
    </div>
</div>
<!--banner end-->
<!--floor1 begin-->
<div class="floor floor1">
	<div class="w1220">
    	<!--left begin-->
        <div class="left flt"><img src="__IMG__/quan/pic1.png" width="181" height="516"/></div>
        <!--left end-->
        <!--right begin-->
        <div class="right frt">
        	<h2>轻松邂逅塑料大咖和塑料圈萌妹子</h2>
            <p>塑料圈页面左下方有“<span>加入塑料圈</span>”的字样。点击后，会进入登录/注册页面，用户需要注册手机号，设置密码，并填写相关真实信息，即可获得完成注册。已有账号的，登录即可。</p>
			<p>塑料圈也可以推荐朋友加入，朋友加入后会获得相应的推荐积分，并提升自己的军衔。将塑料圈转发给好友，好友通过链接进入塑料圈完成注册即可。</p>
			<p>在塑料圈首页会显示塑料圈人数，各个用户的主要信息（公司名称、姓名、性别、手机号、主营牌号、粉丝数、等级），用户通过上方的检索窗口，还可以搜索自己要找的人。</p>
        </div>
        <!--right end-->
    </div>
</div>
<!--floor1 end-->
<!--floor2 begin-->
<div class="floor floor2">
	<div class="w1220">
    	<!--left begin-->
        <div class="left flt">
        	<h2>快速搞定生意</h2>
            <p>a）查找报价信息<br/>点击塑料圈首页下方供求信息界面，然后点击搜索按钮进入搜索界面，在检索窗口输入类型、厂家、牌号等即可检索。</p>
			<p>b）发布报价信息<br/>点击发布图标进入供求发布界面，选择上方我要供给/我要求购，可以快速发布供求信息，或者输入牌号/厂家/价格仓库等信息来精准发布供求信息，即可发布供求。</p>
        </div>
        <!--left end-->
        <!--right begin-->
        <div class="right frt"><img src="__IMG__/quan/pic2.png" width="647" height="511"/></div>
        <!--right end-->
    </div>
</div>
<!--floor2 end-->
<!--floor3 begin-->
<div class="floor floor3">
	<div class="w1220">
    	<!--left begin-->
        <div class="left flt"><img src="__IMG__/quan/pic3.png" width="432" height="505"/></div>
        <!--left end-->
        <!--right begin-->
        <div class="right frt">
        	<h2>掌握最新最全的塑料行业资讯</h2>
            <p>塑料头条网罗塑料市场热点，为您提供免费的行情资讯，帮助您把握市场先机，为您提供决策依据，这里有权威的行情分析，这里有及时的行情资讯，这里有最新的市场动态，这里有高级分析师带来的原创性塑料文章… …根据您的需求新品陆续上线中，塑料头条值得您的信赖和关注。</p>
            <ul>
            	<li>塑料上游</li>
                <li>早盘预报</li>
                <li>企业动态</li>
                <li>中晨塑说</li>
                <li>外盘快递</li>
                <li>期货资讯</li>
                <li>装置动态</li>
                <li>期刊报告</li>
                <li>独家解读</li>
            </ul>
        </div>
        <!--right end-->
    </div>
</div>
<!--floor3 end-->
<!--entry begin-->
<div class="entry">
	<div class="w1220">
    	<!--entry-lt begin-->
        <div class="entry-lt flt">
            <h3>功能如此丰富，赶紧去试用吧！</h3>
            <div class="link">
                <span>q.myplas.com</span>
                <a  href="http://q.myplas.com" target="_blank">立即试用</a>
            </div>
        </div>
        <!--entry-lt end-->
        <!--entry-rt begin-->
        <div class="entry-rt frt">
            <h3>下载PC客户端，获得更畅快的体验！</h3>
            <div class="link">
                <span href="javascript:;">塑料圈PC客户端</span>
                <a href="javascript:;">敬请期待...</a>
            </div>
        </div>
        <!--entry-rt end-->
    </div>
</div>
<!--entry end-->
<!-- </body>
</html> -->
