<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>年终颁奖</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<link href="__MYAPP__/css/weui.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="__MYAPP__/css/vote.css" />
</head>

<body>
	<div id="app">
		<router-view></router-view>
	</div>
	<script type="text/javascript" src="__MYAPP__/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="__MYAPP__/js/weui.min.js"></script>
	<script type="text/javascript" src="__MYAPP__/vote/main.js"></script>
</body>

</html>