{layout file="public:mini_layout"}
<div class="mini-toolbar" style="margin:3px 3px 0;">
<style>table p{padding:0; margin:0; padding-top:3px;}</style>
	<table style="width:100%;">
		<tr>
			<td>
				<a class="mini-button" iconCls="icon-add" onclick="add(0)">新增客户</a> 
			</td>
			<td style="white-space:nowrap;">
			<form id="soform">
				客户名称
				<input name="c_name" type="mini-textbox" emptyText="请输入客户名称" style="width:100px;" onenter="onKeyEnter">
				<select name="dispose_status" id="soStatus">
					<option value="" selected="selected">=处理状态=</option>
					{html_options options=$dispose_status}
				</select>    
				<select name="company_type" id="soType">
					<option value="" selected="selected">=客户类型=</option>
					{html_options options=$company_type}
				</select>
				<select name="sTime">
					<option value="create_date">申请日期</option>
					<option value="modify_date">处理日期</option>
				</select> 
				<input name="startTime" class="mini-datepicker" style="width:100px;"/> -
				<input name="endTime" class="mini-datepicker" style="width:100px;"/>
				<a class="mini-button" iconCls="icon-search" onclick="search()">查询</a>
                 			<span id="searchMsg"></span>
			   </form>
			</td>
		</tr>
	</table>
</div>
<div class="mini-fit" style="padding:1px 3px 3px;">
	<div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20" allowCellWrap="true" url="/finance/apply/init?action=grid&do={$doact}" idField="">
		<div property="columns">    
			<div type="checkcolumn"></div>
			<div name="id" field="id" headerAlign="center" allowSort="true" align="center">自增id</div>
			<div name="contact_id" field="contact_id" width="" headerAlign="center" allowSort="true" align="center">联系人id</div>
			<div field="c_name" width="60" headerAlign="center" allowSort="true" align="center">客户名称</div>
			<div field="product_name" width="30" headerAlign="center" allowSort="true" align="center">申请产品</div>
			<div field="create_date" width="50" headerAlign="center" align="center" dateFormat="yyyy-MM-dd HH:mm">申请时间</div>
			<div field="modify_date" width="50" headerAlign="center" align="center" dateFormat="yyyy-MM-dd HH:mm">处理时间</div>
			<div field="company_type" width="30" headerAlign="center" align="center">客户类型</div>
			<div field="customer_mobile" width="50" headerAlign="center"  align="center">联系人/电话</div>
			<div field="cus_status" width="20" headerAlign="center" align="center" >客户状态</div>
			<div field="info" width="120" headerAlign="center"  align="center">申请信息</div>
			<div field="dispose_status" width="30" headerAlign="center"  align="center">处理状态</div>
			<div field="review_info" width="50" headerAlign="center"  align="center">处理意见</div>
			<div field="create_user" width="30" headerAlign="center"  align="center">创建者</div>
			<div field="" width="60" headerAlign="center"  align="center" renderer="onLoadFllow">操作</div>
		</div>
	</div>
</div>
<div id="operate" class="mini-window" title="客户申请审核操作" style="width:175px;" showModal="true" allowResize="true" allowDrag="true">
	<div id="replaceForm" class="form" >
		<table style="width:100%;">
			<!-- <tr>
				<td style="text-align:center;" id="title"></td>
			</tr> -->
			<tr>
				<td>
					<input id="title" class="mini-radiobuttonlist" textfield="text" value="2"  valuefield="id"  data="[{id: 2, text: '转入风控'}, {id: 3, text: '拒绝'}]"/>
					<input name="id"  class="mini-hidden" id="a_id" value="">
					<input name="status"  class="mini-hidden" id="status" value="">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input id='review_info' required="true" name="review_info" class="mini-textarea" style="width:100%; height:70px" emptyText="请输入您的理由"/>
				</td>	
			</tr>
			<tr>
			<td style="text-align:right;padding-top:5px;padding-right:20px;" colspan="2">
				<a class="mini-button" iconCls="icon-save" plain="true" href="javascript:submitchange()">提交</a>
			</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
grid.load();
grid.hideColumn("contact_id");
grid.hideColumn("id");
function search() {
	grid.load($("#soform").serializeObject(),function(e){
		$("#searchMsg").html(e.msg);
	});
}
function onKeyEnter(e) {
	search();
}
//操作
function onLoadFllow(e) {
	var record = e.record,cid=record.c_id,id=record.id,dispose_status=record.dispose_status,contact_id=record.contact_id,s='';
	s += '<a href="javascript:viewCusinfo('+cid+','+contact_id+','+id+')">查看详情</a>';
	if(dispose_status == '待审核'){
		s += '&nbsp;|&nbsp;<a href="javascript:dispose('+id+',2)">转入风控</a>&nbsp;|&nbsp;<a href="javascript:dispose('+id+',3)">拒绝</a>';

	}
	return s;
}

//处理转入风控或拒绝
var operateInfo = mini.get("operate");
function dispose(id,status){
	// console.log(status);return false;
	mini.get('a_id').setValue(id);
	mini.get('status').setValue(status);
	mini.get('title').setValue(status);
	operateInfo.show();
}
//提交处理结果
function submitchange(){
	var form = new mini.Form('operate');
	form.validate();
	if(form.validate() == false) return;
	var o = form.getData();
	// console.log(o);return false;
	grid.loading('数据处理中，请稍后......');
	var json = mini.encode(o);
	var callback = function(data){
		if(data.err!='0'){
			grid.unmask();
			alert(data.msg);
			return false;
		}else{
			grid.unmask();
			operateInfo.hide();
			alert(data.msg);
			grid.reload();
		}
	}
	utils.ajax('/finance/apply/changeToRisk',{data:json},callback,"POST","json");	
}
//新增客户信息
function add(id){	
	// console.log(id,ctype);return;
	if(id==0){
		var width=850,height=400;
		title='新增客户信息';
	}
	mini.open({
		url: "/finance/apply/info?id="+id,
		showMaxButton:true,
		title: title, width: width, height:height,
		ondestroy: function (action) {
			if(action=='save'){ //重新加载
				grid.reload();
			}
		}
	});	
}
//查看企业相关信息
function viewCusinfo(c_id,contact_id,aid){
	// console.log(aid);return;
	mini.open({
		url: "/finance/apply/info?cid="+c_id+"&contact_id="+contact_id+"&aid="+aid+"&viewType=apply",
		width:1000,height:800,
		showMaxButton:true,
		title: "查看客户相关信息", 
		width: 1200, height:650
	});		
}
//以下几个函数不知何用
//筛选数据
function CloseWindow(action) {
	if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
	else window.close();
}
function onComfirm() {
	CloseWindow("ok");
}
function onCancel() {
	CloseWindow("cancel");
}
function GetData() {
	var row = grid.getSelected();
	return row;
}
//选择框根据传入值选择
top['win']=window;
function setDvalue(a){
	console.log(a);
   var row=grid.findRow(function(row){
     if(row.c_id==a) return true;
   })
   grid.select(row);
}
</script>
