{layout file="public:mini_layout"}
<div class="mini-fit" style="padding:1px 3px 3px;">
    <div id="gridCell" class="mini-datagrid" style="width:100%;height:100%;"  sizeList="[10,20,50,100]" pageSize="20" allowCellWrap="true" url="/finance/infolist/index?action=grid" idField="id">
        <div property="columns">
            <!-- <div type="checkcolumn"></div> -->
            <div field="id" width="50" headerAlign="center" align="center">ID</div>
            <div field="username" width="100" headerAlign="center" align="center">用户名</div>
            <div field="mobile" width="100" headerAlign="center" align="center">手机号</div>
            <div field="c_id" widts="60" headerAlign="center" align="center">客户名称</div>
            <div field="finance_type" width="100" headerAlign="center" align="center">金融产品类型</div>
            <div field="model" width="100" headerAlign="center" align="center">牌号</div>
            <div field="product_type" width="100" headerAlign="center" align="center">品种</div>
            <div field="factory" width="100" headerAlign="center" align="center">厂家</div>
            <div field="total" width="100" headerAlign="center" align="center">金额(元)</div>
            <div field="percent" width="100" headerAlign="center" align="center">保证金比例(%)</div>
            <div field="rzbl" width="100" headerAlign="center" align="center">融资比例(%)</div>
            <div field="storage" width="200" headerAlign="center" align="center">仓库</div>
            <div field="day" width="100" headerAlign="center" align="center">预计赎期(天)</div>
            <div field="status" width="60" headerAlign="center" align="center">状态</div>
        </div>
    </div>
</div>
<!-- <div class="mini-toolbar" style="text-align:center;padding-top:8px;padding-bottom:8px;" borderStyle="border:0;">
        <a class="mini-button" style="width:60px;" onClick="onComfirm()">确定</a>
        <span style="display:inline-block;width:25px;"></span>
        <a class="mini-button" style="width:60px;" onClick="onCancel()">取消</a>
</div> -->
<script type="text/javascript">
mini.parse();
var grid = mini.get("gridCell");
grid.load();

function CloseWindow(action) {
    if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
    else window.close();
}
function onComfirm() {
    CloseWindow("ok");
}
function onCancel() {
    CloseWindow("cancel");
}
function GetData() {
    var row = grid.getSelected();
    return row;
}
</script>